{
  "metadata":{
    "apiVersion":"2012-06-01",
    "checksumFormat":"sha256",
    "endpointPrefix":"glacier",
    "serviceFullName":"Amazon Glacier",
    "signatureVersion":"v4",
    "protocol":"rest-json"
  },
  "documentation":"<p>Amazon Glacier is a storage solution for \"cold data.\"</p> <p>Amazon Glacier is an extremely low-cost storage service that provides secure, durable, and easy-to-use storage for data backup and archival. With Amazon Glacier, customers can store their data cost effectively for months, years, or decades. Amazon Glacier also enables customers to offload the administrative burdens of operating and scaling storage to AWS, so they don't have to worry about capacity planning, hardware provisioning, data replication, hardware failure and recovery, or time-consuming hardware migrations.</p> <p>Amazon Glacier is a great storage choice when low storage cost is paramount, your data is rarely retrieved, and retrieval latency of several hours is acceptable. If your application requires fast or frequent access to your data, consider using Amazon S3. For more information, go to <a href=\"http://aws.amazon.com/s3/\">Amazon Simple Storage Service (Amazon S3)</a>.</p> <p>You can store any kind of data in any format. There is no maximum limit on the total amount of data you can store in Amazon Glacier. </p> <p>If you are a first-time user of Amazon Glacier, we recommend that you begin by reading the following sections in the <i>Amazon Glacier Developer Guide</i>:</p> <ul> <li><p><a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/introduction.html\">What is Amazon Glacier</a> - This section of the Developer Guide describes the underlying data model, the operations it supports, and the AWS SDKs that you can use to interact with the service.</p></li> <li><p><a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/amazon-glacier-getting-started.html\">Getting Started with Amazon Glacier</a> - The Getting Started section walks you through the process of creating a vault, uploading archives, creating jobs to download archives, retrieving the job output, and deleting archives.</p></li> </ul>",
  "operations":{
    "AbortMultipartUpload":{
      "name":"AbortMultipartUpload",
      "http":{
        "method":"DELETE",
        "requestUri":"/{accountId}/vaults/{vaultName}/multipart-uploads/{uploadId}",
        "responseCode":204
      },
      "input":{
        "shape":"AbortMultipartUploadInput",
        "documentation":"<p>Provides options to abort a multipart upload identified by the upload ID. </p> <p>For information about the underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-multipart-abort-upload.html\">Abort Multipart Upload</a>. For conceptual information, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/working-with-archives.html\">Working with Archives in Amazon Glacier</a>.</p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>Returned if the specified resource, such as a vault, upload ID, or job ID, does not exist.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        }
      ],
      "documentation":"<p>This operation aborts a multipart upload identified by the upload ID.</p> <p>After the Abort Multipart Upload request succeeds, you cannot upload any more parts to the multipart upload or complete the multipart upload. Aborting a completed upload fails. However, aborting an already-aborted upload will succeed, for a short time. For more information about uploading a part and completing a multipart upload, see <a>UploadMultipartPart</a> and <a>CompleteMultipartUpload</a>.</p> <p>This operation is idempotent.</p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p> For conceptual information and underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/working-with-archives.html\">Working with Archives in Amazon Glacier</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-multipart-abort-upload.html\">Abort Multipart Upload</a> in the <i>Amazon Glacier Developer Guide</i>. </p>"
    },
    "CompleteMultipartUpload":{
      "name":"CompleteMultipartUpload",
      "http":{
        "method":"POST",
        "requestUri":"/{accountId}/vaults/{vaultName}/multipart-uploads/{uploadId}",
        "responseCode":201
      },
      "input":{
        "shape":"CompleteMultipartUploadInput",
        "documentation":"<p>Provides options to complete a multipart upload operation. This informs Amazon Glacier that all the archive parts have been uploaded and Amazon Glacier can now assemble the archive from the uploaded parts. After assembling and saving the archive to the vault, Amazon Glacier returns the URI path of the newly created archive resource.</p>"
      },
      "output":{
        "shape":"ArchiveCreationOutput",
        "documentation":"<p>Contains the Amazon Glacier response to your request.</p> <p>For information about the underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-archive-post.html\">Upload Archive</a>. For conceptual information, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/working-with-archives.html\">Working with Archives in Amazon Glacier</a>.</p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>Returned if the specified resource, such as a vault, upload ID, or job ID, does not exist.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        }
      ],
      "documentation":"<p>You call this operation to inform Amazon Glacier that all the archive parts have been uploaded and that Amazon Glacier can now assemble the archive from the uploaded parts. After assembling and saving the archive to the vault, Amazon Glacier returns the URI path of the newly created archive resource. Using the URI path, you can then access the archive. After you upload an archive, you should save the archive ID returned to retrieve the archive at a later point. You can also get the vault inventory to obtain a list of archive IDs in a vault. For more information, see <a>InitiateJob</a>.</p> <p>In the request, you must include the computed SHA256 tree hash of the entire archive you have uploaded. For information about computing a SHA256 tree hash, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/checksum-calculations.html\">Computing Checksums</a>. On the server side, Amazon Glacier also constructs the SHA256 tree hash of the assembled archive. If the values match, Amazon Glacier saves the archive to the vault; otherwise, it returns an error, and the operation fails. The <a>ListParts</a> operation returns a list of parts uploaded for a specific multipart upload. It includes checksum information for each uploaded part that can be used to debug a bad checksum issue.</p> <p>Additionally, Amazon Glacier also checks for any missing content ranges when assembling the archive, if missing content ranges are found, Amazon Glacier returns an error and the operation fails. </p> <p>Complete Multipart Upload is an idempotent operation. After your first successful complete multipart upload, if you call the operation again within a short period, the operation will succeed and return the same archive ID. This is useful in the event you experience a network issue that causes an aborted connection or receive a 500 server error, in which case you can repeat your Complete Multipart Upload request and get the same archive ID without creating duplicate archives. Note, however, that after the multipart upload completes, you cannot call the List Parts operation and the multipart upload will not appear in List Multipart Uploads response, even if idempotent complete is possible.</p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p> For conceptual information and underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/uploading-archive-mpu.html\">Uploading Large Archives in Parts (Multipart Upload)</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-multipart-complete-upload.html\">Complete Multipart Upload</a> in the <i>Amazon Glacier Developer Guide</i>. </p>"
    },
    "CreateVault":{
      "name":"CreateVault",
      "http":{
        "method":"PUT",
        "requestUri":"/{accountId}/vaults/{vaultName}",
        "responseCode":201
      },
      "input":{
        "shape":"CreateVaultInput",
        "documentation":"<p>Provides options to create a vault.</p>"
      },
      "output":{
        "shape":"CreateVaultOutput",
        "documentation":"<p>Contains the Amazon Glacier response to your request.</p>"
      },
      "errors":[
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if the request results in a vault or account limit being exceeded.</p>"
        }
      ],
      "documentation":"<p>This operation creates a new vault with the specified name. The name of the vault must be unique within a region for an AWS account. You can create up to 1,000 vaults per account. If you need to create more vaults, contact Amazon Glacier.</p> <p>You must use the following guidelines when naming a vault. </p> <p> <ul> <li> <p> Names can be between 1 and 255 characters long. </p> </li> <li> <p>Allowed characters are a-z, A-Z, 0-9, '_' (underscore), '-' (hyphen), and '.' (period).</p> </li> </ul> </p> <p>This operation is idempotent.</p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p> For conceptual information and underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/creating-vaults.html\">Creating a Vault in Amazon Glacier</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-vault-put.html\">Create Vault </a> in the <i>Amazon Glacier Developer Guide</i>. </p>"
    },
    "DeleteArchive":{
      "name":"DeleteArchive",
      "http":{
        "method":"DELETE",
        "requestUri":"/{accountId}/vaults/{vaultName}/archives/{archiveId}",
        "responseCode":204
      },
      "input":{
        "shape":"DeleteArchiveInput",
        "documentation":"<p>Provides options for deleting an archive from an Amazon Glacier vault.</p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>Returned if the specified resource, such as a vault, upload ID, or job ID, does not exist.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        }
      ],
      "documentation":"<p>This operation deletes an archive from a vault. Subsequent requests to initiate a retrieval of this archive will fail. Archive retrievals that are in progress for this archive ID may or may not succeed according to the following scenarios:</p> <ul> <li>If the archive retrieval job is actively preparing the data for download when Amazon Glacier receives the delete archive request, the archival retrieval operation might fail. </li> <li>If the archive retrieval job has successfully prepared the archive for download when Amazon Glacier receives the delete archive request, you will be able to download the output. </li> </ul> <p>This operation is idempotent. Attempting to delete an already-deleted archive does not result in an error. </p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p> For conceptual information and underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/deleting-an-archive.html\">Deleting an Archive in Amazon Glacier</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-archive-delete.html\">Delete Archive</a> in the <i>Amazon Glacier Developer Guide</i>. </p>"
    },
    "DeleteVault":{
      "name":"DeleteVault",
      "http":{
        "method":"DELETE",
        "requestUri":"/{accountId}/vaults/{vaultName}",
        "responseCode":204
      },
      "input":{
        "shape":"DeleteVaultInput",
        "documentation":"<p>Provides options for deleting a vault from Amazon Glacier.</p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>Returned if the specified resource, such as a vault, upload ID, or job ID, does not exist.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        }
      ],
      "documentation":"<p>This operation deletes a vault. Amazon Glacier will delete a vault only if there are no archives in the vault as of the last inventory and there have been no writes to the vault since the last inventory. If either of these conditions is not satisfied, the vault deletion fails (that is, the vault is not removed) and Amazon Glacier returns an error. You can use <a>DescribeVault</a> to return the number of archives in a vault, and you can use <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-initiate-job-post.html\">Initiate a Job (POST jobs)</a> to initiate a new inventory retrieval for a vault. The inventory contains the archive IDs you use to delete archives using <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-archive-delete.html\">Delete Archive (DELETE archive)</a>.</p> <p>This operation is idempotent.</p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p> For conceptual information and underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/deleting-vaults.html\">Deleting a Vault in Amazon Glacier</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-vault-delete.html\">Delete Vault </a> in the <i>Amazon Glacier Developer Guide</i>. </p>"
    },
    "DeleteVaultNotifications":{
      "name":"DeleteVaultNotifications",
      "http":{
        "method":"DELETE",
        "requestUri":"/{accountId}/vaults/{vaultName}/notification-configuration",
        "responseCode":204
      },
      "input":{
        "shape":"DeleteVaultNotificationsInput",
        "documentation":"<p>Provides options for deleting a vault notification configuration from an Amazon Glacier vault.</p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>Returned if the specified resource, such as a vault, upload ID, or job ID, does not exist.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        }
      ],
      "documentation":"<p>This operation deletes the notification configuration set for a vault. The operation is eventually consistent;that is, it might take some time for Amazon Glacier to completely disable the notifications and you might still receive some notifications for a short time after you send the delete request. </p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p> For conceptual information and underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/configuring-notifications.html\">Configuring Vault Notifications in Amazon Glacier</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-vault-notifications-delete.html\">Delete Vault Notification Configuration </a> in the Amazon Glacier Developer Guide. </p>"
    },
    "DescribeJob":{
      "name":"DescribeJob",
      "http":{
        "method":"GET",
        "requestUri":"/{accountId}/vaults/{vaultName}/jobs/{jobId}"
      },
      "input":{
        "shape":"DescribeJobInput",
        "documentation":"<p>Provides options for retrieving a job description.</p>"
      },
      "output":{
        "shape":"GlacierJobDescription",
        "documentation":"<p>Describes an Amazon Glacier job.</p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>Returned if the specified resource, such as a vault, upload ID, or job ID, does not exist.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        }
      ],
      "documentation":"<p>This operation returns information about a job you previously initiated, including the job initiation date, the user who initiated the job, the job status code/message and the Amazon SNS topic to notify after Amazon Glacier completes the job. For more information about initiating a job, see <a>InitiateJob</a>. </p> <note><p>This operation enables you to check the status of your job. However, it is strongly recommended that you set up an Amazon SNS topic and specify it in your initiate job request so that Amazon Glacier can notify the topic after it completes the job. </p></note> <p>A job ID will not expire for at least 24 hours after Amazon Glacier completes the job. </p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p> For information about the underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-describe-job-get.html\">Working with Archives in Amazon Glacier</a> in the <i>Amazon Glacier Developer Guide</i>. </p>"
    },
    "DescribeVault":{
      "name":"DescribeVault",
      "http":{
        "method":"GET",
        "requestUri":"/{accountId}/vaults/{vaultName}"
      },
      "input":{
        "shape":"DescribeVaultInput",
        "documentation":"<p>Provides options for retrieving metadata for a specific vault in Amazon Glacier.</p>"
      },
      "output":{
        "shape":"DescribeVaultOutput",
        "documentation":"<p>Contains the Amazon Glacier response to your request.</p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>Returned if the specified resource, such as a vault, upload ID, or job ID, does not exist.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        }
      ],
      "documentation":"<p>This operation returns information about a vault, including the vault's Amazon Resource Name (ARN), the date the vault was created, the number of archives it contains, and the total size of all the archives in the vault. The number of archives and their total size are as of the last inventory generation. This means that if you add or remove an archive from a vault, and then immediately use Describe Vault, the change in contents will not be immediately reflected. If you want to retrieve the latest inventory of the vault, use <a>InitiateJob</a>. Amazon Glacier generates vault inventories approximately daily. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/vault-inventory.html\">Downloading a Vault Inventory in Amazon Glacier</a>. </p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p>For conceptual information and underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/retrieving-vault-info.html\">Retrieving Vault Metadata in Amazon Glacier</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-vault-get.html\">Describe Vault </a> in the <i>Amazon Glacier Developer Guide</i>. </p>"
    },
    "GetDataRetrievalPolicy":{
      "name":"GetDataRetrievalPolicy",
      "http":{
        "method":"GET",
        "requestUri":"/{accountId}/policies/data-retrieval"
      },
      "input":{"shape":"GetDataRetrievalPolicyInput"},
      "output":{"shape":"GetDataRetrievalPolicyOutput"},
      "errors":[
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        }
      ]
    },
    "GetJobOutput":{
      "name":"GetJobOutput",
      "http":{
        "method":"GET",
        "requestUri":"/{accountId}/vaults/{vaultName}/jobs/{jobId}/output"
      },
      "input":{
        "shape":"GetJobOutputInput",
        "documentation":"<p>Provides options for downloading output of an Amazon Glacier job.</p>"
      },
      "output":{
        "shape":"GetJobOutputOutput",
        "documentation":"<p>Contains the Amazon Glacier response to your request.</p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>Returned if the specified resource, such as a vault, upload ID, or job ID, does not exist.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        }
      ],
      "documentation":"<p>This operation downloads the output of the job you initiated using <a>InitiateJob</a>. Depending on the job type you specified when you initiated the job, the output will be either the content of an archive or a vault inventory.</p> <p>A job ID will not expire for at least 24 hours after Amazon Glacier completes the job. That is, you can download the job output within the 24 hours period after Amazon Glacier completes the job.</p> <p>If the job output is large, then you can use the <code>Range</code> request header to retrieve a portion of the output. This allows you to download the entire output in smaller chunks of bytes. For example, suppose you have 1 GB of job output you want to download and you decide to download 128 MB chunks of data at a time, which is a total of eight Get Job Output requests. You use the following process to download the job output:</p> <ol> <li> <p>Download a 128 MB chunk of output by specifying the appropriate byte range using the <code>Range</code> header.</p> </li> <li> <p>Along with the data, the response includes a checksum of the payload. You compute the checksum of the payload on the client and compare it with the checksum you received in the response to ensure you received all the expected data.</p> </li> <li> <p>Repeat steps 1 and 2 for all the eight 128 MB chunks of output data, each time specifying the appropriate byte range.</p> </li> <li> <p>After downloading all the parts of the job output, you have a list of eight checksum values. Compute the tree hash of these values to find the checksum of the entire output. Using the <a>DescribeJob</a> API, obtain job information of the job that provided you the output. The response includes the checksum of the entire archive stored in Amazon Glacier. You compare this value with the checksum you computed to ensure you have downloaded the entire archive content with no errors.</p> </li> </ol> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p>For conceptual information and the underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/vault-inventory.html\">Downloading a Vault Inventory</a>, <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/downloading-an-archive.html\">Downloading an Archive</a>, and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-job-output-get.html\">Get Job Output </a> </p>"
    },
    "GetVaultNotifications":{
      "name":"GetVaultNotifications",
      "http":{
        "method":"GET",
        "requestUri":"/{accountId}/vaults/{vaultName}/notification-configuration"
      },
      "input":{
        "shape":"GetVaultNotificationsInput",
        "documentation":"<p>Provides options for retrieving the notification configuration set on an Amazon Glacier vault.</p>"
      },
      "output":{
        "shape":"GetVaultNotificationsOutput",
        "documentation":"<p>Contains the Amazon Glacier response to your request.</p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>Returned if the specified resource, such as a vault, upload ID, or job ID, does not exist.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        }
      ],
      "documentation":"<p>This operation retrieves the <code class=\"code\">notification-configuration</code> subresource of the specified vault.</p> <p>For information about setting a notification configuration on a vault, see <a>SetVaultNotifications</a>. If a notification configuration for a vault is not set, the operation returns a <code class=\"code\">404 Not Found</code> error. For more information about vault notifications, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/configuring-notifications.html\">Configuring Vault Notifications in Amazon Glacier</a>. </p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p>For conceptual information and underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/configuring-notifications.html\">Configuring Vault Notifications in Amazon Glacier</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-vault-notifications-get.html\">Get Vault Notification Configuration </a> in the <i>Amazon Glacier Developer Guide</i>. </p>"
    },
    "InitiateJob":{
      "name":"InitiateJob",
      "http":{
        "method":"POST",
        "requestUri":"/{accountId}/vaults/{vaultName}/jobs",
        "responseCode":202
      },
      "input":{
        "shape":"InitiateJobInput",
        "documentation":"<p>Provides options for initiating an Amazon Glacier job.</p>"
      },
      "output":{
        "shape":"InitiateJobOutput",
        "documentation":"<p>Contains the Amazon Glacier response to your request.</p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>Returned if the specified resource, such as a vault, upload ID, or job ID, does not exist.</p>"
        },
        {
          "shape":"PolicyEnforcedException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        }
      ],
      "documentation":"<p>This operation initiates a job of the specified type. In this release, you can initiate a job to retrieve either an archive or a vault inventory (a list of archives in a vault). </p> <p>Retrieving data from Amazon Glacier is a two-step process: </p> <ol> <li><p>Initiate a retrieval job.</p></li> <li><p>After the job completes, download the bytes.</p></li> </ol> <p>The retrieval request is executed asynchronously. When you initiate a retrieval job, Amazon Glacier creates a job and returns a job ID in the response. When Amazon Glacier completes the job, you can get the job output (archive or inventory data). For information about getting job output, see <a>GetJobOutput</a> operation. </p> <p>The job must complete before you can get its output. To determine when a job is complete, you have the following options:</p> <ul> <li> <p><b>Use Amazon SNS Notification</b> You can specify an Amazon Simple Notification Service (Amazon SNS) topic to which Amazon Glacier can post a notification after the job is completed. You can specify an SNS topic per job request. The notification is sent only after Amazon Glacier completes the job. In addition to specifying an SNS topic per job request, you can configure vault notifications for a vault so that job notifications are always sent. For more information, see <a>SetVaultNotifications</a>.</p> </li> <li> <p><b>Get job details</b> You can make a <a>DescribeJob</a> request to obtain job status information while a job is in progress. However, it is more efficient to use an Amazon SNS notification to determine when a job is complete.</p> </li> </ul> <note><p>The information you get via notification is same that you get by calling <a>DescribeJob</a>.</p></note> <p>If for a specific event, you add both the notification configuration on the vault and also specify an SNS topic in your initiate job request, Amazon Glacier sends both notifications. For more information, see <a>SetVaultNotifications</a>.</p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p><b>About the Vault Inventory</b></p> <p>Amazon Glacier prepares an inventory for each vault periodically, every 24 hours. When you initiate a job for a vault inventory, Amazon Glacier returns the last inventory for the vault. The inventory data you get might be up to a day or two days old. Also, the initiate inventory job might take some time to complete before you can download the vault inventory. So you do not want to retrieve a vault inventory for each vault operation. However, in some scenarios, you might find the vault inventory useful. For example, when you upload an archive, you can provide an archive description but not an archive name. Amazon Glacier provides you a unique archive ID, an opaque string of characters. So, you might maintain your own database that maps archive names to their corresponding Amazon Glacier assigned archive IDs. You might find the vault inventory useful in the event you need to reconcile information in your database with the actual vault inventory. </p> <p><b>Range Inventory Retrieval</b></p> <p>You can limit the number of inventory items retrieved by filtering on the archive creation date or by setting a limit.</p> <p><i>Filtering by Archive Creation Date</i></p> <p>You can retrieve inventory items for archives created between <code>StartDate</code> and <code>EndDate</code> by specifying values for these parameters in the <b>InitiateJob</b> request. Archives created on or after the <code>StartDate</code> and before the <code>EndDate</code> will be returned. If you only provide the <code>StartDate</code> without the <code>EndDate</code>, you will retrieve the inventory for all archives created on or after the <code>StartDate</code>. If you only provide the <code>EndDate</code> without the <code>StartDate</code>, you will get back the inventory for all archives created before the <code>EndDate</code>.</p> <p><i>Limiting Inventory Items per Retrieval</i></p> <p>You can limit the number of inventory items returned by setting the <code>Limit</code> parameter in the <b>InitiateJob</b> request. The inventory job output will contain inventory items up to the specified <code>Limit</code>. If there are more inventory items available, the result is paginated. After a job is complete you can use the <a>DescribeJob</a> operation to get a marker that you use in a subsequent <b>InitiateJob</b> request. The marker will indicate the starting point to retrieve the next set of inventory items. You can page through your entire inventory by repeatedly making <b>InitiateJob</b> requests with the marker from the previous <b>DescribeJob</b> output, until you get a marker from <b>DescribeJob</b> that returns null, indicating that there are no more inventory items available.</p> <p>You can use the <code>Limit</code> parameter together with the date range parameters.</p> <p><b>About Ranged Archive Retrieval</b></p> <p> You can initiate an archive retrieval for the whole archive or a range of the archive. In the case of ranged archive retrieval, you specify a byte range to return or the whole archive. The range specified must be megabyte (MB) aligned, that is the range start value must be divisible by 1 MB and range end value plus 1 must be divisible by 1 MB or equal the end of the archive. If the ranged archive retrieval is not megabyte aligned, this operation returns a 400 response. Furthermore, to ensure you get checksum values for data you download using Get Job Output API, the range must be tree hash aligned. </p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p>For conceptual information and the underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-initiate-job-post.html\">Initiate a Job</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/vault-inventory.html\">Downloading a Vault Inventory</a> </p>"
    },
    "InitiateMultipartUpload":{
      "name":"InitiateMultipartUpload",
      "http":{
        "method":"POST",
        "requestUri":"/{accountId}/vaults/{vaultName}/multipart-uploads",
        "responseCode":201
      },
      "input":{
        "shape":"InitiateMultipartUploadInput",
        "documentation":"<p>Provides options for initiating a multipart upload to an Amazon Glacier vault.</p>"
      },
      "output":{
        "shape":"InitiateMultipartUploadOutput",
        "documentation":"<p>Contains the Amazon Glacier response to your request.</p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>Returned if the specified resource, such as a vault, upload ID, or job ID, does not exist.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        }
      ],
      "documentation":"<p>This operation initiates a multipart upload. Amazon Glacier creates a multipart upload resource and returns its ID in the response. The multipart upload ID is used in subsequent requests to upload parts of an archive (see <a>UploadMultipartPart</a>).</p> <p>When you initiate a multipart upload, you specify the part size in number of bytes. The part size must be a megabyte (1024 KB) multiplied by a power of 2-for example, 1048576 (1 MB), 2097152 (2 MB), 4194304 (4 MB), 8388608 (8 MB), and so on. The minimum allowable part size is 1 MB, and the maximum is 4 GB.</p> <p>Every part you upload to this resource (see <a>UploadMultipartPart</a>), except the last one, must have the same size. The last one can be the same size or smaller. For example, suppose you want to upload a 16.2 MB file. If you initiate the multipart upload with a part size of 4 MB, you will upload four parts of 4 MB each and one part of 0.2 MB. </p> <note><p>You don't need to know the size of the archive when you start a multipart upload because Amazon Glacier does not require you to specify the overall archive size.</p></note> <p>After you complete the multipart upload, Amazon Glacier removes the multipart upload resource referenced by the ID. Amazon Glacier also removes the multipart upload resource if you cancel the multipart upload or it may be removed if there is no activity for a period of 24 hours.</p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p>For conceptual information and underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/uploading-archive-mpu.html\">Uploading Large Archives in Parts (Multipart Upload)</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-multipart-initiate-upload.html\">Initiate Multipart Upload</a> in the <i>Amazon Glacier Developer Guide</i>.</p>"
    },
    "ListJobs":{
      "name":"ListJobs",
      "http":{
        "method":"GET",
        "requestUri":"/{accountId}/vaults/{vaultName}/jobs"
      },
      "input":{
        "shape":"ListJobsInput",
        "documentation":"<p>Provides options for retrieving a job list for an Amazon Glacier vault.</p>"
      },
      "output":{
        "shape":"ListJobsOutput",
        "documentation":"<p>Contains the Amazon Glacier response to your request.</p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>Returned if the specified resource, such as a vault, upload ID, or job ID, does not exist.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        }
      ],
      "documentation":"<p>This operation lists jobs for a vault, including jobs that are in-progress and jobs that have recently finished. </p> <note><p>Amazon Glacier retains recently completed jobs for a period before deleting them; however, it eventually removes completed jobs. The output of completed jobs can be retrieved. Retaining completed jobs for a period of time after they have completed enables you to get a job output in the event you miss the job completion notification or your first attempt to download it fails. For example, suppose you start an archive retrieval job to download an archive. After the job completes, you start to download the archive but encounter a network error. In this scenario, you can retry and download the archive while the job exists. </p></note> <p>To retrieve an archive or retrieve a vault inventory from Amazon Glacier, you first initiate a job, and after the job completes, you download the data. For an archive retrieval, the output is the archive data, and for an inventory retrieval, it is the inventory list. The List Job operation returns a list of these jobs sorted by job initiation time.</p> <p>This List Jobs operation supports pagination. By default, this operation returns up to 1,000 jobs in the response. You should always check the response for a <code>marker</code> at which to continue the list; if there are no more items the <code>marker</code> is <code>null</code>. To return a list of jobs that begins at a specific job, set the <code>marker</code> request parameter to the value you obtained from a previous List Jobs request. You can also limit the number of jobs returned in the response by specifying the <code>limit</code> parameter in the request.</p> <p>Additionally, you can filter the jobs list returned by specifying an optional <code>statuscode</code> (InProgress, Succeeded, or Failed) and <code>completed</code> (true, false) parameter. The <code>statuscode</code> allows you to specify that only jobs that match a specified status are returned. The <code>completed</code> parameter allows you to specify that only jobs in a specific completion state are returned.</p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p>For the underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-jobs-get.html\">List Jobs </a> </p>"
    },
    "ListMultipartUploads":{
      "name":"ListMultipartUploads",
      "http":{
        "method":"GET",
        "requestUri":"/{accountId}/vaults/{vaultName}/multipart-uploads"
      },
      "input":{
        "shape":"ListMultipartUploadsInput",
        "documentation":"<p>Provides options for retrieving list of in-progress multipart uploads for an Amazon Glacier vault.</p>"
      },
      "output":{
        "shape":"ListMultipartUploadsOutput",
        "documentation":"<p>Contains the Amazon Glacier response to your request.</p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>Returned if the specified resource, such as a vault, upload ID, or job ID, does not exist.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        }
      ],
      "documentation":"<p>This operation lists in-progress multipart uploads for the specified vault. An in-progress multipart upload is a multipart upload that has been initiated by an <a>InitiateMultipartUpload</a> request, but has not yet been completed or aborted. The list returned in the List Multipart Upload response has no guaranteed order. </p> <p>The List Multipart Uploads operation supports pagination. By default, this operation returns up to 1,000 multipart uploads in the response. You should always check the response for a <code>marker</code> at which to continue the list; if there are no more items the <code>marker</code> is <code>null</code>. To return a list of multipart uploads that begins at a specific upload, set the <code>marker</code> request parameter to the value you obtained from a previous List Multipart Upload request. You can also limit the number of uploads returned in the response by specifying the <code>limit</code> parameter in the request.</p> <p>Note the difference between this operation and listing parts (<a>ListParts</a>). The List Multipart Uploads operation lists all multipart uploads for a vault and does not require a multipart upload ID. The List Parts operation requires a multipart upload ID since parts are associated with a single upload.</p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p>For conceptual information and the underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/working-with-archives.html\">Working with Archives in Amazon Glacier</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-multipart-list-uploads.html\">List Multipart Uploads </a> in the <i>Amazon Glacier Developer Guide</i>.</p>"
    },
    "ListParts":{
      "name":"ListParts",
      "http":{
        "method":"GET",
        "requestUri":"/{accountId}/vaults/{vaultName}/multipart-uploads/{uploadId}"
      },
      "input":{
        "shape":"ListPartsInput",
        "documentation":"<p>Provides options for retrieving a list of parts of an archive that have been uploaded in a specific multipart upload.</p>"
      },
      "output":{
        "shape":"ListPartsOutput",
        "documentation":"<p>Contains the Amazon Glacier response to your request.</p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>Returned if the specified resource, such as a vault, upload ID, or job ID, does not exist.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        }
      ],
      "documentation":"<p>This operation lists the parts of an archive that have been uploaded in a specific multipart upload. You can make this request at any time during an in-progress multipart upload before you complete the upload (see <a>CompleteMultipartUpload</a>. List Parts returns an error for completed uploads. The list returned in the List Parts response is sorted by part range. </p> <p>The List Parts operation supports pagination. By default, this operation returns up to 1,000 uploaded parts in the response. You should always check the response for a <code class=\"code\">marker</code> at which to continue the list; if there are no more items the <code class=\"code\">marker</code> is <code class=\"code\">null</code>. To return a list of parts that begins at a specific part, set the <code>marker</code> request parameter to the value you obtained from a previous List Parts request. You can also limit the number of parts returned in the response by specifying the <code>limit</code> parameter in the request. </p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p>For conceptual information and the underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/working-with-archives.html\">Working with Archives in Amazon Glacier</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-multipart-list-parts.html\">List Parts</a> in the <i>Amazon Glacier Developer Guide</i>.</p>"
    },
    "ListVaults":{
      "name":"ListVaults",
      "http":{
        "method":"GET",
        "requestUri":"/{accountId}/vaults"
      },
      "input":{
        "shape":"ListVaultsInput",
        "documentation":"<p>Provides options to retrieve the vault list owned by the calling user's account. The list provides metadata information for each vault.</p>"
      },
      "output":{
        "shape":"ListVaultsOutput",
        "documentation":"<p>Contains the Amazon Glacier response to your request.</p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>Returned if the specified resource, such as a vault, upload ID, or job ID, does not exist.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        }
      ],
      "documentation":"<p>This operation lists all vaults owned by the calling user's account. The list returned in the response is ASCII-sorted by vault name. </p> <p>By default, this operation returns up to 1,000 items. If there are more vaults to list, the response <code class=\"code\">marker</code> field contains the vault Amazon Resource Name (ARN) at which to continue the list with a new List Vaults request; otherwise, the <code class=\"code\">marker</code> field is <code class=\"code\">null</code>. To return a list of vaults that begins at a specific vault, set the <code class=\"code\">marker</code> request parameter to the vault ARN you obtained from a previous List Vaults request. You can also limit the number of vaults returned in the response by specifying the <code class=\"code\">limit</code> parameter in the request. </p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p>For conceptual information and underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/retrieving-vault-info.html\">Retrieving Vault Metadata in Amazon Glacier</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-vaults-get.html\">List Vaults </a> in the <i>Amazon Glacier Developer Guide</i>. </p>"
    },
    "SetDataRetrievalPolicy":{
      "name":"SetDataRetrievalPolicy",
      "http":{
        "method":"PUT",
        "requestUri":"/{accountId}/policies/data-retrieval",
        "responseCode":204
      },
      "input":{"shape":"SetDataRetrievalPolicyInput"},
      "errors":[
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        }
      ]
    },
    "SetVaultNotifications":{
      "name":"SetVaultNotifications",
      "http":{
        "method":"PUT",
        "requestUri":"/{accountId}/vaults/{vaultName}/notification-configuration",
        "responseCode":204
      },
      "input":{
        "shape":"SetVaultNotificationsInput",
        "documentation":"<p>Provides options to configure notifications that will be sent when specific events happen to a vault.</p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>Returned if the specified resource, such as a vault, upload ID, or job ID, does not exist.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        }
      ],
      "documentation":"<p>This operation configures notifications that will be sent when specific events happen to a vault. By default, you don't get any notifications. </p> <p>To configure vault notifications, send a PUT request to the <code class=\"code\">notification-configuration</code> subresource of the vault. The request should include a JSON document that provides an Amazon SNS topic and specific events for which you want Amazon Glacier to send notifications to the topic.</p> <p>Amazon SNS topics must grant permission to the vault to be allowed to publish notifications to the topic. You can configure a vault to publish a notification for the following vault events:</p> <ul> <li> <b>ArchiveRetrievalCompleted</b> This event occurs when a job that was initiated for an archive retrieval is completed (<a>InitiateJob</a>). The status of the completed job can be \"Succeeded\" or \"Failed\". The notification sent to the SNS topic is the same output as returned from <a>DescribeJob</a>. </li> <li> <b>InventoryRetrievalCompleted</b> This event occurs when a job that was initiated for an inventory retrieval is completed (<a>InitiateJob</a>). The status of the completed job can be \"Succeeded\" or \"Failed\". The notification sent to the SNS topic is the same output as returned from <a>DescribeJob</a>. </li> </ul> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p>For conceptual information and underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/configuring-notifications.html\">Configuring Vault Notifications in Amazon Glacier</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-vault-notifications-put.html\">Set Vault Notification Configuration </a> in the <i>Amazon Glacier Developer Guide</i>. </p>"
    },
    "UploadArchive":{
      "name":"UploadArchive",
      "http":{
        "method":"POST",
        "requestUri":"/{accountId}/vaults/{vaultName}/archives",
        "responseCode":201
      },
      "input":{
        "shape":"UploadArchiveInput",
        "documentation":"<p>Provides options to add an archive to a vault.</p>"
      },
      "output":{
        "shape":"ArchiveCreationOutput",
        "documentation":"<p>Contains the Amazon Glacier response to your request.</p> <p>For information about the underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-archive-post.html\">Upload Archive</a>. For conceptual information, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/working-with-archives.html\">Working with Archives in Amazon Glacier</a>.</p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>Returned if the specified resource, such as a vault, upload ID, or job ID, does not exist.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"RequestTimeoutException",
          "error":{"httpStatusCode":408},
          "exception":true,
          "documentation":"<p>Returned if, when uploading an archive, Amazon Glacier times out while receiving the upload.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        }
      ],
      "documentation":"<p>This operation adds an archive to a vault. This is a synchronous operation, and for a successful upload, your data is durably persisted. Amazon Glacier returns the archive ID in the <code class=\"code\">x-amz-archive-id</code> header of the response. </p> <p>You must use the archive ID to access your data in Amazon Glacier. After you upload an archive, you should save the archive ID returned so that you can retrieve or delete the archive later. Besides saving the archive ID, you can also index it and give it a friendly name to allow for better searching. You can also use the optional archive description field to specify how the archive is referred to in an external index of archives, such as you might create in Amazon DynamoDB. You can also get the vault inventory to obtain a list of archive IDs in a vault. For more information, see <a>InitiateJob</a>. </p> <p>You must provide a SHA256 tree hash of the data you are uploading. For information about computing a SHA256 tree hash, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/checksum-calculations.html\">Computing Checksums</a>. </p> <p>You can optionally specify an archive description of up to 1,024 printable ASCII characters. You can get the archive description when you either retrieve the archive or get the vault inventory. For more information, see <a>InitiateJob</a>. Amazon Glacier does not interpret the description in any way. An archive description does not need to be unique. You cannot use the description to retrieve or sort the archive list. </p> <p>Archives are immutable. After you upload an archive, you cannot edit the archive or its description. </p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p> For conceptual information and underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/uploading-an-archive.html\">Uploading an Archive in Amazon Glacier</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-archive-post.html\">Upload Archive</a> in the <i>Amazon Glacier Developer Guide</i>. </p>"
    },
    "UploadMultipartPart":{
      "name":"UploadMultipartPart",
      "http":{
        "method":"PUT",
        "requestUri":"/{accountId}/vaults/{vaultName}/multipart-uploads/{uploadId}",
        "responseCode":204
      },
      "input":{
        "shape":"UploadMultipartPartInput",
        "documentation":"<p>Provides options to upload a part of an archive in a multipart upload operation.</p>"
      },
      "output":{
        "shape":"UploadMultipartPartOutput",
        "documentation":"<p>Contains the Amazon Glacier response to your request.</p>"
      },
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p>Returned if the specified resource, such as a vault, upload ID, or job ID, does not exist.</p>"
        },
        {
          "shape":"InvalidParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a parameter of the request is incorrectly specified. </p>"
        },
        {
          "shape":"MissingParameterValueException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Returned if a required header or parameter is missing from the request.</p>"
        },
        {
          "shape":"RequestTimeoutException",
          "error":{"httpStatusCode":408},
          "exception":true,
          "documentation":"<p>Returned if, when uploading an archive, Amazon Glacier times out while receiving the upload.</p>"
        },
        {
          "shape":"ServiceUnavailableException",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>Returned if the service cannot complete the request.</p>"
        }
      ],
      "documentation":"<p>This operation uploads a part of an archive. You can upload archive parts in any order. You can also upload them in parallel. You can upload up to 10,000 parts for a multipart upload.</p> <p>Amazon Glacier rejects your upload part request if any of the following conditions is true:</p> <ul> <li> <p><b>SHA256 tree hash does not match</b>To ensure that part data is not corrupted in transmission, you compute a SHA256 tree hash of the part and include it in your request. Upon receiving the part data, Amazon Glacier also computes a SHA256 tree hash. If these hash values don't match, the operation fails. For information about computing a SHA256 tree hash, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/checksum-calculations.html\">Computing Checksums</a>.</p> </li> <li> <p><b>Part size does not match</b>The size of each part except the last must match the size specified in the corresponding <a>InitiateMultipartUpload</a> request. The size of the last part must be the same size as, or smaller than, the specified size.</p> <note><p>If you upload a part whose size is smaller than the part size you specified in your initiate multipart upload request and that part is not the last part, then the upload part request will succeed. However, the subsequent Complete Multipart Upload request will fail.</p></note> </li> <li> <b>Range does not align</b>The byte range value in the request does not align with the part size specified in the corresponding initiate request. For example, if you specify a part size of 4194304 bytes (4 MB), then 0 to 4194303 bytes (4 MB - 1) and 4194304 (4 MB) to 8388607 (8 MB - 1) are valid part ranges. However, if you set a range value of 2 MB to 6 MB, the range does not align with the part size and the upload will fail. </li> </ul> <p>This operation is idempotent. If you upload the same part multiple times, the data included in the most recent request overwrites the previously uploaded data.</p> <p>An AWS account has full permission to perform all operations (actions). However, AWS Identity and Access Management (IAM) users don't have any permissions by default. You must grant them explicit permission to perform specific actions. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/using-iam-with-amazon-glacier.html\">Access Control Using AWS Identity and Access Management (IAM)</a>.</p> <p> For conceptual information and underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/uploading-archive-mpu.html\">Uploading Large Archives in Parts (Multipart Upload)</a> and <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-upload-part.html\">Upload Part </a> in the <i>Amazon Glacier Developer Guide</i>.</p>"
    }
  },
  "shapes":{
    "AbortMultipartUploadInput":{
      "type":"structure",
      "members":{
        "accountId":{
          "shape":"string",
          "location":"uri",
          "locationName":"accountId",
          "documentation":"<p>The <code>AccountId</code> is the AWS Account ID. You can specify either the AWS Account ID or optionally a '-', in which case Amazon Glacier uses the AWS Account ID associated with the credentials used to sign the request. If you specify your Account ID, do not include hyphens in it. </p>"
        },
        "vaultName":{
          "shape":"string",
          "location":"uri",
          "locationName":"vaultName",
          "documentation":"<p>The name of the vault.</p>"
        },
        "uploadId":{
          "shape":"string",
          "location":"uri",
          "locationName":"uploadId",
          "documentation":"<p>The upload ID of the multipart upload to delete.</p>"
        }
      },
      "documentation":"<p>Provides options to abort a multipart upload identified by the upload ID. </p> <p>For information about the underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-multipart-abort-upload.html\">Abort Multipart Upload</a>. For conceptual information, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/working-with-archives.html\">Working with Archives in Amazon Glacier</a>.</p>",
      "required":[
        "accountId",
        "vaultName",
        "uploadId"
      ]
    },
    "ActionCode":{
      "type":"string",
      "enum":[
        "ArchiveRetrieval",
        "InventoryRetrieval"
      ]
    },
    "ArchiveCreationOutput":{
      "type":"structure",
      "members":{
        "location":{
          "shape":"string",
          "location":"header",
          "locationName":"Location",
          "documentation":"<p>The relative URI path of the newly added archive resource.</p>"
        },
        "checksum":{
          "shape":"string",
          "location":"header",
          "locationName":"x-amz-sha256-tree-hash",
          "documentation":"<p>The checksum of the archive computed by Amazon Glacier.</p>"
        },
        "archiveId":{
          "shape":"string",
          "location":"header",
          "locationName":"x-amz-archive-id",
          "documentation":"<p>The ID of the archive. This value is also included as part of the location.</p>"
        }
      },
      "documentation":"<p>Contains the Amazon Glacier response to your request.</p> <p>For information about the underlying REST API, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-archive-post.html\">Upload Archive</a>. For conceptual information, go to <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/working-with-archives.html\">Working with Archives in Amazon Glacier</a>.</p>"
    },
    "CompleteMultipartUploadInput":{
      "type":"structure",
      "members":{
        "accountId":{
          "shape":"string",
          "location":"uri",
          "locationName":"accountId",
          "documentation":"<p>The <code>AccountId</code> is the AWS Account ID. You can specify either the AWS Account ID or optionally a '-', in which case Amazon Glacier uses the AWS Account ID associated with the credentials used to sign the request. If you specify your Account ID, do not include hyphens in it. </p>"
        },
        "vaultName":{
          "shape":"string",
          "location":"uri",
          "locationName":"vaultName",
          "documentation":"<p>The name of the vault.</p>"
        },
        "uploadId":{
          "shape":"string",
          "location":"uri",
          "locationName":"uploadId",
          "documentation":"<p>The upload ID of the multipart upload.</p>"
        },
        "archiveSize":{
          "shape":"string",
          "location":"header",
          "locationName":"x-amz-archive-size",
          "documentation":"<p>The total size, in bytes, of the entire archive. This value should be the sum of all the sizes of the individual parts that you uploaded.</p>"
        },
        "checksum":{
          "shape":"string",
          "location":"header",
          "locationName":"x-amz-sha256-tree-hash",
          "documentation":"<p>The SHA256 tree hash of the entire archive. It is the tree hash of SHA256 tree hash of the individual parts. If the value you specify in the request does not match the SHA256 tree hash of the final assembled archive as computed by Amazon Glacier, Amazon Glacier returns an error and the request fails.</p>"
        }
      },
      "documentation":"<p>Provides options to complete a multipart upload operation. This informs Amazon Glacier that all the archive parts have been uploaded and Amazon Glacier can now assemble the archive from the uploaded parts. After assembling and saving the archive to the vault, Amazon Glacier returns the URI path of the newly created archive resource.</p>",
      "required":[
        "accountId",
        "vaultName",
        "uploadId"
      ]
    },
    "CreateVaultInput":{
      "type":"structure",
      "members":{
        "accountId":{
          "shape":"string",
          "location":"uri",
          "locationName":"accountId",
          "documentation":"<p>The <code>AccountId</code> is the AWS Account ID. You can specify either the AWS Account ID or optionally a '-', in which case Amazon Glacier uses the AWS Account ID associated with the credentials used to sign the request. If you specify your Account ID, do not include hyphens in it. </p>"
        },
        "vaultName":{
          "shape":"string",
          "location":"uri",
          "locationName":"vaultName",
          "documentation":"<p>The name of the vault.</p>"
        }
      },
      "documentation":"<p>Provides options to create a vault.</p>",
      "required":[
        "accountId",
        "vaultName"
      ]
    },
    "CreateVaultOutput":{
      "type":"structure",
      "members":{
        "location":{
          "shape":"string",
          "location":"header",
          "locationName":"Location",
          "documentation":"<p>The URI of the vault that was created.</p>"
        }
      },
      "documentation":"<p>Contains the Amazon Glacier response to your request.</p>"
    },
    "DataRetrievalPolicy":{
      "type":"structure",
      "members":{
        "Rules":{"shape":"DataRetrievalRulesList"}
      }
    },
    "DataRetrievalRule":{
      "type":"structure",
      "members":{
        "Strategy":{"shape":"string"},
        "BytesPerHour":{"shape":"NullableLong"}
      }
    },
    "DataRetrievalRulesList":{
      "type":"list",
      "member":{"shape":"DataRetrievalRule"}
    },
    "DateTime":{"type":"string"},
    "DeleteArchiveInput":{
      "type":"structure",
      "members":{
        "accountId":{
          "shape":"string",
          "location":"uri",
          "locationName":"accountId",
          "documentation":"<p>The <code>AccountId</code> is the AWS Account ID. You can specify either the AWS Account ID or optionally a '-', in which case Amazon Glacier uses the AWS Account ID associated with the credentials used to sign the request. If you specify your Account ID, do not include hyphens in it. </p>"
        },
        "vaultName":{
          "shape":"string",
          "location":"uri",
          "locationName":"vaultName",
          "documentation":"<p>The name of the vault.</p>"
        },
        "archiveId":{
          "shape":"string",
          "location":"uri",
          "locationName":"archiveId",
          "documentation":"<p>The ID of the archive to delete.</p>"
        }
      },
      "documentation":"<p>Provides options for deleting an archive from an Amazon Glacier vault.</p>",
      "required":[
        "accountId",
        "vaultName",
        "archiveId"
      ]
    },
    "DeleteVaultInput":{
      "type":"structure",
      "members":{
        "accountId":{
          "shape":"string",
          "location":"uri",
          "locationName":"accountId",
          "documentation":"<p>The <code>AccountId</code> is the AWS Account ID. You can specify either the AWS Account ID or optionally a '-', in which case Amazon Glacier uses the AWS Account ID associated with the credentials used to sign the request. If you specify your Account ID, do not include hyphens in it. </p>"
        },
        "vaultName":{
          "shape":"string",
          "location":"uri",
          "locationName":"vaultName",
          "documentation":"<p>The name of the vault.</p>"
        }
      },
      "documentation":"<p>Provides options for deleting a vault from Amazon Glacier.</p>",
      "required":[
        "accountId",
        "vaultName"
      ]
    },
    "DeleteVaultNotificationsInput":{
      "type":"structure",
      "members":{
        "accountId":{
          "shape":"string",
          "location":"uri",
          "locationName":"accountId",
          "documentation":"<p>The <code>AccountId</code> is the AWS Account ID. You can specify either the AWS Account ID or optionally a '-', in which case Amazon Glacier uses the AWS Account ID associated with the credentials used to sign the request. If you specify your Account ID, do not include hyphens in it. </p>"
        },
        "vaultName":{
          "shape":"string",
          "location":"uri",
          "locationName":"vaultName",
          "documentation":"<p>The name of the vault.</p>"
        }
      },
      "documentation":"<p>Provides options for deleting a vault notification configuration from an Amazon Glacier vault.</p>",
      "required":[
        "accountId",
        "vaultName"
      ]
    },
    "DescribeJobInput":{
      "type":"structure",
      "members":{
        "accountId":{
          "shape":"string",
          "location":"uri",
          "locationName":"accountId",
          "documentation":"<p>The <code>AccountId</code> is the AWS Account ID. You can specify either the AWS Account ID or optionally a '-', in which case Amazon Glacier uses the AWS Account ID associated with the credentials used to sign the request. If you specify your Account ID, do not include hyphens in it. </p>"
        },
        "vaultName":{
          "shape":"string",
          "location":"uri",
          "locationName":"vaultName",
          "documentation":"<p>The name of the vault.</p>"
        },
        "jobId":{
          "shape":"string",
          "location":"uri",
          "locationName":"jobId",
          "documentation":"<p>The ID of the job to describe.</p>"
        }
      },
      "documentation":"<p>Provides options for retrieving a job description.</p>",
      "required":[
        "accountId",
        "vaultName",
        "jobId"
      ]
    },
    "DescribeVaultInput":{
      "type":"structure",
      "members":{
        "accountId":{
          "shape":"string",
          "location":"uri",
          "locationName":"accountId",
          "documentation":"<p>The <code>AccountId</code> is the AWS Account ID. You can specify either the AWS Account ID or optionally a '-', in which case Amazon Glacier uses the AWS Account ID associated with the credentials used to sign the request. If you specify your Account ID, do not include hyphens in it. </p>"
        },
        "vaultName":{
          "shape":"string",
          "location":"uri",
          "locationName":"vaultName",
          "documentation":"<p>The name of the vault.</p>"
        }
      },
      "documentation":"<p>Provides options for retrieving metadata for a specific vault in Amazon Glacier.</p>",
      "required":[
        "accountId",
        "vaultName"
      ]
    },
    "DescribeVaultOutput":{
      "type":"structure",
      "members":{
        "VaultARN":{
          "shape":"string",
          "documentation":"<p>The Amazon Resource Name (ARN) of the vault.</p>"
        },
        "VaultName":{
          "shape":"string",
          "documentation":"<p>The name of the vault.</p>"
        },
        "CreationDate":{
          "shape":"string",
          "documentation":"<p>The UTC date when the vault was created. A string representation of ISO 8601 date format, for example, \"2012-03-20T17:03:43.221Z\".</p>"
        },
        "LastInventoryDate":{
          "shape":"string",
          "documentation":"<p>The UTC date when Amazon Glacier completed the last vault inventory. A string representation of ISO 8601 date format, for example, \"2012-03-20T17:03:43.221Z\".</p>"
        },
        "NumberOfArchives":{
          "shape":"long",
          "documentation":"<p>The number of archives in the vault as of the last inventory date. This field will return <code>null</code> if an inventory has not yet run on the vault, for example, if you just created the vault.</p>"
        },
        "SizeInBytes":{
          "shape":"long",
          "documentation":"<p>Total size, in bytes, of the archives in the vault as of the last inventory date. This field will return null if an inventory has not yet run on the vault, for example, if you just created the vault.</p>"
        }
      },
      "documentation":"<p>Contains the Amazon Glacier response to your request.</p>"
    },
    "GetDataRetrievalPolicyInput":{
      "type":"structure",
      "members":{
        "accountId":{
          "shape":"string",
          "location":"uri",
          "locationName":"accountId"
        }
      },
      "required":["accountId"]
    },
    "GetDataRetrievalPolicyOutput":{
      "type":"structure",
      "members":{
        "Policy":{"shape":"DataRetrievalPolicy"}
      }
    },
    "GetJobOutputInput":{
      "type":"structure",
      "members":{
        "accountId":{
          "shape":"string",
          "location":"uri",
          "locationName":"accountId",
          "documentation":"<p>The <code>AccountId</code> is the AWS Account ID. You can specify either the AWS Account ID or optionally a '-', in which case Amazon Glacier uses the AWS Account ID associated with the credentials used to sign the request. If you specify your Account ID, do not include hyphens in it. </p>"
        },
        "vaultName":{
          "shape":"string",
          "location":"uri",
          "locationName":"vaultName",
          "documentation":"<p>The name of the vault.</p>"
        },
        "jobId":{
          "shape":"string",
          "location":"uri",
          "locationName":"jobId",
          "documentation":"<p>The job ID whose data is downloaded.</p>"
        },
        "range":{
          "shape":"string",
          "location":"header",
          "locationName":"Range",
          "documentation":"<p>The range of bytes to retrieve from the output. For example, if you want to download the first 1,048,576 bytes, specify \"Range: bytes=0-1048575\". By default, this operation downloads the entire output. </p>"
        }
      },
      "documentation":"<p>Provides options for downloading output of an Amazon Glacier job.</p>",
      "required":[
        "accountId",
        "vaultName",
        "jobId"
      ]
    },
    "GetJobOutputOutput":{
      "type":"structure",
      "members":{
        "body":{
          "shape":"Stream",
          "documentation":"<p>The job data, either archive data or inventory data.</p>"
        },
        "checksum":{
          "shape":"string",
          "location":"header",
          "locationName":"x-amz-sha256-tree-hash",
          "documentation":"<p> The checksum of the data in the response. This header is returned only when retrieving the output for an archive retrieval job. Furthermore, this header appears only under the following conditions: <ul> <li>You get the entire range of the archive.</li> <li>You request a range to return of the archive that starts and ends on a multiple of 1 MB. For example, if you have an 3.1 MB archive and you specify a range to return that starts at 1 MB and ends at 2 MB, then the x-amz-sha256-tree-hash is returned as a response header.</li> <li>You request a range of the archive to return that starts on a multiple of 1 MB and goes to the end of the archive. For example, if you have a 3.1 MB archive and you specify a range that starts at 2 MB and ends at 3.1 MB (the end of the archive), then the x-amz-sha256-tree-hash is returned as a response header.</li> </ul> </p>"
        },
        "status":{
          "shape":"httpstatus",
          "location":"statusCode",
          "documentation":"<p>The HTTP response code for a job output request. The value depends on whether a range was specified in the request.</p>"
        },
        "contentRange":{
          "shape":"string",
          "location":"header",
          "locationName":"Content-Range",
          "documentation":"<p>The range of bytes returned by Amazon Glacier. If only partial output is downloaded, the response provides the range of bytes Amazon Glacier returned. For example, bytes 0-1048575/8388608 returns the first 1 MB from 8 MB.</p>"
        },
        "acceptRanges":{
          "shape":"string",
          "location":"header",
          "locationName":"Accept-Ranges",
          "documentation":"<p>Indicates the range units accepted. For more information, go to <a href=\"http://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html\">RFC2616</a>. </p>"
        },
        "contentType":{
          "shape":"string",
          "location":"header",
          "locationName":"Content-Type",
          "documentation":"<p>The Content-Type depends on whether the job output is an archive or a vault inventory. For archive data, the Content-Type is application/octet-stream. For vault inventory, if you requested CSV format when you initiated the job, the Content-Type is text/csv. Otherwise, by default, vault inventory is returned as JSON, and the Content-Type is application/json. </p>"
        },
        "archiveDescription":{
          "shape":"string",
          "location":"header",
          "locationName":"x-amz-archive-description",
          "documentation":"<p>The description of an archive.</p>"
        }
      },
      "documentation":"<p>Contains the Amazon Glacier response to your request.</p>",
      "payload":"body"
    },
    "GetVaultNotificationsInput":{
      "type":"structure",
      "members":{
        "accountId":{
          "shape":"string",
          "location":"uri",
          "locationName":"accountId",
          "documentation":"<p>The <code>AccountId</code> is the AWS Account ID. You can specify either the AWS Account ID or optionally a '-', in which case Amazon Glacier uses the AWS Account ID associated with the credentials used to sign the request. If you specify your Account ID, do not include hyphens in it. </p>"
        },
        "vaultName":{
          "shape":"string",
          "location":"uri",
          "locationName":"vaultName",
          "documentation":"<p>The name of the vault.</p>"
        }
      },
      "documentation":"<p>Provides options for retrieving the notification configuration set on an Amazon Glacier vault.</p>",
      "required":[
        "accountId",
        "vaultName"
      ]
    },
    "GetVaultNotificationsOutput":{
      "type":"structure",
      "members":{
        "vaultNotificationConfig":{
          "shape":"VaultNotificationConfig",
          "documentation":"<p>Returns the notification configuration set on the vault.</p>"
        }
      },
      "documentation":"<p>Contains the Amazon Glacier response to your request.</p>",
      "payload":"vaultNotificationConfig"
    },
    "GlacierJobDescription":{
      "type":"structure",
      "members":{
        "JobId":{
          "shape":"string",
          "documentation":"<p>An opaque string that identifies an Amazon Glacier job.</p>"
        },
        "JobDescription":{
          "shape":"string",
          "documentation":"<p>The job description you provided when you initiated the job.</p>"
        },
        "Action":{
          "shape":"ActionCode",
          "documentation":"<p>The job type. It is either ArchiveRetrieval or InventoryRetrieval.</p>"
        },
        "ArchiveId":{
          "shape":"string",
          "documentation":"<p>For an ArchiveRetrieval job, this is the archive ID requested for download. Otherwise, this field is null.</p>"
        },
        "VaultARN":{
          "shape":"string",
          "documentation":"<p>The Amazon Resource Name (ARN) of the vault from which the archive retrieval was requested.</p>"
        },
        "CreationDate":{
          "shape":"string",
          "documentation":"<p>The UTC date when the job was created. A string representation of ISO 8601 date format, for example, \"2012-03-20T17:03:43.221Z\".</p>"
        },
        "Completed":{
          "shape":"boolean",
          "documentation":"<p>The job status. When a job is completed, you get the job's output.</p>"
        },
        "StatusCode":{
          "shape":"StatusCode",
          "documentation":"<p>The status code can be InProgress, Succeeded, or Failed, and indicates the status of the job.</p>"
        },
        "StatusMessage":{
          "shape":"string",
          "documentation":"<p>A friendly message that describes the job status.</p>"
        },
        "ArchiveSizeInBytes":{
          "shape":"Size",
          "documentation":"<p>For an ArchiveRetrieval job, this is the size in bytes of the archive being requested for download. For the InventoryRetrieval job, the value is null.</p>"
        },
        "InventorySizeInBytes":{
          "shape":"Size",
          "documentation":"<p>For an InventoryRetrieval job, this is the size in bytes of the inventory requested for download. For the ArchiveRetrieval job, the value is null.</p>"
        },
        "SNSTopic":{
          "shape":"string",
          "documentation":"<p>An Amazon Simple Notification Service (Amazon SNS) topic that receives notification.</p>"
        },
        "CompletionDate":{
          "shape":"string",
          "documentation":"<p>The UTC time that the archive retrieval request completed. While the job is in progress, the value will be null.</p>"
        },
        "SHA256TreeHash":{
          "shape":"string",
          "documentation":"<p>For an ArchiveRetrieval job, it is the checksum of the archive. Otherwise, the value is null.</p> <p> The SHA256 tree hash value for the requested range of an archive. If the Initiate a Job request for an archive specified a tree-hash aligned range, then this field returns a value. </p> <p> For the specific case when the whole archive is retrieved, this value is the same as the ArchiveSHA256TreeHash value. </p> <p> This field is null in the following situations: <ul> <li><p>Archive retrieval jobs that specify a range that is not tree-hash aligned.</p></li> </ul> <ul> <li><p>Archival jobs that specify a range that is equal to the whole archive and the job status is InProgress.</p></li> </ul> <ul> <li><p>Inventory jobs.</p></li> </ul> </p>"
        },
        "ArchiveSHA256TreeHash":{
          "shape":"string",
          "documentation":"<p>The SHA256 tree hash of the entire archive for an archive retrieval. For inventory retrieval jobs, this field is null. </p>"
        },
        "RetrievalByteRange":{
          "shape":"string",
[...]
