#developer
  position: fixed
  left: 0
  right: 0
  bottom: 0
  max-height: 25%
  overflow: scroll
  z-index: $zindexModal + 1

#developer-content
  background-color: #fff
  border-top: 1px rgb(51, 51, 51) solid
  *
    font-size: $baseFontSize * .8
  pre
    font-size: $baseFontSize * .7
    max-height: 80px
    overflow: scroll
  .controls.row .span-4:first-child
    margin-left: 0
  .select2-container
    width: 220px
