@import mixins

#scenarios .modal-header
  background-color: $devModeColor

#developer
  +opaqueOnMouseover

$marginBot: 20px

#dev-label
  +position(false, false, $marginBot - 14px, 22px)
  +aboveModal
  +smaller
  color: $devModeColor
  font-weight: 300
  text-shadow: 0 1px 0 #000

#dev-buttons
  +position(false, false, $marginBot, 18px)
  +aboveModal
  button
    text-shadow: none
    &:hover
      color: #000
    &:disabled
      color: #333

#model
  +position(false, false, $marginBot + 23px, 18px)
  +aboveModal
  +border-radius(5px)
  +smaller
  +monofont
  +size(500px, 500px)
  overflow: auto
  background-color: #f5f5f5
