@font-face
  font-family: 'Droid Sans Mono'
  font-style: normal
  font-weight: 400
  src: font-url('DroidSansMono.ttf')

@font-face
  font-family: 'Roboto'
  font-style: normal
  font-weight: 400
  src: font-url('Roboto-Regular.ttf')

@font-face
  font-family: 'LigatureSymbols'
  src: font-url('LigatureSymbols-2.11.eot')
  src: font-url('LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'), font-url('LigatureSymbols-2.11.woff') format('woff'), font-url('LigatureSymbols-2.11.ttf') format('truetype'), font-url('LigatureSymbols-2.11.svg#LigatureSymbols') format('svg')
  font-weight: normal
  font-style: normal
