
#footer
  +size(100%, false)
  +position(false, 0, 0, 0)
  +aboveModal
  +centered
  +small
  +text-shadow($black 1px 1px 1px)
  +box-sizing(border-box)
  word-spacing: .3ex
  +single-transition(opacity, 0.5s, ease)
  $opacityMouseOut: .5
  opacity: $opacityMouseOut
  &:hover
    opacity: 1

body.showVis #footer
  padding: 10px 0 0
  outline: 1px solid rgba(0, 0, 0, .5)
  border-top: 1px solid rgba(255, 255, 255, .1)
  color: $grayLight
  z-index: auto

$zindexGlobalNav: 1
$globalNavBtnWidth: 49px
$globalNavPosRight: 15px
$globalNavPosBottom: 15px
#global-nav
  +position(false, $globalNavPosRight, $globalNavPosBottom)
  z-index: $zindexGlobalNav
  white-space: nowrap
  button
    color: $grayLight
    width: $globalNavBtnWidth
    i.lsf-icon
      line-height: 17px
      font-size: 22px
      margin-left: -5px
      vertical-align: middle
  button.active
    z-index: $zindexModal + 1 !important
    color: $devModeColor
  button.ng-disabled
    color: $grayDark

$npendingIndexGiveMode: 1
$npendingIndexGetMode: 2
$npendingPosBottom: $globalNavPosBottom / 2
$npendingOffsetRight: 36px
#npending
  z-index: $zindexGlobalNav + 1
  body.getMode &
    +position(false, 148px, 13px)
    +position(false, $globalNavPosRight + ($npendingIndexGetMode * $globalNavBtnWidth) + $npendingOffsetRight, $npendingPosBottom)
  body.giveMode &
    +position(false, $globalNavPosRight + ($npendingIndexGiveMode * $globalNavBtnWidth) + $npendingOffsetRight, $npendingPosBottom)

#stats
  +inline-block
  margin: 0
  width: 700px
  text-align: left
  dt
    color: lighten($grayLight, 10%)
    font-weight: bold
  dd
    margin-left: 170px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

#last
  +smaller
  +aboveModal
  color: $white
  a
    color: $white
  .update-available *
    color: #f00
