@import mixins

.modal form
  margin-bottom: 0

.control-extra
  +indented(30px)
  +small
  +gray

#sanity form, #settingsLoadFailure form
  margin: 15px 30px 0 30px
  *
    +small

textarea.bugReport
  width: 100%
  height: 100px

#settingsUnlock .controls
  +centered

#settingsLoadFailure form
  +centered

#langchooser
  +position(5px, 15px)
  font-size: $baseFontSize * .8
  +aboveModal
  ul
    +border-radius(5px)
    +horizontal-list
    +box-shadow(0 0 20px $grayDarker)
    background-color: $grayDark
    padding: 3px 9px
    li
      a
        color: $grayLight
        +text-shadow($black 1px 1px 2px)
      &.active a
        color: $white
        &:hover
          text-decoration: none
          cursor: default

#welcome
  +bootstrap-gradient-vertical(#391a42, #070333)
  +centered
  color: #fff
  .modal-body
    font-size: $baseFontSize * 1.25
    font-weight: 200
  h1
    +text-shadow($black 1px 1px 2px)
    font-size: $baseFontSize * 6
    line-height: $baseFontSize * 10
  button
    margin: 50px 5px 10px

#passwordCreate .control-group
  +centered

#authorize
  .prompt-extra
    margin: 10px 0 5px 30px
    +small
    +gray
  .control-label
    +small

#requestInvite
  form
    margin: 20px 38px
    input[type=email]
      margin-top: 5px
    .indented
      margin-left: 30px

#proxiedSites
  textarea
    width: 100%
    height: 150px
    +bootstrap-font-family-monospace
    font-size: $baseFontSize - 1
  .error
    +centered
    +error-colored
    margin: 10px 0
    height: $baseFontSize * 1.5
  .errorCause
    +inline-block
    padding: 2px 4px
    margin: 0
    max-width: 200px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

#lanternFriends
  margin-top: -310px
  .modal-body
    max-height: 500px
  h4
    font-size: $baseFontSize * 1.1
    margin-bottom: 15px

.contactList-horizontal
  margin: 5px 0 10px
  overflow: auto
  white-space: nowrap
  width: 100%
  li
    +inline-block
    text-align: left
    white-space: normal
    width: 200px
    margin-right: 5px
    &:last-child
      margin-right: 0
  img.photo
    width: 50px
    height: 50px
    margin-right: 10px
  .fn, .email
    width: 140px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap
  .fn
    +bold
    +small
  .btn-mini
    padding: 0 3px
    +smaller

.inviteForm
  +centered
  label
    +small
  &.ng-invalid .select2-choices
    +inputInvalid

.selectContacts
  $cselectWdth: 500px
  width: $cselectWdth
  margin-bottom: 15px
  input.select2-default, input.select2-input
    width: $cselectWdth !important

#systemProxy
  .control-group
    margin: 0 75px
  .text-error
    margin: 20px 75px
  .controls
    margin-top: 10px

#finished
  .modal-header, .modal-body
    +centered

#settings
  dd
    margin-bottom: $baseFontSize * 1.75
  details
    margin-top: 9px

#autoreport-warning
  +indented
  +warning-colored
  margin-top: 3px

#updateAvailable
  h4
    margin: 5px 0 10px

#changes
  +small
  max-height: 200px
  overflow: auto
  margin-left: 0
  $padding-y: 5px
  padding-top: $padding-y
  padding-bottom: $padding-y

#about
  +small
  div
    margin-top: 10px
  textarea
    width: 100%
    +smaller

#contact-msg
  +small
  +monofont
  width: 100%
  height: 175px
  margin-top: 24px
