@import _helpers

.modal form
  margin-bottom: 0

.control-extra
  margin-left: 30px
  +small
  +gray

#sanity form, #settingsLoadFailure form
  margin: 15px 30px 0 30px
  *
    +small

textarea.bugReport
  width: 100%
  height: 100px

#settingsUnlock .controls
  +centered

#settingsLoadFailure form
  +centered

#passwordCreate .control-group
  +centered

#welcome
  .modal-header, .modal-body
    +centered

#authorize
  .prompt-extra
    margin: 10px 0 5px 30px
    +small
    +gray
  .control-label
    +small

#requestInvite
  form
    margin: 20px 38px
    input[type=email]
      margin-top: 5px
    .indented
      margin-left: 30px

#inviteFriends form
  +centered
  label
    +small

#waiting-container
  +position(100px, 0, 0 , 0)
  line-height: 50px

#welcome .modal-body
  margin: 10px 0 100px 0

#langchooser
  +position(5px, 15px)
  font-size: $baseFontSize * .8
  z-index: $zindexModal + 1
  ul
    +border-radius(5px)
    +horizontal-list
    +box-shadow(0 0 20px $grayDarker)
    background-color: $grayDark
    padding: 3px 9px
    li
      a
        color: $grayLight
        +text-shadow($black 1px 1px 2px)
      &.active a
        color: $white
        &:hover
          text-decoration: none

#systemProxy
  .control-group
    margin: 0 75px
  .text-error
    margin: 20px 75px
  .controls
    margin-top: 10px

#finished
  .modal-header, .modal-body
    +centered

#settings
  dd
    margin-bottom: $baseFontSize * 1.75

.settings-selectlang
  margin-top: -6px

#autoreport-warning
  +indented
  +warning-colored
  margin-top: 3px

a.toggle.advanced
  +inline-block
  margin-top: 9px
  color: $textColor
  &:active, &:visited, &:hover
    color: $textColor

.advanced-container
  margin-left: 20px
  *
    +smaller
  input[type=number]
    +inline-block
    width: 50px
    height: $baseFontSize
    padding: 0 2px 2px
  #app-settings &
    margin-top: 5px
  #proxy-settings &
    margin-top: 10px

button.reset
  margin: 0 0 -5px 50px
