#settings
  dd
    margin-bottom: $baseFontSize * 1.75

#autoreport-warning
  +indented
  +warning-colored
  margin-top: 3px

#advanced
  margin: 10px 0 0 20px
  *
    +smaller
  input[type=number]
    +inline-block
    width: 50px
    height: $baseFontSize
    padding: 0 2px 2px
