$giveModeColor: #5bc0de
$giveModeColorAccent: darken($giveModeColor, 20%)
$getModeColor: #0088cc
$getModeColorAccent: darken($getModeColor, 10%)
$devModeColor: #fff343
$devModeColorAccent: darken($devModeColor, 10%)

// ** framework-defined
// compass
$legacy-support-for-ie6: false
$legacy-support-for-ie7: false
$legacy-support-for-ie8: false
$legacy-support-for-mozilla: false
$experimental-support-for-opera: false
$experimental-support-for-svg: false

// bootstrap
$baseFontSize: 14px
$baseLineHeight: 18px
$fontAwesomePath: "/app/lib/fontawesome/font/fontawesome-webfont"
