// ** framework-defined **
$legacy-support-for-ie6: false
$legacy-support-for-ie7: false
$legacy-support-for-ie8: true
$legacy-support-for-mozilla: false
$experimental-support-for-opera: false
//$experimental-support-for-svg: true

$baseFontSize: 14px
//$headingsFontFamily: "ProximaNova-Light"

// XXX do we really have to copy this in manually and point to it?
$font_path: "../../fonts/fontawesome-webfont"


// ** our own **
$giveModeColor: #5bc0de
$giveModeColorAccent: darken($giveModeColor, 20%)
$getModeColor: #0088cc
$getModeColorAccent: darken($getModeColor, 10%)
