$giveModeColorMap: #aad092
$cloudPeerColor: #008000

#projectionButtons
  +position(false, false, 75px, 25px)

#vis-container, #vis
  height: 100%

#map
  width: 100%
  height: 100%
  display: block

$waterColor: rgba(6, 21, 50, .1)
#globe
  fill: $waterColor

#countries path
  +single-transition(all, 0.5s, ease)
  stroke: rgb(30, 61, 75)
  stroke-width: 1px
  stroke-opacity: 0
  fill: #000
  fill-opacity: .2
  &.peersOnline
    stroke-opacity: .1
  &.censors
    fill-opacity: .3
    //stroke-opacity: .2
  &.updating
    stroke: #fff !important
    stroke-opacity: .5 !important
  &:hover
    stroke-opacity: 1 !important
//&.AQ // antarctica
    display: none

.peer.get, #self.get
  fill: $getModeColor

.peer.give, #self.give
  fill: $giveModeColorMap

.peer.cloud, .peer.laeproxy
  fill: $cloudPeerColor !important

.connection
  fill: none
  stroke-width: 1px
  stroke: #fff
  +single-transition(stroke-opacity, 0.5s, ease)

g.transferring .connection
  opacity: 1

.tooltip.vis .tooltip-inner
  max-width: none // override bootstrap's value of 200px
  text-align: left // override bootstrap's value of center
  white-space: nowrap
  text-overflow: ellipsis
  .picture
    height: 64px
    width: 64px
    margin: 5px 10px 0 0
  .picture, .headers
    float: left
  .header
    +bold
    font-size: $baseFontSize * 1.05
  .get .header, .get .type
    +get-colored
  .give .header, .give .type
    color: $giveModeColorMap
  .cloud .header, .laeproxy .header, .cloud .type, .laeproxy .type
    color: $cloudPeerColor !important
  .type
    +smaller
  .peerid, .id
    +smaller
    +gray
  .stats
    clear: both
    +smaller
  .lastConnected
    +smaller
  .npeersEver
    +gray
  .give-colored
    color: $giveModeColorMap
