$legacy-support-for-ie6: false
$legacy-support-for-ie7: false
$legacy-support-for-ie8: true
$legacy-support-for-mozilla: false
$experimental-support-for-opera: false
//$experimental-support-for-svg: true

@import compass
//@import compass_twitter_bootstrap_awesome
//@import compass_twitter_bootstrap_responsive

.ui-hide, .ui-show
  +single-transition(all, 0.5s, ease)

.ui-hide
  opacity: 0

=inputInvalid
  color: #b94a48
  border-color: #b94a48
  +box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6))

// as you type a@b.c.d, colors change from red to blue to red to blue without this
input[type=email].ng-invalid
  +inputInvalid

.modal form
  margin-bottom: 0

//body
  padding: 50px

.tooltip
  z-index: 10000

#welcome .modal-body
  margin: 10px 0 100px 0

#sanity
  z-index: 5002
  form
    margin: 15px 0

#developer
  position: fixed
  left: 0
  right: 0
  bottom: 0
  max-height: 30%
  overflow: scroll
  z-index: 5000

#developer-content
  background-color: #fff
  border-top: 1px rgb(51, 51, 51) solid
  *
    font-size: 10pt
  pre
    font-size: 7pt
    max-height: 80px
    overflow: scroll
  .controls.row .span-4:first-child
    margin-left: 0
