$legacy-support-for-ie6: false
$legacy-support-for-ie7: false
$legacy-support-for-ie8: true
$legacy-support-for-mozilla: false
$experimental-support-for-opera: false
//$experimental-support-for-svg: true

@import compass
//@import compass_twitter_bootstrap_awesome
//@import compass_twitter_bootstrap_responsive

body
  padding: 50px
