// XXX merge into app.sass

//@import compass/reset
@import compass/typography
@import helpers

html
  :height 100%

body
  :height 100%
  :background #111
  :text-rendering optimizeLegibility

i
  // as in "icon"
  :display block

// Sprites
//@import icons/*.png

.chrome
  // Basic chrome
  $chromeWidth: 1024px
  $chromeHeight: 629px
  //$shadowWidth: 18px
  $shadowWidth: 0px
  $shadowHeight: 18px
  //$shadowHeight: 0px
  // .header
  //$headerTop: 41px
  $headerTop: 0px
  $headerWidth: $chromeWidth - $shadowWidth * 2
  $headerHeight: 64px
  $headerShadowHeight: 13px
  $headerLeft: $shadowWidth
  // .footer
  $footerWidth: $chromeWidth - $shadowWidth * 2
  $footerHeight: 59px
  $footerLeft: $shadowWidth
  //$footerBottom: $shadowHeight
  $footerBottom: 0px
  // lines
  $linesTop: $headerTop + $headerHeight - $headerShadowHeight
  $linesLeft: $shadowWidth
  :position relative
  //+size($chromeWidth, $chromeHeight)
  :height 100%
  //:margin auto
  :overflow hidden
  //+icons-sprite(bg-chrome)
  :background url('../img/bg/bg.png')
  #canvas
    +position($headerTop + $headerHeight - $headerShadowHeight, false, false, $shadowWidth)
    //+size($chromeWidth - $shadowWidth * 2, $chromeHeight - $footerHeight - $headerHeight - $shadowHeight * 2)
    +size(100%, 100%)
    :z-index $zTop + 1
    :overflow hidden
  .header
    +position($headerTop, false, false, $headerLeft)
    //+size($headerWidth, $headerHeight)
    +size(100%, $headerHeight)
    //+icons-sprite(bg-chrome-header)
    :background url('../img/bg/bg-chrome-header.png')
    :background-size 100% $headerHeight // XXX does not work in IE8
    ul
      +no-bullet
  .footer
    +position(false, false, $footerBottom, $footerLeft)
    //+size($footerWidth, $footerHeight)
    +size(100%, $footerHeight)
    //+icons-sprite(bg-chrome-footer)
    :background url('../img/bg/bg-chrome-footer.png')
  #lines
    +position($linesTop, false, false, $linesLeft)
    +size($chromeWidth - $shadowWidth * 2, $chromeHeight - $linesTop - $footerHeight - $footerBottom)
    :z-index $zTop

// Chrome elements

.chrome .header
  .inner
    :padding 10px
  ul
    :clear both
    //:overflow hidden
    li
      +text-shadow($cGray0 0px 1px 1px)
      i
        +inline-block
      &, a
        +font("sans-serif", 13px, $cWhite)
      a
        :text-decoration none
      &.user
        :float right
        &.gtalkConnectivity.connected i
          +size(19px)
          //+icons-sprite(status-ok)
          :background url('../img/icons/status-ok.png')
      &.control-menu
        :float left
      ul.dropdown-menu
        :z-index 10000
        :background-color #252525
        i
          :vertical-align text-top
    //
      &.status
        :float left
        :color $cGray3
        &.ok i
          +size(19px)
          +icons-sprite(status-ok)
          :background url('../img/icons/status-ok.png')

.chrome #canvas
  .controls
    &#zoom
      +position(false, false, 20px, 20px)
    &#options
      +position(false, 20px, 20px, false)
    :clear both
    :overflow hidden
    li
      :float left
      :margin 0 1px 0 0
      +size(35px)
      :background #000
      :background rgba(0, 0, 0, 0.55)
      a
        +size(100%)
        :display block
        +transition(opacity 300ms ease-in-out)
        :opacity .5
        &:hover
          :opacity 1
      &.selected a
        :opacity 1
      &.disabled a
        :cursor default
      &.disabled a:hover
        :opacity .5
      &.zoom_out a
        :background url(../img/icons/minus.png) no-repeat 50% 50%
      &.magnifier a
        :background url(../img/icons/magnifier.png) no-repeat 50% 50%
      &.zoom_in a
        :background url(../img/icons/plus.png) no-repeat 50% 50%
      &.graph a
        :background url(../img/icons/speedometer.png) no-repeat 50% 50%
      &.users a
        :background url(../img/icons/users.png) no-repeat 50% 50%
      &.settings a
        :background url(../img/icons/gears.png) no-repeat 50% 50%
      &:first-child
        +border-radius(3px 0 0 3px)
      &:last-child
        +border-radius(0 3px 3px 0)

.chrome .footer
  .inner
    :margin 20px 0 0 0
    :padding 10px
  :text-align center
  +font("sans-serif-light", 13px, $cGray4)
  +text-shadow($cGray0 0px 1px 1px)

.chrome #canvas .message
  +absolute-landscape-center(200px)
  :top 40px
  :text-align center
  h2
    :margin 0 0 15px 0
    +font("sans-serif-bold", 13px, $cWhite)
    +text-shadow($cGray0 0px 1px 1px)
  i
    :margin 0 auto 10px auto
    +size(16px, 17px)
    //+icons-sprite(connected)
    :background url(../img/icons/connected.png)

// Other elements

.button
  +inline-block
  :padding 5px 6px 4px 6px
  +border-radius(10px)
  +font("sans-serif-bold", 11px, #041a26)
  :text-transform uppercase
  :text-decoration none
  :background $cWhite
  +transition(all 300ms ease-in-out)
  &:hover
    +glow(0.5)

.beam
  :stroke none
  :fill $cWhite
  :opacity .3

.green_glow
  :stroke 1
  :fill #AAD092
  :opacity .15
  :z-index 1000

.green_glow_2
  :stroke 1
  :fill #AAD092
  :opacity .5
  :z-index 1000

.dot_green
  :stroke 1
  :fill #AAD092
  :opacity 1
  :cursor pointer
  :z-index 1000

// SVG
circle
  :stroke 1
  :fill $cWhite

#cities circle
  :fill #fff
  :opacity .7

.red_glow
  :fill none
  :stroke #FF6666
  :opacity .3
  :z-index 1000

.hollow
  :stroke #FF6666
  :stroke-width 1.5
  :fill none
  :opacity .9

.glow
  :stroke none
  :opacity .1

.states path
  :stroke red
  /*stroke:none;
  /*stroke-width:0.3;
  /*fill:#fff;
  /*stroke: blue;
  /*opacity:.3;
  /*opacity: 0;

.parabola_light
  :fill none
  :stroke $cWhite
  :opacity .15
  :stroke-linecap round

.parabola
  :fill none
  :stroke $cWhite
  :opacity .7
  :stroke-linecap round

.radial-menu
  :display none
  :position absolute
  +size(119px)
  /*pointer-events: none;
  //+icons-sprite(circle)
  :background-color rgba(255, 255, 255, .65)
  +border-radius(5px)
  :z-index 5500
  .arm
    +size(0px, 26px)
    +position(45px, false, false, 58px)
    :transform-origin 0 50%
    :-ms-transform-origin 0 50%
    /* IE 9
    :-webkit-transform-origin 0 50%
    :-moz-transform-origin 0 50%
    :-o-transform-origin 0% 50%
    :text-align right
    :width 26px
  i
    $size: 22px
    +position(0, 0, false, false)
    +size($size)
    :opacity 0
    :background url("../img/tmp/thumb.jpeg") no-repeat 50% 50%
    :background-size $size $size
    :border 2px solid $cGray0
    :-webkit-background-clip padding-box
    +border-radius(100px)

.zoom
  :opacity 1
  :width 119px
  :height 119px

#canvas svg
  :display inline-block
  :width 100%
  :height 100%
