[Unit]
Description=Lantern VPN
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/lib/lantern/lanternsvc
Restart=on-failure
RestartSec=2
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
# NOTE: We likely NEED these capabilities if we want to avoid full root
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW

[Install]
WantedBy=multi-user.target