/*
@media screen and (max-width: 600px), screen and (max-height: 400px) {
	.url {
		opacity: 0 !important;
	}
}*/
/*
@import url('filesystem:chrome-extension://__MSG_@@extension_id__/persistent/user.css');
*/

@font-face { font-family: LBL; src: url('../font/ProximaNova-Light.otf'); }

* {
	margin: 0;
	padding: 0;
	/*-webkit-user-select: none;*/
}

html, body {
	width: 100%;
	height: 100%;

	background: #000;

	position: relative;

	overflow: hidden;
}

html {
	background: #fff;
}

#sites {
	position: relative;
	top: 200px;
	text-align: left;
	opacity: 0.0;
	-webkit-transition: opacity 0.1s linear;
}

.backend-gone {
    font-family: LBL;
    font-size: 24px;
    color: rgb(82,82,82);
    margin-top: 60px;
}

.bookmark {
    font-family: LBL;
    font-weight: lighter;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.message {
	box-sizing: border-box;
	display: table;

	position: absolute;
	top: 110px;
	left: 0;

	width: 100%;
	height: 200px;
	padding: 10px;

	margin: -110px 0 0 0;

    color:rgb(82,82,82);
    font-family: LBL;
	font-size: 24px;
	line-height: 38px;
	text-align: center;
}

#logo {
  width: 75px;
}

.message p {
	display: table-cell;

	vertical-align: middle;
}

.message .help {
	display: block;
	margin: 10px 0 0 0;
	font-size: 16px;
	line-height: 16px;
	font-weight: normal;
}

.message .help img {
	vertical-align: bottom;
}

@font-face{
    font-family:LBL;
    src:url(../font/ProximaNova-Light.otf)
}

div.end-censorship{
    width:auto;-
    webkit-transform:none;
    font-size:30px;
    top:0;
    margin-bottom: 30px;
    font-size:40px;
    font-family:LBL;
    color:#fff;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    width:100%
}

.tile {
	display: inline-block;
	-webkit-user-drag: none;
	position: relative;
	width: 175px;
	height: 105px;
    margin-top: 5px;
    padding-bottom: 13px;
	font-size: 100px;
	line-height: 200px;
    font-family: LBL;
    font-size: 12px;
	text-align: center;
	text-decoration: none;
    color: rgb(82,82,82);
	/*-webkit-user-select: none;*/
	-webkit-transition: -webkit-transform .3s ease-out, background .3s ease-in;
}

.tile.top {
    margin-top: 10px;
}

.tile:hover,
.tile:active {
    box-shadow: 0 0 3px #515151;
}

.tile.animate {
	z-index: 1000;
	text-shadow: none;
	box-shadow: none;
}

.url {
	font-size: 14px;
	line-height: 20px;
	display: inline-block;
	position: absolute;
	width: 100%;
	height: 32px;
	padding: 0 5px;
	box-sizing: border-box;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
	white-space: nowrap;
	text-align: center;
	left: 0;
	top: 100px;
	opacity: 1.0;
    font-family: LBL;
}
