[submodule "lantern-ui"]
	path = lantern-ui
	url = https://github.com/getlantern/lantern-ui.git
[submodule "lantern-common"]
	path = lantern-common
	url = https://github.com/getlantern/lantern-common.git
