.DS_Store
*.swp
*.un~
*.*~
*.settings
*.classpath
*.project
.idea
lantern_getexceptional.txt
nbactions.xml
dependency-reduced-pom.xml
.sass-cache
/Lantern
log.txt*
target/
dashboard/assets/*.pac
lib/bin
install/lantern-32.deb
install/md5sums
install/output.txt
install/updates.xml
