[project]
	description = Defeat censorship. Share access to the open internet with people around the world through your social network.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/myleshorton
[access "refs/for/refs/*"]
	read = group user/myleshorton
	push = group user/myleshorton
	label-Code-Review = -2..+2 group user/myleshorton
	label-Verified = -1..+1 group user/myleshorton
	rebase = group user/myleshorton
	removeReviewer = group user/myleshorton
	submit = group user/myleshorton
[access "refs/heads/*"]
	read = group user/myleshorton
	create = group user/myleshorton
	push = +force group user/myleshorton
	pushMerge = group user/myleshorton
[access "refs/tags/*"]
	push = +force group user/myleshorton
	pushTag = group user/myleshorton
	pushSignedTag = group user/myleshorton
