{
  "metadata":{
    "apiVersion":"2010-05-08",
    "endpointPrefix":"iam",
    "globalEndpoint":"iam.amazonaws.com",
    "serviceAbbreviation":"IAM",
    "serviceFullName":"AWS Identity and Access Management",
    "signatureVersion":"v4",
    "xmlNamespace":"https://iam.amazonaws.com/doc/2010-05-08/",
    "protocol":"query"
  },
  "documentation":"<fullname>AWS Identity and Access Management</fullname> <p> AWS Identity and Access Management (IAM) is a web service that you can use to manage users and user permissions under your AWS account. This guide provides descriptions of IAM actions that you can call programmatically. For general information about IAM, see <a href=\"http://aws.amazon.com/iam/\">AWS Identity and Access Management (IAM)</a>. For the user guide for IAM, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/\">Using IAM</a>. </p> <note> AWS provides SDKs that consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .NET, iOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to IAM and AWS. For example, the SDKs take care of tasks such as cryptographically signing requests (see below), managing errors, and retrying requests automatically. For information about the AWS SDKs, including how to download and install them, see the <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a> page. </note> <p> We recommend that you use the AWS SDKs to make programmatic API calls to IAM. However, you can also use the IAM Query API to make direct calls to the IAM web service. To learn more about the IAM Query API, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/IAM_UsingQueryAPI.html\">Making Query Requests</a> in the <i>Using IAM</i> guide. IAM supports GET and POST requests for all actions. That is, the API does not require you to use GET for some actions and POST for others. However, GET requests are subject to the limitation size of a URL. Therefore, for operations that require larger sizes, use a POST request. </p> <p><b>Signing Requests</b></p> <p> Requests must be signed using an access key ID and a secret access key. We strongly recommend that you do not use your AWS account access key ID and secret access key for everyday work with IAM. You can use the access key ID and secret access key for an IAM user or you can use the AWS Security Token Service to generate temporary security credentials and use those to sign requests. </p> <p> To sign requests, we recommend that you use <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>. If you have an existing application that uses Signature Version 2, you do not have to update it to use Signature Version 4. However, some operations now require Signature Version 4. The documentation for operations that require version 4 indicate this requirement. </p> <p><b>Recording API requests</b></p> <p> IAM supports AWS CloudTrail, which is a service that records AWS calls for your AWS account and delivers log files to an Amazon S3 bucket. By using information collected by CloudTrail, you can determine what requests were successfully made to IAM, who made the request, when it was made, and so on. To learn more about CloudTrail, including how to turn it on and find your log files, see the <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/whatisawscloudtrail.html\">AWS CloudTrail User Guide</a>. </p> <p><b>Additional Resources</b></p> <p>For more information, see the following:</p> <ul> <li> <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-security-credentials.html\">AWS Security Credentials</a>. This topic provides general information about the types of credentials used for accessing AWS. </li> <li> <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/IAMBestPractices.html\">IAM Best Practices</a>. This topic presents a list of suggestions for using the IAM service to help secure your AWS resources. </li> <li> <a href=\"http://docs.aws.amazon.com/STS/latest/UsingSTS/\">AWS Security Token Service</a>. This guide describes how to create and use temporary security credentials. </li> <li> <a href=\"http://docs.aws.amazon.com/general/latest/gr/signing_aws_api_requests.html\">Signing AWS API Requests</a>. This set of topics walk you through the process of signing a request using an access key ID and secret access key. </li> </ul>",
  "operations":{
    "AddClientIDToOpenIDConnectProvider":{
      "name":"AddClientIDToOpenIDConnectProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddClientIDToOpenIDConnectProviderRequest"},
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p>Adds a new client ID (also known as audience) to the list of client IDs already registered for the specified IAM OpenID Connect provider.</p> <p>This action is idempotent; it does not fail or return an error if you add an existing client ID to the provider.</p>"
    },
    "AddRoleToInstanceProfile":{
      "name":"AddRoleToInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddRoleToInstanceProfileRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p>Adds the specified role to the specified instance profile. For more information about roles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">Working with Roles</a>. For more information about instance profiles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html\">About Instance Profiles</a>. </p>"
    },
    "AddUserToGroup":{
      "name":"AddUserToGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddUserToGroupRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p>Adds the specified user to the specified group.</p>"
    },
    "ChangePassword":{
      "name":"ChangePassword",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ChangePasswordRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"InvalidUserTypeException",
          "error":{
            "code":"InvalidUserType",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the type of user for the transaction was incorrect.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"EntityTemporarilyUnmodifiableException",
          "error":{
            "code":"EntityTemporarilyUnmodifiable",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that is temporarily unmodifiable, such as a user name that was deleted and then recreated. The error indicates that the request is likely to succeed if you try again after waiting several minutes. The error message describes the entity. </p>"
        },
        {
          "shape":"PasswordPolicyViolationException",
          "error":{
            "code":"PasswordPolicyViolation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because the provided password did not meet the requirements imposed by the account password policy. </p>"
        }
      ],
      "documentation":"<p>Changes the password of the IAM user who is calling this action. The root account password is not affected by this action. </p> <p>To change the password for a different user, see <a>UpdateLoginProfile</a>. For more information about modifying passwords, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingLogins.html\">Managing Passwords</a> in the <i>Using IAM</i> guide. </p>"
    },
    "CreateAccessKey":{
      "name":"CreateAccessKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAccessKeyRequest"},
      "output":{
        "shape":"CreateAccessKeyResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>CreateAccessKey</a> action.</p>",
        "resultWrapper":"CreateAccessKeyResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p> Creates a new AWS secret access key and corresponding AWS access key ID for the specified user. The default status for new keys is <code>Active</code>. </p> <p> If you do not specify a user name, IAM determines the user name implicitly based on the AWS access key ID signing the request. Because this action works for access keys under the AWS account, you can use this action to manage root credentials even if the AWS account has no associated users. </p> <p> For information about limits on the number of keys you can create, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on IAM Entities</a> in the <i>Using IAM</i> guide. </p> <important> To ensure the security of your AWS account, the secret access key is accessible only during key and user creation. You must save the key (for example, in a text file) if you want to be able to access it again. If a secret key is lost, you can delete the access keys for the associated user and then create new keys. </important>"
    },
    "CreateAccountAlias":{
      "name":"CreateAccountAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAccountAliasRequest"},
      "errors":[
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p>Creates an alias for your AWS account. For information about using an AWS account alias, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/AccountAlias.html\">Using an Alias for Your AWS Account ID</a> in the <i>Using IAM</i> guide. </p>"
    },
    "CreateGroup":{
      "name":"CreateGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateGroupRequest"},
      "output":{
        "shape":"CreateGroupResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>CreateGroup</a> action.</p>",
        "resultWrapper":"CreateGroupResult"
      },
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p>Creates a new group.</p> <p> For information about the number of groups you can create, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on IAM Entities</a> in the <i>Using IAM</i> guide. </p>"
    },
    "CreateInstanceProfile":{
      "name":"CreateInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInstanceProfileRequest"},
      "output":{
        "shape":"CreateInstanceProfileResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>CreateInstanceProfile</a>action.</p>",
        "resultWrapper":"CreateInstanceProfileResult"
      },
      "errors":[
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p> Creates a new instance profile. For information about instance profiles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html\">About Instance Profiles</a>. </p> <p> For information about the number of instance profiles you can create, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on IAM Entities</a> in the <i>Using IAM</i> guide. </p>"
    },
    "CreateLoginProfile":{
      "name":"CreateLoginProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLoginProfileRequest"},
      "output":{
        "shape":"CreateLoginProfileResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>CreateLoginProfile</a> action.</p>",
        "resultWrapper":"CreateLoginProfileResult"
      },
      "errors":[
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"PasswordPolicyViolationException",
          "error":{
            "code":"PasswordPolicyViolation",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because the provided password did not meet the requirements imposed by the account password policy. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p> Creates a password for the specified user, giving the user the ability to access AWS services through the AWS Management Console. For more information about managing passwords, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingLogins.html\">Managing Passwords</a> in the <i>Using IAM</i> guide. </p>"
    },
    "CreateOpenIDConnectProvider":{
      "name":"CreateOpenIDConnectProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateOpenIDConnectProviderRequest"},
      "output":{
        "shape":"CreateOpenIDConnectProviderResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>CreateOpenIDConnectProvider</a> action.</p>",
        "resultWrapper":"CreateOpenIDConnectProviderResult"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p>Creates an IAM entity to describe an identity provider (IdP) that supports <a href=\"http://openid.net/connect/\">OpenID Connect (OIDC)</a>. </p> <p>The OIDC provider that you create with this operation can be used as a principal in a role's trust policy to establish a trust relationship between AWS and the OIDC provider. </p> <p>When you create the IAM OIDC provider, you specify the URL of the OIDC identity provider (IdP) to trust, a list of client IDs (also known as audiences) that identify the application or applications that are allowed to authenticate using the OIDC provider, and a list of thumbprints of the server certificate(s) that the IdP uses. You get all of this information from the OIDC IdP that you want to use for access to AWS. </p> <note>Because trust for the OIDC provider is ultimately derived from the IAM provider that this action creates, it is a best practice to limit access to the <a>CreateOpenIDConnectProvider</a> action to highly-privileged users. </note>"
    },
    "CreateRole":{
      "name":"CreateRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateRoleRequest"},
      "output":{
        "shape":"CreateRoleResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>CreateRole</a> action.</p>",
        "resultWrapper":"CreateRoleResult"
      },
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"MalformedPolicyDocumentException",
          "error":{
            "code":"MalformedPolicyDocument",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because the policy document was malformed. The error message describes the specific error. </p>"
        }
      ],
      "documentation":"<p> Creates a new role for your AWS account. For more information about roles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">Working with Roles</a>. For information about limitations on role names and the number of roles you can create, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on IAM Entities</a> in the <i>Using IAM</i> guide. </p> <p> The example policy grants permission to an EC2 instance to assume the role. The policy is URL-encoded according to RFC 3986. For more information about RFC 3986, go to <a href=\"http://www.faqs.org/rfcs/rfc3986.html\">http://www.faqs.org/rfcs/rfc3986.html</a>. </p>"
    },
    "CreateSAMLProvider":{
      "name":"CreateSAMLProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSAMLProviderRequest"},
      "output":{
        "shape":"CreateSAMLProviderResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>CreateSAMLProvider</a> action.</p>",
        "resultWrapper":"CreateSAMLProviderResult"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p>Creates an IAM entity to describe an identity provider (IdP) that supports SAML 2.0.</p> <p> The SAML provider that you create with this operation can be used as a principal in a role's trust policy to establish a trust relationship between AWS and a SAML identity provider. You can create an IAM role that supports Web-based single sign-on (SSO) to the AWS Management Console or one that supports API access to AWS. </p> <p> When you create the SAML provider, you upload an a SAML metadata document that you get from your IdP and that includes the issuer's name, expiration information, and keys that can be used to validate the SAML authentication response (assertions) that are received from the IdP. You must generate the metadata document using the identity management software that is used as your organization's IdP. </p> <note> This operation requires <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>. </note> <p> For more information, see <a href=\"http://docs.aws.amazon.com/STS/latest/UsingSTS/STSMgmtConsole-SAML.html\">Giving Console Access Using SAML</a> and <a href=\"http://docs.aws.amazon.com/STS/latest/UsingSTS/CreatingSAML.html\">Creating Temporary Security Credentials for SAML Federation</a> in the <i>Using Temporary Credentials</i> guide. </p>"
    },
    "CreateUser":{
      "name":"CreateUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUserRequest"},
      "output":{
        "shape":"CreateUserResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>CreateUser</a> action.</p>",
        "resultWrapper":"CreateUserResult"
      },
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p>Creates a new user for your AWS account.</p> <p> For information about limitations on the number of users you can create, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on IAM Entities</a> in the <i>Using IAM</i> guide. </p>"
    },
    "CreateVirtualMFADevice":{
      "name":"CreateVirtualMFADevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateVirtualMFADeviceRequest"},
      "output":{
        "shape":"CreateVirtualMFADeviceResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>CreateVirtualMFADevice</a> action.</p>",
        "resultWrapper":"CreateVirtualMFADeviceResult"
      },
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        }
      ],
      "documentation":"<p> Creates a new virtual MFA device for the AWS account. After creating the virtual MFA, use <a href=\"http://docs.aws.amazon.com/IAM/latest/APIReference/API_EnableMFADevice.html\">EnableMFADevice</a> to attach the MFA device to an IAM user. For more information about creating and working with virtual MFA devices, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_VirtualMFA.html\">Using a Virtual MFA Device</a> in the <i>Using IAM</i> guide. </p> <p> For information about limits on the number of MFA devices you can create, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on Entities</a> in the <i>Using IAM</i> guide. </p> <important> The seed information contained in the QR code and the Base32 string should be treated like any other secret access information, such as your AWS access keys or your passwords. After you provision your virtual device, you should ensure that the information is destroyed following secure procedures. </important>"
    },
    "DeactivateMFADevice":{
      "name":"DeactivateMFADevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeactivateMFADeviceRequest"},
      "errors":[
        {
          "shape":"EntityTemporarilyUnmodifiableException",
          "error":{
            "code":"EntityTemporarilyUnmodifiable",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that is temporarily unmodifiable, such as a user name that was deleted and then recreated. The error indicates that the request is likely to succeed if you try again after waiting several minutes. The error message describes the entity. </p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p>Deactivates the specified MFA device and removes it from association with the user name for which it was originally enabled. </p> <p>For more information about creating and working with virtual MFA devices, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_VirtualMFA.html\">Using a Virtual MFA Device</a> in the <i>Using IAM</i> guide. </p>"
    },
    "DeleteAccessKey":{
      "name":"DeleteAccessKey",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAccessKeyRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p>Deletes the access key associated with the specified user.</p> <p> If you do not specify a user name, IAM determines the user name implicitly based on the AWS access key ID signing the request. Because this action works for access keys under the AWS account, you can use this action to manage root credentials even if the AWS account has no associated users. </p>"
    },
    "DeleteAccountAlias":{
      "name":"DeleteAccountAlias",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAccountAliasRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p> Deletes the specified AWS account alias. For information about using an AWS account alias, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/AccountAlias.html\">Using an Alias for Your AWS Account ID</a> in the <i>Using IAM</i> guide. </p>"
    },
    "DeleteAccountPasswordPolicy":{
      "name":"DeleteAccountPasswordPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p>Deletes the password policy for the AWS account.</p>"
    },
    "DeleteGroup":{
      "name":"DeleteGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGroupRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"DeleteConflictException",
          "error":{
            "code":"DeleteConflict",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to delete a resource that has attached subordinate entities. The error message describes these entities. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p> Deletes the specified group. The group must not contain any users or have any attached policies. </p>"
    },
    "DeleteGroupPolicy":{
      "name":"DeleteGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteGroupPolicyRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p>Deletes the specified policy that is associated with the specified group.</p>"
    },
    "DeleteInstanceProfile":{
      "name":"DeleteInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInstanceProfileRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"DeleteConflictException",
          "error":{
            "code":"DeleteConflict",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to delete a resource that has attached subordinate entities. The error message describes these entities. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p> Deletes the specified instance profile. The instance profile must not have an associated role. </p> <important> Make sure you do not have any Amazon EC2 instances running with the instance profile you are about to delete. Deleting a role or instance profile that is associated with a running instance will break any applications running on the instance. </important> <p> For more information about instance profiles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html\">About Instance Profiles</a>. </p>"
    },
    "DeleteLoginProfile":{
      "name":"DeleteLoginProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLoginProfileRequest"},
      "errors":[
        {
          "shape":"EntityTemporarilyUnmodifiableException",
          "error":{
            "code":"EntityTemporarilyUnmodifiable",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that is temporarily unmodifiable, such as a user name that was deleted and then recreated. The error indicates that the request is likely to succeed if you try again after waiting several minutes. The error message describes the entity. </p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p> Deletes the password for the specified user, which terminates the user's ability to access AWS services through the AWS Management Console. </p> <important> Deleting a user's password does not prevent a user from accessing IAM through the command line interface or the API. To prevent all user access you must also either make the access key inactive or delete it. For more information about making keys inactive or deleting them, see <a>UpdateAccessKey</a> and <a>DeleteAccessKey</a>. </important>"
    },
    "DeleteOpenIDConnectProvider":{
      "name":"DeleteOpenIDConnectProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteOpenIDConnectProviderRequest"},
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p>Deletes an IAM OpenID Connect identity provider.</p> <p>Deleting an OIDC provider does not update any roles that reference the provider as a principal in their trust policies. Any attempt to assume a role that references a provider that has been deleted will fail. </p> <p>This action is idempotent; it does not fail or return an error if you call the action for a provider that was already deleted.</p>"
    },
    "DeleteRole":{
      "name":"DeleteRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRoleRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"DeleteConflictException",
          "error":{
            "code":"DeleteConflict",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to delete a resource that has attached subordinate entities. The error message describes these entities. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p> Deletes the specified role. The role must not have any policies attached. For more information about roles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">Working with Roles</a>. </p> <important> Make sure you do not have any Amazon EC2 instances running with the role you are about to delete. Deleting a role or instance profile that is associated with a running instance will break any applications running on the instance. </important>"
    },
    "DeleteRolePolicy":{
      "name":"DeleteRolePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteRolePolicyRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p>Deletes the specified policy associated with the specified role.</p>"
    },
    "DeleteSAMLProvider":{
      "name":"DeleteSAMLProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSAMLProviderRequest"},
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p>Deletes a SAML provider.</p> <p> Deleting the provider does not update any roles that reference the SAML provider as a principal in their trust policies. Any attempt to assume a role that references a SAML provider that has been deleted will fail. </p> <note> This operation requires <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>. </note>"
    },
    "DeleteServerCertificate":{
      "name":"DeleteServerCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteServerCertificateRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"DeleteConflictException",
          "error":{
            "code":"DeleteConflict",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to delete a resource that has attached subordinate entities. The error message describes these entities. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p>Deletes the specified server certificate.</p> <important> If you are using a server certificate with Elastic Load Balancing, deleting the certificate could have implications for your application. If Elastic Load Balancing doesn't detect the deletion of bound certificates, it may continue to use the certificates. This could cause Elastic Load Balancing to stop accepting traffic. We recommend that you remove the reference to the certificate from Elastic Load Balancing before using this command to delete the certificate. For more information, go to <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/APIReference/API_DeleteLoadBalancerListeners.html\" target=\"blank\">DeleteLoadBalancerListeners</a> in the <i>Elastic Load Balancing API Reference</i>. </important>"
    },
    "DeleteSigningCertificate":{
      "name":"DeleteSigningCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSigningCertificateRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p>Deletes the specified signing certificate associated with the specified user.</p> <p> If you do not specify a user name, IAM determines the user name implicitly based on the AWS access key ID signing the request. Because this action works for access keys under the AWS account, you can use this action to manage root credentials even if the AWS account has no associated users. </p>"
    },
    "DeleteUser":{
      "name":"DeleteUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserRequest"},
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"DeleteConflictException",
          "error":{
            "code":"DeleteConflict",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to delete a resource that has attached subordinate entities. The error message describes these entities. </p>"
        }
      ],
      "documentation":"<p> Deletes the specified user. The user must not belong to any groups, have any keys or signing certificates, or have any attached policies. </p>"
    },
    "DeleteUserPolicy":{
      "name":"DeleteUserPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserPolicyRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p>Deletes the specified policy associated with the specified user.</p>"
    },
    "DeleteVirtualMFADevice":{
      "name":"DeleteVirtualMFADevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteVirtualMFADeviceRequest"},
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"DeleteConflictException",
          "error":{
            "code":"DeleteConflict",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to delete a resource that has attached subordinate entities. The error message describes these entities. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p>Deletes a virtual MFA device.</p> <note> You must deactivate a user's virtual MFA device before you can delete it. For information about deactivating MFA devices, see <a href=\"http://docs.aws.amazon.com/IAM/latest/APIReference/API_DeactivateMFADevice.html\">DeactivateMFADevice</a>. </note>"
    },
    "EnableMFADevice":{
      "name":"EnableMFADevice",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableMFADeviceRequest"},
      "errors":[
        {
          "shape":"EntityAlreadyExistsException",
          "error":{
            "code":"EntityAlreadyExists",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because it attempted to create a resource that already exists.</p>"
        },
        {
          "shape":"EntityTemporarilyUnmodifiableException",
          "error":{
            "code":"EntityTemporarilyUnmodifiable",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that is temporarily unmodifiable, such as a user name that was deleted and then recreated. The error indicates that the request is likely to succeed if you try again after waiting several minutes. The error message describes the entity. </p>"
        },
        {
          "shape":"InvalidAuthenticationCodeException",
          "error":{
            "code":"InvalidAuthenticationCode",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because the authentication code was not recognized. The error message describes the specific error. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p> Enables the specified MFA device and associates it with the specified user name. When enabled, the MFA device is required for every subsequent login by the user name associated with the device. </p>"
    },
    "GenerateCredentialReport":{
      "name":"GenerateCredentialReport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"GenerateCredentialReportResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GenerateCredentialReport</a> action.</p>",
        "resultWrapper":"GenerateCredentialReportResult"
      },
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        }
      ],
      "documentation":"<p> Generates a credential report for the AWS account. For more information about the credential report, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/credential-reports.html\">Getting Credential Reports</a> in the <i>Using IAM</i> guide. </p>"
    },
    "GetAccountAuthorizationDetails":{
      "name":"GetAccountAuthorizationDetails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetAccountAuthorizationDetailsRequest"},
      "output":{
        "shape":"GetAccountAuthorizationDetailsResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetAccountAuthorizationDetails</a> action.</p>",
        "resultWrapper":"GetAccountAuthorizationDetailsResult"
      },
      "documentation":"<p>Retrieves information about all IAM users, groups, and roles in your account, including their relationships to one another and their attached policies. Use this API to obtain a snapshot of the configuration of IAM permissions (users, groups, roles, and policies) in your account.</p> <p>You can optionally filter the results using the <code>Filter</code> parameter. You can paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters.</p>"
    },
    "GetAccountPasswordPolicy":{
      "name":"GetAccountPasswordPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"GetAccountPasswordPolicyResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetAccountPasswordPolicy</a> action.</p>",
        "resultWrapper":"GetAccountPasswordPolicyResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p> Retrieves the password policy for the AWS account. For more information about using a password policy, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_ManagingPasswordPolicies.html\">Managing an IAM Password Policy</a>. </p>"
    },
    "GetAccountSummary":{
      "name":"GetAccountSummary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"GetAccountSummaryResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetAccountSummary</a> action.</p>",
        "resultWrapper":"GetAccountSummaryResult"
      },
      "documentation":"<p>Retrieves account level information about account entity usage and IAM quotas.</p> <p> For information about limitations on IAM entities, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/LimitationsOnEntities.html\">Limitations on IAM Entities</a> in the <i>Using IAM</i> guide. </p>"
    },
    "GetCredentialReport":{
      "name":"GetCredentialReport",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"GetCredentialReportResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetCredentialReport</a> action.</p>",
        "resultWrapper":"GetCredentialReportResult"
      },
      "errors":[
        {
          "shape":"CredentialReportNotPresentException",
          "error":{
            "code":"ReportNotPresent",
            "httpStatusCode":410,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because the credential report does not exist. To generate a credential report, use <a>GenerateCredentialReport</a>. </p>"
        },
        {
          "shape":"CredentialReportExpiredException",
          "error":{
            "code":"ReportExpired",
            "httpStatusCode":410,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because the most recent credential report has expired. To generate a new credential report, use <a>GenerateCredentialReport</a>. For more information about credential report expiration, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/credential-reports.html\">Getting Credential Reports</a> in the <i>Using IAM</i> guide. </p>"
        },
        {
          "shape":"CredentialReportNotReadyException",
          "error":{
            "code":"ReportInProgress",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because the credential report is still being generated.</p>"
        }
      ],
      "documentation":"<p> Retrieves a credential report for the AWS account. For more information about the credential report, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/credential-reports.html\">Getting Credential Reports</a> in the <i>Using IAM</i> guide. </p>"
    },
    "GetGroup":{
      "name":"GetGroup",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetGroupRequest"},
      "output":{
        "shape":"GetGroupResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetGroup</a> action.</p>",
        "resultWrapper":"GetGroupResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p> Returns a list of users that are in the specified group. You can paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters. </p>"
    },
    "GetGroupPolicy":{
      "name":"GetGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetGroupPolicyRequest"},
      "output":{
        "shape":"GetGroupPolicyResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetGroupPolicy</a> action.</p>",
        "resultWrapper":"GetGroupPolicyResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p> Retrieves the specified policy document for the specified group. The returned policy is URL-encoded according to RFC 3986. For more information about RFC 3986, go to <a href=\"http://www.faqs.org/rfcs/rfc3986.html\">http://www.faqs.org/rfcs/rfc3986.html</a>. </p>"
    },
    "GetInstanceProfile":{
      "name":"GetInstanceProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetInstanceProfileRequest"},
      "output":{
        "shape":"GetInstanceProfileResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetInstanceProfile</a> action.</p>",
        "resultWrapper":"GetInstanceProfileResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p> Retrieves information about the specified instance profile, including the instance profile's path, GUID, ARN, and role. For more information about instance profiles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html\">About Instance Profiles</a>. For more information about ARNs, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html#Identifiers_ARNs\">ARNs</a>. </p>"
    },
    "GetLoginProfile":{
      "name":"GetLoginProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetLoginProfileRequest"},
      "output":{
        "shape":"GetLoginProfileResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetLoginProfile</a> action.</p>",
        "resultWrapper":"GetLoginProfileResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p> Retrieves the user name and password-creation date for the specified user. If the user has not been assigned a password, the action returns a 404 (<code>NoSuchEntity</code>) error. </p>"
    },
    "GetOpenIDConnectProvider":{
      "name":"GetOpenIDConnectProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetOpenIDConnectProviderRequest"},
      "output":{
        "shape":"GetOpenIDConnectProviderResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetOpenIDConnectProvider</a> action.</p>",
        "resultWrapper":"GetOpenIDConnectProviderResult"
      },
      "errors":[
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        },
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p>Returns information about the specified OpenID Connect provider.</p>"
    },
    "GetRole":{
      "name":"GetRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRoleRequest"},
      "output":{
        "shape":"GetRoleResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetRole</a> action.</p>",
        "resultWrapper":"GetRoleResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p> Retrieves information about the specified role, including the role's path, GUID, ARN, and the policy granting permission to assume the role. For more information about ARNs, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html#Identifiers_ARNs\">ARNs</a>. For more information about roles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">Working with Roles</a>. </p> <p> The returned policy is URL-encoded according to RFC 3986. For more information about RFC 3986, go to <a href=\"http://www.faqs.org/rfcs/rfc3986.html\">http://www.faqs.org/rfcs/rfc3986.html</a>. </p>"
    },
    "GetRolePolicy":{
      "name":"GetRolePolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetRolePolicyRequest"},
      "output":{
        "shape":"GetRolePolicyResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetRolePolicy</a> action.</p>",
        "resultWrapper":"GetRolePolicyResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p> Retrieves the specified policy document for the specified role. For more information about roles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">Working with Roles</a>. </p> <p> The returned policy is URL-encoded according to RFC 3986. For more information about RFC 3986, go to <a href=\"http://www.faqs.org/rfcs/rfc3986.html\">http://www.faqs.org/rfcs/rfc3986.html</a>. </p>"
    },
    "GetSAMLProvider":{
      "name":"GetSAMLProvider",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetSAMLProviderRequest"},
      "output":{
        "shape":"GetSAMLProviderResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetSAMLProvider</a> action.</p>",
        "resultWrapper":"GetSAMLProviderResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        },
        {
          "shape":"InvalidInputException",
          "error":{
            "code":"InvalidInput",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The request was rejected because an invalid or out-of-range value was supplied for an input parameter.</p>"
        }
      ],
      "documentation":"<p> Returns the SAML provider metadocument that was uploaded when the provider was created or updated. </p> <note> This operation requires <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>. </note>"
    },
    "GetServerCertificate":{
      "name":"GetServerCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetServerCertificateRequest"},
      "output":{
        "shape":"GetServerCertificateResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetServerCertificate</a> action.</p>",
        "resultWrapper":"GetServerCertificateResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p>Retrieves information about the specified server certificate.</p>"
    },
    "GetUser":{
      "name":"GetUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetUserRequest"},
      "output":{
        "shape":"GetUserResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetUser</a> action.</p>",
        "resultWrapper":"GetUserResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p>Retrieves information about the specified user, including the user's creation date, path, unique ID, and ARN. </p> <p>If you do not specify a user name, IAM determines the user name implicitly based on the AWS access key ID used to sign the request. </p>"
    },
    "GetUserPolicy":{
      "name":"GetUserPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetUserPolicyRequest"},
      "output":{
        "shape":"GetUserPolicyResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>GetUserPolicy</a> action.</p>",
        "resultWrapper":"GetUserPolicyResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p> Retrieves the specified policy document for the specified user. The returned policy is URL-encoded according to RFC 3986. For more information about RFC 3986, go to <a href=\"http://www.faqs.org/rfcs/rfc3986.html\">http://www.faqs.org/rfcs/rfc3986.html</a>. </p>"
    },
    "ListAccessKeys":{
      "name":"ListAccessKeys",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAccessKeysRequest"},
      "output":{
        "shape":"ListAccessKeysResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>ListAccessKeys</a> action.</p>",
        "resultWrapper":"ListAccessKeysResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p> Returns information about the access key IDs associated with the specified user. If there are none, the action returns an empty list. </p> <p> Although each user is limited to a small number of keys, you can still paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters. </p> <p> If the <code>UserName</code> field is not specified, the UserName is determined implicitly based on the AWS access key ID used to sign the request. Because this action works for access keys under the AWS account, you can use this action to manage root credentials even if the AWS account has no associated users. </p> <note> To ensure the security of your AWS account, the secret access key is accessible only during key and user creation. </note>"
    },
    "ListAccountAliases":{
      "name":"ListAccountAliases",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListAccountAliasesRequest"},
      "output":{
        "shape":"ListAccountAliasesResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>ListAccountAliases</a> action.</p>",
        "resultWrapper":"ListAccountAliasesResult"
      },
      "documentation":"<p> Lists the account aliases associated with the account. For information about using an AWS account alias, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/AccountAlias.html\">Using an Alias for Your AWS Account ID</a> in the <i>Using IAM</i> guide. </p> <p> You can paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters. </p>"
    },
    "ListGroupPolicies":{
      "name":"ListGroupPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListGroupPoliciesRequest"},
      "output":{
        "shape":"ListGroupPoliciesResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>ListGroupPolicies</a> action.</p>",
        "resultWrapper":"ListGroupPoliciesResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p> Lists the names of the policies associated with the specified group. If there are none, the action returns an empty list. </p> <p> You can paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters. </p>"
    },
    "ListGroups":{
      "name":"ListGroups",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListGroupsRequest"},
      "output":{
        "shape":"ListGroupsResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>ListGroups</a> action.</p>",
        "resultWrapper":"ListGroupsResult"
      },
      "documentation":"<p>Lists the groups that have the specified path prefix.</p> <p> You can paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters. </p>"
    },
    "ListGroupsForUser":{
      "name":"ListGroupsForUser",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListGroupsForUserRequest"},
      "output":{
        "shape":"ListGroupsForUserResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>ListGroupsForUser</a> action.</p>",
        "resultWrapper":"ListGroupsForUserResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p>Lists the groups the specified user belongs to.</p> <p> You can paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters. </p>"
    },
    "ListInstanceProfiles":{
      "name":"ListInstanceProfiles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListInstanceProfilesRequest"},
      "output":{
        "shape":"ListInstanceProfilesResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>ListInstanceProfiles</a> action.</p>",
        "resultWrapper":"ListInstanceProfilesResult"
      },
      "documentation":"<p> Lists the instance profiles that have the specified path prefix. If there are none, the action returns an empty list. For more information about instance profiles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html\">About Instance Profiles</a>. </p> <p> You can paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters. </p>"
    },
    "ListInstanceProfilesForRole":{
      "name":"ListInstanceProfilesForRole",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListInstanceProfilesForRoleRequest"},
      "output":{
        "shape":"ListInstanceProfilesForRoleResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>ListInstanceProfilesForRole</a> action.</p>",
        "resultWrapper":"ListInstanceProfilesForRoleResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p> Lists the instance profiles that have the specified associated role. If there are none, the action returns an empty list. For more information about instance profiles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/AboutInstanceProfiles.html\">About Instance Profiles</a>. </p> <p> You can paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters. </p>"
    },
    "ListMFADevices":{
      "name":"ListMFADevices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListMFADevicesRequest"},
      "output":{
        "shape":"ListMFADevicesResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>ListMFADevices</a> action.</p>",
        "resultWrapper":"ListMFADevicesResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p> Lists the MFA devices. If the request includes the user name, then this action lists all the MFA devices associated with the specified user name. If you do not specify a user name, IAM determines the user name implicitly based on the AWS access key ID signing the request. </p> <p> You can paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters. </p>"
    },
    "ListOpenIDConnectProviders":{
      "name":"ListOpenIDConnectProviders",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListOpenIDConnectProvidersRequest"},
      "output":{
        "shape":"ListOpenIDConnectProvidersResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>ListOpenIDConnectProviders</a> action.</p>",
        "resultWrapper":"ListOpenIDConnectProvidersResult"
      },
      "documentation":"<p>Lists information about the OpenID Connect providers in the AWS account. </p>"
    },
    "ListRolePolicies":{
      "name":"ListRolePolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRolePoliciesRequest"},
      "output":{
        "shape":"ListRolePoliciesResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>ListRolePolicies</a> action.</p>",
        "resultWrapper":"ListRolePoliciesResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p> Lists the names of the policies associated with the specified role. If there are none, the action returns an empty list. </p> <p> You can paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters. </p>"
    },
    "ListRoles":{
      "name":"ListRoles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListRolesRequest"},
      "output":{
        "shape":"ListRolesResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>ListRoles</a> action.</p>",
        "resultWrapper":"ListRolesResult"
      },
      "documentation":"<p> Lists the roles that have the specified path prefix. If there are none, the action returns an empty list. For more information about roles, go to <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/WorkingWithRoles.html\">Working with Roles</a>. </p> <p> You can paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters. </p> <p> The returned policy is URL-encoded according to RFC 3986. For more information about RFC 3986, go to <a href=\"http://www.faqs.org/rfcs/rfc3986.html\">http://www.faqs.org/rfcs/rfc3986.html</a>. </p>"
    },
    "ListSAMLProviders":{
      "name":"ListSAMLProviders",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSAMLProvidersRequest"},
      "output":{
        "shape":"ListSAMLProvidersResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>ListSAMLProviders</a> action.</p>",
        "resultWrapper":"ListSAMLProvidersResult"
      },
      "documentation":"<p>Lists the SAML providers in the account.</p> <note> This operation requires <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature Version 4</a>. </note>"
    },
    "ListServerCertificates":{
      "name":"ListServerCertificates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListServerCertificatesRequest"},
      "output":{
        "shape":"ListServerCertificatesResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>ListServerCertificates</a> action.</p>",
        "resultWrapper":"ListServerCertificatesResult"
      },
      "documentation":"<p> Lists the server certificates that have the specified path prefix. If none exist, the action returns an empty list. </p> <p> You can paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters. </p>"
    },
    "ListSigningCertificates":{
      "name":"ListSigningCertificates",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListSigningCertificatesRequest"},
      "output":{
        "shape":"ListSigningCertificatesResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>ListSigningCertificates</a> action.</p>",
        "resultWrapper":"ListSigningCertificatesResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p> Returns information about the signing certificates associated with the specified user. If there are none, the action returns an empty list. </p> <p> Although each user is limited to a small number of signing certificates, you can still paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters. </p> <p> If the <code>UserName</code> field is not specified, the user name is determined implicitly based on the AWS access key ID used to sign the request. Because this action works for access keys under the AWS account, you can use this action to manage root credentials even if the AWS account has no associated users. </p>"
    },
    "ListUserPolicies":{
      "name":"ListUserPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUserPoliciesRequest"},
      "output":{
        "shape":"ListUserPoliciesResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>ListUserPolicies</a> action.</p>",
        "resultWrapper":"ListUserPoliciesResult"
      },
      "errors":[
        {
          "shape":"NoSuchEntityException",
          "error":{
            "code":"NoSuchEntity",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it referenced an entity that does not exist. The error message describes the entity. </p>"
        }
      ],
      "documentation":"<p> Lists the names of the policies associated with the specified user. If there are none, the action returns an empty list. </p> <p> You can paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters. </p>"
    },
    "ListUsers":{
      "name":"ListUsers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListUsersRequest"},
      "output":{
        "shape":"ListUsersResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>ListUsers</a> action.</p>",
        "resultWrapper":"ListUsersResult"
      },
      "documentation":"<p>Lists the IAM users that have the specified path prefix. If no path prefix is specified, the action returns all users in the AWS account. If there are none, the action returns an empty list. </p> <p>You can paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters. </p>"
    },
    "ListVirtualMFADevices":{
      "name":"ListVirtualMFADevices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListVirtualMFADevicesRequest"},
      "output":{
        "shape":"ListVirtualMFADevicesResponse",
        "documentation":"<p>Contains the result of a successful invocation of the <a>ListVirtualMFADevices</a>action.</p>",
        "resultWrapper":"ListVirtualMFADevicesResult"
      },
      "documentation":"<p> Lists the virtual MFA devices under the AWS account by assignment status. If you do not specify an assignment status, the action returns a list of all virtual MFA devices. Assignment status can be <code>Assigned</code>, <code>Unassigned</code>, or <code>Any</code>. </p> <p> You can paginate the results using the <code>MaxItems</code> and <code>Marker</code> parameters. </p>"
    },
    "PutGroupPolicy":{
      "name":"PutGroupPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"PutGroupPolicyRequest"},
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceeded",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The request was rejected because it attempted to create resources beyond the current AWS account limits. The error message describes the limit exceeded. </p>"
        },
        {
          "shape":"MalformedPolicyDocumentException",
          "error":{
            "code":"MalformedPolicyDocument",
            "httpStatusCode":400,
[...]
