{
  "metadata":{
    "apiVersion":"2013-11-01",
    "endpointPrefix":"cloudtrail",
    "jsonVersion":"1.1",
    "serviceAbbreviation":"CloudTrail",
    "serviceFullName":"AWS CloudTrail",
    "signatureVersion":"v4",
    "targetPrefix":"com.amazonaws.cloudtrail.v20131101.CloudTrail_20131101",
    "protocol":"json"
  },
  "documentation":"<fullname>AWS CloudTrail</fullname> <p>This is the CloudTrail API Reference. It provides descriptions of actions, data types, common parameters, and common errors for CloudTrail.</p> <p>CloudTrail is a web service that records AWS API calls for your AWS account and delivers log files to an Amazon S3 bucket. The recorded information includes the identity of the user, the start time of the AWS API call, the source IP address, the request parameters, and the response elements returned by the service.</p> <note> As an alternative to using the API, you can use one of the AWS SDKs, which consist of libraries and sample code for various programming languages and platforms (Java, Ruby, .NET, iOS, Android, etc.). The SDKs provide a convenient way to create programmatic access to AWSCloudTrail. For example, the SDKs take care of cryptographically signing requests, managing errors, and retrying requests automatically. For information about the AWS SDKs, including how to download and install them, see the <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services page</a>. </note> <p>See the CloudTrail User Guide for information about the data that is included with each AWS API call listed in the log files.</p>",
  "operations":{
    "CreateTrail":{
      "name":"CreateTrail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateTrailRequest",
        "documentation":"<p>Specifies the settings for each trail.</p>"
      },
      "output":{
        "shape":"CreateTrailResponse",
        "documentation":"Returns the objects or data listed below if successful. Otherwise, returns an error."
      },
      "errors":[
        {
          "shape":"MaximumNumberOfTrailsExceededException",
          "error":{
            "code":"MaximumNumberOfTrailsExceeded",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the maximum number of trails is reached."
        },
        {
          "shape":"TrailAlreadyExistsException",
          "error":{
            "code":"TrailAlreadyExists",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the specified trail already exists."
        },
        {
          "shape":"S3BucketDoesNotExistException",
          "error":{
            "code":"S3BucketDoesNotExist",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the specified S3 bucket does not exist."
        },
        {
          "shape":"InsufficientS3BucketPolicyException",
          "error":{
            "code":"InsufficientS3BucketPolicy",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the policy on the S3 bucket is not sufficient."
        },
        {
          "shape":"InsufficientSnsTopicPolicyException",
          "error":{
            "code":"InsufficientSnsTopicPolicy",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the policy on the SNS topic is not sufficient."
        },
        {
          "shape":"InvalidS3BucketNameException",
          "error":{
            "code":"InvalidS3BucketName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the provided S3 bucket name is not valid."
        },
        {
          "shape":"InvalidS3PrefixException",
          "error":{
            "code":"InvalidS3Prefix",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the provided S3 prefix is not valid."
        },
        {
          "shape":"InvalidSnsTopicNameException",
          "error":{
            "code":"InvalidSnsTopicName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the provided SNS topic name is not valid."
        },
        {
          "shape":"InvalidTrailNameException",
          "error":{
            "code":"InvalidTrailName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the provided trail name is not valid."
        },
        {
          "shape":"InvalidCloudWatchLogsLogGroupArnException",
          "error":{
            "code":"InvalidCloudWatchLogsLogGroupArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the provided CloudWatch log group is not valid."
        },
        {
          "shape":"InvalidCloudWatchLogsRoleArnException",
          "error":{
            "code":"InvalidCloudWatchLogsRoleArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the provided role is not valid."
        },
        {
          "shape":"CloudWatchLogsDeliveryUnavailableException",
          "error":{
            "code":"CloudWatchLogsDeliveryUnavailable",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"Cannot set a CloudWatch Logs delivery for this region."
        }
      ],
      "documentation":"<p>From the command line, use <code>create-subscription</code>. </p> <p>Creates a trail that specifies the settings for delivery of log data to an Amazon S3 bucket. </p>"
    },
    "DeleteTrail":{
      "name":"DeleteTrail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteTrailRequest",
        "documentation":"<a>The request that specifies the name of a trail to delete.</a>"
      },
      "output":{
        "shape":"DeleteTrailResponse",
        "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "errors":[
        {
          "shape":"TrailNotFoundException",
          "error":{
            "code":"TrailNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the trail with the given name is not found."
        },
        {
          "shape":"InvalidTrailNameException",
          "error":{
            "code":"InvalidTrailName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the provided trail name is not valid."
        }
      ],
      "documentation":"<p>Deletes a trail.</p>"
    },
    "DescribeTrails":{
      "name":"DescribeTrails",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeTrailsRequest",
        "documentation":"<p>Returns information about the trail.</p>"
      },
      "output":{
        "shape":"DescribeTrailsResponse",
        "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "documentation":"<p>Retrieves settings for the trail associated with the current region for your account.</p>"
    },
    "GetTrailStatus":{
      "name":"GetTrailStatus",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"GetTrailStatusRequest",
        "documentation":"<p>The name of a trail about which you want the current status.</p>"
      },
      "output":{
        "shape":"GetTrailStatusResponse",
        "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "errors":[
        {
          "shape":"TrailNotFoundException",
          "error":{
            "code":"TrailNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the trail with the given name is not found."
        },
        {
          "shape":"InvalidTrailNameException",
          "error":{
            "code":"InvalidTrailName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the provided trail name is not valid."
        }
      ],
      "documentation":"<p>Returns a JSON-formatted list of information about the specified trail. Fields include information on delivery errors, Amazon SNS and Amazon S3 errors, and start and stop logging times for each trail. </p>"
    },
    "StartLogging":{
      "name":"StartLogging",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"StartLoggingRequest",
        "documentation":"<p>The request to CloudTrail to start logging AWS API calls for an account.</p>"
      },
      "output":{
        "shape":"StartLoggingResponse",
        "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "errors":[
        {
          "shape":"TrailNotFoundException",
          "error":{
            "code":"TrailNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the trail with the given name is not found."
        },
        {
          "shape":"InvalidTrailNameException",
          "error":{
            "code":"InvalidTrailName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the provided trail name is not valid."
        }
      ],
      "documentation":"<p>Starts the recording of AWS API calls and log file delivery for a trail.</p>"
    },
    "StopLogging":{
      "name":"StopLogging",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"StopLoggingRequest",
        "documentation":"<p>Passes the request to CloudTrail to stop logging AWS API calls for the specified account.</p>"
      },
      "output":{
        "shape":"StopLoggingResponse",
        "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
      },
      "errors":[
        {
          "shape":"TrailNotFoundException",
          "error":{
            "code":"TrailNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the trail with the given name is not found."
        },
        {
          "shape":"InvalidTrailNameException",
          "error":{
            "code":"InvalidTrailName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the provided trail name is not valid."
        }
      ],
      "documentation":"<p>Suspends the recording of AWS API calls and log file delivery for the specified trail. Under most circumstances, there is no need to use this action. You can update a trail without stopping it first. This action is the only way to stop recording.</p>"
    },
    "UpdateTrail":{
      "name":"UpdateTrail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateTrailRequest",
        "documentation":"<p>Specifies settings to update for the trail.</p>"
      },
      "output":{
        "shape":"UpdateTrailResponse",
        "documentation":"Returns the objects or data listed below if successful. Otherwise, returns an error."
      },
      "errors":[
        {
          "shape":"S3BucketDoesNotExistException",
          "error":{
            "code":"S3BucketDoesNotExist",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the specified S3 bucket does not exist."
        },
        {
          "shape":"InsufficientS3BucketPolicyException",
          "error":{
            "code":"InsufficientS3BucketPolicy",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the policy on the S3 bucket is not sufficient."
        },
        {
          "shape":"InsufficientSnsTopicPolicyException",
          "error":{
            "code":"InsufficientSnsTopicPolicy",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the policy on the SNS topic is not sufficient."
        },
        {
          "shape":"TrailNotFoundException",
          "error":{
            "code":"TrailNotFound",
            "httpStatusCode":404,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the trail with the given name is not found."
        },
        {
          "shape":"InvalidS3BucketNameException",
          "error":{
            "code":"InvalidS3BucketName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the provided S3 bucket name is not valid."
        },
        {
          "shape":"InvalidS3PrefixException",
          "error":{
            "code":"InvalidS3Prefix",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the provided S3 prefix is not valid."
        },
        {
          "shape":"InvalidSnsTopicNameException",
          "error":{
            "code":"InvalidSnsTopicName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the provided SNS topic name is not valid."
        },
        {
          "shape":"InvalidTrailNameException",
          "error":{
            "code":"InvalidTrailName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the provided trail name is not valid."
        },
        {
          "shape":"InvalidCloudWatchLogsLogGroupArnException",
          "error":{
            "code":"InvalidCloudWatchLogsLogGroupArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the provided CloudWatch log group is not valid."
        },
        {
          "shape":"InvalidCloudWatchLogsRoleArnException",
          "error":{
            "code":"InvalidCloudWatchLogsRoleArn",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"This exception is thrown when the provided role is not valid."
        },
        {
          "shape":"CloudWatchLogsDeliveryUnavailableException",
          "error":{
            "code":"CloudWatchLogsDeliveryUnavailable",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"Cannot set a CloudWatch Logs delivery for this region."
        }
      ],
      "documentation":"<p>From the command line, use <code>update-subscription</code>.</p> <p>Updates the settings that specify delivery of log files. Changes to a trail do not require stopping the CloudTrail service. Use this action to designate an existing bucket for log delivery. If the existing bucket has previously been a target for CloudTrail log files, an IAM policy exists for the bucket. </p>"
    }
  },
  "shapes":{
    "Boolean":{"type":"boolean"},
    "CloudWatchLogsDeliveryUnavailableException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"CloudWatchLogsDeliveryUnavailable",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"Cannot set a CloudWatch Logs delivery for this region."
    },
    "CreateTrailRequest":{
      "type":"structure",
      "required":[
        "Name",
        "S3BucketName"
      ],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the trail.</p>"
        },
        "S3BucketName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the Amazon S3 bucket designated for publishing log files.</p>"
        },
        "S3KeyPrefix":{
          "shape":"String",
          "documentation":"<p>Specifies the Amazon S3 key prefix that precedes the name of the bucket you have designated for log file delivery.</p>"
        },
        "SnsTopicName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the Amazon SNS topic defined for notification of log file delivery.</p>"
        },
        "IncludeGlobalServiceEvents":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the trail is publishing events from global services such as IAM to the log files. </p>"
        },
        "CloudWatchLogsLogGroupArn":{
          "shape":"String",
          "documentation":"<p>Specifies a log group name using an Amazon Resource Name (ARN), a unique identifier that represents the log group to which CloudTrail logs will be delivered. Not required unless you specify CloudWatchLogsRoleArn.</p>"
        },
        "CloudWatchLogsRoleArn":{
          "shape":"String",
          "documentation":"<p>Specifies the role for the CloudWatch Logs endpoint to assume to write to a user’s log group.</p>"
        }
      },
      "documentation":"<p>Specifies the settings for each trail.</p>"
    },
    "CreateTrailResponse":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the trail.</p>"
        },
        "S3BucketName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the Amazon S3 bucket designated for publishing log files.</p>"
        },
        "S3KeyPrefix":{
          "shape":"String",
          "documentation":"<p>Specifies the Amazon S3 key prefix that precedes the name of the bucket you have designated for log file delivery.</p>"
        },
        "SnsTopicName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the Amazon SNS topic defined for notification of log file delivery.</p>"
        },
        "IncludeGlobalServiceEvents":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the trail is publishing events from global services such as IAM to the log files. </p>"
        },
        "CloudWatchLogsLogGroupArn":{
          "shape":"String",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the log group to which CloudTrail logs will be delivered.</p>"
        },
        "CloudWatchLogsRoleArn":{
          "shape":"String",
          "documentation":"<p>Specifies the role for the CloudWatch Logs endpoint to assume to write to a user’s log group.</p>"
        }
      },
      "documentation":"Returns the objects or data listed below if successful. Otherwise, returns an error."
    },
    "Date":{"type":"timestamp"},
    "DeleteTrailRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of a trail to be deleted.</p>"
        }
      },
      "documentation":"<a>The request that specifies the name of a trail to delete.</a>"
    },
    "DeleteTrailResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
    },
    "DescribeTrailsRequest":{
      "type":"structure",
      "members":{
        "trailNameList":{
          "shape":"TrailNameList",
          "documentation":"<p>The trail returned.</p>"
        }
      },
      "documentation":"<p>Returns information about the trail.</p>"
    },
    "DescribeTrailsResponse":{
      "type":"structure",
      "members":{
        "trailList":{
          "shape":"TrailList",
          "documentation":"<p>The list of trails.</p>"
        }
      },
      "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
    },
    "GetTrailStatusRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the trail for which you are requesting the current status.</p>"
        }
      },
      "documentation":"<p>The name of a trail about which you want the current status.</p>"
    },
    "GetTrailStatusResponse":{
      "type":"structure",
      "members":{
        "IsLogging":{
          "shape":"Boolean",
          "documentation":"<p>Whether the CloudTrail is currently logging AWS API calls.</p>"
        },
        "LatestDeliveryError":{
          "shape":"String",
          "documentation":"<p>Displays any Amazon S3 error that CloudTrail encountered when attempting to deliver log files to the designated bucket. For more information see the topic <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html\">Error Responses</a> in the Amazon S3 API Reference. </p>"
        },
        "LatestNotificationError":{
          "shape":"String",
          "documentation":"<p>Displays any Amazon SNS error that CloudTrail encountered when attempting to send a notification. For more information about Amazon SNS errors, see the <a href=\"http://docs.aws.amazon.com/sns/latest/dg/welcome.html\">Amazon SNS Developer Guide</a>. </p>"
        },
        "LatestDeliveryTime":{
          "shape":"Date",
          "documentation":"<p>Specifies the date and time that CloudTrail last delivered log files to an account's Amazon S3 bucket.</p>"
        },
        "LatestNotificationTime":{
          "shape":"Date",
          "documentation":"<p>Specifies the date and time of the most recent Amazon SNS notification that CloudTrail has written a new log file to an account's Amazon S3 bucket. </p>"
        },
        "StartLoggingTime":{
          "shape":"Date",
          "documentation":"<p>Specifies the most recent date and time when CloudTrail started recording API calls for an AWS account. </p>"
        },
        "StopLoggingTime":{
          "shape":"Date",
          "documentation":"<p>Specifies the most recent date and time when CloudTrail stopped recording API calls for an AWS account. </p>"
        },
        "LatestCloudWatchLogsDeliveryError":{
          "shape":"String",
          "documentation":"<p>Displays any CloudWatch Logs error that CloudTrail encountered when attempting to deliver logs to CloudWatch Logs.</p>"
        },
        "LatestCloudWatchLogsDeliveryTime":{
          "shape":"Date",
          "documentation":"<p>Displays the most recent date and time when CloudTrail delivered logs to CloudWatch Logs.</p>"
        }
      },
      "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
    },
    "InsufficientS3BucketPolicyException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InsufficientS3BucketPolicy",
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true,
      "documentation":"This exception is thrown when the policy on the S3 bucket is not sufficient."
    },
    "InsufficientSnsTopicPolicyException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InsufficientSnsTopicPolicy",
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true,
      "documentation":"This exception is thrown when the policy on the SNS topic is not sufficient."
    },
    "InvalidCloudWatchLogsLogGroupArnException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidCloudWatchLogsLogGroupArn",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"This exception is thrown when the provided CloudWatch log group is not valid."
    },
    "InvalidCloudWatchLogsRoleArnException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidCloudWatchLogsRoleArn",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"This exception is thrown when the provided role is not valid."
    },
    "InvalidS3BucketNameException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidS3BucketName",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"This exception is thrown when the provided S3 bucket name is not valid."
    },
    "InvalidS3PrefixException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidS3Prefix",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"This exception is thrown when the provided S3 prefix is not valid."
    },
    "InvalidSnsTopicNameException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidSnsTopicName",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"This exception is thrown when the provided SNS topic name is not valid."
    },
    "InvalidTrailNameException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidTrailName",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"This exception is thrown when the provided trail name is not valid."
    },
    "MaximumNumberOfTrailsExceededException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"MaximumNumberOfTrailsExceeded",
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true,
      "documentation":"This exception is thrown when the maximum number of trails is reached."
    },
    "S3BucketDoesNotExistException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"S3BucketDoesNotExist",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true,
      "documentation":"This exception is thrown when the specified S3 bucket does not exist."
    },
    "StartLoggingRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the trail for which CloudTrail logs AWS API calls.</p>"
        }
      },
      "documentation":"<p>The request to CloudTrail to start logging AWS API calls for an account.</p>"
    },
    "StartLoggingResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
    },
    "StopLoggingRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Communicates to CloudTrail the name of the trail for which to stop logging AWS API calls.</p>"
        }
      },
      "documentation":"<p>Passes the request to CloudTrail to stop logging AWS API calls for the specified account.</p>"
    },
    "StopLoggingResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>Returns the objects or data listed below if successful. Otherwise, returns an error.</p>"
    },
    "String":{"type":"string"},
    "Trail":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Name of the trail set by calling <a>CreateTrail</a>.</p>"
        },
        "S3BucketName":{
          "shape":"String",
          "documentation":"<p>Name of the Amazon S3 bucket into which CloudTrail delivers your trail files. </p>"
        },
        "S3KeyPrefix":{
          "shape":"String",
          "documentation":"<p>Value of the Amazon S3 prefix.</p>"
        },
        "SnsTopicName":{
          "shape":"String",
          "documentation":"<p>Name of the existing Amazon SNS topic that CloudTrail uses to notify the account owner when new CloudTrail log files have been delivered. </p>"
        },
        "IncludeGlobalServiceEvents":{
          "shape":"Boolean",
          "documentation":"<p>Set to <b>True</b> to include AWS API calls from AWS global services such as IAM. Otherwise, <b>False</b>.</p>"
        },
        "CloudWatchLogsLogGroupArn":{
          "shape":"String",
          "documentation":"<p>Specifies an Amazon Resource Name (ARN), a unique identifier that represents the log group to which CloudTrail logs will be delivered.</p>"
        },
        "CloudWatchLogsRoleArn":{
          "shape":"String",
          "documentation":"<p>Specifies the role for the CloudWatch Logs endpoint to assume to write to a user’s log group.</p>"
        }
      },
      "documentation":"<p>The settings for a trail.</p>"
    },
    "TrailAlreadyExistsException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"TrailAlreadyExists",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"This exception is thrown when the specified trail already exists."
    },
    "TrailList":{
      "type":"list",
      "member":{"shape":"Trail"}
    },
    "TrailNameList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "TrailNotFoundException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"TrailNotFound",
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true,
      "documentation":"This exception is thrown when the trail with the given name is not found."
    },
    "UpdateTrailRequest":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the trail.</p>"
        },
        "S3BucketName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the Amazon S3 bucket designated for publishing log files.</p>"
        },
        "S3KeyPrefix":{
          "shape":"String",
          "documentation":"<p>Specifies the Amazon S3 key prefix that precedes the name of the bucket you have designated for log file delivery.</p>"
        },
        "SnsTopicName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the Amazon SNS topic defined for notification of log file delivery.</p>"
        },
        "IncludeGlobalServiceEvents":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the trail is publishing events from global services such as IAM to the log files. </p>"
        },
        "CloudWatchLogsLogGroupArn":{
          "shape":"String",
          "documentation":"<p>Specifies a log group name using an Amazon Resource Name (ARN), a unique identifier that represents the log group to which CloudTrail logs will be delivered. Not required unless you specify CloudWatchLogsRoleArn.</p>"
        },
        "CloudWatchLogsRoleArn":{
          "shape":"String",
          "documentation":"<p>Specifies the role for the CloudWatch Logs endpoint to assume to write to a user’s log group.</p>"
        }
      },
      "documentation":"<p>Specifies settings to update for the trail.</p>"
    },
    "UpdateTrailResponse":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the trail.</p>"
        },
        "S3BucketName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the Amazon S3 bucket designated for publishing log files.</p>"
        },
        "S3KeyPrefix":{
          "shape":"String",
          "documentation":"<p>Specifies the Amazon S3 key prefix that precedes the name of the bucket you have designated for log file delivery.</p>"
        },
        "SnsTopicName":{
          "shape":"String",
          "documentation":"<p>Specifies the name of the Amazon SNS topic defined for notification of log file delivery.</p>"
        },
        "IncludeGlobalServiceEvents":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the trail is publishing events from global services such as IAM to the log files. </p>"
        },
        "CloudWatchLogsLogGroupArn":{
          "shape":"String",
          "documentation":"<p>Specifies the Amazon Resource Name (ARN) of the log group to which CloudTrail logs will be delivered.</p>"
        },
        "CloudWatchLogsRoleArn":{
          "shape":"String",
          "documentation":"<p>Specifies the role for the CloudWatch Logs endpoint to assume to write to a user’s log group.</p>"
        }
      },
      "documentation":"Returns the objects or data listed below if successful. Otherwise, returns an error."
    }
  }
}
