{
  "metadata":{
    "apiVersion":"2012-06-01",
    "endpointPrefix":"elasticloadbalancing",
    "serviceFullName":"Elastic Load Balancing",
    "signatureVersion":"v4",
    "xmlNamespace":"http://elasticloadbalancing.amazonaws.com/doc/2012-06-01/",
    "protocol":"query"
  },
  "documentation":"<fullname>Elastic Load Balancing</fullname> <p>Elastic Load Balancing is a way to automatically distribute incoming web traffic across applications that run on multiple Amazon Elastic Compute Cloud (Amazon EC2) instances. </p> <p>You can create, access, and manage Elastic Load Balancing using the AWS Management Console or the Elastic Load Balancing API. For more information about Elastic Load Balancing interfaces, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/SvcIntro_Interfaces.html\">Accessing Elastic Load Balancing</a>.</p> <p>This reference guide contains documentation for the Query API and the AWS command line interface commands, to manage Elastic Load Balancing. </p> <p>For detailed information about Elastic Load Balancing features and their associated actions or commands, go to <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/UserScenarios.html\">Managing Load Balancers</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p> <p>This reference guide is based on the current WSDL, which is available at: <a href=\"http://ec2-downloads.s3.amazonaws.com/ElasticLoadBalancing.wsdl\"></a>. </p> <p><b>Endpoints</b></p> <p>The examples in this guide assume that your load balancers are created in the US East (Northern Virginia) region and use us-east-1 as the endpoint.</p> <p>You can create your load balancers in other AWS regions. For information about regions and endpoints supported by Elastic Load Balancing, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/index.html?rande.html\">Regions and Endpoints</a> in the Amazon Web Services General Reference. </p>",
  "operations":{
    "AddTags":{
      "name":"AddTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"AddTagsInput",
        "documentation":"The input for the <a>AddTags</a> action"
      },
      "output":{
        "shape":"AddTagsOutput",
        "documentation":"The output for the <a>AddTags</a> action.",
        "resultWrapper":"AddTagsResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        },
        {
          "shape":"TooManyTagsException",
          "error":{
            "code":"TooManyTags",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The quota for the number of tags that can be assigned to a load balancer has been reached.</p>"
        },
        {
          "shape":"DuplicateTagKeysException",
          "error":{
            "code":"DuplicateTagKeys",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The same tag key specified multiple times.</p>"
        }
      ],
      "documentation":"<p>Adds one or more tags for the specified load balancer. Each load balancer can have a maximum of 10 tags. Each tag consists of a key and an optional value.</p> <p>Tag keys must be unique for each load balancer. If a tag with the same key is already associated with the load balancer, this action will update the value of the key.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/TerminologyandKeyConcepts.html#tagging-elb\">Tagging</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>"
    },
    "ApplySecurityGroupsToLoadBalancer":{
      "name":"ApplySecurityGroupsToLoadBalancer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ApplySecurityGroupsToLoadBalancerInput",
        "documentation":"<p> The input for the <a>ApplySecurityGroupsToLoadBalancer</a> action. </p>"
      },
      "output":{
        "shape":"ApplySecurityGroupsToLoadBalancerOutput",
        "documentation":"<p> The out for the <a>ApplySecurityGroupsToLoadBalancer</a> action. </p>",
        "resultWrapper":"ApplySecurityGroupsToLoadBalancerResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        },
        {
          "shape":"InvalidConfigurationRequestException",
          "error":{
            "code":"InvalidConfigurationRequest",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Requested configuration change is invalid. </p>"
        },
        {
          "shape":"InvalidSecurityGroupException",
          "error":{
            "code":"InvalidSecurityGroup",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> One or more specified security groups do not exist. </p>"
        }
      ],
      "documentation":"<p> Associates one or more security groups with your load balancer in Amazon Virtual Private Cloud (Amazon VPC). The provided security group IDs will override any currently applied security groups. </p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/USVPC_ApplySG.html\">Manage Security Groups in Amazon VPC</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>"
    },
    "AttachLoadBalancerToSubnets":{
      "name":"AttachLoadBalancerToSubnets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"AttachLoadBalancerToSubnetsInput",
        "documentation":"<p> The input for the <a>AttachLoadBalancerToSubnets</a> action. </p>"
      },
      "output":{
        "shape":"AttachLoadBalancerToSubnetsOutput",
        "documentation":"<p> The output for the <a>AttachLoadBalancerToSubnets</a> action. </p>",
        "resultWrapper":"AttachLoadBalancerToSubnetsResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        },
        {
          "shape":"InvalidConfigurationRequestException",
          "error":{
            "code":"InvalidConfigurationRequest",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Requested configuration change is invalid. </p>"
        },
        {
          "shape":"SubnetNotFoundException",
          "error":{
            "code":"SubnetNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> One or more subnets were not found. </p>"
        },
        {
          "shape":"InvalidSubnetException",
          "error":{
            "code":"InvalidSubnet",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The VPC has no Internet gateway. </p>"
        }
      ],
      "documentation":"<p> Adds one or more subnets to the set of configured subnets in the Amazon Virtual Private Cloud (Amazon VPC) for the load balancer. </p> <p> The load balancers evenly distribute requests across all of the registered subnets. For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/UserScenariosForVPC.html\">Deploy Elastic Load Balancing in Amazon VPC</a> in the <i>Elastic Load Balancing Developer Guide</i>. </p>"
    },
    "ConfigureHealthCheck":{
      "name":"ConfigureHealthCheck",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ConfigureHealthCheckInput",
        "documentation":"<p> Input for the <a>ConfigureHealthCheck</a> action. </p>"
      },
      "output":{
        "shape":"ConfigureHealthCheckOutput",
        "documentation":"<p> The output for the <a>ConfigureHealthCheck</a> action. </p>",
        "resultWrapper":"ConfigureHealthCheckResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        }
      ],
      "documentation":"<p> Specifies the health check settings to use for evaluating the health state of your back-end instances. </p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/TerminologyandKeyConcepts.html#healthcheck\">Health Check</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>"
    },
    "CreateAppCookieStickinessPolicy":{
      "name":"CreateAppCookieStickinessPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateAppCookieStickinessPolicyInput",
        "documentation":"<p> The input for the <a>CreateAppCookieStickinessPolicy</a> action. </p>"
      },
      "output":{
        "shape":"CreateAppCookieStickinessPolicyOutput",
        "documentation":"<p> The output for the <a>CreateAppCookieStickinessPolicy</a> action. </p>",
        "resultWrapper":"CreateAppCookieStickinessPolicyResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        },
        {
          "shape":"DuplicatePolicyNameException",
          "error":{
            "code":"DuplicatePolicyName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Policy with the same name exists for this load balancer. Please choose another name. </p>"
        },
        {
          "shape":"TooManyPoliciesException",
          "error":{
            "code":"TooManyPolicies",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Quota for number of policies for this load balancer has already been reached. </p>"
        },
        {
          "shape":"InvalidConfigurationRequestException",
          "error":{
            "code":"InvalidConfigurationRequest",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Requested configuration change is invalid. </p>"
        }
      ],
      "documentation":"<p> Generates a stickiness policy with sticky session lifetimes that follow that of an application-generated cookie. This policy can be associated only with HTTP/HTTPS listeners. </p> <p> This policy is similar to the policy created by <a>CreateLBCookieStickinessPolicy</a>, except that the lifetime of the special Elastic Load Balancing cookie follows the lifetime of the application-generated cookie specified in the policy configuration. The load balancer only inserts a new stickiness cookie when the application response includes a new application cookie. </p> <p> If the application cookie is explicitly removed or expires, the session stops being sticky until a new application cookie is issued. </p> <note> An application client must receive and send two cookies: the application-generated cookie and the special Elastic Load Balancing cookie named <code>AWSELB</code>. This is the default behavior for many common web browsers. </note> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/US_StickySessions.html#US_EnableStickySessionsAppCookies\">Enabling Application-Controlled Session Stickiness</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>"
    },
    "CreateLBCookieStickinessPolicy":{
      "name":"CreateLBCookieStickinessPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateLBCookieStickinessPolicyInput",
        "documentation":"<p> The input for the <a>CreateLBCookieStickinessPolicy</a> action. </p>"
      },
      "output":{
        "shape":"CreateLBCookieStickinessPolicyOutput",
        "documentation":"<p> The output for the <a>CreateLBCookieStickinessPolicy</a> action. </p>",
        "resultWrapper":"CreateLBCookieStickinessPolicyResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        },
        {
          "shape":"DuplicatePolicyNameException",
          "error":{
            "code":"DuplicatePolicyName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Policy with the same name exists for this load balancer. Please choose another name. </p>"
        },
        {
          "shape":"TooManyPoliciesException",
          "error":{
            "code":"TooManyPolicies",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Quota for number of policies for this load balancer has already been reached. </p>"
        },
        {
          "shape":"InvalidConfigurationRequestException",
          "error":{
            "code":"InvalidConfigurationRequest",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Requested configuration change is invalid. </p>"
        }
      ],
      "documentation":"<p> Generates a stickiness policy with sticky session lifetimes controlled by the lifetime of the browser (user-agent) or a specified expiration period. This policy can be associated only with HTTP/HTTPS listeners. </p> <p> When a load balancer implements this policy, the load balancer uses a special cookie to track the backend server instance for each request. When the load balancer receives a request, it first checks to see if this cookie is present in the request. If so, the load balancer sends the request to the application server specified in the cookie. If not, the load balancer sends the request to a server that is chosen based on the existing load balancing algorithm. </p> <p> A cookie is inserted into the response for binding subsequent requests from the same user to that server. The validity of the cookie is based on the cookie expiration time, which is specified in the policy configuration. </p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/US_StickySessions.html#US_EnableStickySessionsLBCookies\">Enabling Duration-Based Session Stickiness</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>"
    },
    "CreateLoadBalancer":{
      "name":"CreateLoadBalancer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateAccessPointInput",
        "documentation":"<p> The input for the <a>CreateLoadBalancer</a> action. </p>"
      },
      "output":{
        "shape":"CreateAccessPointOutput",
        "documentation":"<p> The output for the <a>CreateLoadBalancer</a> action. </p>",
        "resultWrapper":"CreateLoadBalancerResult"
      },
      "errors":[
        {
          "shape":"DuplicateAccessPointNameException",
          "error":{
            "code":"DuplicateLoadBalancerName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The load balancer name already exists for this account. Please choose another name. </p>"
        },
        {
          "shape":"TooManyAccessPointsException",
          "error":{
            "code":"TooManyLoadBalancers",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The quota for the number of load balancers has already been reached. </p>"
        },
        {
          "shape":"CertificateNotFoundException",
          "error":{
            "code":"CertificateNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified SSL ID does not refer to a valid SSL certificate in the AWS Identity and Access Management Service. </p>"
        },
        {
          "shape":"InvalidConfigurationRequestException",
          "error":{
            "code":"InvalidConfigurationRequest",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Requested configuration change is invalid. </p>"
        },
        {
          "shape":"SubnetNotFoundException",
          "error":{
            "code":"SubnetNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> One or more subnets were not found. </p>"
        },
        {
          "shape":"InvalidSubnetException",
          "error":{
            "code":"InvalidSubnet",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The VPC has no Internet gateway. </p>"
        },
        {
          "shape":"InvalidSecurityGroupException",
          "error":{
            "code":"InvalidSecurityGroup",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> One or more specified security groups do not exist. </p>"
        },
        {
          "shape":"InvalidSchemeException",
          "error":{
            "code":"InvalidScheme",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Invalid value for scheme. Scheme can only be specified for load balancers in VPC. </p>"
        },
        {
          "shape":"TooManyTagsException",
          "error":{
            "code":"TooManyTags",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The quota for the number of tags that can be assigned to a load balancer has been reached.</p>"
        },
        {
          "shape":"DuplicateTagKeysException",
          "error":{
            "code":"DuplicateTagKeys",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The same tag key specified multiple times.</p>"
        }
      ],
      "documentation":"<p> Creates a new load balancer. </p> <p> After the call has completed successfully, a new load balancer is created with a unique Domain Name Service (DNS) name. The DNS name includes the name of the AWS region in which the load balance was created. For example, if your load balancer was created in the United States, the DNS name might end with either of the following:</p> <ul> <li> <i>us-east-1.elb.amazonaws.com</i> (for the Northern Virginia region) </li> <li> <i>us-west-1.elb.amazonaws.com</i> (for the Northern California region) </li> </ul> <p>For information about the AWS regions supported by Elastic Load Balancing, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elb_region\">Regions and Endpoints</a>.</p> <p>You can create up to 20 load balancers per region per account.</p> <p>Elastic Load Balancing supports load balancing your Amazon EC2 instances launched within any one of the following platforms:</p> <ul> <li> <i>EC2-Classic</i> <p>For information on creating and managing your load balancers in EC2-Classic, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/UserScenariosForEC2.html\">Deploy Elastic Load Balancing in Amazon EC2-Classic</a>.</p> </li> <li> <i>EC2-VPC</i> <p>For information on creating and managing your load balancers in EC2-VPC, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/UserScenariosForVPC.html\">Deploy Elastic Load Balancing in Amazon VPC</a>.</p> </li> </ul>"
    },
    "CreateLoadBalancerListeners":{
      "name":"CreateLoadBalancerListeners",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateLoadBalancerListenerInput",
        "documentation":"<p> The input for the <a>CreateLoadBalancerListeners</a> action. </p>"
      },
      "output":{
        "shape":"CreateLoadBalancerListenerOutput",
        "documentation":"<p> The output for the <a>CreateLoadBalancerListeners</a> action. </p>",
        "resultWrapper":"CreateLoadBalancerListenersResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        },
        {
          "shape":"DuplicateListenerException",
          "error":{
            "code":"DuplicateListener",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> A <code>Listener</code> already exists for the given <code>LoadBalancerName</code> and <code>LoadBalancerPort</code>, but with a different <code>InstancePort</code>, <code>Protocol</code>, or <code>SSLCertificateId</code>. </p>"
        },
        {
          "shape":"CertificateNotFoundException",
          "error":{
            "code":"CertificateNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified SSL ID does not refer to a valid SSL certificate in the AWS Identity and Access Management Service. </p>"
        },
        {
          "shape":"InvalidConfigurationRequestException",
          "error":{
            "code":"InvalidConfigurationRequest",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Requested configuration change is invalid. </p>"
        }
      ],
      "documentation":"<p> Creates one or more listeners on a load balancer for the specified port. If a listener with the given port does not already exist, it will be created; otherwise, the properties of the new listener must match the properties of the existing listener. </p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/us-add-listener.html\">Add a Listener to Your Load Balancer</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>"
    },
    "CreateLoadBalancerPolicy":{
      "name":"CreateLoadBalancerPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLoadBalancerPolicyInput"},
      "output":{
        "shape":"CreateLoadBalancerPolicyOutput",
        "documentation":"<p>The output for the <a>CreateLoadBalancerPolicy</a> action. </p>",
        "resultWrapper":"CreateLoadBalancerPolicyResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        },
        {
          "shape":"PolicyTypeNotFoundException",
          "error":{
            "code":"PolicyTypeNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> One or more of the specified policy types do not exist. </p>"
        },
        {
          "shape":"DuplicatePolicyNameException",
          "error":{
            "code":"DuplicatePolicyName",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Policy with the same name exists for this load balancer. Please choose another name. </p>"
        },
        {
          "shape":"TooManyPoliciesException",
          "error":{
            "code":"TooManyPolicies",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Quota for number of policies for this load balancer has already been reached. </p>"
        },
        {
          "shape":"InvalidConfigurationRequestException",
          "error":{
            "code":"InvalidConfigurationRequest",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Requested configuration change is invalid. </p>"
        }
      ],
      "documentation":"<p> Creates a new policy that contains the necessary attributes depending on the policy type. Policies are settings that are saved for your load balancer and that can be applied to the front-end listener, or the back-end application server, depending on your policy type. </p>"
    },
    "DeleteLoadBalancer":{
      "name":"DeleteLoadBalancer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteAccessPointInput",
        "documentation":"<p> The input for the <a>DeleteLoadBalancer</a> action. </p>"
      },
      "output":{
        "shape":"DeleteAccessPointOutput",
        "documentation":"<p> The output for the <a>DeleteLoadBalancer</a> action. </p>",
        "resultWrapper":"DeleteLoadBalancerResult"
      },
      "documentation":"<p> Deletes the specified load balancer. </p> <p> If attempting to recreate the load balancer, you must reconfigure all the settings. The DNS name associated with a deleted load balancer will no longer be usable. Once deleted, the name and associated DNS record of the load balancer no longer exist and traffic sent to any of its IP addresses will no longer be delivered to back-end instances. </p> <p> To successfully call this API, you must provide the same account credentials as were used to create the load balancer. </p> <note> By design, if the load balancer does not exist or has already been deleted, a call to <code>DeleteLoadBalancer</code> action still succeeds. </note>"
    },
    "DeleteLoadBalancerListeners":{
      "name":"DeleteLoadBalancerListeners",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteLoadBalancerListenerInput",
        "documentation":"<p> The input for the <a>DeleteLoadBalancerListeners</a> action. </p>"
      },
      "output":{
        "shape":"DeleteLoadBalancerListenerOutput",
        "documentation":"<p> The output for the <a>DeleteLoadBalancerListeners</a> action. </p>",
        "resultWrapper":"DeleteLoadBalancerListenersResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        }
      ],
      "documentation":"<p> Deletes listeners from the load balancer for the specified port. </p>"
    },
    "DeleteLoadBalancerPolicy":{
      "name":"DeleteLoadBalancerPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteLoadBalancerPolicyInput",
        "documentation":"<p> The input for the <a>DeleteLoadBalancerPolicy</a> action. </p>"
      },
      "output":{
        "shape":"DeleteLoadBalancerPolicyOutput",
        "documentation":"<p> The output for the <a>DeleteLoadBalancerPolicy</a> action. </p>",
        "resultWrapper":"DeleteLoadBalancerPolicyResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        },
        {
          "shape":"InvalidConfigurationRequestException",
          "error":{
            "code":"InvalidConfigurationRequest",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Requested configuration change is invalid. </p>"
        }
      ],
      "documentation":"<p> Deletes a policy from the load balancer. The specified policy must not be enabled for any listeners. </p>"
    },
    "DeregisterInstancesFromLoadBalancer":{
      "name":"DeregisterInstancesFromLoadBalancer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeregisterEndPointsInput",
        "documentation":"<p> The input for the <a>DeregisterInstancesFromLoadBalancer</a> action. </p>"
      },
      "output":{
        "shape":"DeregisterEndPointsOutput",
        "documentation":"<p> The output for the <a>DeregisterInstancesFromLoadBalancer</a> action. </p>",
        "resultWrapper":"DeregisterInstancesFromLoadBalancerResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        },
        {
          "shape":"InvalidEndPointException",
          "error":{
            "code":"InvalidInstance",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified EndPoint is not valid. </p>"
        }
      ],
      "documentation":"<p> Deregisters instances from the load balancer. Once the instance is deregistered, it will stop receiving traffic from the load balancer. </p> <p> In order to successfully call this API, the same account credentials as those used to create the load balancer must be provided. </p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/US_DeReg_Reg_Instances.html\">De-register and Register Amazon EC2 Instances</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p> <p>You can use <a>DescribeLoadBalancers</a> to verify if the instance is deregistered from the load balancer.</p>"
    },
    "DescribeInstanceHealth":{
      "name":"DescribeInstanceHealth",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeEndPointStateInput",
        "documentation":"<p> The input for the <a>DescribeEndPointState</a> action. </p>"
      },
      "output":{
        "shape":"DescribeEndPointStateOutput",
        "documentation":"<p> The output for the <a>DescribeInstanceHealth</a> action. </p>",
        "resultWrapper":"DescribeInstanceHealthResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        },
        {
          "shape":"InvalidEndPointException",
          "error":{
            "code":"InvalidInstance",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified EndPoint is not valid. </p>"
        }
      ],
      "documentation":"<p> Returns the current state of the specified instances registered with the specified load balancer. If no instances are specified, the state of all the instances registered with the load balancer is returned. </p> <note> You must provide the same account credentials as those that were used to create the load balancer. </note>"
    },
    "DescribeLoadBalancerAttributes":{
      "name":"DescribeLoadBalancerAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeLoadBalancerAttributesInput",
        "documentation":"<p>The input for the <a>DescribeLoadBalancerAttributes</a> action.</p>"
      },
      "output":{
        "shape":"DescribeLoadBalancerAttributesOutput",
        "documentation":"<p>The following element is returned in a structure named <code>DescribeLoadBalancerAttributesResult</code>.</p>",
        "resultWrapper":"DescribeLoadBalancerAttributesResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        },
        {
          "shape":"LoadBalancerAttributeNotFoundException",
          "error":{
            "code":"LoadBalancerAttributeNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified load balancer attribute could not be found.</p>"
        }
      ],
      "documentation":"<p>Returns detailed information about all of the attributes associated with the specified load balancer.</p>"
    },
    "DescribeLoadBalancerPolicies":{
      "name":"DescribeLoadBalancerPolicies",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLoadBalancerPoliciesInput"},
      "output":{
        "shape":"DescribeLoadBalancerPoliciesOutput",
        "documentation":"<p>The output for the <a>DescribeLoadBalancerPolicies</a> action. </p>",
        "resultWrapper":"DescribeLoadBalancerPoliciesResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        },
        {
          "shape":"PolicyNotFoundException",
          "error":{
            "code":"PolicyNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> One or more specified policies were not found. </p>"
        }
      ],
      "documentation":"<p>Returns detailed descriptions of the policies. If you specify a load balancer name, the action returns the descriptions of all the policies created for the load balancer. If you specify a policy name associated with your load balancer, the action returns the description of that policy. If you don't specify a load balancer name, the action returns descriptions of the specified sample policies, or descriptions of all the sample policies. The names of the sample policies have the <code>ELBSample-</code> prefix. </p>"
    },
    "DescribeLoadBalancerPolicyTypes":{
      "name":"DescribeLoadBalancerPolicyTypes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLoadBalancerPolicyTypesInput"},
      "output":{
        "shape":"DescribeLoadBalancerPolicyTypesOutput",
        "documentation":"<p> The output for the <a>DescribeLoadBalancerPolicyTypes</a> action. </p>",
        "resultWrapper":"DescribeLoadBalancerPolicyTypesResult"
      },
      "errors":[
        {
          "shape":"PolicyTypeNotFoundException",
          "error":{
            "code":"PolicyTypeNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> One or more of the specified policy types do not exist. </p>"
        }
      ],
      "documentation":"<p> Returns meta-information on the specified load balancer policies defined by the Elastic Load Balancing service. The policy types that are returned from this action can be used in a <a>CreateLoadBalancerPolicy</a> action to instantiate specific policy configurations that will be applied to a load balancer. </p>"
    },
    "DescribeLoadBalancers":{
      "name":"DescribeLoadBalancers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeAccessPointsInput",
        "documentation":"<p> The input for the <a>DescribeLoadBalancers</a> action. </p>"
      },
      "output":{
        "shape":"DescribeAccessPointsOutput",
        "documentation":"<p> The output for the <a>DescribeLoadBalancers</a> action. </p>",
        "resultWrapper":"DescribeLoadBalancersResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        }
      ],
      "documentation":"<p> Returns detailed configuration information for all the load balancers created for the account. If you specify load balancer names, the action returns configuration information of the specified load balancers. </p> <note> In order to retrieve this information, you must provide the same account credentials that was used to create the load balancer.</note>"
    },
    "DescribeTags":{
      "name":"DescribeTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeTagsInput",
        "documentation":"<p> The input for the <a>DescribeTags</a> action. </p>"
      },
      "output":{
        "shape":"DescribeTagsOutput",
        "documentation":"<p> The output for the <a>DescribeTags</a> action. </p>",
        "resultWrapper":"DescribeTagsResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        }
      ],
      "documentation":"<p>Describes the tags associated with one or more load balancers.</p>"
    },
    "DetachLoadBalancerFromSubnets":{
      "name":"DetachLoadBalancerFromSubnets",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DetachLoadBalancerFromSubnetsInput",
        "documentation":"<p> The input for the <a>DetachLoadBalancerFromSubnets</a> action. </p>"
      },
      "output":{
        "shape":"DetachLoadBalancerFromSubnetsOutput",
        "documentation":"<p> The output for the <a>DetachLoadBalancerFromSubnets</a> action. </p>",
        "resultWrapper":"DetachLoadBalancerFromSubnetsResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        },
        {
          "shape":"InvalidConfigurationRequestException",
          "error":{
            "code":"InvalidConfigurationRequest",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Requested configuration change is invalid. </p>"
        }
      ],
      "documentation":"<p> Removes subnets from the set of configured subnets in the Amazon Virtual Private Cloud (Amazon VPC) for the load balancer. </p> <p> After a subnet is removed all of the EC2 instances registered with the load balancer that are in the removed subnet will go into the <i>OutOfService</i> state. When a subnet is removed, the load balancer will balance the traffic among the remaining routable subnets for the load balancer. </p>"
    },
    "DisableAvailabilityZonesForLoadBalancer":{
      "name":"DisableAvailabilityZonesForLoadBalancer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"RemoveAvailabilityZonesInput",
        "documentation":"<p> The input for the <a>DisableAvailabilityZonesForLoadBalancer</a> action. </p>"
      },
      "output":{
        "shape":"RemoveAvailabilityZonesOutput",
        "documentation":"<p> The output for the <a>DisableAvailabilityZonesForLoadBalancer</a> action. </p>",
        "resultWrapper":"DisableAvailabilityZonesForLoadBalancerResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        },
        {
          "shape":"InvalidConfigurationRequestException",
          "error":{
            "code":"InvalidConfigurationRequest",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Requested configuration change is invalid. </p>"
        }
      ],
      "documentation":"<p> Removes the specified EC2 Availability Zones from the set of configured Availability Zones for the load balancer. </p> <p> There must be at least one Availability Zone registered with a load balancer at all times. Once an Availability Zone is removed, all the instances registered with the load balancer that are in the removed Availability Zone go into the <i>OutOfService</i> state. Upon Availability Zone removal, the load balancer attempts to equally balance the traffic among its remaining usable Availability Zones. Trying to remove an Availability Zone that was not associated with the load balancer does nothing. </p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/US_ShrinkLBApp04.html\">Disable an Availability Zone from a Load-Balanced Application</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>"
    },
    "EnableAvailabilityZonesForLoadBalancer":{
      "name":"EnableAvailabilityZonesForLoadBalancer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"AddAvailabilityZonesInput",
        "documentation":"<p> The input for the <a>EnableAvailabilityZonesForLoadBalancer</a> action. </p>"
      },
      "output":{
        "shape":"AddAvailabilityZonesOutput",
        "documentation":"<p> The output for the <a>EnableAvailabilityZonesForLoadBalancer</a> action. </p>",
        "resultWrapper":"EnableAvailabilityZonesForLoadBalancerResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        }
      ],
      "documentation":"<p> Adds one or more EC2 Availability Zones to the load balancer. </p> <p> The load balancer evenly distributes requests across all its registered Availability Zones that contain instances. </p> <note> The new EC2 Availability Zones to be added must be in the same EC2 Region as the Availability Zones for which the load balancer was created. </note> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/US_AddLBAvailabilityZone.html\">Expand a Load Balanced Application to an Additional Availability Zone</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>"
    },
    "ModifyLoadBalancerAttributes":{
      "name":"ModifyLoadBalancerAttributes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ModifyLoadBalancerAttributesInput",
        "documentation":"<p>The input for the <a>ModifyLoadBalancerAttributes</a> action.</p>"
      },
      "output":{
        "shape":"ModifyLoadBalancerAttributesOutput",
        "documentation":"<p>The output for the <a>ModifyLoadBalancerAttributes</a> action.</p>",
        "resultWrapper":"ModifyLoadBalancerAttributesResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        },
        {
          "shape":"LoadBalancerAttributeNotFoundException",
          "error":{
            "code":"LoadBalancerAttributeNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified load balancer attribute could not be found.</p>"
        },
        {
          "shape":"InvalidConfigurationRequestException",
          "error":{
            "code":"InvalidConfigurationRequest",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Requested configuration change is invalid. </p>"
        }
      ],
      "documentation":"<p>Modifies the attributes of a specified load balancer.</p> <p>You can modify the load balancer attributes, such as <code>AccessLogs</code>, <code>ConnectionDraining</code>, and <code>CrossZoneLoadBalancing</code> by either enabling or disabling them. Or, you can modify the load balancer attribute <code>ConnectionSettings</code> by specifying an idle connection timeout value for your load balancer.</p> <p>For more information, see the following:</p> <ul> <li><a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/TerminologyandKeyConcepts.html#request-routing\">Cross-Zone Load Balancing</a></li> <li><a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/TerminologyandKeyConcepts.html#conn-drain\">Connection Draining</a></li> <li><a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/access-log-collection.html\">Access Logs</a></li> <li><a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/TerminologyandKeyConcepts.html#idle-timeout\">Idle Connection Timeout</a></li> </ul>"
    },
    "RegisterInstancesWithLoadBalancer":{
      "name":"RegisterInstancesWithLoadBalancer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"RegisterEndPointsInput",
        "documentation":"<p> The input for the <a>RegisterInstancesWithLoadBalancer</a> action. </p>"
      },
      "output":{
        "shape":"RegisterEndPointsOutput",
        "documentation":"<p> The output for the <a>RegisterInstancesWithLoadBalancer</a> action. </p>",
        "resultWrapper":"RegisterInstancesWithLoadBalancerResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        },
        {
          "shape":"InvalidEndPointException",
          "error":{
            "code":"InvalidInstance",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified EndPoint is not valid. </p>"
        }
      ],
      "documentation":"<p> Adds new instances to the load balancer. </p> <p> Once the instance is registered, it starts receiving traffic and requests from the load balancer. Any instance that is not in any of the Availability Zones registered for the load balancer will be moved to the <i>OutOfService</i> state. It will move to the <i>InService</i> state when the Availability Zone is added to the load balancer. </p> <p>When an instance registered with a load balancer is stopped and then restarted, the IP addresses associated with the instance changes. Elastic Load Balancing cannot recognize the new IP address, which prevents it from routing traffic to the instances. We recommend that you de-register your Amazon EC2 instances from your load balancer after you stop your instance, and then register the load balancer with your instance after you've restarted. To de-register your instances from load balancer, use <a>DeregisterInstancesFromLoadBalancer</a> action.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/US_DeReg_Reg_Instances.html\">De-register and Register Amazon EC2 Instances</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p> <note> In order for this call to be successful, you must provide the same account credentials as those that were used to create the load balancer. </note> <note> Completion of this API does not guarantee that operation has completed. Rather, it means that the request has been registered and the changes will happen shortly. </note> <p>You can use <a>DescribeLoadBalancers</a> or <a>DescribeInstanceHealth</a> action to check the state of the newly registered instances.</p>"
    },
    "RemoveTags":{
      "name":"RemoveTags",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"RemoveTagsInput",
        "documentation":"<p> The input for the <a>RemoveTags</a> action. </p>"
      },
      "output":{
        "shape":"RemoveTagsOutput",
        "documentation":"<p> The output for the <a>RemoveTags</a> action. </p>",
        "resultWrapper":"RemoveTagsResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        }
      ],
      "documentation":"<p>Removes one or more tags from the specified load balancer.</p>"
    },
    "SetLoadBalancerListenerSSLCertificate":{
      "name":"SetLoadBalancerListenerSSLCertificate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"SetLoadBalancerListenerSSLCertificateInput",
        "documentation":"<p> The input for the <a>SetLoadBalancerListenerSSLCertificate</a> action. </p>"
      },
      "output":{
        "shape":"SetLoadBalancerListenerSSLCertificateOutput",
        "documentation":"<p> The output for the <a>SetLoadBalancerListenerSSLCertificate</a> action. </p>",
        "resultWrapper":"SetLoadBalancerListenerSSLCertificateResult"
      },
      "errors":[
        {
          "shape":"CertificateNotFoundException",
          "error":{
            "code":"CertificateNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified SSL ID does not refer to a valid SSL certificate in the AWS Identity and Access Management Service. </p>"
        },
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        },
        {
          "shape":"ListenerNotFoundException",
          "error":{
            "code":"ListenerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Load balancer does not have a listener configured at the given port. </p>"
        },
        {
          "shape":"InvalidConfigurationRequestException",
          "error":{
            "code":"InvalidConfigurationRequest",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Requested configuration change is invalid. </p>"
        }
      ],
      "documentation":"<p> Sets the certificate that terminates the specified listener's SSL connections. The specified certificate replaces any prior certificate that was used on the same load balancer and port. </p> <p>For more information on updating your SSL certificate, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/US_UpdatingLoadBalancerSSL.html\">Updating an SSL Certificate for a Load Balancer</a> in the <i>Elastic Load Balancing Developer Guide</i>.</p>"
    },
    "SetLoadBalancerPoliciesForBackendServer":{
      "name":"SetLoadBalancerPoliciesForBackendServer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"SetLoadBalancerPoliciesForBackendServerInput",
        "documentation":"<p>The input for the <a>SetLoadBalancerPoliciesForBackendServer</a> action.</p>"
      },
      "output":{
        "shape":"SetLoadBalancerPoliciesForBackendServerOutput",
        "documentation":"<p> The output for the <a>SetLoadBalancerPoliciesForBackendServer</a> action. </p>",
        "resultWrapper":"SetLoadBalancerPoliciesForBackendServerResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        },
        {
          "shape":"PolicyNotFoundException",
          "error":{
            "code":"PolicyNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> One or more specified policies were not found. </p>"
        },
        {
          "shape":"InvalidConfigurationRequestException",
          "error":{
            "code":"InvalidConfigurationRequest",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Requested configuration change is invalid. </p>"
        }
      ],
      "documentation":"<p> Replaces the current set of policies associated with a port on which the back-end server is listening with a new set of policies. After the policies have been created using <a>CreateLoadBalancerPolicy</a>, they can be applied here as a list. At this time, only the back-end server authentication policy type can be applied to the back-end ports; this policy type is composed of multiple public key policies. </p> <note> <p>The <i>SetLoadBalancerPoliciesForBackendServer</i> replaces the current set of policies associated with the specified instance port. Every time you use this action to enable the policies, use the <code>PolicyNames</code> parameter to list all the policies you want to enable.</p> </note> <p>You can use <a>DescribeLoadBalancers</a> or <a>DescribeLoadBalancerPolicies</a> action to verify that the policy has been associated with the back-end server.</p>"
    },
    "SetLoadBalancerPoliciesOfListener":{
      "name":"SetLoadBalancerPoliciesOfListener",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"SetLoadBalancerPoliciesOfListenerInput",
        "documentation":"<p> The input for the <a>SetLoadBalancerPoliciesOfListener</a> action. </p>"
      },
      "output":{
        "shape":"SetLoadBalancerPoliciesOfListenerOutput",
        "documentation":"<p> The output for the <a>SetLoadBalancerPoliciesOfListener</a> action. </p>",
        "resultWrapper":"SetLoadBalancerPoliciesOfListenerResult"
      },
      "errors":[
        {
          "shape":"AccessPointNotFoundException",
          "error":{
            "code":"LoadBalancerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> The specified load balancer could not be found. </p>"
        },
        {
          "shape":"PolicyNotFoundException",
          "error":{
            "code":"PolicyNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> One or more specified policies were not found. </p>"
        },
        {
          "shape":"ListenerNotFoundException",
          "error":{
            "code":"ListenerNotFound",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Load balancer does not have a listener configured at the given port. </p>"
        },
        {
          "shape":"InvalidConfigurationRequestException",
          "error":{
            "code":"InvalidConfigurationRequest",
            "httpStatusCode":409,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p> Requested configuration change is invalid. </p>"
        }
      ],
      "documentation":"<p> Associates, updates, or disables a policy with a listener on the load balancer. You can associate multiple policies with a listener. </p>"
    }
  },
  "shapes":{
    "AccessLog":{
      "type":"structure",
      "required":["Enabled"],
      "members":{
        "Enabled":{
          "shape":"AccessLogEnabled",
          "documentation":"<p>Specifies whether access log is enabled for the load balancer.</p>"
        },
        "S3BucketName":{
          "shape":"S3BucketName",
          "documentation":"<p>The name of the Amazon S3 bucket where the access logs are stored.</p>"
        },
        "EmitInterval":{
          "shape":"AccessLogInterval",
          "documentation":"<p>The interval for publishing the access logs. You can specify an interval of either 5 minutes or 60 minutes.</p> <p>Default: 60 minutes</p>"
        },
        "S3BucketPrefix":{
          "shape":"AccessLogPrefix",
          "documentation":"<p>The logical hierarchy you created for your Amazon S3 bucket, for example <code>my-bucket-prefix/prod</code>. If the prefix is not provided, the log is placed at the root level of the bucket.</p>"
        }
      },
      "documentation":"<p>The <code>AccessLog</code> data type.</p>"
    },
    "AccessLogEnabled":{"type":"boolean"},
    "AccessLogInterval":{"type":"integer"},
    "AccessLogPrefix":{"type":"string"},
    "AccessPointName":{"type":"string"},
    "AccessPointNotFoundException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"LoadBalancerNotFound",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p> The specified load balancer could not be found. </p>"
    },
    "AccessPointPort":{"type":"integer"},
    "AddAvailabilityZonesInput":{
      "type":"structure",
      "required":[
        "LoadBalancerName",
        "AvailabilityZones"
      ],
      "members":{
        "LoadBalancerName":{
          "shape":"AccessPointName",
          "documentation":"<p> The name associated with the load balancer. </p>"
        },
        "AvailabilityZones":{
          "shape":"AvailabilityZones",
          "documentation":"<p> A list of new Availability Zones for the load balancer. Each Availability Zone must be in the same region as the load balancer. </p>"
        }
      },
      "documentation":"<p> The input for the <a>EnableAvailabilityZonesForLoadBalancer</a> action. </p>"
    },
    "AddAvailabilityZonesOutput":{
      "type":"structure",
      "members":{
        "AvailabilityZones":{
          "shape":"AvailabilityZones",
          "documentation":"<p> An updated list of Availability Zones for the load balancer. </p>"
        }
      },
      "documentation":"<p> The output for the <a>EnableAvailabilityZonesForLoadBalancer</a> action. </p>"
    },
    "AddTagsInput":{
      "type":"structure",
      "required":[
        "LoadBalancerNames",
        "Tags"
      ],
      "members":{
        "LoadBalancerNames":{
          "shape":"LoadBalancerNames",
          "documentation":"<p>The name of the load balancer to tag. You can specify a maximum of one load balancer name.</p>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of tags for each load balancer.</p>"
        }
      },
      "documentation":"The input for the <a>AddTags</a> action"
    },
    "AddTagsOutput":{
      "type":"structure",
      "members":{
      },
      "documentation":"The output for the <a>AddTags</a> action."
    },
    "AdditionalAttribute":{
      "type":"structure",
      "members":{
        "Key":{"shape":"StringVal"},
        "Value":{"shape":"StringVal"}
      }
    },
    "AdditionalAttributes":{
      "type":"list",
      "member":{"shape":"AdditionalAttribute"}
    },
    "AppCookieStickinessPolicies":{
      "type":"list",
      "member":{"shape":"AppCookieStickinessPolicy"}
    },
    "AppCookieStickinessPolicy":{
      "type":"structure",
      "members":{
        "PolicyName":{
          "shape":"PolicyName",
          "documentation":"<p>The mnemonic name for the policy being created. The name must be unique within a set of policies for this load balancer. </p>"
        },
        "CookieName":{
          "shape":"CookieName",
          "documentation":"<p>The name of the application cookie used for stickiness. </p>"
        }
      },
      "documentation":"<p>The AppCookieStickinessPolicy data type. </p>"
    },
    "ApplySecurityGroupsToLoadBalancerInput":{
      "type":"structure",
      "required":[
        "LoadBalancerName",
        "SecurityGroups"
      ],
      "members":{
        "LoadBalancerName":{
          "shape":"AccessPointName",
          "documentation":"<p> The name associated with the load balancer. The name must be unique within the set of load balancers associated with your AWS account. </p>"
        },
        "SecurityGroups":{
          "shape":"SecurityGroups",
          "documentation":"<p> A list of security group IDs to associate with your load balancer in VPC. The security group IDs must be provided as the ID and not the security group name (For example, sg-1234). </p>"
        }
      },
      "documentation":"<p> The input for the <a>ApplySecurityGroupsToLoadBalancer</a> action. </p>"
    },
    "ApplySecurityGroupsToLoadBalancerOutput":{
      "type":"structure",
      "members":{
        "SecurityGroups":{
          "shape":"SecurityGroups",
          "documentation":"<p> A list of security group IDs associated with your load balancer. </p>"
        }
      },
      "documentation":"<p> The out for the <a>ApplySecurityGroupsToLoadBalancer</a> action. </p>"
    },
    "AttachLoadBalancerToSubnetsInput":{
      "type":"structure",
      "required":[
        "LoadBalancerName",
        "Subnets"
      ],
      "members":{
        "LoadBalancerName":{
          "shape":"AccessPointName",
          "documentation":"<p> The name associated with the load balancer. The name must be unique within the set of load balancers associated with your AWS account. </p>"
        },
        "Subnets":{
          "shape":"Subnets",
          "documentation":"<p> A list of subnet IDs to add for the load balancer. You can add only one subnet per Availability Zone. </p>"
        }
      },
      "documentation":"<p> The input for the <a>AttachLoadBalancerToSubnets</a> action. </p>"
    },
    "AttachLoadBalancerToSubnetsOutput":{
      "type":"structure",
      "members":{
        "Subnets":{
          "shape":"Subnets",
          "documentation":"<p> A list of subnet IDs attached to the load balancer. </p>"
        }
      },
      "documentation":"<p> The output for the <a>AttachLoadBalancerToSubnets</a> action. </p>"
    },
    "AttributeName":{"type":"string"},
    "AttributeType":{"type":"string"},
    "AttributeValue":{"type":"string"},
    "AvailabilityZone":{"type":"string"},
    "AvailabilityZones":{
      "type":"list",
      "member":{"shape":"AvailabilityZone"}
    },
    "BackendServerDescription":{
      "type":"structure",
      "members":{
        "InstancePort":{
          "shape":"InstancePort",
          "documentation":"<p> Provides the port on which the back-end server is listening. </p>"
        },
        "PolicyNames":{
          "shape":"PolicyNames",
          "documentation":"<p> Provides a list of policy names enabled for the back-end server. </p>"
        }
      },
      "documentation":"<p> This data type is used as a response element in the <a>DescribeLoadBalancers</a> action to describe the configuration of the back-end server. </p>"
    },
    "BackendServerDescriptions":{
      "type":"list",
      "member":{"shape":"BackendServerDescription"}
    },
    "Cardinality":{"type":"string"},
    "CertificateNotFoundException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"CertificateNotFound",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p> The specified SSL ID does not refer to a valid SSL certificate in the AWS Identity and Access Management Service. </p>"
    },
    "ConfigureHealthCheckInput":{
      "type":"structure",
      "required":[
        "LoadBalancerName",
        "HealthCheck"
      ],
      "members":{
        "LoadBalancerName":{
          "shape":"AccessPointName",
          "documentation":"<p> The mnemonic name associated with the load balancer. The name must be unique within the set of load balancers associated with your AWS account. </p>"
        },
        "HealthCheck":{
          "shape":"HealthCheck",
          "documentation":"<p> A structure containing the configuration information for the new healthcheck. </p>"
        }
      },
      "documentation":"<p> Input for the <a>ConfigureHealthCheck</a> action. </p>"
    },
    "ConfigureHealthCheckOutput":{
      "type":"structure",
      "members":{
        "HealthCheck":{
          "shape":"HealthCheck",
          "documentation":"<p> The updated healthcheck for the instances. </p>"
        }
      },
      "documentation":"<p> The output for the <a>ConfigureHealthCheck</a> action. </p>"
    },
    "ConnectionDraining":{
      "type":"structure",
      "required":["Enabled"],
      "members":{
        "Enabled":{
          "shape":"ConnectionDrainingEnabled",
          "documentation":"<p>Specifies whether connection draining is enabled for the load balancer.</p>"
        },
        "Timeout":{
          "shape":"ConnectionDrainingTimeout",
          "documentation":"<p>Specifies the maximum time (in seconds) to keep the existing connections open before deregistering the instances.</p>"
        }
      },
      "documentation":"<p>The <code>ConnectionDraining</code> data type.</p>"
    },
    "ConnectionDrainingEnabled":{"type":"boolean"},
    "ConnectionDrainingTimeout":{"type":"integer"},
    "ConnectionSettings":{
      "type":"structure",
      "required":["IdleTimeout"],
      "members":{
        "IdleTimeout":{
          "shape":"IdleTimeout",
          "documentation":"<p>Specifies the time (in seconds) the connection is allowed to be idle (no data has been sent over the connection) before it is closed by the load balancer.</p>"
        }
      },
      "documentation":"<p>The <code>ConnectionSettings</code> data type.</p>"
    },
    "CookieExpirationPeriod":{"type":"long"},
    "CookieName":{"type":"string"},
    "CreateAccessPointInput":{
      "type":"structure",
      "required":[
        "LoadBalancerName",
        "Listeners"
      ],
      "members":{
        "LoadBalancerName":{
          "shape":"AccessPointName",
          "documentation":"<p> The name associated with the load balancer. The name must be unique within your set of load balancers, must have a maximum of 32 characters, and must only contain alphanumeric characters or hyphens. </p>"
        },
        "Listeners":{
          "shape":"Listeners",
          "documentation":"<p> A list of the following tuples: Protocol, LoadBalancerPort, InstanceProtocol, InstancePort, and SSLCertificateId. </p>"
        },
        "AvailabilityZones":{
          "shape":"AvailabilityZones",
          "documentation":"<p> A list of Availability Zones. </p> <p> At least one Availability Zone must be specified. Specified Availability Zones must be in the same EC2 Region as the load balancer. Traffic will be equally distributed across all zones. </p> <p> You can later add more Availability Zones after the creation of the load balancer by calling <a>EnableAvailabilityZonesForLoadBalancer</a> action. </p>"
        },
        "Subnets":{
          "shape":"Subnets",
          "documentation":"<p> A list of subnet IDs in your VPC to attach to your load balancer. Specify one subnet per Availability Zone. </p>"
        },
        "SecurityGroups":{
          "shape":"SecurityGroups",
          "documentation":"<p> The security groups to assign to your load balancer within your VPC. </p>"
        },
        "Scheme":{
          "shape":"LoadBalancerScheme",
          "documentation":"<p>The type of a load balancer. </p> <p>By default, Elastic Load Balancing creates an Internet-facing load balancer with a publicly resolvable DNS name, which resolves to public IP addresses. For more information about Internet-facing and Internal load balancers, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/vpc-loadbalancer-types.html\">Internet-facing and Internal Load Balancers</a>.</p> <p>Specify the value <code>internal</code> for this option to create an internal load balancer with a DNS name that resolves to private IP addresses.</p> <note> <p>This option is only available for load balancers created within EC2-VPC.</p> </note>"
        },
        "Tags":{
          "shape":"TagList",
          "documentation":"<p>A list of tags to assign to the load balancer.</p> <p>For more information about setting tags for your load balancer, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/TerminologyandKeyConcepts.html#tagging-elb\">Tagging</a>.</p>"
        }
      },
      "documentation":"<p> The input for the <a>CreateLoadBalancer</a> action. </p>"
    },
    "CreateAccessPointOutput":{
      "type":"structure",
      "members":{
        "DNSName":{
          "shape":"DNSName",
          "documentation":"<p> The DNS name for the load balancer. </p>"
        }
      },
      "documentation":"<p> The output for the <a>CreateLoadBalancer</a> action. </p>"
    },
    "CreateAppCookieStickinessPolicyInput":{
      "type":"structure",
      "required":[
        "LoadBalancerName",
        "PolicyName",
        "CookieName"
      ],
      "members":{
        "LoadBalancerName":{
          "shape":"AccessPointName",
          "documentation":"<p> The name of the load balancer. </p>"
        },
        "PolicyName":{
          "shape":"PolicyName",
          "documentation":"<p> The name of the policy being created. The name must be unique within the set of policies for this load balancer. </p>"
        },
        "CookieName":{
          "shape":"CookieName",
          "documentation":"<p> Name of the application cookie used for stickiness. </p>"
        }
      },
      "documentation":"<p> The input for the <a>CreateAppCookieStickinessPolicy</a> action. </p>"
    },
    "CreateAppCookieStickinessPolicyOutput":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p> The output for the <a>CreateAppCookieStickinessPolicy</a> action. </p>"
    },
    "CreateLBCookieStickinessPolicyInput":{
      "type":"structure",
      "required":[
        "LoadBalancerName",
        "PolicyName"
      ],
      "members":{
        "LoadBalancerName":{
          "shape":"AccessPointName",
          "documentation":"<p> The name associated with the load balancer. </p>"
        },
        "PolicyName":{
          "shape":"PolicyName",
          "documentation":"<p> The name of the policy being created. The name must be unique within the set of policies for this load balancer. </p>"
        },
        "CookieExpirationPeriod":{
          "shape":"CookieExpirationPeriod",
          "documentation":"<p> The time period in seconds after which the cookie should be considered stale. Not specifying this parameter indicates that the sticky session will last for the duration of the browser session. </p>"
        }
      },
      "documentation":"<p> The input for the <a>CreateLBCookieStickinessPolicy</a> action. </p>"
    },
    "CreateLBCookieStickinessPolicyOutput":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p> The output for the <a>CreateLBCookieStickinessPolicy</a> action. </p>"
    },
    "CreateLoadBalancerListenerInput":{
      "type":"structure",
      "required":[
        "LoadBalancerName",
        "Listeners"
      ],
      "members":{
        "LoadBalancerName":{
          "shape":"AccessPointName",
          "documentation":"<p> The name of the load balancer. </p>"
        },
        "Listeners":{
          "shape":"Listeners",
          "documentation":"<p> A list of <code>LoadBalancerPort</code>, <code>InstancePort</code>, <code>Protocol</code>, <code>InstanceProtocol</code>, and <code>SSLCertificateId</code> items. </p>"
        }
      },
      "documentation":"<p> The input for the <a>CreateLoadBalancerListeners</a> action. </p>"
    },
    "CreateLoadBalancerListenerOutput":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p> The output for the <a>CreateLoadBalancerListeners</a> action. </p>"
    },
    "CreateLoadBalancerPolicyInput":{
      "type":"structure",
      "required":[
        "LoadBalancerName",
        "PolicyName",
        "PolicyTypeName"
      ],
      "members":{
        "LoadBalancerName":{
          "shape":"AccessPointName",
          "documentation":"<p> The name associated with the LoadBalancer for which the policy is being created. </p>"
        },
        "PolicyName":{
          "shape":"PolicyName",
          "documentation":"<p> The name of the load balancer policy being created. The name must be unique within the set of policies for this load balancer. </p>"
        },
        "PolicyTypeName":{
          "shape":"PolicyTypeName",
          "documentation":"<p> The name of the base policy type being used to create this policy. To get the list of policy types, use the <a>DescribeLoadBalancerPolicyTypes</a> action. </p>"
        },
        "PolicyAttributes":{
          "shape":"PolicyAttributes",
          "documentation":"<p> A list of attributes associated with the policy being created. </p>"
        }
      }
    },
    "CreateLoadBalancerPolicyOutput":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The output for the <a>CreateLoadBalancerPolicy</a> action. </p>"
    },
    "CreatedTime":{"type":"timestamp"},
    "CrossZoneLoadBalancing":{
      "type":"structure",
      "required":["Enabled"],
      "members":{
        "Enabled":{
          "shape":"CrossZoneLoadBalancingEnabled",
          "documentation":"<p>Specifies whether cross-zone load balancing is enabled for the load balancer.</p>"
        }
      },
      "documentation":"<p>The <code>CrossZoneLoadBalancing</code> data type.</p>"
    },
    "CrossZoneLoadBalancingEnabled":{"type":"boolean"},
    "DNSName":{"type":"string"},
    "DefaultValue":{"type":"string"},
    "DeleteAccessPointInput":{
      "type":"structure",
      "required":["LoadBalancerName"],
      "members":{
        "LoadBalancerName":{
          "shape":"AccessPointName",
          "documentation":"<p> The name associated with the load balancer. </p>"
        }
      },
      "documentation":"<p> The input for the <a>DeleteLoadBalancer</a> action. </p>"
    },
    "DeleteAccessPointOutput":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p> The output for the <a>DeleteLoadBalancer</a> action. </p>"
    },
    "DeleteLoadBalancerListenerInput":{
      "type":"structure",
      "required":[
        "LoadBalancerName",
        "LoadBalancerPorts"
      ],
      "members":{
        "LoadBalancerName":{
          "shape":"AccessPointName",
          "documentation":"<p> The mnemonic name associated with the load balancer. </p>"
        },
        "LoadBalancerPorts":{
          "shape":"Ports",
          "documentation":"<p> The client port number(s) of the load balancer listener(s) to be removed. </p>"
        }
      },
      "documentation":"<p> The input for the <a>DeleteLoadBalancerListeners</a> action. </p>"
    },
    "DeleteLoadBalancerListenerOutput":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p> The output for the <a>DeleteLoadBalancerListeners</a> action. </p>"
    },
    "DeleteLoadBalancerPolicyInput":{
      "type":"structure",
      "required":[
        "LoadBalancerName",
        "PolicyName"
      ],
      "members":{
        "LoadBalancerName":{
          "shape":"AccessPointName",
          "documentation":"<p> The mnemonic name associated with the load balancer. </p>"
        },
        "PolicyName":{
          "shape":"PolicyName",
          "documentation":"<p> The mnemonic name for the policy being deleted. </p>"
        }
      },
      "documentation":"<p> The input for the <a>DeleteLoadBalancerPolicy</a> action. </p>"
    },
    "DeleteLoadBalancerPolicyOutput":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p> The output for the <a>DeleteLoadBalancerPolicy</a> action. </p>"
    },
    "DeregisterEndPointsInput":{
      "type":"structure",
      "required":[
        "LoadBalancerName",
        "Instances"
      ],
      "members":{
        "LoadBalancerName":{
          "shape":"AccessPointName",
          "documentation":"<p> The name associated with the load balancer. </p>"
        },
        "Instances":{
          "shape":"Instances",
          "documentation":"<p> A list of EC2 instance IDs consisting of all instances to be deregistered. </p>"
        }
      },
      "documentation":"<p> The input for the <a>DeregisterInstancesFromLoadBalancer</a> action. </p>"
    },
    "DeregisterEndPointsOutput":{
      "type":"structure",
      "members":{
        "Instances":{
          "shape":"Instances",
          "documentation":"<p> An updated list of remaining instances registered with the load balancer. </p>"
        }
      },
      "documentation":"<p> The output for the <a>DeregisterInstancesFromLoadBalancer</a> action. </p>"
    },
    "DescribeAccessPointsInput":{
      "type":"structure",
      "members":{
        "LoadBalancerNames":{
          "shape":"LoadBalancerNames",
          "documentation":"<p> A list of load balancer names associated with the account. </p>"
        },
        "Marker":{
          "shape":"Marker",
          "documentation":"<p> An optional parameter used for pagination of results from this call. If specified, the response includes only records beyond the marker. </p>"
        },
        "PageSize":{
          "shape":"PageSize",
          "documentation":"<p> The number of results returned in each page. The default is 400. You cannot specify a page size greater than 400 or less than 1. </p>"
        }
      },
      "documentation":"<p> The input for the <a>DescribeLoadBalancers</a> action. </p>"
    },
    "DescribeAccessPointsOutput":{
      "type":"structure",
      "members":{
        "LoadBalancerDescriptions":{
          "shape":"LoadBalancerDescriptions",
          "documentation":"<p> A list of load balancer description structures. </p>"
        },
        "NextMarker":{
          "shape":"Marker",
          "documentation":"<p> Specifies the value of next marker if the request returned more than one page of results. </p>"
        }
      },
      "documentation":"<p> The output for the <a>DescribeLoadBalancers</a> action. </p>"
    },
    "DescribeEndPointStateInput":{
      "type":"structure",
      "required":["LoadBalancerName"],
      "members":{
        "LoadBalancerName":{
          "shape":"AccessPointName",
          "documentation":"<p> The name of the load balancer. </p>"
        },
        "Instances":{
          "shape":"Instances",
          "documentation":"<p> A list of instance IDs whose states are being queried. </p>"
        }
      },
      "documentation":"<p> The input for the <a>DescribeEndPointState</a> action. </p>"
    },
    "DescribeEndPointStateOutput":{
      "type":"structure",
      "members":{
        "InstanceStates":{
          "shape":"InstanceStates",
          "documentation":"<p> A list containing health information for the specified instances. </p>"
        }
      },
      "documentation":"<p> The output for the <a>DescribeInstanceHealth</a> action. </p>"
    },
    "DescribeLoadBalancerAttributesInput":{
      "type":"structure",
      "required":["LoadBalancerName"],
      "members":{
        "LoadBalancerName":{
          "shape":"AccessPointName",
          "documentation":"<p>The name of the load balancer.</p>"
        }
      },
      "documentation":"<p>The input for the <a>DescribeLoadBalancerAttributes</a> action.</p>"
    },
    "DescribeLoadBalancerAttributesOutput":{
      "type":"structure",
      "members":{
        "LoadBalancerAttributes":{
          "shape":"LoadBalancerAttributes",
          "documentation":"<p>The load balancer attributes structure.</p>"
        }
      },
      "documentation":"<p>The following element is returned in a structure named <code>DescribeLoadBalancerAttributesResult</code>.</p>"
    },
    "DescribeLoadBalancerPoliciesInput":{
      "type":"structure",
      "members":{
        "LoadBalancerName":{
          "shape":"AccessPointName",
          "documentation":"<p> The mnemonic name associated with the load balancer. If no name is specified, the operation returns the attributes of either all the sample policies pre-defined by Elastic Load Balancing or the specified sample polices. </p>"
        },
        "PolicyNames":{
          "shape":"PolicyNames",
          "documentation":"<p> The names of load balancer policies you've created or Elastic Load Balancing sample policy names. </p>"
        }
      }
    },
    "DescribeLoadBalancerPoliciesOutput":{
      "type":"structure",
      "members":{
        "PolicyDescriptions":{
          "shape":"PolicyDescriptions",
          "documentation":"<p> A list of policy description structures. </p>"
        }
      },
      "documentation":"<p>The output for the <a>DescribeLoadBalancerPolicies</a> action. </p>"
    },
    "DescribeLoadBalancerPolicyTypesInput":{
      "type":"structure",
      "members":{
        "PolicyTypeNames":{
          "shape":"PolicyTypeNames",
          "documentation":"<p> Specifies the name of the policy types. If no names are specified, returns the description of all the policy types defined by Elastic Load Balancing service. </p>"
        }
      }
    },
    "DescribeLoadBalancerPolicyTypesOutput":{
      "type":"structure",
      "members":{
        "PolicyTypeDescriptions":{
          "shape":"PolicyTypeDescriptions",
          "documentation":"<p> List of policy type description structures of the specified policy type. If no policy type names are specified, returns the description of all the policy types defined by Elastic Load Balancing service. </p>"
        }
      },
      "documentation":"<p> The output for the <a>DescribeLoadBalancerPolicyTypes</a> action. </p>"
    },
    "DescribeTagsInput":{
      "type":"structure",
      "required":["LoadBalancerNames"],
      "members":{
        "LoadBalancerNames":{
          "shape":"LoadBalancerNamesMax20",
          "documentation":"<p> The names of the load balancers. </p>"
        }
      },
      "documentation":"<p> The input for the <a>DescribeTags</a> action. </p>"
    },
    "DescribeTagsOutput":{
      "type":"structure",
      "members":{
        "TagDescriptions":{
          "shape":"TagDescriptions",
          "documentation":"<p> A list of tag description structures. </p>"
        }
      },
      "documentation":"<p> The output for the <a>DescribeTags</a> action. </p>"
    },
    "Description":{"type":"string"},
    "DetachLoadBalancerFromSubnetsInput":{
      "type":"structure",
      "required":[
        "LoadBalancerName",
        "Subnets"
      ],
      "members":{
        "LoadBalancerName":{
          "shape":"AccessPointName",
          "documentation":"<p> The name associated with the load balancer to be detached. </p>"
        },
        "Subnets":{
          "shape":"Subnets",
          "documentation":"<p> A list of subnet IDs to remove from the set of configured subnets for the load balancer. </p>"
        }
      },
      "documentation":"<p> The input for the <a>DetachLoadBalancerFromSubnets</a> action. </p>"
    },
    "DetachLoadBalancerFromSubnetsOutput":{
      "type":"structure",
      "members":{
        "Subnets":{
          "shape":"Subnets",
          "documentation":"<p> A list of subnet IDs the load balancer is now attached to. </p>"
        }
      },
      "documentation":"<p> The output for the <a>DetachLoadBalancerFromSubnets</a> action. </p>"
    },
    "DuplicateAccessPointNameException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DuplicateLoadBalancerName",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p> The load balancer name already exists for this account. Please choose another name. </p>"
    },
    "DuplicateListenerException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DuplicateListener",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p> A <code>Listener</code> already exists for the given <code>LoadBalancerName</code> and <code>LoadBalancerPort</code>, but with a different <code>InstancePort</code>, <code>Protocol</code>, or <code>SSLCertificateId</code>. </p>"
    },
    "DuplicatePolicyNameException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DuplicatePolicyName",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p> Policy with the same name exists for this load balancer. Please choose another name. </p>"
    },
    "DuplicateTagKeysException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"DuplicateTagKeys",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The same tag key specified multiple times.</p>"
    },
    "EndPointPort":{"type":"integer"},
    "HealthCheck":{
      "type":"structure",
      "required":[
        "Target",
        "Interval",
        "Timeout",
        "UnhealthyThreshold",
        "HealthyThreshold"
      ],
      "members":{
        "Target":{
          "shape":"HealthCheckTarget",
          "documentation":"<p> Specifies the instance being checked. The protocol is either TCP, HTTP, HTTPS, or SSL. The range of valid ports is one (1) through 65535. </p> <note> <p> TCP is the default, specified as a TCP: port pair, for example \"TCP:5000\". In this case a healthcheck simply attempts to open a TCP connection to the instance on the specified port. Failure to connect within the configured timeout is considered unhealthy. </p> <p>SSL is also specified as SSL: port pair, for example, SSL:5000.</p> <p> For HTTP or HTTPS protocol, the situation is different. You have to include a ping path in the string. HTTP is specified as a HTTP:port;/;PathToPing; grouping, for example \"HTTP:80/weather/us/wa/seattle\". In this case, a HTTP GET request is issued to the instance on the given port and path. Any answer other than \"200 OK\" within the timeout period is considered unhealthy. </p> <p> The total length of the HTTP ping target needs to be 1024 16-bit Unicode characters or less. </p> </note>"
        },
        "Interval":{
          "shape":"HealthCheckInterval",
          "documentation":"<p> Specifies the approximate interval, in seconds, between health checks of an individual instance. </p>"
        },
        "Timeout":{
          "shape":"HealthCheckTimeout",
          "documentation":"<p> Specifies the amount of time, in seconds, during which no response means a failed health probe. </p> <note> This value must be less than the <i>Interval</i> value. </note>"
        },
        "UnhealthyThreshold":{
          "shape":"UnhealthyThreshold",
          "documentation":"<p> Specifies the number of consecutive health probe failures required before moving the instance to the <i>Unhealthy</i> state. </p>"
        },
        "HealthyThreshold":{
          "shape":"HealthyThreshold",
          "documentation":"<p> Specifies the number of consecutive health probe successes required before moving the instance to the <i>Healthy</i> state. </p>"
        }
      },
      "documentation":"<p> The HealthCheck data type. </p>"
    },
    "HealthCheckInterval":{
      "type":"integer",
      "min":1,
      "max":300
    },
    "HealthCheckTarget":{"type":"string"},
    "HealthCheckTimeout":{
      "type":"integer",
      "min":1,
      "max":300
    },
    "HealthyThreshold":{
      "type":"integer",
      "min":2,
      "max":10
    },
    "IdleTimeout":{
      "type":"integer",
      "min":1,
      "max":3600
    },
    "Instance":{
      "type":"structure",
      "members":{
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"<p> Provides an EC2 instance ID. </p>"
        }
      },
      "documentation":"<p> The Instance data type. </p>"
    },
    "InstanceId":{"type":"string"},
    "InstancePort":{
      "type":"integer",
      "min":1,
      "max":65535
    },
    "InstanceState":{
      "type":"structure",
      "members":{
        "InstanceId":{
          "shape":"InstanceId",
          "documentation":"<p> Provides an EC2 instance ID. </p>"
        },
        "State":{
          "shape":"State",
          "documentation":"<p>Specifies the current state of the instance.</p> <p>Valid value: <code>InService</code>|<code>OutOfService</code>|<code>Unknown</code></p>"
        },
        "ReasonCode":{
          "shape":"ReasonCode",
          "documentation":"<p> Provides information about the cause of <i>OutOfService</i> instances. Specifically, it indicates whether the cause is Elastic Load Balancing or the instance behind the load balancer. </p> <p>Valid value: <code>ELB</code>|<code>Instance</code>|<code>N/A</code></p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p> Provides a description of the instance state. </p>"
        }
      },
      "documentation":"<p> The InstanceState data type. </p>"
    },
    "InstanceStates":{
      "type":"list",
      "member":{"shape":"InstanceState"}
    },
    "Instances":{
      "type":"list",
      "member":{"shape":"Instance"}
    },
    "InvalidConfigurationRequestException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidConfigurationRequest",
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p> Requested configuration change is invalid. </p>"
    },
    "InvalidEndPointException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidInstance",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p> The specified EndPoint is not valid. </p>"
    },
    "InvalidSchemeException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidScheme",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p> Invalid value for scheme. Scheme can only be specified for load balancers in VPC. </p>"
    },
    "InvalidSecurityGroupException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidSecurityGroup",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p> One or more specified security groups do not exist. </p>"
    },
    "InvalidSubnetException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InvalidSubnet",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p> The VPC has no Internet gateway. </p>"
    },
    "LBCookieStickinessPolicies":{
      "type":"list",
      "member":{"shape":"LBCookieStickinessPolicy"}
    },
    "LBCookieStickinessPolicy":{
      "type":"structure",
      "members":{
        "PolicyName":{
          "shape":"PolicyName",
          "documentation":"<p>The name for the policy being created. The name must be unique within the set of policies for this load balancer. </p>"
        },
        "CookieExpirationPeriod":{
          "shape":"CookieExpirationPeriod",
          "documentation":"<p>The time period in seconds after which the cookie should be considered stale. Not specifying this parameter indicates that the stickiness session will last for the duration of the browser session. </p>"
        }
      },
      "documentation":"<p>The LBCookieStickinessPolicy data type. </p>"
    },
    "Listener":{
      "type":"structure",
      "required":[
        "Protocol",
        "LoadBalancerPort",
        "InstancePort"
      ],
      "members":{
        "Protocol":{
          "shape":"Protocol",
          "documentation":"<p> Specifies the load balancer transport protocol to use for routing - HTTP, HTTPS, TCP or SSL. This property cannot be modified for the life of the load balancer. </p>"
        },
        "LoadBalancerPort":{
          "shape":"AccessPointPort",
          "documentation":"<p> Specifies the external load balancer port number. This property cannot be modified for the life of the load balancer. </p>"
        },
        "InstanceProtocol":{
          "shape":"Protocol",
          "documentation":"<p> Specifies the protocol to use for routing traffic to back-end instances - HTTP, HTTPS, TCP, or SSL. This property cannot be modified for the life of the load balancer. </p> <note> If the front-end protocol is HTTP or HTTPS, <code>InstanceProtocol</code> has to be at the same protocol layer, i.e., HTTP or HTTPS. Likewise, if the front-end protocol is TCP or SSL, InstanceProtocol has to be TCP or SSL. </note> <note> If there is another listener with the same <code>InstancePort</code> whose <code>InstanceProtocol</code> is secure, i.e., HTTPS or SSL, the listener's <code>InstanceProtocol</code> has to be secure, i.e., HTTPS or SSL. If there is another listener with the same <code>InstancePort</code> whose <code>InstanceProtocol</code> is HTTP or TCP, the listener's <code>InstanceProtocol</code> must be either HTTP or TCP. </note>"
        },
        "InstancePort":{
          "shape":"InstancePort",
          "documentation":"<p> Specifies the TCP port on which the instance server is listening. This property cannot be modified for the life of the load balancer. </p>"
        },
        "SSLCertificateId":{
          "shape":"SSLCertificateId",
          "documentation":"<p> The ARN string of the server certificate. To get the ARN of the server certificate, call the AWS Identity and Access Management <a href=\"http://docs.aws.amazon.com/IAM/latest/APIReference/index.html?API_UploadServerCertificate.html\">UploadServerCertificate </a> API. </p>"
        }
      },
      "documentation":"<p> The Listener data type. </p>"
    },
    "ListenerDescription":{
      "type":"structure",
      "members":{
        "Listener":{"shape":"Listener"},
        "PolicyNames":{
          "shape":"PolicyNames",
          "documentation":"<p> A list of policies enabled for this listener. An empty list indicates that no policies are enabled. </p>"
        }
      },
      "documentation":"<p> The ListenerDescription data type. </p>"
    },
    "ListenerDescriptions":{
      "type":"list",
      "member":{"shape":"ListenerDescription"}
    },
    "ListenerNotFoundException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"ListenerNotFound",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p> Load balancer does not have a listener configured at the given port. </p>"
    },
    "Listeners":{
      "type":"list",
      "member":{"shape":"Listener"}
    },
    "LoadBalancerAttributeNotFoundException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"LoadBalancerAttributeNotFound",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The specified load balancer attribute could not be found.</p>"
    },
    "LoadBalancerAttributes":{
      "type":"structure",
      "members":{
        "CrossZoneLoadBalancing":{
          "shape":"CrossZoneLoadBalancing",
          "documentation":"<p>The name of the load balancer attribute. If enabled, the load balancer routes the request traffic evenly across all back-end instances regardless of the Availability Zones.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/enable-disable-crosszone-lb.html\">Enable Cross-Zone Load Balancing</a>.</p>"
        },
        "AccessLog":{
          "shape":"AccessLog",
[...]
