# cloud.yaml contains the default configuration that's made available on the
# internet.
addr: 127.0.0.1:8787
uiaddr: 127.0.0.1:16823
client:
  firetweetversion: "{{.ftVersion}}"
  frontedservers: []
  chainedservers: {{range .fallbacks}}
    fallback-{{.ip}}:
      addr: {{.ip}}
      cert: "{{.cert}}"
      authtoken: "{{.auth_token}}"
      pipelined: true
      weight: 1000000
      qos: 10
      trusted: true{{end}}
  masqueradesets:
    cloudflare: []
    cloudfront: {{range .masquerades}}
    - domain: {{.Domain}}
      ipaddress: {{.IpAddress}}{{end}}
proxiedsites:
  delta:
    additions: []
    deletions: []
  cloud:{{range $domain := .proxiedsites }}
  - {{$domain}}{{end}}
trustedcas: {{range .cas}}
- commonname: "{{.CommonName}}"
  cert: "{{.Cert}}"{{end}}
