package config

import "github.com/getlantern/fronted"

var defaultTrustedCAs = []*CA{ {{range .cas}}
	&CA{
		CommonName: "{{.CommonName}}",
		Cert:       "{{.Cert}}",
	}, {{end}}
}

var cloudflareMasquerades = []*fronted.Masquerade{}

var cloudfrontMasquerades = []*fronted.Masquerade{ {{range .masquerades}}
	&fronted.Masquerade{
		Domain:    "{{.Domain}}",
		IpAddress: "{{.IpAddress}}",
	}, {{end}}
}
