package fronted

import "github.com/getlantern/fronted"

var TrustedCAs = []*CA{ {{range .cas}}
	&CA{
		CommonName: "{{.CommonName}}",
		Cert:       "{{.Cert}}",
	}, {{end}}
}

var Cloudfront = []*Masquerade{ {{range .masquerades}}
	&Masquerade{
		Domain:    "{{.Domain}}",
		IpAddress: "{{.IpAddress}}",
	}, {{end}}
}
