{
  "metadata":{
    "apiVersion":"2012-09-25",
    "endpointPrefix":"elastictranscoder",
    "serviceFullName":"Amazon Elastic Transcoder",
    "signatureVersion":"v4",
    "protocol":"rest-json"
  },
  "documentation":"<fullname>AWS Elastic Transcoder Service</fullname> <p>The AWS Elastic Transcoder Service.</p>",
  "operations":{
    "CancelJob":{
      "name":"CancelJob",
      "http":{
        "method":"DELETE",
        "requestUri":"/2012-09-25/jobs/{Id}",
        "responseCode":202
      },
      "input":{
        "shape":"CancelJobRequest",
        "documentation":"<p>The <code>CancelJobRequest</code> structure.</p>"
      },
      "output":{
        "shape":"CancelJobResponse",
        "documentation":"<p>The response body contains a JSON object. If the job is successfully canceled, the value of <code>Success</code> is <code>true</code>.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"ResourceInUseException",
          "error":{"httpStatusCode":409},
          "exception":true,
          "documentation":"<p> The resource you are attempting to change is in use. For example, you are attempting to delete a pipeline that is currently in use. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The CancelJob operation cancels an unfinished job.</p> <note>You can only cancel a job that has a status of <code>Submitted</code>. To prevent a pipeline from starting to process a job while you're getting the job identifier, use <a>UpdatePipelineStatus</a> to temporarily pause the pipeline.</note>"
    },
    "CreateJob":{
      "name":"CreateJob",
      "http":{
        "method":"POST",
        "requestUri":"/2012-09-25/jobs",
        "responseCode":201
      },
      "input":{
        "shape":"CreateJobRequest",
        "documentation":"<p>The <code>CreateJobRequest</code> structure.</p>"
      },
      "output":{
        "shape":"CreateJobResponse",
        "documentation":"<p>The CreateJobResponse structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{"httpStatusCode":429},
          "exception":true,
          "documentation":"<p>Too many operations for a given AWS account. For example, the number of pipelines exceeds the maximum allowed.</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p> When you create a job, Elastic Transcoder returns JSON data that includes the values that you specified plus information about the job that is created. </p> <p>If you have specified more than one output for your jobs (for example, one output for the Kindle Fire and another output for the Apple iPhone 4s), you currently must use the Elastic Transcoder API to list the jobs (as opposed to the AWS Console).</p>"
    },
    "CreatePipeline":{
      "name":"CreatePipeline",
      "http":{
        "method":"POST",
        "requestUri":"/2012-09-25/pipelines",
        "responseCode":201
      },
      "input":{
        "shape":"CreatePipelineRequest",
        "documentation":"<p>The <code>CreatePipelineRequest</code> structure.</p>"
      },
      "output":{
        "shape":"CreatePipelineResponse",
        "documentation":"<p>When you create a pipeline, Elastic Transcoder returns the values that you specified in the request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{"httpStatusCode":429},
          "exception":true,
          "documentation":"<p>Too many operations for a given AWS account. For example, the number of pipelines exceeds the maximum allowed.</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The CreatePipeline operation creates a pipeline with settings that you specify.</p>"
    },
    "CreatePreset":{
      "name":"CreatePreset",
      "http":{
        "method":"POST",
        "requestUri":"/2012-09-25/presets",
        "responseCode":201
      },
      "input":{
        "shape":"CreatePresetRequest",
        "documentation":"<p>The <code>CreatePresetRequest</code> structure.</p>"
      },
      "output":{
        "shape":"CreatePresetResponse",
        "documentation":"<p>The <code>CreatePresetResponse</code> structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"LimitExceededException",
          "error":{"httpStatusCode":429},
          "exception":true,
          "documentation":"<p>Too many operations for a given AWS account. For example, the number of pipelines exceeds the maximum allowed.</p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The CreatePreset operation creates a preset with settings that you specify.</p> <important>Elastic Transcoder checks the CreatePreset settings to ensure that they meet Elastic Transcoder requirements and to determine whether they comply with H.264 standards. If your settings are not valid for Elastic Transcoder, Elastic Transcoder returns an HTTP 400 response (<code>ValidationException</code>) and does not create the preset. If the settings are valid for Elastic Transcoder but aren't strictly compliant with the H.264 standard, Elastic Transcoder creates the preset and returns a warning message in the response. This helps you determine whether your settings comply with the H.264 standard while giving you greater flexibility with respect to the video that Elastic Transcoder produces.</important> <p>Elastic Transcoder uses the H.264 video-compression format. For more information, see the International Telecommunication Union publication <i>Recommendation ITU-T H.264: Advanced video coding for generic audiovisual services</i>.</p>"
    },
    "DeletePipeline":{
      "name":"DeletePipeline",
      "http":{
        "method":"DELETE",
        "requestUri":"/2012-09-25/pipelines/{Id}",
        "responseCode":202
      },
      "input":{
        "shape":"DeletePipelineRequest",
        "documentation":"<p>The <code>DeletePipelineRequest</code> structure.</p>"
      },
      "output":{
        "shape":"DeletePipelineResponse",
        "documentation":"<p>The <code>DeletePipelineResponse</code> structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"ResourceInUseException",
          "error":{"httpStatusCode":409},
          "exception":true,
          "documentation":"<p> The resource you are attempting to change is in use. For example, you are attempting to delete a pipeline that is currently in use. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The DeletePipeline operation removes a pipeline.</p> <p> You can only delete a pipeline that has never been used or that is not currently in use (doesn't contain any active jobs). If the pipeline is currently in use, <code>DeletePipeline</code> returns an error. </p>"
    },
    "DeletePreset":{
      "name":"DeletePreset",
      "http":{
        "method":"DELETE",
        "requestUri":"/2012-09-25/presets/{Id}",
        "responseCode":202
      },
      "input":{
        "shape":"DeletePresetRequest",
        "documentation":"<p>The <code>DeletePresetRequest</code> structure.</p>"
      },
      "output":{
        "shape":"DeletePresetResponse",
        "documentation":"<p>The <code>DeletePresetResponse</code> structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The DeletePreset operation removes a preset that you've added in an AWS region.</p> <note> <p>You can't delete the default presets that are included with Elastic Transcoder.</p> </note>"
    },
    "ListJobsByPipeline":{
      "name":"ListJobsByPipeline",
      "http":{
        "method":"GET",
        "requestUri":"/2012-09-25/jobsByPipeline/{PipelineId}"
      },
      "input":{
        "shape":"ListJobsByPipelineRequest",
        "documentation":"<p>The <code>ListJobsByPipelineRequest</code> structure.</p>"
      },
      "output":{
        "shape":"ListJobsByPipelineResponse",
        "documentation":"<p>The <code>ListJobsByPipelineResponse</code> structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The ListJobsByPipeline operation gets a list of the jobs currently in a pipeline.</p> <p>Elastic Transcoder returns all of the jobs currently in the specified pipeline. The response body contains one element for each job that satisfies the search criteria.</p>"
    },
    "ListJobsByStatus":{
      "name":"ListJobsByStatus",
      "http":{
        "method":"GET",
        "requestUri":"/2012-09-25/jobsByStatus/{Status}"
      },
      "input":{
        "shape":"ListJobsByStatusRequest",
        "documentation":"<p>The <code>ListJobsByStatusRequest</code> structure.</p>"
      },
      "output":{
        "shape":"ListJobsByStatusResponse",
        "documentation":"<p> The <code>ListJobsByStatusResponse</code> structure. </p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The ListJobsByStatus operation gets a list of jobs that have a specified status. The response body contains one element for each job that satisfies the search criteria.</p>"
    },
    "ListPipelines":{
      "name":"ListPipelines",
      "http":{
        "method":"GET",
        "requestUri":"/2012-09-25/pipelines"
      },
      "input":{
        "shape":"ListPipelinesRequest",
        "documentation":"<p>The <code>ListPipelineRequest</code> structure.</p>"
      },
      "output":{
        "shape":"ListPipelinesResponse",
        "documentation":"<p>A list of the pipelines associated with the current AWS account.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The ListPipelines operation gets a list of the pipelines associated with the current AWS account.</p>"
    },
    "ListPresets":{
      "name":"ListPresets",
      "http":{
        "method":"GET",
        "requestUri":"/2012-09-25/presets"
      },
      "input":{
        "shape":"ListPresetsRequest",
        "documentation":"<p>The <code>ListPresetsRequest</code> structure.</p>"
      },
      "output":{
        "shape":"ListPresetsResponse",
        "documentation":"<p>The <code>ListPresetsResponse</code> structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The ListPresets operation gets a list of the default presets included with Elastic Transcoder and the presets that you've added in an AWS region.</p>"
    },
    "ReadJob":{
      "name":"ReadJob",
      "http":{
        "method":"GET",
        "requestUri":"/2012-09-25/jobs/{Id}"
      },
      "input":{
        "shape":"ReadJobRequest",
        "documentation":"<p>The <code>ReadJobRequest</code> structure.</p>"
      },
      "output":{
        "shape":"ReadJobResponse",
        "documentation":"<p>The <code>ReadJobResponse</code> structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The ReadJob operation returns detailed information about a job.</p>"
    },
    "ReadPipeline":{
      "name":"ReadPipeline",
      "http":{
        "method":"GET",
        "requestUri":"/2012-09-25/pipelines/{Id}"
      },
      "input":{
        "shape":"ReadPipelineRequest",
        "documentation":"<p>The <code>ReadPipelineRequest</code> structure.</p>"
      },
      "output":{
        "shape":"ReadPipelineResponse",
        "documentation":"<p>The <code>ReadPipelineResponse</code> structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The ReadPipeline operation gets detailed information about a pipeline.</p>"
    },
    "ReadPreset":{
      "name":"ReadPreset",
      "http":{
        "method":"GET",
        "requestUri":"/2012-09-25/presets/{Id}"
      },
      "input":{
        "shape":"ReadPresetRequest",
        "documentation":"<p>The <code>ReadPresetRequest</code> structure.</p>"
      },
      "output":{
        "shape":"ReadPresetResponse",
        "documentation":"<p>The <code>ReadPresetResponse</code> structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The ReadPreset operation gets detailed information about a preset.</p>"
    },
    "TestRole":{
      "name":"TestRole",
      "http":{
        "method":"POST",
        "requestUri":"/2012-09-25/roleTests",
        "responseCode":200
      },
      "input":{
        "shape":"TestRoleRequest",
        "documentation":"<p> The <code>TestRoleRequest</code> structure. </p>"
      },
      "output":{
        "shape":"TestRoleResponse",
        "documentation":"<p>The <code>TestRoleResponse</code> structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The TestRole operation tests the IAM role used to create the pipeline.</p> <p>The <code>TestRole</code> action lets you determine whether the IAM role you are using has sufficient permissions to let Elastic Transcoder perform tasks associated with the transcoding process. The action attempts to assume the specified IAM role, checks read access to the input and output buckets, and tries to send a test notification to Amazon SNS topics that you specify.</p>"
    },
    "UpdatePipeline":{
      "name":"UpdatePipeline",
      "http":{
        "method":"PUT",
        "requestUri":"/2012-09-25/pipelines/{Id}",
        "responseCode":200
      },
      "input":{
        "shape":"UpdatePipelineRequest",
        "documentation":"<p>The <code>UpdatePipelineRequest</code> structure.</p>"
      },
      "output":{
        "shape":"UpdatePipelineResponse",
        "documentation":"<p>When you update a pipeline, Elastic Transcoder returns the values that you specified in the request. </p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"ResourceInUseException",
          "error":{"httpStatusCode":409},
          "exception":true,
          "documentation":"<p> The resource you are attempting to change is in use. For example, you are attempting to delete a pipeline that is currently in use. </p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p> Use the <code>UpdatePipeline</code> operation to update settings for a pipeline. <important>When you change pipeline settings, your changes take effect immediately. Jobs that you have already submitted and that Elastic Transcoder has not started to process are affected in addition to jobs that you submit after you change settings. </important> </p>"
    },
    "UpdatePipelineNotifications":{
      "name":"UpdatePipelineNotifications",
      "http":{
        "method":"POST",
        "requestUri":"/2012-09-25/pipelines/{Id}/notifications"
      },
      "input":{
        "shape":"UpdatePipelineNotificationsRequest",
        "documentation":"<p>The <code>UpdatePipelineNotificationsRequest</code> structure.</p>"
      },
      "output":{
        "shape":"UpdatePipelineNotificationsResponse",
        "documentation":"<p>The <code>UpdatePipelineNotificationsResponse</code> structure.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"ResourceInUseException",
          "error":{"httpStatusCode":409},
          "exception":true,
          "documentation":"<p> The resource you are attempting to change is in use. For example, you are attempting to delete a pipeline that is currently in use. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>With the UpdatePipelineNotifications operation, you can update Amazon Simple Notification Service (Amazon SNS) notifications for a pipeline.</p> <p>When you update notifications for a pipeline, Elastic Transcoder returns the values that you specified in the request.</p>"
    },
    "UpdatePipelineStatus":{
      "name":"UpdatePipelineStatus",
      "http":{
        "method":"POST",
        "requestUri":"/2012-09-25/pipelines/{Id}/status"
      },
      "input":{
        "shape":"UpdatePipelineStatusRequest",
        "documentation":"<p>The <code>UpdatePipelineStatusRequest</code> structure.</p>"
      },
      "output":{
        "shape":"UpdatePipelineStatusResponse",
        "documentation":"When you update status for a pipeline, Elastic Transcoder returns the values that you specified in the request."
      },
      "errors":[
        {
          "shape":"ValidationException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>One or more required parameter values were not provided in the request.</p>"
        },
        {
          "shape":"IncompatibleVersionException",
          "error":{"httpStatusCode":400},
          "exception":true
        },
        {
          "shape":"ResourceNotFoundException",
          "error":{"httpStatusCode":404},
          "exception":true,
          "documentation":"<p> The requested resource does not exist or is not available. For example, the pipeline to which you're trying to add a job doesn't exist or is still being created. </p>"
        },
        {
          "shape":"ResourceInUseException",
          "error":{"httpStatusCode":409},
          "exception":true,
          "documentation":"<p> The resource you are attempting to change is in use. For example, you are attempting to delete a pipeline that is currently in use. </p>"
        },
        {
          "shape":"AccessDeniedException",
          "error":{"httpStatusCode":403},
          "exception":true,
          "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
        },
        {
          "shape":"InternalServiceException",
          "exception":true,
          "fault":true,
          "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
        }
      ],
      "documentation":"<p>The UpdatePipelineStatus operation pauses or reactivates a pipeline, so that the pipeline stops or restarts the processing of jobs.</p> <p>Changing the pipeline status is useful if you want to cancel one or more jobs. You can't cancel jobs after Elastic Transcoder has started processing them; if you pause the pipeline to which you submitted the jobs, you have more time to get the job IDs for the jobs that you want to cancel, and to send a <a>CancelJob</a> request. </p>"
    }
  },
  "shapes":{
    "AccessControl":{
      "type":"string",
      "pattern":"(^FullControl$)|(^Read$)|(^ReadAcp$)|(^WriteAcp$)"
    },
    "AccessControls":{
      "type":"list",
      "member":{"shape":"AccessControl"},
      "max":30
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
      },
      "error":{"httpStatusCode":403},
      "exception":true,
      "documentation":"<p> General authentication failure. The request was not signed correctly. </p>"
    },
    "Artwork":{
      "type":"structure",
      "members":{
        "InputKey":{
          "shape":"WatermarkKey",
          "documentation":"<p>The name of the file to be used as album art. To determine which Amazon S3 bucket contains the specified file, Elastic Transcoder checks the pipeline specified by <code>PipelineId</code>; the <code>InputBucket</code> object in that pipeline identifies the bucket.</p> <p>If the file name includes a prefix, for example, <code>cooking/pie.jpg</code>, include the prefix in the key. If the file isn't in the specified bucket, Elastic Transcoder returns an error.</p>"
        },
        "MaxWidth":{
          "shape":"DigitsOrAuto",
          "documentation":"<p>The maximum width of the output album art in pixels. If you specify <code>auto</code>, Elastic Transcoder uses 600 as the default value. If you specify a numeric value, enter an even integer between 32 and 4096, inclusive.</p>"
        },
        "MaxHeight":{
          "shape":"DigitsOrAuto",
          "documentation":"<p>The maximum height of the output album art in pixels. If you specify <code>auto</code>, Elastic Transcoder uses 600 as the default value. If you specify a numeric value, enter an even integer between 32 and 3072, inclusive.</p>"
        },
        "SizingPolicy":{
          "shape":"SizingPolicy",
          "documentation":"<p>Specify one of the following values to control scaling of the output album art:</p> <p> <ul> <li> <code>Fit:</code> Elastic Transcoder scales the output art so it matches the value that you specified in either <code>MaxWidth</code> or <code>MaxHeight</code> without exceeding the other value.</li> <li> <code>Fill:</code> Elastic Transcoder scales the output art so it matches the value that you specified in either <code>MaxWidth</code> or <code>MaxHeight</code> and matches or exceeds the other value. Elastic Transcoder centers the output art and then crops it in the dimension (if any) that exceeds the maximum value. </li> <li> <code>Stretch:</code> Elastic Transcoder stretches the output art to match the values that you specified for <code>MaxWidth</code> and <code>MaxHeight</code>. If the relative proportions of the input art and the output art are different, the output art will be distorted.</li> <li> <code>Keep:</code> Elastic Transcoder does not scale the output art. If either dimension of the input art exceeds the values that you specified for <code>MaxWidth</code> and <code>MaxHeight</code>, Elastic Transcoder crops the output art.</li> <li> <code>ShrinkToFit:</code> Elastic Transcoder scales the output art down so that its dimensions match the values that you specified for at least one of <code>MaxWidth</code> and <code>MaxHeight</code> without exceeding either value. If you specify this option, Elastic Transcoder does not scale the art up.</li> <li> <code>ShrinkToFill</code> Elastic Transcoder scales the output art down so that its dimensions match the values that you specified for at least one of <code>MaxWidth</code> and <code>MaxHeight</code> without dropping below either value. If you specify this option, Elastic Transcoder does not scale the art up.</li> </ul> </p>"
        },
        "PaddingPolicy":{
          "shape":"PaddingPolicy",
          "documentation":"<p>When you set <code>PaddingPolicy</code> to <code>Pad</code>, Elastic Transcoder may add white bars to the top and bottom and/or left and right sides of the output album art to make the total size of the output art match the values that you specified for <code>MaxWidth</code> and <code>MaxHeight</code>.</p>"
        },
        "AlbumArtFormat":{
          "shape":"JpgOrPng",
          "documentation":"<p>The format of album art, if any. Valid formats are <code>.jpg</code> and <code>.png</code>.</p>"
        },
        "Encryption":{
          "shape":"Encryption",
          "documentation":"<p>The encryption settings, if any, that you want Elastic Transcoder to apply to your artwork.</p>"
        }
      },
      "documentation":"<p>The file to be used as album art. There can be multiple artworks associated with an audio file, to a maximum of 20.</p> <p>To remove artwork or leave the artwork empty, you can either set <code>Artwork</code> to null, or set the <code>Merge Policy</code> to \"Replace\" and use an empty <code>Artwork</code> array.</p> <p>To pass through existing artwork unchanged, set the <code>Merge Policy</code> to \"Prepend\", \"Append\", or \"Fallback\", and use an empty <code>Artwork</code> array.</p>"
    },
    "Artworks":{
      "type":"list",
      "member":{"shape":"Artwork"}
    },
    "Ascending":{
      "type":"string",
      "pattern":"(^true$)|(^false$)"
    },
    "AspectRatio":{
      "type":"string",
      "pattern":"(^auto$)|(^1:1$)|(^4:3$)|(^3:2$)|(^16:9$)"
    },
    "AudioBitRate":{
      "type":"string",
      "pattern":"^\\d{1,3}$"
    },
    "AudioChannels":{
      "type":"string",
      "pattern":"(^auto$)|(^0$)|(^1$)|(^2$)"
    },
    "AudioCodec":{
      "type":"string",
      "pattern":"(^AAC$)|(^vorbis$)|(^mp3$)"
    },
    "AudioCodecOptions":{
      "type":"structure",
      "members":{
        "Profile":{
          "shape":"AudioCodecProfile",
          "documentation":"<p>You can only choose an audio profile when you specify AAC for the value of Audio:Codec.</p> <p>Specify the AAC profile for the output file. Elastic Transcoder supports the following profiles:</p> <ul> <li> <code>auto</code>: If you specify <code>auto</code>, Elastic Transcoder will select the profile based on the bit rate selected for the output file.</li> <li> <code>AAC-LC</code>: The most common AAC profile. Use for bit rates larger than 64 kbps.</li> <li> <code>HE-AAC</code>: Not supported on some older players and devices. Use for bit rates between 40 and 80 kbps.</li> <li> <code>HE-AACv2</code>: Not supported on some players and devices. Use for bit rates less than 48 kbps.</li> </ul> <p>All outputs in a <code>Smooth</code> playlist must have the same value for <code>Profile</code>.</p> <note><p>If you created any presets before AAC profiles were added, Elastic Transcoder automatically updated your presets to use AAC-LC. You can change the value as required.</p></note>"
        }
      },
      "documentation":"<p>Options associated with your audio codec.</p>"
    },
    "AudioCodecProfile":{
      "type":"string",
      "pattern":"(^auto$)|(^AAC-LC$)|(^HE-AAC$)|(^HE-AACv2$)"
    },
    "AudioParameters":{
      "type":"structure",
      "members":{
        "Codec":{
          "shape":"AudioCodec",
          "documentation":"<p>The audio codec for the output file. Valid values include <code>aac</code>, <code>mp3</code>, and <code>vorbis</code>.</p>"
        },
        "SampleRate":{
          "shape":"AudioSampleRate",
          "documentation":"<p>The sample rate of the audio stream in the output file, in Hertz. Valid values include:</p> <p><code>auto</code>, <code>22050</code>, <code>32000</code>, <code>44100</code>, <code>48000</code>, <code>96000</code></p> <p>If you specify <code>auto</code>, Elastic Transcoder automatically detects the sample rate.</p>"
        },
        "BitRate":{
          "shape":"AudioBitRate",
          "documentation":"<p>The bit rate of the audio stream in the output file, in kilobits/second. Enter an integer between 64 and 320, inclusive.</p>"
        },
        "Channels":{
          "shape":"AudioChannels",
          "documentation":"<p>The number of audio channels in the output file. Valid values include:</p> <p><code>auto</code>, <code>0</code>, <code>1</code>, <code>2</code></p> <p>If you specify <code>auto</code>, Elastic Transcoder automatically detects the number of channels in the input file.</p>"
        },
        "CodecOptions":{
          "shape":"AudioCodecOptions",
          "documentation":"<p>If you specified <code>AAC</code> for <code>Audio:Codec</code>, this is the <code>AAC</code> compression profile to use. Valid values include:</p> <p><code>auto</code>, <code>AAC-LC</code>, <code>HE-AAC</code>, <code>HE-AACv2</code></p> <p>If you specify <code>auto</code>, Elastic Transcoder chooses a profile based on the bit rate of the output file.</p>"
        }
      },
      "documentation":"<p>Parameters required for transcoding audio.</p>"
    },
    "AudioSampleRate":{
      "type":"string",
      "pattern":"(^auto$)|(^22050$)|(^32000$)|(^44100$)|(^48000$)|(^96000$)"
    },
    "Base64EncodedString":{
      "type":"string",
      "pattern":"^$|(^(?:[A-Za-z0-9\\+/]{4})*(?:[A-Za-z0-9\\+/]{2}==|[A-Za-z0-9\\+/]{3}=)?$)"
    },
    "BucketName":{
      "type":"string",
      "pattern":"^(\\w|\\.|-){1,255}$"
    },
    "CancelJobRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"Id",
          "location":"uri",
          "locationName":"Id",
          "documentation":"<p>The identifier of the job that you want to cancel. </p> <p>To get a list of the jobs (including their <code>jobId</code>) that have a status of <code>Submitted</code>, use the <a>ListJobsByStatus</a> API action.</p>"
        }
      },
      "documentation":"<p>The <code>CancelJobRequest</code> structure.</p>"
    },
    "CancelJobResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The response body contains a JSON object. If the job is successfully canceled, the value of <code>Success</code> is <code>true</code>.</p>"
    },
    "CaptionFormat":{
      "type":"structure",
      "members":{
        "Format":{
          "shape":"CaptionFormatFormat",
          "documentation":"<p>The format you specify determines whether Elastic Transcoder generates an embedded or sidecar caption for this output.</p> <ul> <li> <p><b>Valid Embedded Caption Formats:</b></p> <ul> <li><p><b>For MP3</b>: None</p></li> <li><p><b>For MP4</b>: mov-text</p></li> <li><p><b>For MPEG-TS</b>: None</p></li> <li><p><b>For ogg</b>: None</p></li> <li><p><b>For webm</b>: None</p></li> </ul> </li> <li> <p><b>Valid Sidecar Caption Formats:</b> Elastic Transcoder supports dfxp (first div element only), scc, srt, and webvtt. If you want ttml or smpte-tt compatible captions, specify dfxp as your output format.</p> <ul> <li><p><b>For FMP4</b>: dfxp</p></li> <li><p><b>Non-FMP4 outputs</b>: All sidecar types</p></li> </ul> <p><code>fmp4</code> captions have an extension of <code>.ismt</code></p> </li> </ul>"
        },
        "Pattern":{
          "shape":"CaptionFormatPattern",
          "documentation":"<p>The prefix for caption filenames, in the form <i>description</i>-<code>{language}</code>, where:</p> <ul> <li> <i>description</i> is a description of the video.</li> <li> <code>{language}</code> is a literal value that Elastic Transcoder replaces with the two- or three-letter code for the language of the caption in the output file names.</li> </ul> <p>If you don't include <code>{language}</code> in the file name pattern, Elastic Transcoder automatically appends \"<code>{language}</code>\" to the value that you specify for the description. In addition, Elastic Transcoder automatically appends the count to the end of the segment files.</p> <p>For example, suppose you're transcoding into srt format. When you enter \"Sydney-{language}-sunrise\", and the language of the captions is English (en), the name of the first caption file will be Sydney-en-sunrise00000.srt.</p>"
        },
        "Encryption":{
          "shape":"Encryption",
          "documentation":"<p>The encryption settings, if any, that you want Elastic Transcoder to apply to your caption formats.</p>"
        }
      },
      "documentation":"<p>The file format of the output captions. If you leave this value blank, Elastic Transcoder returns an error.</p>"
    },
    "CaptionFormatFormat":{
      "type":"string",
      "pattern":"(^mov-text$)|(^srt$)|(^scc$)|(^webvtt$)|(^dfxp$)"
    },
    "CaptionFormatPattern":{
      "type":"string",
      "pattern":"(^$)|(^.*\\{language\\}.*$)"
    },
    "CaptionFormats":{
      "type":"list",
      "member":{"shape":"CaptionFormat"},
      "max":4
    },
    "CaptionMergePolicy":{
      "type":"string",
      "pattern":"(^MergeOverride$)|(^MergeRetain$)|(^Override$)"
    },
    "CaptionSource":{
      "type":"structure",
      "members":{
        "Key":{
          "shape":"Key",
          "documentation":"<p>The name of the sidecar caption file that you want Elastic Transcoder to include in the output file.</p>"
        },
        "Language":{
          "shape":"Key",
          "documentation":"<p>A string that specifies the language of the caption. Specify this as one of:</p> <ul> <li><p>2-character ISO 639-1 code</p></li> <li><p>3-character ISO 639-2 code</p></li> </ul> <p>For more information on ISO language codes and language names, see the List of ISO 639-1 codes.</p>"
        },
        "TimeOffset":{
          "shape":"TimeOffset",
          "documentation":"<p>For clip generation or captions that do not start at the same time as the associated video file, the <code>TimeOffset</code> tells Elastic Transcoder how much of the video to encode before including captions.</p> <p>Specify the TimeOffset in the form [+-]SS.sss or [+-]HH:mm:SS.ss.</p>"
        },
        "Label":{
          "shape":"Name",
          "documentation":"<p>The label of the caption shown in the player when choosing a language. We recommend that you put the caption language name here, in the language of the captions.</p>"
        },
        "Encryption":{
          "shape":"Encryption",
          "documentation":"<p>The encryption settings, if any, that you want Elastic Transcoder to apply to your caption sources.</p>"
        }
      },
      "documentation":"<p>A source file for the input sidecar captions used during the transcoding process.</p>"
    },
    "CaptionSources":{
      "type":"list",
      "member":{"shape":"CaptionSource"},
      "max":20
    },
    "Captions":{
      "type":"structure",
      "members":{
        "MergePolicy":{
          "shape":"CaptionMergePolicy",
          "documentation":"<p>A policy that determines how Elastic Transcoder handles the existence of multiple captions.</p> <ul> <li><p><b>MergeOverride:</b> Elastic Transcoder transcodes both embedded and sidecar captions into outputs. If captions for a language are embedded in the input file and also appear in a sidecar file, Elastic Transcoder uses the sidecar captions and ignores the embedded captions for that language.</p></li> <li><p><b>MergeRetain:</b> Elastic Transcoder transcodes both embedded and sidecar captions into outputs. If captions for a language are embedded in the input file and also appear in a sidecar file, Elastic Transcoder uses the embedded captions and ignores the sidecar captions for that language. If <code>CaptionSources</code> is empty, Elastic Transcoder omits all sidecar captions from the output files.</p></li> <li><p><b>Override:</b> Elastic Transcoder transcodes only the sidecar captions that you specify in <code>CaptionSources</code>.</p></li> </ul> <p><code>MergePolicy</code> cannot be null.</p>"
        },
        "CaptionSources":{
          "shape":"CaptionSources",
          "documentation":"<p>Source files for the input sidecar captions used during the transcoding process. To omit all sidecar captions, leave <code>CaptionSources</code> blank.</p>"
        },
        "CaptionFormats":{
          "shape":"CaptionFormats",
          "documentation":"<p>The array of file formats for the output captions. If you leave this value blank, Elastic Transcoder returns an error.</p>"
        }
      },
      "documentation":"<p>The captions to be created, if any.</p>"
    },
    "Clip":{
      "type":"structure",
      "members":{
        "TimeSpan":{
          "shape":"TimeSpan",
          "documentation":"<p>Settings that determine when a clip begins and how long it lasts.</p>"
        }
      },
      "documentation":"<p>Settings for one clip in a composition. All jobs in a playlist must have the same clip settings.</p>"
    },
    "CodecOption":{
      "type":"string",
      "min":1,
      "max":255
    },
    "CodecOptions":{
      "type":"map",
      "key":{"shape":"CodecOption"},
      "value":{"shape":"CodecOption"},
      "max":30
    },
    "Composition":{
      "type":"list",
      "member":{"shape":"Clip"}
    },
    "CreateJobOutput":{
      "type":"structure",
      "members":{
        "Key":{
          "shape":"Key",
          "documentation":"<p> The name to assign to the transcoded file. Elastic Transcoder saves the file in the Amazon S3 bucket specified by the <code>OutputBucket</code> object in the pipeline that is specified by the pipeline ID. If a file with the specified name already exists in the output bucket, the job fails. </p>"
        },
        "ThumbnailPattern":{
          "shape":"ThumbnailPattern",
          "documentation":"<p>Whether you want Elastic Transcoder to create thumbnails for your videos and, if so, how you want Elastic Transcoder to name the files.</p> <p>If you don't want Elastic Transcoder to create thumbnails, specify \"\".</p> <p> If you do want Elastic Transcoder to create thumbnails, specify the information that you want to include in the file name for each thumbnail. You can specify the following values in any sequence: </p> <ul> <li> <p> <b><code>{count}</code> (Required)</b>: If you want to create thumbnails, you must include <code>{count}</code> in the <code>ThumbnailPattern</code> object. Wherever you specify <code>{count}</code>, Elastic Transcoder adds a five-digit sequence number (beginning with <b>00001</b>) to thumbnail file names. The number indicates where a given thumbnail appears in the sequence of thumbnails for a transcoded file. </p> <important>If you specify a literal value and/or <code>{resolution}</code> but you omit <code>{count}</code>, Elastic Transcoder returns a validation error and does not create the job.</important> </li> <li> <p> <b>Literal values (Optional)</b>: You can specify literal values anywhere in the <code>ThumbnailPattern</code> object. For example, you can include them as a file name prefix or as a delimiter between <code>{resolution}</code> and <code>{count}</code>. </p> </li> <li> <p> <b><code>{resolution}</code> (Optional)</b>: If you want Elastic Transcoder to include the resolution in the file name, include <code>{resolution}</code> in the <code>ThumbnailPattern</code> object. </p> </li> </ul> <p>When creating thumbnails, Elastic Transcoder automatically saves the files in the format (.jpg or .png) that appears in the preset that you specified in the <code>PresetID</code> value of <code>CreateJobOutput</code>. Elastic Transcoder also appends the applicable file name extension.</p>"
        },
        "ThumbnailEncryption":{
          "shape":"Encryption",
          "documentation":"<p>The encryption settings, if any, that you want Elastic Transcoder to apply to your thumbnail.</p>"
        },
        "Rotate":{
          "shape":"Rotate",
          "documentation":"<p> The number of degrees clockwise by which you want Elastic Transcoder to rotate the output relative to the input. Enter one of the following values: <code>auto</code>, <code>0</code>, <code>90</code>, <code>180</code>, <code>270</code>. The value <code>auto</code> generally works only if the file that you're transcoding contains rotation metadata. </p>"
        },
        "PresetId":{
          "shape":"Id",
          "documentation":"<p> The <code>Id</code> of the preset to use for this job. The preset determines the audio, video, and thumbnail settings that Elastic Transcoder uses for transcoding. </p>"
        },
        "SegmentDuration":{
          "shape":"Float",
          "documentation":"<p><important>(Outputs in Fragmented MP4 or MPEG-TS format only.</important>If you specify a preset in <code>PresetId</code> for which the value of <code>Container</code> is <code>fmp4</code> (Fragmented MP4) or <code>ts</code> (MPEG-TS), <code>SegmentDuration</code> is the target maximum duration of each segment in seconds. For <code>HLSv3</code> format playlists, each media segment is stored in a separate <code>.ts</code> file. For <code>HLSv4</code> and <code>Smooth</code> playlists, all media segments for an output are stored in a single file. Each segment is approximately the length of the <code>SegmentDuration</code>, though individual segments might be shorter or longer.</p> <p>The range of valid values is 1 to 60 seconds. If the duration of the video is not evenly divisible by <code>SegmentDuration</code>, the duration of the last segment is the remainder of total length/SegmentDuration.</p> <p>Elastic Transcoder creates an output-specific playlist for each output <code>HLS</code> output that you specify in OutputKeys. To add an output to the master playlist for this job, include it in the <code>OutputKeys</code> of the associated playlist.</p>"
        },
        "Watermarks":{
          "shape":"JobWatermarks",
          "documentation":"<p>Information about the watermarks that you want Elastic Transcoder to add to the video during transcoding. You can specify up to four watermarks for each output. Settings for each watermark must be defined in the preset for the current output.</p>"
        },
        "AlbumArt":{
          "shape":"JobAlbumArt",
          "documentation":"<p>Information about the album art that you want Elastic Transcoder to add to the file during transcoding. You can specify up to twenty album artworks for each output. Settings for each artwork must be defined in the job for the current output.</p>"
        },
        "Composition":{
          "shape":"Composition",
          "documentation":"<p>You can create an output file that contains an excerpt from the input file. This excerpt, called a clip, can come from the beginning, middle, or end of the file. The Composition object contains settings for the clips that make up an output file. For the current release, you can only specify settings for a single clip per output file. The Composition object cannot be null.</p>"
        },
        "Captions":{
          "shape":"Captions",
          "documentation":"<p>You can configure Elastic Transcoder to transcode captions, or subtitles, from one format to another. All captions must be in UTF-8. Elastic Transcoder supports two types of captions:</p> <ul> <li> <p><b>Embedded:</b> Embedded captions are included in the same file as the audio and video. Elastic Transcoder supports only one embedded caption per language, to a maximum of 300 embedded captions per file.</p> <p>Valid input values include: <code>CEA-608 (EIA-608</code>, first non-empty channel only), <code>CEA-708 (EIA-708</code>, first non-empty channel only), and <code>mov-text</code></p> <p>Valid outputs include: <code>mov-text</code></p> <p>Elastic Transcoder supports a maximum of one embedded format per output.</p> </li> <li> <p><b>Sidecar:</b> Sidecar captions are kept in a separate metadata file from the audio and video data. Sidecar captions require a player that is capable of understanding the relationship between the video file and the sidecar file. Elastic Transcoder supports only one sidecar caption per language, to a maximum of 20 sidecar captions per file.</p> <p>Valid input values include: <code>dfxp</code> (first div element only), <code>ebu-tt</code>, <code>scc</code>, <code>smpt</code>, <code>srt</code>, <code>ttml</code> (first div element only), and <code>webvtt</code></p> <p>Valid outputs include: <code>dfxp</code> (first div element only), <code>scc</code>, <code>srt</code>, and <code>webvtt</code>.</p> </li> </ul> <p> If you want ttml or smpte-tt compatible captions, specify dfxp as your output format.</p> <p>Elastic Transcoder does not support OCR (Optical Character Recognition), does not accept pictures as a valid input for captions, and is not available for audio-only transcoding. Elastic Transcoder does not preserve text formatting (for example, italics) during the transcoding process.</p> <p>To remove captions or leave the captions empty, set <code>Captions</code> to null. To pass through existing captions unchanged, set the <code>MergePolicy</code> to <code>MergeRetain</code>, and pass in a null <code>CaptionSources</code> array.</p> <p>For more information on embedded files, see the Subtitles Wikipedia page.</p> <p>For more information on sidecar files, see the Extensible Metadata Platform and Sidecar file Wikipedia pages.</p>"
        },
        "Encryption":{
          "shape":"Encryption",
          "documentation":"<p>You can specify encryption settings for any output files that you want to use for a transcoding job. This includes the output file and any watermarks, thumbnails, album art, or captions that you want to use. You must specify encryption settings for each file individually.</p>"
        }
      },
      "documentation":"<p>The <code>CreateJobOutput</code> structure.</p>"
    },
    "CreateJobOutputs":{
      "type":"list",
      "member":{"shape":"CreateJobOutput"},
      "max":30
    },
    "CreateJobPlaylist":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"Filename",
          "documentation":"<p>The name that you want Elastic Transcoder to assign to the master playlist, for example, nyc-vacation.m3u8. If the name includes a <code>/</code> character, the section of the name before the last <code>/</code> must be identical for all <code>Name</code> objects. If you create more than one master playlist, the values of all <code>Name</code> objects must be unique.</p> <p><b>Note:</b> Elastic Transcoder automatically appends the relevant file extension to the file name (<code>.m3u8</code> for <code>HLSv3</code> and <code>HLSv4</code> playlists, and <code>.ism</code> and <code>.ismc</code> for <code>Smooth</code> playlists). If you include a file extension in <code>Name</code>, the file name will have two extensions.</p>"
        },
        "Format":{
          "shape":"PlaylistFormat",
          "documentation":"<p>The format of the output playlist. Valid formats include <code>HLSv3</code>, <code>HLSv4</code>, and <code>Smooth</code>.</p>"
        },
        "OutputKeys":{
          "shape":"OutputKeys",
          "documentation":"<p>For each output in this job that you want to include in a master playlist, the value of the <code>Outputs:Key</code> object. </p> <ul> <li> <p>If your output is not <code>HLS</code> or does not have a segment duration set, the name of the output file is a concatenation of <code>OutputKeyPrefix</code> and <code>Outputs:Key</code>:</p> <p>OutputKeyPrefix<code>Outputs:Key</code></p> </li> <li> <p>If your output is <code>HLSv3</code> and has a segment duration set, or is not included in a playlist, Elastic Transcoder creates an output playlist file with a file extension of <code>.m3u8</code>, and a series of <code>.ts</code> files that include a five-digit sequential counter beginning with 00000:</p> <p>OutputKeyPrefix<code>Outputs:Key</code>.m3u8</p> <p>OutputKeyPrefix<code>Outputs:Key</code>00000.ts</p> </li> <li> <p>If your output is <code>HLSv4</code>, has a segment duration set, and is included in an <code>HLSv4</code> playlist, Elastic Transcoder creates an output playlist file with a file extension of <code>_v4.m3u8</code>. If the output is video, Elastic Transcoder also creates an output file with an extension of <code>_iframe.m3u8</code>:</p> <p>OutputKeyPrefix<code>Outputs:Key</code>_v4.m3u8</p> <p>OutputKeyPrefix<code>Outputs:Key</code>_iframe.m3u8</p> <p>OutputKeyPrefix<code>Outputs:Key</code>.ts</p> </li> </ul> <p>Elastic Transcoder automatically appends the relevant file extension to the file name. If you include a file extension in Output Key, the file name will have two extensions.</p> <p>If you include more than one output in a playlist, any segment duration settings, clip settings, or caption settings must be the same for all outputs in the playlist. For <code>Smooth</code> playlists, the <code>Audio:Profile</code>, <code>Video:Profile</code>, and <code>Video:FrameRate</code> to <code>Video:KeyframesMaxDist</code> ratio must be the same for all outputs.</p>"
        },
        "HlsContentProtection":{
          "shape":"HlsContentProtection",
          "documentation":"<p>The HLS content protection settings, if any, that you want Elastic Transcoder to apply to the output files associated with this playlist.</p>"
        }
      },
      "documentation":"<p>Information about the master playlist.</p>"
    },
    "CreateJobPlaylists":{
      "type":"list",
      "member":{"shape":"CreateJobPlaylist"},
      "max":30
    },
    "CreateJobRequest":{
      "type":"structure",
      "required":[
        "PipelineId",
        "Input"
      ],
      "members":{
        "PipelineId":{
          "shape":"Id",
          "documentation":"<p>The <code>Id</code> of the pipeline that you want Elastic Transcoder to use for transcoding. The pipeline determines several settings, including the Amazon S3 bucket from which Elastic Transcoder gets the files to transcode and the bucket into which Elastic Transcoder puts the transcoded files.</p>"
        },
        "Input":{
          "shape":"JobInput",
          "documentation":"<p>A section of the request body that provides information about the file that is being transcoded.</p>"
        },
        "Output":{"shape":"CreateJobOutput"},
        "Outputs":{
          "shape":"CreateJobOutputs",
          "documentation":"<p> A section of the request body that provides information about the transcoded (target) files. We recommend that you use the <code>Outputs</code> syntax instead of the <code>Output</code> syntax. </p>"
        },
        "OutputKeyPrefix":{
          "shape":"Key",
          "documentation":"<p>The value, if any, that you want Elastic Transcoder to prepend to the names of all files that this job creates, including output files, thumbnails, and playlists.</p>"
        },
        "Playlists":{
          "shape":"CreateJobPlaylists",
          "documentation":"<p>If you specify a preset in <code>PresetId</code> for which the value of <code>Container</code> is fmp4 (Fragmented MP4) or ts (MPEG-TS), Playlists contains information about the master playlists that you want Elastic Transcoder to create.</p> <p>The maximum number of master playlists in a job is 30.</p>"
        },
        "UserMetadata":{
          "shape":"UserMetadata",
          "documentation":"<p>User-defined metadata that you want to associate with an Elastic Transcoder job. You specify metadata in <code>key/value</code> pairs, and you can add up to 10 <code>key/value</code> pairs per job. Elastic Transcoder does not guarantee that <code>key/value</code> pairs will be returned in the same order in which you specify them.</p>"
        }
      },
      "documentation":"<p>The <code>CreateJobRequest</code> structure.</p>"
    },
    "CreateJobResponse":{
      "type":"structure",
      "members":{
        "Job":{
          "shape":"Job",
          "documentation":"<p> A section of the response body that provides information about the job that is created. </p>"
        }
      },
      "documentation":"<p>The CreateJobResponse structure.</p>"
    },
    "CreatePipelineRequest":{
      "type":"structure",
      "required":[
        "Name",
        "InputBucket",
        "Role"
      ],
      "members":{
        "Name":{
          "shape":"Name",
          "documentation":"<p>The name of the pipeline. We recommend that the name be unique within the AWS account, but uniqueness is not enforced.</p> <p>Constraints: Maximum 40 characters.</p>"
        },
        "InputBucket":{
          "shape":"BucketName",
          "documentation":"<p>The Amazon S3 bucket in which you saved the media files that you want to transcode.</p>"
        },
        "OutputBucket":{
          "shape":"BucketName",
          "documentation":"<p>The Amazon S3 bucket in which you want Elastic Transcoder to save the transcoded files. (Use this, or use ContentConfig:Bucket plus ThumbnailConfig:Bucket.)</p> <p>Specify this value when all of the following are true: <ul> <li>You want to save transcoded files, thumbnails (if any), and playlists (if any) together in one bucket.</li> <li>You do not want to specify the users or groups who have access to the transcoded files, thumbnails, and playlists.</li> <li>You do not want to specify the permissions that Elastic Transcoder grants to the files. <important>When Elastic Transcoder saves files in <code>OutputBucket</code>, it grants full control over the files only to the AWS account that owns the role that is specified by <code>Role</code>.</important> </li> <li>You want to associate the transcoded files and thumbnails with the Amazon S3 Standard storage class.</li> </ul></p> <p>If you want to save transcoded files and playlists in one bucket and thumbnails in another bucket, specify which users can access the transcoded files or the permissions the users have, or change the Amazon S3 storage class, omit <code>OutputBucket</code> and specify values for <code>ContentConfig</code> and <code>ThumbnailConfig</code> instead.</p>"
        },
        "Role":{
          "shape":"Role",
          "documentation":"<p>The IAM Amazon Resource Name (ARN) for the role that you want Elastic Transcoder to use to create the pipeline.</p>"
        },
        "AwsKmsKeyArn":{
          "shape":"KeyArn",
          "documentation":"<p>The AWS Key Management Service (AWS KMS) key that you want to use with this pipeline.</p> <p>If you use either <code>S3</code> or <code>S3-AWS-KMS</code> as your <code>Encryption:Mode</code>, you don't need to provide a key with your job because a default key, known as an AWS-KMS key, is created for you automatically. You need to provide an AWS-KMS key only if you want to use a non-default AWS-KMS key, or if you are using an <code>Encryption:Mode</code> of <code>AES-PKCS7</code>, <code>AES-CTR</code>, or <code>AES-GCM</code>.</p>"
        },
        "Notifications":{
          "shape":"Notifications",
          "documentation":"<p>The Amazon Simple Notification Service (Amazon SNS) topic that you want to notify to report job status.</p> <important>To receive notifications, you must also subscribe to the new topic in the Amazon SNS console.</important> <ul> <li> <b>Progressing</b>: The topic ARN for the Amazon Simple Notification Service (Amazon SNS) topic that you want to notify when Elastic Transcoder has started to process a job in this pipeline. This is the ARN that Amazon SNS returned when you created the topic. For more information, see Create a Topic in the Amazon Simple Notification Service Developer Guide.</li> <li> <b>Completed</b>: The topic ARN for the Amazon SNS topic that you want to notify when Elastic Transcoder has finished processing a job in this pipeline. This is the ARN that Amazon SNS returned when you created the topic.</li> <li> <b>Warning</b>: The topic ARN for the Amazon SNS topic that you want to notify when Elastic Transcoder encounters a warning condition while processing a job in this pipeline. This is the ARN that Amazon SNS returned when you created the topic.</li> <li> <b>Error</b>: The topic ARN for the Amazon SNS topic that you want to notify when Elastic Transcoder encounters an error condition while processing a job in this pipeline. This is the ARN that Amazon SNS returned when you created the topic.</li> </ul>"
        },
        "ContentConfig":{
          "shape":"PipelineOutputConfig",
          "documentation":"<p>The optional <code>ContentConfig</code> object specifies information about the Amazon S3 bucket in which you want Elastic Transcoder to save transcoded files and playlists: which bucket to use, which users you want to have access to the files, the type of access you want users to have, and the storage class that you want to assign to the files.</p> <p>If you specify values for <code>ContentConfig</code>, you must also specify values for <code>ThumbnailConfig</code>.</p> <p>If you specify values for <code>ContentConfig</code> and <code>ThumbnailConfig</code>, omit the <code>OutputBucket</code> object.</p> <ul> <li> <b>Bucket</b>: The Amazon S3 bucket in which you want Elastic Transcoder to save transcoded files and playlists.</li> <li> <b>Permissions</b> (Optional): The Permissions object specifies which users you want to have access to transcoded files and the type of access you want them to have. You can grant permissions to a maximum of 30 users and/or predefined Amazon S3 groups.</li> <li> <b>Grantee Type</b>: Specify the type of value that appears in the <code>Grantee</code> object: <ul> <li> <b>Canonical</b>: The value in the <code>Grantee</code> object is either the canonical user ID for an AWS account or an origin access identity for an Amazon CloudFront distribution. For more information about canonical user IDs, see Access Control List (ACL) Overview in the Amazon Simple Storage Service Developer Guide. For more information about using CloudFront origin access identities to require that users use CloudFront URLs instead of Amazon S3 URLs, see Using an Origin Access Identity to Restrict Access to Your Amazon S3 Content. <important>A canonical user ID is not the same as an AWS account number.</important> </li> <li> <b>Email</b>: The value in the <code>Grantee</code> object is the registered email address of an AWS account.</li> <li> <b>Group</b>: The value in the <code>Grantee</code> object is one of the following predefined Amazon S3 groups: <code>AllUsers</code>, <code>AuthenticatedUsers</code>, or <code>LogDelivery</code>.</li> </ul> </li> <li> <b>Grantee</b>: The AWS user or group that you want to have access to transcoded files and playlists. To identify the user or group, you can specify the canonical user ID for an AWS account, an origin access identity for a CloudFront distribution, the registered email address of an AWS account, or a predefined Amazon S3 group </li> <li> <b>Access</b>: The permission that you want to give to the AWS user that you specified in <code>Grantee</code>. Permissions are granted on the files that Elastic Transcoder adds to the bucket, including playlists and video files. Valid values include: <ul> <li> <code>READ</code>: The grantee can read the objects and metadata for objects that Elastic Transcoder adds to the Amazon S3 bucket.</li> <li> <code>READ_ACP</code>: The grantee can read the object ACL for objects that Elastic Transcoder adds to the Amazon S3 bucket. </li> <li> <code>WRITE_ACP</code>: The grantee can write the ACL for the objects that Elastic Transcoder adds to the Amazon S3 bucket.</li> <li> <code>FULL_CONTROL</code>: The grantee has <code>READ</code>, <code>READ_ACP</code>, and <code>WRITE_ACP</code> permissions for the objects that Elastic Transcoder adds to the Amazon S3 bucket.</li> </ul> </li> <li> <b>StorageClass</b>: The Amazon S3 storage class, <code>Standard</code> or <code>ReducedRedundancy</code>, that you want Elastic Transcoder to assign to the video files and playlists that it stores in your Amazon S3 bucket.</li> </ul>"
        },
        "ThumbnailConfig":{
          "shape":"PipelineOutputConfig",
          "documentation":"<p>The <code>ThumbnailConfig</code> object specifies several values, including the Amazon S3 bucket in which you want Elastic Transcoder to save thumbnail files, which users you want to have access to the files, the type of access you want users to have, and the storage class that you want to assign to the files.</p> <p>If you specify values for <code>ContentConfig</code>, you must also specify values for <code>ThumbnailConfig</code> even if you don't want to create thumbnails.</p> <p>If you specify values for <code>ContentConfig</code> and <code>ThumbnailConfig</code>, omit the <code>OutputBucket</code> object.</p> <ul> <li> <b>Bucket</b>: The Amazon S3 bucket in which you want Elastic Transcoder to save thumbnail files.</li> <li> <b>Permissions</b> (Optional): The <code>Permissions</code> object specifies which users and/or predefined Amazon S3 groups you want to have access to thumbnail files, and the type of access you want them to have. You can grant permissions to a maximum of 30 users and/or predefined Amazon S3 groups.</li> <li> <b>GranteeType</b>: Specify the type of value that appears in the Grantee object: <ul> <li> <b>Canonical</b>: The value in the <code>Grantee</code> object is either the canonical user ID for an AWS account or an origin access identity for an Amazon CloudFront distribution. <important>A canonical user ID is not the same as an AWS account number.</important> </li> <li> <b>Email</b>: The value in the <code>Grantee</code> object is the registered email address of an AWS account. </li> <li> <b>Group</b>: The value in the <code>Grantee</code> object is one of the following predefined Amazon S3 groups: <code>AllUsers</code>, <code>AuthenticatedUsers</code>, or <code>LogDelivery</code>.</li> </ul> </li> <li> <b>Grantee</b>: The AWS user or group that you want to have access to thumbnail files. To identify the user or group, you can specify the canonical user ID for an AWS account, an origin access identity for a CloudFront distribution, the registered email address of an AWS account, or a predefined Amazon S3 group. </li> <li> <b>Access</b>: The permission that you want to give to the AWS user that you specified in <code>Grantee</code>. Permissions are granted on the thumbnail files that Elastic Transcoder adds to the bucket. Valid values include: <ul> <li> <code>READ</code>: The grantee can read the thumbnails and metadata for objects that Elastic Transcoder adds to the Amazon S3 bucket.</li> <li> <code>READ_ACP</code>: The grantee can read the object ACL for thumbnails that Elastic Transcoder adds to the Amazon S3 bucket. </li> <li> <code>WRITE_ACP</code>: The grantee can write the ACL for the thumbnails that Elastic Transcoder adds to the Amazon S3 bucket.</li> <li> <code>FULL_CONTROL</code>: The grantee has <code>READ</code>, <code>READ_ACP</code>, and <code>WRITE_ACP</code> permissions for the thumbnails that Elastic Transcoder adds to the Amazon S3 bucket. </li> </ul> </li> <li> <b>StorageClass</b>: The Amazon S3 storage class, <code>Standard</code> or <code>ReducedRedundancy</code>, that you want Elastic Transcoder to assign to the thumbnails that it stores in your Amazon S3 bucket.</li> </ul>"
        }
      },
      "documentation":"<p>The <code>CreatePipelineRequest</code> structure.</p>"
    },
    "CreatePipelineResponse":{
      "type":"structure",
      "members":{
        "Pipeline":{
          "shape":"Pipeline",
          "documentation":"<p>A section of the response body that provides information about the pipeline that is created.</p>"
        }
      },
      "documentation":"<p>When you create a pipeline, Elastic Transcoder returns the values that you specified in the request.</p>"
    },
    "CreatePresetRequest":{
      "type":"structure",
      "required":[
        "Name",
        "Container"
      ],
      "members":{
        "Name":{
          "shape":"Name",
          "documentation":"<p>The name of the preset. We recommend that the name be unique within the AWS account, but uniqueness is not enforced.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>A description of the preset.</p>"
        },
        "Container":{
          "shape":"PresetContainer",
          "documentation":"<p>The container type for the output file. Valid values include <code>fmp4</code>, <code>mp3</code>, <code>mp4</code>, <code>ogg</code>, <code>ts</code>, and <code>webm</code>.</p>"
        },
        "Video":{
          "shape":"VideoParameters",
          "documentation":"<p>A section of the request body that specifies the video parameters.</p>"
        },
        "Audio":{
          "shape":"AudioParameters",
          "documentation":"<p>A section of the request body that specifies the audio parameters.</p>"
        },
        "Thumbnails":{
          "shape":"Thumbnails",
          "documentation":"<p>A section of the request body that specifies the thumbnail parameters, if any.</p>"
        }
      },
      "documentation":"<p>The <code>CreatePresetRequest</code> structure.</p>"
    },
    "CreatePresetResponse":{
      "type":"structure",
      "members":{
        "Preset":{
          "shape":"Preset",
          "documentation":"<p> A section of the response body that provides information about the preset that is created. </p>"
        },
        "Warning":{
          "shape":"String",
          "documentation":"<p>If the preset settings don't comply with the standards for the video codec but Elastic Transcoder created the preset, this message explains the reason the preset settings don't meet the standard. Elastic Transcoder created the preset because the settings might produce acceptable output.</p>"
        }
      },
      "documentation":"<p>The <code>CreatePresetResponse</code> structure.</p>"
    },
    "DeletePipelineRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"Id",
          "location":"uri",
          "locationName":"Id",
          "documentation":"<p>The identifier of the pipeline that you want to delete.</p>"
        }
      },
      "documentation":"<p>The <code>DeletePipelineRequest</code> structure.</p>"
    },
    "DeletePipelineResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The <code>DeletePipelineResponse</code> structure.</p>"
    },
    "DeletePresetRequest":{
      "type":"structure",
      "required":["Id"],
      "members":{
        "Id":{
          "shape":"Id",
          "location":"uri",
          "locationName":"Id",
          "documentation":"<p>The identifier of the preset for which you want to get detailed information.</p>"
        }
      },
      "documentation":"<p>The <code>DeletePresetRequest</code> structure.</p>"
    },
    "DeletePresetResponse":{
      "type":"structure",
      "members":{
      },
      "documentation":"<p>The <code>DeletePresetResponse</code> structure.</p>"
    },
    "Description":{
      "type":"string",
      "min":0,
      "max":255
    },
    "Digits":{
      "type":"string",
      "pattern":"^\\d{1,5}$"
    },
    "DigitsOrAuto":{
      "type":"string",
      "pattern":"(^auto$)|(^\\d{2,4}$)"
    },
    "Encryption":{
      "type":"structure",
      "members":{
        "Mode":{
          "shape":"EncryptionMode",
          "documentation":"<p>The specific server-side encryption mode that you want Elastic Transcoder to use when decrypting your input files or encrypting your output files. Elastic Transcoder supports the following options:</p> <ul> <li><p><b>S3:</b> Amazon S3 creates and manages the keys used for encrypting your files.</p></li> <li><p><b>S3-AWS-KMS:</b> Amazon S3 calls the Amazon Key Management Service, which creates and manages the keys that are used for encrypting your files. If you specify <code>S3-AWS-KMS</code> and you don't want to use the default key, you must add the AWS-KMS key that you want to use to your pipeline.</p></li> <li><p><b>AES-CBC-PKCS7:</b> A padded cipher-block mode of operation originally used for HLS files.</p></li> <li><p><b>AES-CTR:</b> AES Counter Mode.</p></li> <li><p><b>AES-GCM:</b> AES Galois Counter Mode, a mode of operation that is an authenticated encryption format, meaning that a file, key, or initialization vector that has been tampered with will fail the decryption process.</p></li> </ul> <p>For all three AES options, you must provide the following settings, which must be base64-encoded:</p> <ul> <li><p><b>Key</b></p></li> <li><p><b>Key MD5</b></p></li> <li><p><b>Initialization Vector</b></p></li> </ul> <important><p>For the AES modes, your private encryption keys and your unencrypted data are never stored by AWS; therefore, it is important that you safely manage your encryption keys. If you lose them, you won't be able to unencrypt your data.</p></important>"
        },
        "Key":{
          "shape":"Base64EncodedString",
          "documentation":"<p>The data encryption key that you want Elastic Transcoder to use to encrypt your output file, or that was used to encrypt your input file. The key must be base64-encoded and it must be one of the following bit lengths before being base64-encoded:</p> <p><code>128</code>, <code>192</code>, or <code>256</code>. </p> <p>The key must also be encrypted by using the Amazon Key Management Service.</p>"
        },
        "KeyMd5":{
          "shape":"Base64EncodedString",
          "documentation":"<p>The MD5 digest of the key that you used to encrypt your input file, or that you want Elastic Transcoder to use to encrypt your output file. Elastic Transcoder uses the key digest as a checksum to make sure your key was not corrupted in transit. The key MD5 must be base64-encoded, and it must be exactly 16 bytes long before being base64-encoded.</p>"
        },
        "InitializationVector":{
          "shape":"ZeroTo255String",
          "documentation":"<p>The series of random bits created by a random bit generator, unique for every encryption operation, that you used to encrypt your input files or that you want Elastic Transcoder to use to encrypt your output files. The initialization vector must be base64-encoded, and it must be exactly 16 bytes long before being base64-encoded.</p>"
        }
      },
      "documentation":"<p>The encryption settings, if any, that are used for decrypting your input files or encrypting your output files. If your input file is encrypted, you must specify the mode that Elastic Transcoder will use to decrypt your file, otherwise you must specify the mode you want Elastic Transcoder to use to encrypt your output files.</p>"
    },
    "EncryptionMode":{
      "type":"string",
      "pattern":"(^s3$)|(^s3-aws-kms$)|(^aes-cbc-pkcs7$)|(^aes-ctr$)|(^aes-gcm$)"
    },
    "ExceptionMessages":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "Filename":{
      "type":"string",
      "min":1,
      "max":255
    },
    "FixedGOP":{
      "type":"string",
      "pattern":"(^true$)|(^false$)"
    },
    "Float":{
      "type":"string",
      "pattern":"^\\d{1,5}(\\.\\d{0,5})?$"
    },
    "FrameRate":{
      "type":"string",
      "pattern":"(^auto$)|(^10$)|(^15$)|(^23.97$)|(^24$)|(^25$)|(^29.97$)|(^30$)|(^50$)|(^60$)"
    },
    "Grantee":{
      "type":"string",
      "min":1,
      "max":255
    },
    "GranteeType":{
      "type":"string",
      "pattern":"(^Canonical$)|(^Email$)|(^Group$)"
    },
    "HlsContentProtection":{
      "type":"structure",
      "members":{
        "Method":{
          "shape":"HlsContentProtectionMethod",
          "documentation":"<p>The content protection method for your output. The only valid value is: <code>aes-128</code>.</p> <p>This value will be written into the method attribute of the <code>EXT-X-KEY</code> metadata tag in the output playlist.</p>"
        },
        "Key":{
          "shape":"Base64EncodedString",
          "documentation":"<p>If you want Elastic Transcoder to generate a key for you, leave this field blank.</p> <p>If you choose to supply your own key, you must encrypt the key by using AWS KMS. The key must be base64-encoded, and it must be one of the following bit lengths before being base64-encoded:</p> <p><code>128</code>, <code>192</code>, or <code>256</code>. </p>"
        },
        "KeyMd5":{
          "shape":"Base64EncodedString",
          "documentation":"<p>If Elastic Transcoder is generating your key for you, you must leave this field blank.</p> <p>The MD5 digest of the key that you want Elastic Transcoder to use to encrypt your output file, and that you want Elastic Transcoder to use as a checksum to make sure your key was not corrupted in transit. The key MD5 must be base64-encoded, and it must be exactly 16 bytes before being base64- encoded.</p>"
        },
        "InitializationVector":{
          "shape":"ZeroTo255String",
          "documentation":"<p>If Elastic Transcoder is generating your key for you, you must leave this field blank.</p> <p>The series of random bits created by a random bit generator, unique for every encryption operation, that you want Elastic Transcoder to use to encrypt your output files. The initialization vector must be base64-encoded, and it must be exactly 16 bytes before being base64-encoded.</p>"
        },
        "LicenseAcquisitionUrl":{
          "shape":"ZeroTo512String",
          "documentation":"<p>The location of the license key required to decrypt your HLS playlist. The URL must be an absolute path, and is referenced in the URI attribute of the EXT-X-KEY metadata tag in the playlist file.</p>"
        },
        "KeyStoragePolicy":{
          "shape":"KeyStoragePolicy",
          "documentation":"<p>Specify whether you want Elastic Transcoder to write your HLS license key to an Amazon S3 bucket. If you choose <code>WithVariantPlaylists</code>, <code>LicenseAcquisitionUrl</code> must be left blank and Elastic Transcoder writes your data key into the same bucket as the associated playlist.</p>"
        }
      },
      "documentation":"<p>The HLS content protection settings, if any, that you want Elastic Transcoder to apply to your output files.</p>"
    },
    "HlsContentProtectionMethod":{
      "type":"string",
      "pattern":"(^aes-128$)"
    },
    "HorizontalAlign":{
      "type":"string",
      "pattern":"(^Left$)|(^Right$)|(^Center$)"
    },
    "Id":{
      "type":"string",
      "pattern":"^\\d{13}-\\w{6}$"
    },
    "IncompatibleVersionException":{
      "type":"structure",
      "members":{
      },
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "Interlaced":{
      "type":"string",
      "pattern":"(^auto$)|(^true$)|(^false$)"
    },
    "InternalServiceException":{
      "type":"structure",
      "members":{
      },
      "exception":true,
      "fault":true,
      "documentation":"<p>Elastic Transcoder encountered an unexpected exception while trying to fulfill the request.</p>"
    },
    "Job":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"Id",
          "documentation":"<p> The identifier that Elastic Transcoder assigned to the job. You use this value to get settings for the job or to delete the job. </p>"
        },
        "Arn":{
          "shape":"String",
          "documentation":"<p>The Amazon Resource Name (ARN) for the job.</p>"
        },
        "PipelineId":{
          "shape":"Id",
          "documentation":"<p> The <code>Id</code> of the pipeline that you want Elastic Transcoder to use for transcoding. The pipeline determines several settings, including the Amazon S3 bucket from which Elastic Transcoder gets the files to transcode and the bucket into which Elastic Transcoder puts the transcoded files. </p>"
        },
        "Input":{
          "shape":"JobInput",
          "documentation":"<p> A section of the request or response body that provides information about the file that is being transcoded.</p>"
        },
        "Output":{
          "shape":"JobOutput",
          "documentation":"<p>If you specified one output for a job, information about that output. If you specified multiple outputs for a job, the Output object lists information about the first output. This duplicates the information that is listed for the first output in the Outputs object.</p> <p><important>Outputs recommended instead.</important> A section of the request or response body that provides information about the transcoded (target) file. </p>"
        },
        "Outputs":{
          "shape":"JobOutputs",
          "documentation":"<p>Information about the output files. We recommend that you use the <code>Outputs</code> syntax for all jobs, even when you want Elastic Transcoder to transcode a file into only one format. Do not use both the <code>Outputs</code> and <code>Output</code> syntaxes in the same request. You can create a maximum of 30 outputs per job. </p> <p> If you specify more than one output for a job, Elastic Transcoder creates the files for each output in the order in which you specify them in the job.</p>"
        },
        "OutputKeyPrefix":{
          "shape":"Key",
          "documentation":"<p>The value, if any, that you want Elastic Transcoder to prepend to the names of all files that this job creates, including output files, thumbnails, and playlists. We recommend that you add a / or some other delimiter to the end of the <code>OutputKeyPrefix</code>.</p>"
        },
        "Playlists":{
          "shape":"Playlists",
          "documentation":"<p><important>Outputs in Fragmented MP4 or MPEG-TS format only.</important>If you specify a preset in <code>PresetId</code> for which the value of <code>Container</code> is fmp4 (Fragmented MP4) or ts (MPEG-TS), <code>Playlists</code> contains information about the master playlists that you want Elastic Transcoder to create.</p> <p>The maximum number of master playlists in a job is 30. </p>"
        },
        "Status":{
          "shape":"JobStatus",
          "documentation":"<p> The status of the job: <code>Submitted</code>, <code>Progressing</code>, <code>Complete</code>, <code>Canceled</code>, or <code>Error</code>. </p>"
        },
        "UserMetadata":{
          "shape":"UserMetadata",
          "documentation":"<p>User-defined metadata that you want to associate with an Elastic Transcoder job. You specify metadata in <code>key/value</code> pairs, and you can add up to 10 <code>key/value</code> pairs per job. Elastic Transcoder does not guarantee that <code>key/value</code> pairs will be returned in the same order in which you specify them.</p> <p>Metadata <code>keys</code> and <code>values</code> must use characters from the following list:</p> <ul> <li><p><code>0-9</code></p></li> <li><p><code>A-Z</code> and <code>a-z</code></p></li> <li><p><code>Space</code></p></li> <li><p>The following symbols: <code>_.:/=+-%@</code></p></li> </ul>"
        }
      },
      "documentation":"<p>A section of the response body that provides information about the job that is created.</p>"
    },
    "JobAlbumArt":{
      "type":"structure",
      "members":{
        "MergePolicy":{
          "shape":"MergePolicy",
          "documentation":"<p>A policy that determines how Elastic Transcoder will handle the existence of multiple album artwork files.</p> <p> <ul> <li> <code>Replace:</code> The specified album art will replace any existing album art.</li> <li> <code>Prepend:</code> The specified album art will be placed in front of any existing album art.</li> <li> <code>Append:</code> The specified album art will be placed after any existing album art.</li> <li> <code>Fallback:</code> If the original input file contains artwork, Elastic Transcoder will use that artwork for the output. If the original input does not contain artwork, Elastic Transcoder will use the specified album art file.</li> </ul> </p>"
        },
        "Artwork":{
          "shape":"Artworks",
          "documentation":"<p>The file to be used as album art. There can be multiple artworks associated with an audio file, to a maximum of 20. Valid formats are <code>.jpg</code> and <code>.png</code></p>"
        }
      },
      "documentation":"<p>The .jpg or .png file associated with an audio file.</p>"
    },
    "JobContainer":{
      "type":"string",
      "pattern":"(^auto$)|(^3gp$)|(^asf$)|(^avi$)|(^divx$)|(^flv$)|(^mkv$)|(^mov$)|(^mp4$)|(^mpeg$)|(^mpeg-ps$)|(^mpeg-ts$)|(^mxf$)|(^ogg$)|(^ts$)|(^vob$)|(^wav$)|(^webm$)|(^mp3$)|(^m4a$)|(^aac$)"
    },
    "JobInput":{
      "type":"structure",
      "members":{
        "Key":{
          "shape":"Key",
          "documentation":"<p> The name of the file to transcode. Elsewhere in the body of the JSON block is the the ID of the pipeline to use for processing the job. The <code>InputBucket</code> object in that pipeline tells Elastic Transcoder which Amazon S3 bucket to get the file from. </p> <p>If the file name includes a prefix, such as <code>cooking/lasagna.mpg</code>, include the prefix in the key. If the file isn't in the specified bucket, Elastic Transcoder returns an error.</p>"
        },
        "FrameRate":{
          "shape":"FrameRate",
          "documentation":"<p>The frame rate of the input file. If you want Elastic Transcoder to automatically detect the frame rate of the input file, specify <code>auto</code>. If you want to specify the frame rate for the input file, enter one of the following values: </p> <p> <code>10</code>, <code>15</code>, <code>23.97</code>, <code>24</code>, <code>25</code>, <code>29.97</code>, <code>30</code>, <code>60</code> </p> <p>If you specify a value other than <code>auto</code>, Elastic Transcoder disables automatic detection of the frame rate.</p>"
        },
        "Resolution":{
          "shape":"Resolution",
          "documentation":"<p>This value must be <code>auto</code>, which causes Elastic Transcoder to automatically detect the resolution of the input file.</p>"
        },
        "AspectRatio":{
          "shape":"AspectRatio",
          "documentation":"<p> The aspect ratio of the input file. If you want Elastic Transcoder to automatically detect the aspect ratio of the input file, specify <code>auto</code>. If you want to specify the aspect ratio for the output file, enter one of the following values: </p> <p> <code>1:1</code>, <code>4:3</code>, <code>3:2</code>, <code>16:9</code> </p> <p> If you specify a value other than <code>auto</code>, Elastic Transcoder disables automatic detection of the aspect ratio. </p>"
        },
        "Interlaced":{
          "shape":"Interlaced",
          "documentation":"<p>Whether the input file is interlaced. If you want Elastic Transcoder to automatically detect whether the input file is interlaced, specify <code>auto</code>. If you want to specify whether the input file is interlaced, enter one of the following values:</p> <p><code>true</code>, <code>false</code></p> <p>If you specify a value other than <code>auto</code>, Elastic Transcoder disables automatic detection of interlacing.</p>"
        },
        "Container":{
          "shape":"JobContainer",
          "documentation":"<p>The container type for the input file. If you want Elastic Transcoder to automatically detect the container type of the input file, specify <code>auto</code>. If you want to specify the container type for the input file, enter one of the following values: </p> <p> <code>3gp</code>, <code>aac</code>, <code>asf</code>, <code>avi</code>, <code>divx</code>, <code>flv</code>, <code>m4a</code>, <code>mkv</code>, <code>mov</code>, <code>mp3</code>, <code>mp4</code>, <code>mpeg</code>, <code>mpeg-ps</code>, <code>mpeg-ts</code>, <code>mxf</code>, <code>ogg</code>, <code>vob</code>, <code>wav</code>, <code>webm</code> </p>"
        },
        "Encryption":{
          "shape":"Encryption",
          "documentation":"<p>The encryption settings, if any, that are used for decrypting your input files. If your input file is encrypted, you must specify the mode that Elastic Transcoder will use to decrypt your file.</p>"
        }
      },
      "documentation":"<p>Information about the file that you're transcoding.</p>"
    },
    "JobOutput":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"String",
[...]
