[Desktop Entry]
Type=Application
Name=Lantern
GenericName=Lantern
Comment=Lantern Internet Freedom Tool
Icon=lantern
Exec=lantern %U
Categories=Network;
Keywords=Lantern;VPN;Proxy;Privacy;
StartupNotify=true
