<a class="item" target="_blank" href="{{feed.link}}" ng-click="trackFeed(feedsTitle)">
  <div ng-if="feed.image" class="feed-thumbnail">
    <img ng-src="{{feed.image}}" on-error="hideImage(feed)" data-pin-no-hover="true" />
  </div>
  <div class="content">
    <p class="feed-meta">
      <span>{{feed.source}}</span>
      <span ng-show="feed.publishedDate">{{feed.publishedDate | date: "mediumDate"}}</span>
    </p>
    <h4 ng-bind-html="feed.title"></h4>
    <p class="snippet" ng-bind-html="renderContent(feed)"></p>
  </div>
</a>
