* {
}

body{ height: 100% }

svg {
  display: block;
  overflow: hidden;
}

#container {
    padding-top: 100px;
    width: 950px;
    margin: 0 auto;
}

div.map {
    position: relative;
    height: 500px;
}

div.fullscreen {
    position: fixed;
    border-width: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;    
}

#dialog {
    /*visibility: hidden;*/
    display: none;
}

body.hidden {
    /*visibility: hidden;
    overflow: hidden;
    */
}


.dark-map, .blue-marble-map {
    background: #000f18;
}
.light-map {
    background: #e5e5e5;
}

.compass .back {
  fill: #eee;
  fill-opacity: .8;
}

.compass .fore {
  stroke: #999;
  stroke-width: 1.5px;
}

.compass rect.back.fore {
  fill: #999;
  fill-opacity: .3;
  stroke: #eee;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}

.compass .direction {
  fill: none;
}

.compass .chevron {
  fill: none;
  stroke: #999;
  stroke-width: 5px;
}

.compass .zoom .chevron {
  stroke-width: 4px;
}

.compass .active .chevron, .compass .chevron.active {
  stroke: #fff;
}

.compass.active .active .direction {
  fill: #999;
}

.country-border {
    stroke-width: 1;
    stroke: #012f4a;
    fill: #113f5a;
    -webkit-transition:fill .5s ease-in;  
       -moz-transition:fill .5s ease-in;  
       -o-transition:fill .5s ease-in;  
       transition:fill .5s ease-in;
}

.new-country {
    fill: #6c97bb;
    fill: #2f608a;
    -webkit-transition:fill 1s ease-in;  
       -moz-transition:fill 1s ease-in;  
       -o-transition:fill 1s ease-in;  
       transition:fill 1s ease-in;
}

.my-country {
    fill: #FCE422;
}

.lantern-data {
    color: #FCE422;
}

.oni-data {
    color: #2f608a;
}

.google-data {
    color: #6c97bb;
}

.lantern-line {
    stroke: #FCE422;
    stroke-width: 1;
}

.message-div {
    font-family: verdana, sans-serif;
    font-size: 160%;
}

.country-data {
    padding-top: 10px;
    font-size: 80%;
}

.country-data-title {
    font-family: verdana, sans-serif;
    font-size: 200%;
}

.new-users {
    stroke-width: 4;
    stroke: #2f608a;
    -webkit-transition:fill .5s ease-in;  
       -moz-transition:fill .5s ease-in;  
       -o-transition:fill .5s ease-in;  
       transition:fill .5s ease-in;
}

#dialog {
    width: 600px;
    height: 600px;
    padding-top: 20px;
}

.layerhidden {
  opacity: 0;
}

.fips-BE {
  fill: #ffa;
}
