/* line 4, ../sass/screen.sass */
.fill-g0 {
  fill: #154e70;
}

/* line 4, ../sass/screen.sass */
.fill-g1 {
  fill: #1f75a8;
}

/* line 4, ../sass/screen.sass */
.fill-g2 {
  fill: #2a9ce0;
}

/* line 4, ../sass/screen.sass */
.fill-g3 {
  fill: #34c3ff;
}

/* line 4, ../sass/screen.sass */
.fill-g4 {
  fill: #3feaff;
}

/* line 7, ../sass/screen.sass */
.country-border:hover {
  fill: #ffffaa;
}
