@import "mixins";

#scenarios .modal-header {
  background-color: $devModeColor;
}

#developer {
  @include opaqueOnMouseover;
}

$marginBot: 20px;

#dev-label {
  @include position(false, false, $marginBot - 14px, 33px);

  @include aboveModal;

  @include smaller;

  color: $devModeColor;
  font-weight: 300;
  text-shadow: 0 1px 0 #000;
}

#dev-buttons {
  @include position(false, false, $marginBot, 18px);

  @include aboveModal;

  button {
    text-shadow: none;

    &:hover {
      color: #000;
    }

    &:disabled {
      color: #333;
    }
  }
}

#model {
  @include position(false, false, $marginBot + 23px, 18px);

  @include aboveModal;

  @include border-radius(5px);

  @include smaller;

  @include monofont;

  @include size(500px, 500px);

  overflow: auto;
  background-color: lighten($devModeColor, 30%);
}

#langchooser {
  @include position(false, false, 36px, 50px);

  @include aboveModal;

  @include border-radius(5px);

  @include no-bullets;

  font-size: $baseFontSize * 0.8;
  background-color: lighten($devModeColor, 30%);
  padding: 5px 0;

  a {
    display: block;
    text-decoration: none;
    padding: 3px 34px 3px 16px;
    color: #000;
  }

  li {
    &:hover {
      color: #fff;
      background-color: #8af;
    }

    &.active {
      @include bold;

      background-color: darken(#8af, 10%);
    }
  }
}
