    <div class="chrome">
      <div class="header">
        <div class="inner">
          <ul>
            <li class="control-menu btn-group">
              <a href="#" class="btn btn-inverse btn-small dropdown-toggle" data-toggle="dropdown"><i class="icon-align-justify icon-white"></i></a>
              <ul class="dropdown-menu">
                <li><a href="#"><i class="icon-white icon-user"></i> Invite friends</a></li>
                <li><a href="#"><i class="icon-white icon-cog"></i> Settings</a></li>
                <li><a href="#"><i class="icon-white icon-pencil"></i> Contact Developers</a></li>
                <li class="divider"></li>
                <li><a href="#"><i class="icon-white icon-exclamation-sign"></i> Update Available</a></li>
              </ul>
            </li>
            <li class="user gtalkConnectivity connected"><a href="#"><i></i>user@example.com</a></li>
          </ul>
        </div>
      </div>
      <div id="lines"></div>
      <div id="canvas">
      </div>
      <div class="footer">
        <div class="inner">
          861 users online |
          7 friends |
          18.3 M/s up |
          35 M/s down |
          2.4 G lifetime
          <!-- XXX
          <a rel="tooltip" data-original-title="Enable Automatic Reporting to have your usage contribute to global totals" ui-jq="tooltip">
            <i class="icon-info-sign"></i>
          </a>
          -->
        </div>
      </div>
      <div class="radial-menu"></div>
    </div>
