<div id="footer">
  <div id="offline" ng-show="model.connectivity.internet == false">
    {{ 'CONNECTION_OFFLINE' | i18n }}
  </div>
  <div ng-show="model.connectivity.internet != false">
    <div id="stats">
      <div ng-show="statsLoaded">
        {{ 'NUSERS_ONLINE' | i18n:(model.globalStats.gauges.userOnline || 0) }} ·
        {{ 'NUSERS_EVER' | i18n:(model.globalStats.gauges.userOnlineEver + model.globalStats.counters.userOnlineEverOld) }} ·
        {{ model.globalStats.counters.bytesGotten | prettyBytes }} {{ 'TRANSFERRED_GLOBALLY' | i18n }}
      </div>
      <div ng-hide="statsLoaded">
        <!-- just show an empty line instead of "Loading stats..." -->
        &nbsp;
        <!--
        {{ 'LOADING_STATS' | i18n }}
        -->
      </div>
    </div>
  </div>

  <div id="appInfo">
    {{ 'LANTERN' | i18n }}
    {{ model.version.installed | version:true }}
    <span ng-show="model.version.updateAvailable" class="update-available">
      · <i class="icon-exclamation-sign"></i>
      <a ng-click="interaction(INTERACTION.updateAvailable)">{{ 'UPDATE_AVAILABLE_TITLE' | i18n }}</a>
    </span>
    <span>
      · <a ng-click="interaction(INTERACTION.about)">{{ 'ABOUT' | i18n }}</a>
    </span>
    <span>
      · <a ng-click="interaction(INTERACTION.contact)">{{ 'CONTACT' | i18n }}</a>
    </span>
    <!--
    <span>
      · <a ng-click="interaction(INTERACTION.sponsor)">{{ 'SPONSOR' | i18n }}</a>
    </span>
    -->
  </div>

  <div id="global-nav" class="btn-group" dir="ltr">
    <button type="button" class="btn btn-large btn-inverse"
            ng-disabled="!model.setupComplete"
            ng-click="interaction(INTERACTION.lanternFriends)"
            ng-class="{active: model.modal == MODAL.lanternFriends}"
            tooltip="{{ 'LANTERN_FRIENDS' | i18n }}">
      <i class="lsf-icon lsf-friends"></i>
    </button>
    <button type="button" class="btn btn-large btn-inverse"
            ng-disabled="!model.setupComplete"
            ng-show="inGetMode"
            ng-click="interaction(INTERACTION.proxiedSites)"
            ng-class="{active: model.modal == MODAL.proxiedSites}"
            tooltip="{{ 'PROXIED_SITES_TITLE' | i18n }}">
      <i class="lsf-icon lsf-web"></i>
    </button>
    <button type="button" class="btn btn-large btn-inverse"
            ng-disabled="!model.setupComplete"
            ng-click="interaction(INTERACTION.settings)"
            ng-class="{active: model.modal == MODAL.settings}"
            tooltip="{{ 'SETTINGS' | i18n }}">
      <i class="lsf-icon lsf-gear"></i>
    </button>
  </div>
  <div id="npending" ng-show="nfriendSuggestions" class="badge badge-important">{{ nfriendSuggestions | badgeCount }}</div>
</div>
