<!-- XXX i18n -->
<div id="footer">
  <div id="stats" ng-show="model.showVis">
    <div id="stats-global">
      <strong>global stats:</strong>
      861 users online in 17 countries ·
      1,031,235 users total ·
      8.3 petabytes transferred
    </div>
    <div id="stats-personal">
      <strong>your stats:</strong>
      <span ng-show="model.connectivity.peers.lifetime.length">
        <a rel="tooltip" data-original-title="{{ 'ENABLE_AUTOREPORT_SUGGESTION' | i18n }}" ui-jq="tooltip" ng-show="!model.settings.autoReport">
          <i class="icon-info-sign"></i>
        </a>
        {{ model.settings.email }} ·
        {{ model.connectivity.gtalk }} to Google Talk ·
        XXX Lantern friends online ·
        connected to {{ model.connectivity.peers.lifetime.length }} peers in {{ ncountries || 'XXX' }} countries ·
        {{ model.transfers.bpsUp }} M/s up ·
        {{ model.transfers.bpsDn }} M/s down ·
        {{ model.transfers.bytesTotal || '0B' }} lifetime
      </span>
      <span ng-hide="model.connectivity.peers.lifetime.length">
        {{ model.connectivity.gtalk }} to Google Talk ·
        <i class="icon-info-sign warning-colored"></i>
        Lantern will be able to display your stats once you have connected to some peers.
      </span>
    </div>
  </div>

  <div id="version">
    Lantern {{ mockBackend && '(mock backend)' || '' }} {{ model.version.installed | version }}
    <span ng-show="model.version.updateAvailable">
      · <i class="icon-exclamation-sign warning-colored"></i>
      <a ng-click="interaction(INTERACTION.updateAvailable)" class="update-available">
        Update available<!-- XXX -->
      </a>
    </span>
    <span>
      · <a ng-click="interaction(INTERACTION.about)">About</a>
    </span>
    <span>
      · <a ng-click="interaction(INTERACTION.contact)">
        Contact
      </a>
    </span>
  </div>

  <div id="global-nav" class="btn-group" ng-show="model.showVis">
    <button type="button" class="btn btn-large btn-inverse"
            ng-click="interaction(INTERACTION.lanternFriends)"
            ng-class="{active: model.modal == MODAL.lanternFriends}"
            ui-jq="tooltip" rel="tooltip" data-original-title="Lantern friends">
      <!-- i class="icon-group"></i -->
      <i class="lsf-icon lsf-friends"></i>
    </button>
    <button type="button" class="btn btn-large btn-inverse"
            ng-show="inGetMode"
            ng-click="interaction(INTERACTION.proxiedSites)"
            ng-class="{active: model.modal == MODAL.proxiedSites}"
            ui-jq="tooltip" rel="tooltip" data-original-title="Proxied Sites">
      <!-- i class="icon-cogs"></i -->
      <i class="lsf-icon lsf-web"></i>
    </button>
    <button type="button" class="btn btn-large btn-inverse"
            ng-click="interaction(INTERACTION.settings)"
            ng-class="{active: model.modal == MODAL.settings}"
            ui-jq="tooltip" rel="tooltip" data-original-title="Settings">
      <!-- i class="icon-cogs"></i -->
      <i class="lsf-icon lsf-gear"></i>
    </button>
  </div>
  <div id="npending" ng-show="model.showVis && model.friends.pending.length" class="badge badge-important">{{ model.friends.pending.length | badgeCount }}</div>
</div>
