<!-- XXX i18n -->
<div id="footer" ng-controller="FooterCtrl" ng-show="show">
  <div class="inner">
    <strong>global stats:</strong>
    861 users online ·
    1,031,235 users total ·
    9,832,256,102 completed transfers ·
    8.3 petabytes transferred
    <br>
    <strong>your stats:</strong>
    {{ model.settings.userid }} ·
    {{ model.connectivity.gtalk }} to Google Talk ·
    7 friends online ·
    23 active transfers with 5 peers ·
    18.3 M/s up ·
    35 M/s down ·
    2.4 G lifetime
    <a rel="tooltip" data-original-title="Enable Automatic Reporting to have your usage contribute to global totals" ui-jq="tooltip" ng-show="!model.settings.autoReport">
      <i class="icon-exclamation-sign text-error"></i>
    </a>
  </div>
  <div class="btn-group">
    <a class="btn btn-small btn-inverse" ui-jq="tooltip"
       rel="tooltip" data-original-title="Invite friends">
      <i class="icon-user icon-white"></i>
    </a>
    <a class="btn btn-small btn-inverse" ui-jq="tooltip"
       rel="tooltip" data-original-title="Write Devs">
      <i class="icon-pencil icon-white"></i>
    </a>
    <a class="btn btn-small btn-inverse"
       role="button" ng-click="showSettings()"
       ui-jq="tooltip" rel="tooltip" data-original-title="Settings">
      <i class="icon-cog icon-white"></i>
    </a>
  </div>
</div>

<div ng-include src="'partials/settings.html'"></div>
