<div id="langchooser"
     ng-show="model.modal == MODAL.welcome || model.modal == MODAL.settings">
  <ul class="pull-right">
    <li ng-repeat="(langKey, langVal) in LANG" ng-class="{active: lang() == langKey}"><a
        ng-click="lang() != langKey && changeSetting(SETTING.lang, langKey)"
        dir="{{ langVal.dir }}">{{ langVal.name }}</a></li>
    <li><a target="_blank" href="{{ EXTERNAL_URL.helpTranslate }}">{{ 'HELP_TRANSLATE' | i18n }}<sup><i class="icon-external-link"></i></sup></a></li>
  </ul>
</div>

<div id="sanity" ng-controller="SanityCtrl" ng-model="show"
     ui-modal class="fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h3>{{ 'UNEXPECTED_STATE_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <div>{{ 'UNEXPECTED_STATE_PROMPT' | i18n }}</div>
    <form>
      <p>
        <label class="checkbox inline">
          <input type="checkbox" ng-model="notifyLanternDevs">
          {{ 'NOTIFY_LANTERN_DEVS' | i18n }}
        </label>
      </p>
      <textarea class="bugReport" ng-disabled="!notifyLanternDevs"
        ng-model="bugReport" placeholder="{{ 'BUG_REPORT_PROMPT' | i18n }}">
      </textarea>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" ng-click="interaction(INTERACTION.reset, {notify: notifyLanternDevs})" class="btn btn-danger">{{ 'RESET' | i18n }}</button>
    <button type="button" ng-click="refresh()" class="btn btn-primary">{{ 'REFRESH' | i18n }}</button>
  </div>
</div>

<div id="settingsLoadFailure" ng-controller="SettingsLoadFailureCtrl" ui-modal
     ng-model="show" class="fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h3>{{ 'SETTINGS_LOAD_FAILURE_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <div>{{ 'SETTINGS_LOAD_FAILURE_PROMPT' | i18n }}</div>
    <form>
      <p>
        <label class="checkbox inline">
          <input type="checkbox" ng-model="notifyLanternDevs">
          {{ 'NOTIFY_LANTERN_DEVS' | i18n }}
        </label>
      </p>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" ng-click="interaction(INTERACTION.reset, {notify: notifyLanternDevs})" class="btn btn-danger">{{ 'RESET' | i18n }}</button>
    <button type="button" ng-click="interaction(INTERACTION.quit, {notify: notifyLanternDevs})" class="btn btn-primary">{{ 'QUIT' | i18n }}</button>
  </div>
</div>

<!-- setup screens -->

<div id="welcome" ng-controller="WelcomeCtrl" ui-modal ng-model="show"
     class="fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h3>{{ 'WELCOME_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <div>{{ 'WELCOME_PROMPT' | i18n }}</div>
  </div>
  <div class="modal-footer">
    <button type="button" ng-hide="inCensoringCountry" ng-click="interaction(MODE.give)"
      class="btn btn-primary btn-{{inCensoringCountry && 'warning' || 'give-mode' }}">
      <i ng-show="inCensoringCountry" class="icon-warning-sign"></i>
      {{ 'GIVE_ACCESS' | i18n }}</button>
    <button type="button" class="btn btn-primary btn-get-mode" ng-click="interaction(MODE.get)">{{ 'GET_ACCESS' | i18n }}</button>
  </div>
</div>

<div id="authorize" ng-controller="AuthorizeCtrl" ui-modal ng-model="show" class="fade"
     data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h3>{{ 'AUTHORIZE_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <div>
      {{ 'AUTHORIZE_PROMPT' | i18n }}
      <small><a ng-click="helpExpanded=!helpExpanded"
                class="toggle">{{ 'WHY' | i18n }}</a></small>
    </div>
    <div class="prompt-extra noHeightWhenHidden" ui-toggle="helpExpanded">
      {{ 'AUTHORIZE_TIP_GTALK' | i18n }}
    </div>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" href="{{ model.connectivity.gtalkOauthUrl }}"
       ui-jq="tooltip" rel="tooltip" data-original-title="{{ 'AUTHORIZE_EXTERNAL' | i18n }}">
      {{ 'AUTHORIZE_LANTERN' | i18n }}
    </a>
  </div>
</div>

<div id="gtalkConnecting" ng-controller="GtalkConnectingCtrl" ui-modal ng-model="show" class="fade"
     data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h3>{{ 'GTALK_CONNECTING_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <p class="centered" ng-show="gtalkConnecting">
      <!-- XXX progress bar would be nice here -->
      <i class="icon-spinner icon-spin icon-large"></i>
    </p>
  </div>
</div>

<div id="confirmReset" ng-controller="ConfirmResetCtrl" ui-modal
     ng-model="show" class="fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h3>{{ 'CONFIRM_RESET_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <div>{{ 'CONFIRM_RESET_PROMPT' | i18n }}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-click="interaction(INTERACTION.cancel)">{{ 'CANCEL' | i18n }}</button>
    <button type="button" class="btn btn-danger" ng-click="interaction(INTERACTION.reset)">{{ 'RESET' | i18n }}</button>
  </div>
</div>

<div id="giveModeForbidden" ng-controller="GiveModeForbiddenCtrl" ui-modal
     ng-model="show" class="fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h3>{{ 'GIVE_MODE_FORBIDDEN_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <div>{{ 'GIVE_MODE_FORBIDDEN_PROMPT' | i18n }}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-hide="model.setupComplete" ng-click="interaction(INTERACTION.cancel)">{{ 'BACK' | i18n }}</button>
    <button type="button" class="btn btn-primary btn-get-mode" ng-click="interaction(INTERACTION.continue)">{{ 'CONTINUE_IN_GET_MODE' | i18n }}</button>
  </div>
</div>

<div id="gtalkUnreachable" ng-controller="GtalkUnreachableCtrl" ui-modal
     ng-model="show" class="fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h3>{{ 'GOOG_UNREACHABLE_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <div>{{ 'GOOG_UNREACHABLE_PROMPT' | i18n }}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-click="interaction(INTERACTION.retry)">{{ 'RETRY_NOW' | i18n }}</button>
    <button type="button" class="btn" ng-click="interaction(INTERACTION.retryLater)">{{ 'RETRY_LATER' | i18n }}</button>
  </div>
</div>

<div id="authorizeLater" ng-controller="AuthorizeLaterCtrl" ui-modal
     ng-model="show" class="fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h3>{{ 'AUTHORIZE_LATER_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <div>{{ 'AUTHORIZE_LATER_PROMPT' | i18n }}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-click="interaction(INTERACTION.continue)">{{ 'CONTINUE' | i18n }}</button>
  </div>
</div>

<div id="notInvited" ng-controller="NotInvitedCtrl" ui-modal
     ng-model="show" class="fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h3>{{ 'NOT_INVITED_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <div>{{ 'NOT_INVITED_PROMPT' | i18n }}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-click="interaction(INTERACTION.retry)">{{ 'TRY_ANOTHER_USER' | i18n }}</button>
    <button type="button" class="btn" ng-click="interaction(INTERACTION.requestInvite)">{{ 'REQUEST_INVITE' | i18n }}</button>
  </div>
</div>

<div id="requestInvite" ng-controller="RequestInviteCtrl" ui-modal
     ng-model="show" class="fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h3>{{ 'REQUEST_INVITE_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <div>{{ 'REQUEST_INVITE_PROMPT' | i18n }}</div>
    <form name="sendRequestForm" submit="sendRequest()">
      <label class="radio">
        <input type="radio" ng-disabled="disableForm"
               ng-model="sendToLanternDevs" ng-value="false">
        {{ 'SOMEONE_I_KNOW_LABEL' | i18n }}
      </label>
      <div class="control-extra">
        <input type="email" ng-required="!sendToLanternDevs"
               ng-disabled="disableForm || sendToLanternDevs"
               ng-model="sendRequestTo" placeholder="email@example.com">
        <div>{{ 'SOMEONE_I_KNOW_INFO' | i18n }}</div>
        <!-- XXX auto-complete from google contacts -->
        <!-- XXX "add a personal message" -->
      </div>
      <br>
      <label class="radio">
        <input type="radio" ng-disabled="disableForm" ng-model="sendToLanternDevs" ng-value="true"> {{ 'LANTERN_DEVS_LABEL' | i18n }}
      </label>
      <div class="control-extra">{{ 'LANTERN_DEVS_INFO' | i18n }}</div>
      <br>
      <div class="text-error" ui-toggle="requestError">
        {{ 'ERROR' | i18n }}&nbsp;
      </div>
      <!-- XXX need (hidden) submit input so pressing enter triggers form submission? -->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-click="interaction(INTERACTION.cancel)" tabindex="-1">{{ 'CANCEL' | i18n }}</button>
    <button type="submit" class="btn btn-primary" ng-disabled="sendRequestForm.$invalid || disableForm" ng-click="requestInvite()">{{ submitButtonLabelKey | i18n }}</button>
  </div>
</div>

<div id="requestSent" ng-controller="RequestSentCtrl" ui-modal
     ng-model="show" class="fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h3>{{ 'REQUEST_SENT_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <div>{{ 'REQUEST_SENT_PROMPT' | i18n }}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="interaction(INTERACTION.continue)">{{ 'CONTINUE' | i18n }}</button>
  </div>
</div>

<div id="firstInviteReceived" ng-controller="FirstInviteReceivedCtrl" ui-modal
     ng-model="show" class="fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h3>{{ 'FIRST_INVITE_RECEIVED_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <div>{{ 'FIRST_INVITE_RECEIVED_INTRO' | i18n }}</div>
    <br>
    <div>
      <!-- XXX will we have this data? -->
      {{ 'FIRST_INVITE_RECEIVED_SENDER' | i18n }}
      <div class="centered">
        user@example.com ("Name here")
      </div>
    </div>
    <br>
    <div>{{ 'FIRST_INVITE_RECEIVED_PROMPT' | i18n }}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="interaction(INTERACTION.continue)">{{ 'CONTINUE' | i18n }}</button>
  </div>
</div>

<div id="systemProxy" ng-controller="SystemProxyCtrl" ui-modal ng-model="show"
     class="fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h3>{{ 'SYSTEM_PROXY_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <div>{{ 'SYSTEM_PROXY_PROMPT' | i18n }}</div>
    <br>
    <div class="control-group">
      <div class="controls">
        <label class="radio control-label">
          <input type="radio" ng-model="systemProxy" ng-value="true"
                 ng-disabled="disableForm">
          {{ 'SYSTEM_PROXY_TRUE' | i18n }}
        </label>
        <div class="control-extra">{{ 'ADMIN_PW_PROMPT' | i18n }}</div>
      </div>
      <div class="controls">
        <label class="radio control-label">
          <input type="radio" ng-model="systemProxy" ng-value="false"
                 ng-disabled="disableForm">
          {{ 'SYSTEM_PROXY_FALSE' | i18n }}
        </label>
        <div class="control-extra">
          {{ 'HTTP_PROXY_PORT' | i18n }}
          {{ model.settings.proxyPort }}. <!-- XXX interpolate this variable -->
        </div>
      </div>
    </div>
    <div class="text-error" ui-toggle="sysproxyError">
      {{ 'SYSTEM_PROXY_ERROR' | i18n }}&nbsp;
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="continue()"
            ng-disabled="disableForm">
      {{ submitButtonLabelKey | i18n }}
    </button>
  </div>
</div>

<div id="proxiedSites" ng-controller="ProxiedSitesCtrl" ui-modal ng-model="show"
     class="fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h3>{{ 'PROXIED_SITES_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <div>{{ 'PROXIED_SITES_PROMPT' | i18n }}</div>
    <br>
    <div>
      <label>
        {{ 'CONFIGURE_PROXIED_SITES' | i18n }}
      </label>
      <form name="proxiedSitesForm">
        <textarea ng-model="input" name="input" placeholder="example.com" required
          ui-validate="validate" ng-disabled="updating" ng-change="handleUpdate()"
          dir="ltr" tabindex="1"></textarea>
      </form>
    </div>
    <div class="smaller">
      <i class="icon-info-sign"></i>
      {{ 'PROXIED_SITES_TIP' | i18n }}
    </div>
    <div class="error" ui-toggle="errorLabelKey">
      {{ errorLabelKey | i18n }}
      <pre class="errorCause" ng-show="errorCause">{{ errorCause }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-disabled="updating" ng-click="reset()" tabindex="3">{{ 'RESET' | i18n }}</button>
    <button type="button" class="btn btn-primary" tabindex="2"
            ng-disabled="dirty || updating || proxiedSitesForm.$invalid"
            ng-click="interaction(INTERACTION.continue)">{{ submitButtonLabelKey | i18n }}</button>
  </div>
</div>

<div id="lanternFriends" ng-controller="LanternFriendsCtrl" ui-modal ng-model="show"
     class="fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h3>{{ 'LANTERN_FRIENDS_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <div>
      <p>{{ 'LANTERN_FRIENDS_INTRO' | i18n }}</p>
      <p class="small">{{ 'AUTOTRUSTED_PROMPT' | i18n }}</p>
    </div>

    <div ng-show="model.friends.pending.length" class="centered">
      <h4>
        <div class="badge badge-important">{{ model.friends.pending.length }}</div>
        {{ 'PENDING_REQS_PROMPT' | i18n }}
      </h4>
      <ul class="contactList-horizontal">
        <!-- http://microformats.org/wiki/hcard -->
        <li class="vcard" ng-repeat="contact in model.friends.pending">
          <img class="photo pull-left" ng-src="{{ contact.picture || DEFAULT_AVATAR_URL }}">
          <div class="fn" title="{{ contact.name }}" ng-class="{gray: !contact.name}">{{ contact.name || ('NO_NAME' | i18n) }}</div><!-- XXX text direction -->
          <div class="email small" title="{{ contact.email }}" ng-class="{gray: !contact.email}" dir="ltr">{{ contact.email || ('NO_EMAIL' | i18n) }}</div>
          <div class="btn-group">
            <button type="button" class="btn btn-mini btn-success" ng-click="interaction(INTERACTION.accept, contact)">{{ 'ACCEPT' | i18n }}</button>
            <button type="button" class="btn btn-mini btn-danger" ng-click="interaction(INTERACTION.decline, contact)">{{ 'DECLINE' | i18n }}</button>
          </div>
        </li>
      </ul>
      <p class="smaller">{{ 'PENDING_REQS_INFO' | i18n }}</p>
    </div>
    <hr ng-show="model.friends.pending.length">

    <div ng-hide="model.friends.current.length" class="centered smaller">{{ 'NO_FRIENDS' | i18n }}</div>

    <h4 class="centered" ng-show="model.friends.current.length">
      <span ng-show="model.friends.current.length">{{ model.friends.current.length }}</span>
      {{ 'LANTERN_FRIENDS' | i18n }}
    </h4>
    <ul ng-show="model.friends.current.length" class="contactList-horizontal centered">
      <!-- http://microformats.org/wiki/hcard -->
      <li class="vcard" ng-repeat="contact in model.friends.current">
        <img class="photo pull-left" ng-src="{{ contact.picture || DEFAULT_AVATAR_URL }}">
        <div class="fn" title="{{ contact.name }}" ng-class="{gray: !contact.name}">{{ contact.name || ('NO_NAME' | i18n) }}</div><!-- XXX text direction -->
        <div class="email small" title="{{ contact.email }}" ng-class="{gray: !contact.email}" dir="ltr">{{ contact.email || ('NO_EMAIL' | i18n) }}</div>
      </li>
    </ul>

    <hr>
    <form class="inviteForm" name="inviteForm" ng-show="model.ninvites">
      <h4>{{ 'INVITE_FRIENDS_PROMPT' | i18n }}</h4>
      <input type="hidden" ng-model="invitees" name="selectInvitees"
             ui-select2="selectInvitees" ui-validate="validateInvitees"
             class="selectContacts" data-placeholder="email@example.com, email@example.com, ..." ng-disabled="!model.ninvites">
      <div>
        <span>{{ model.ninvites }}</span>
        {{ 'INVITES_REMAINING' | i18n }}
      </div>
    </form>
    <div class="centered">
      <div ng-hide="model.ninvites">{{ 'NO_INVITES' | i18n }}</div>
      <div class="smaller">{{ 'MORE_INVITES' | i18n }}</div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary"
      ng-disabled="inviteForm.selectInvitees.$invalid"
      ng-click="continue()">{{ 'CONTINUE' | i18n }}</button>
  </div>
</div>

<div id="finished" ng-controller="FinishedCtrl" ui-modal
     ng-model="show" class="fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h3>{{ 'FINISHED_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <div>{{ 'FINISHED_PROMPT' | i18n }}</div>
    <br>
    <form class="form-inline">
      <label class="checkbox inline" style="margin:0"><!-- XXX inline style -->
        <input type="checkbox" ng-model="autoReport"
               ng-change="changeSetting(SETTING.autoReport, autoReport)">
        <small>{{ 'AUTOREPORT_ENABLE' | i18n }}</small>
      </label>
      <label class="checkbox inline" style="margin:0"><!-- XXX inline style -->
        <a rel="tooltip" data-original-title="{{ 'AUTOREPORT_PROMPT' | i18n }}"
           ui-jq="tooltip">
          <i class="icon-info-sign"></i>
        </a>
      </label>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-{{ model.settings.mode }}-mode"
            ng-click="interaction(INTERACTION.continue)">{{ 'FINISH' | i18n }}</button>
  </div>
</div>

<div id="contact" ng-controller="ContactCtrl" ui-modal
     ng-model="show" class="fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-header">
    <h3>{{ 'CONTACT_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <div class="smaller">{{ 'CONTACT_PROMPT' | i18n }}</div>
    <form name="contactForm">
      <textarea id="contact-msg" name="contactMsg" ng-model="message" autofocus
        ng-maxlength="500000" required></textarea><!-- XXX https://github.com/angular/angular.js/pull/1588 -->
      <div class="text-error" ui-toggle="contactForm.contactMsg.$error.maxlength">
        {{ contactForm.contactMsg.$viewValue.length - 500000 }}
        {{ 'ERROR_TOO_LONG' | i18n }}&nbsp;
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn"
            ng-click="interaction(INTERACTION.cancel)">{{ 'CANCEL' | i18n }}</button>
    <button type="button" class="btn btn-primary"
            ng-disabled="contactForm.contactMsg.$invalid || contactForm.contactMsg.$pristine"
            ng-click="interaction(INTERACTION.continue, {message: message})">{{ 'SEND' | i18n }}</button>
  </div>
</div>

<!-- XXX this is just a sketch -->
<div id="about" ng-controller="AboutCtrl" ui-modal ng-model="show"
     class="fade" data-backdrop="static" data-keyboard="true"><!-- XXX data-keyboard=true not working? -->
  <div class="modal-body">
    <div style="text-align:center; margin:0">
      Lantern version {{ model.version.installed | version:true }}<br>
      Frontend version {{ versionFrontend }}<br>
      <span class="smaller">
        <a href="https://www.getlantern.org/news" target="_blank">News</a> ·
        <a href="https://groups.google.com/group/lantern-users-en" target="_blank">Forums</a> ·
        <a href="https://github.com/getlantern/lantern/wiki" target="_blank">Docs</a> ·
        <a href="https://github.com/getlantern/lantern" target="_blank">Developers</a>
      </span>
    </div>
    <div>
      Credits
      <textarea readonly rows="2">                          myleshorton                  _pants                  aranhoide                leahxschmidt
            Wm. Forkner             M. Messier           Collin A.           Jacob A.            Chris N.            Nancy</textarea>
    </div>
    <div>
      Privacy
      <textarea readonly rows="3">- what we collect and store...
- what we collect and don’t store...
- what we don’t collect...
- ...and why, for all of the above.</textarea>
    </div>
    <div>
      License
      <textarea readonly rows="4">This program is free software; you can redistribute it and/or modify it under the terms of the GNU General Public License (GPL) as published by the Free Software Foundation; either version 3 of the License, or (at your option) any later version. The full text of version 3 of the GPL can be found in the file LICENSE.

This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more details.

You should have received a copy of the GNU General Public License along with this program; if not, write to the Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301, USA.</textarea>
    </div>
    <!-- XXX https://en.wikipedia.org/wiki/Copyright#Obtaining_and_enforcing_copyright -->
    <div class="smaller gray centered" style="margin:0">© 2013 Team Lantern.</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="interaction(INTERACTION.close)">{{ 'CLOSE' | i18n }}</button>
  </div>
</div>

<div id="updateAvailable" ng-controller="UpdateAvailableCtrl" ui-modal ng-model="show"
     class="fade" data-backdrop="static" data-keyboard="true"><!-- XXX data-keyboard=true not working? -->
  <div class="modal-header">
    <button type="button" class="close" ng-click="interaction(INTERACTION.close)" aria-hidden="true">×</button>
    <h3>{{ 'UPDATE_AVAILABLE_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <p>{{ 'UPDATE_AVAILABLE_PROMPT' | i18n }}</p>
    <h4>{{ 'VERSION' | i18n }} {{ model.version.latest | version }}
        {{ 'RELEASED' | i18n }} <time>{{ model.version.latest.releaseDate }}</time></h4>
    <div class="small">{{ 'UPDATE_AVAILABLE_PROMPT_CHANGES' | i18n }}</div>
    <ul id="changes" class="well">
      <li ng-repeat="change in model.version.latest.changes">
        <span ng-bind-html="change[lang()]"></span>
      </li>
    </ul>
    <p class="small">{{ 'UPDATE_AVAILABLE_PROMPT_RUNNING' | i18n }}
      {{ 'VERSION' | i18n }} {{ model.version.installed | version }}
      {{ 'RELEASED' | i18n }} <time>{{ model.version.installed.releaseDate }}</time></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-click="interaction(INTERACTION.close)">{{ 'CLOSE' | i18n }}</button>
    <a class="btn btn-primary" href="{{ model.version.latest.installerUrl }}">{{ 'DOWNLOAD' | i18n }}</a>
  </div>
</div>

<div id="settings" ng-controller="SettingsCtrl" ui-modal ng-model="show"
     class="fade" data-backdrop="static" data-keyboard="true"><!-- XXX data-keyboard=true not working? -->
  <div class="modal-header">
    <button type="button" class="close" ng-click="interaction(INTERACTION.close)" aria-hidden="true">×</button>
    <h3>{{ 'SETTINGS' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <dl class="dl-horizontal">
      <dt>{{ 'MODE' | i18n }}</dt>
      <dd>
        <div class="btn-group">
          <button type="button" class="btn btn-mini"
                  ng-class="{active: inGiveMode}"
                  ng-disabled="inGiveMode"
                  ng-click="interaction(MODE.give)">
                  <i ng-show="inCensoringCountry" class="icon-warning-sign"></i>
                  {{ 'GIVE_ACCESS' | i18n }}
          </button>
          <button type="button" class="btn btn-mini"
                  ng-class="{active: inGetMode}"
                  ng-disabled="inGetMode"
                  ng-click="interaction(MODE.get)">
                  {{ 'GET_ACCESS' | i18n }}
          </button>
        </div>
      </dd>

      <dt>{{ 'APP' | i18n }}</dt>
      <dd id="app-settings">
        <label class="checkbox">
          <input type="checkbox" ng-model="runAtSystemStart"
                 ng-click="changeSetting(SETTING.runAtSystemStart, runAtSystemStart)">
          {{ 'AUTO_START' | i18n }}
        </label>

        <label class="checkbox inline" style="margin-top:-7px"><!-- XXX inline style -->
          <input type="checkbox" ng-model="autoReport"
                 ng-click="changeSetting(SETTING.autoReport, autoReport)">
          {{ 'AUTOREPORT_ENABLE' | i18n }}
        </label>
        <label class="checkbox inline" style="margin:0; padding:0 0 0 1px"><!-- XXX inline style -->
          <a rel="tooltip" data-original-title="{{ 'AUTOREPORT_PROMPT' | i18n }}"
             ui-jq="tooltip">
            <i class="icon-info-sign"></i>
          </a>
        </label>

        <div id="autoreport-warning" ui-toggle="!model.settings.autoReport"
             class="noHeightWhenHidden">
          <i class="icon-exclamation-sign"></i>
          <small>{{ 'NO_AUTOREPORT_WARNING' | i18n }}</small>
        </div>
      </dd>

      <dt ui-toggle="inGetMode">{{ 'PROXY' | i18n }}</dt>
      <dd ui-toggle="inGetMode" id="proxy-settings">
        <button type="button" class="btn btn-mini"
                ng-click="interaction(INTERACTION.proxiedSites)">
          {{ 'MANAGE_PROXIED_SITES' | i18n }}
        </button>
        <br>
        <details ng-open="proxyAdvancedExpanded"><!-- XXX ng-open not yet implemented: https://github.com/angular/angular.js/issues/1797 -->
          <summary class="small">{{ 'ADVANCED' | i18n }}</summary>
          <label class="checkbox">
            <input type="checkbox" ng-model="proxyAllSites"
                   ng-click="changeSetting(SETTING.proxyAllSites, proxyAllSites)">
              {{'PROXY_ALL_TRAFFIC' | i18n }}
          </label>
          <div>
            <label class="checkbox">
              <input type="checkbox" ng-model="systemProxy"
                     ng-click="changeSetting(SETTING.systemProxy, systemProxy)">
              {{ 'SET_AS_SYSTEM_PROXY' | i18n }}
            </label>
            <div class="indented" ui-toggle="!systemProxy">
              <i class="icon-info-sign"></i>
              {{ 'LANTERN_PORT' | i18n }} {{ model.settings.proxyPort }}<!-- XXX interpolate -->
            </div>
          </div>
        </details>
      </dd>
    </dl>
  </div>
  <div class="modal-footer">
    <button type="button" ng-click="interaction(INTERACTION.reset)"
            class="btn btn-mini pull-left">
      <i class="icon-warning-sign warning-colored"></i>
      {{ 'RESET_ELLIPSIS' | i18n }}
    </button>
    <button type="button" class="btn btn-primary" ng-click="interaction(INTERACTION.close)">{{ 'CLOSE' | i18n }}</button>
  </div>
</div>

<div id="scenarios" ng-controller="ScenariosCtrl" ng-model="show"
     ui-modal class="fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-header centered">
    <h3>Developer</h3>
  </div>
  <div class="modal-body">
    <p class="centered text-error">{{ model.mock.scenarios.prompt }}</p>
    <label>Applied scenarios:</label>
    <select ui-select2 multiple ng-model="appliedScenarios"
            placeholder="Choose applied scenarios" required style="width: 530px">
      <optgroup ng-repeat="(group, scenarios) in model.mock.scenarios.all" label="{{ group }}">
        <option ng-repeat="(key, scen) in scenarios" value="{{ group }}.{{ key }}">{{ scen.desc }}</option>
      </optgroup>
    </select> 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-click="interaction(INTERACTION.cancel)">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="submit()"
            ng-disabled="invalid">Continue</button>
  </div>
</div>
