<!--
<div id="langchooser" ng-show="model.dev">
  <ul class="pull-right">
    <li ng-repeat="(langKey, langVal) in LANGS" ng-class="{active: lang == langKey}"><a
        ng-click="lang != langKey && changeLang(langKey)">{{ langVal.name }}</a></li>
  </ul>
</div>
-->
<!--
    <li><a ng-click="openExternal(EXTERNAL_URL.helpTranslate)">{{ 'HELP_TRANSLATE' | i18n }}<sup><i class="icon-external-link"></i></sup></a></li>
-->

<!-- XXX DRY - contact modal, settings load failure modal -->
<div ng-controller="UnexpectedStateCtrl" ng-show="modal">
  <div class="modal-header">
    <h3>{{ 'UNEXPECTED_STATE_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body" ng-init="notify = true">
    <div>{{ 'UNEXPECTED_STATE_PROMPT' | i18n }}</div>
    <form class="notify" name="contactForm">
      <p>
        <label class="checkbox inline">
          <input type="checkbox" ng-model="notify" tabindex="{{ show && 1 || ''}}">
          {{ 'NOTIFY_LANTERN_DEVS' | i18n }}
        </label>
      </p>
      <div ng-show="notify">
        <textarea class="report noHeightWhenHidden" name="contactMsg"
          ng-model="message" tabindex="{{ show && 2 || '' }}" focus-on="show"
          placeholder="{{'MESSAGE_PLACEHOLDER'|i18n}}" ng-maxlength="500000"></textarea><!-- XXX https://github.com/angular/angular.js/issues/1405 -->
        <div class="text-error pagination-centered" ng-show="contactForm.contactMsg.$error.maxlength">
          {{ 'ERROR_TOO_LONG' | i18n:(contactForm.contactMsg.$viewValue.length - CONTACT_FORM_MAXLEN) }}&nbsp;
        </div>
        <details class="diagnosticInfo">
          <summary>{{'DIAGNOSTIC_INFO'|i18n}}</summary>
          <textarea class="diagnosticInfo" name="diagnosticInfo" ng-model="diagnosticInfo"
            ng-maxlength="500000"></textarea><!-- XXX https://github.com/angular/angular.js/issues/1405 -->
          <div class="text-error pagination-centered" ng-show="contactForm.diagnosticInfo.$error.maxlength">
            {{ 'ERROR_TOO_LONG' | i18n:(contactForm.diagnosticInfo.$viewValue.length - CONTACT_FORM_MAXLEN) }}&nbsp;
          </div>
        </details>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn pull-left" tabindex="{{ show && 5 || ''}}" ng-disabled="contactForm.$invalid"
      ng-click="interactionWithNotify(INTERACTION.unexpectedStateReset, this, true)">
      <i class="icon-warning-sign warning-colored"></i>
      {{ 'RESET' | i18n }}
    </button>
    <button type="button" class="btn btn-primary" tabindex="{{ show && 3 || ''}}" ng-disabled="contactForm.$invalid"
       ng-click="interactionWithNotify(INTERACTION.unexpectedStateRefresh, this, true)">{{ 'REFRESH' | i18n }}</button>
  </div>
</div>

<!-- XXX DRY - contact modal, unexpected state modal -->
<div ng-controller="SettingsLoadFailureCtrl" ng-show="modal">
  <div class="modal-header">
    <h3>{{ 'SETTINGS_LOAD_FAILURE_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body" ng-init="notify = true">
    <div>{{ 'SETTINGS_LOAD_FAILURE_PROMPT' | i18n }}</div>
    <form class="notify" name="contactForm">
      <p>
        <label class="checkbox inline">
          <input type="checkbox" ng-model="notify" tabindex="{{ show && 1 || ''}}">
          {{ 'NOTIFY_LANTERN_DEVS' | i18n }}
        </label>
      </p>
      <div ng-show="notify">
        <textarea class="report noHeightWhenHidden" name="contactMsg"
          ng-model="message" tabindex="{{ show && 2 || '' }}" focus-on="show"
          placeholder="{{'MESSAGE_PLACEHOLDER'|i18n}}" ng-maxlength="500000"></textarea><!-- XXX https://github.com/angular/angular.js/issues/1405 -->
        <div class="text-error pagination-centered" ng-show="contactForm.contactMsg.$error.maxlength">
          {{ 'ERROR_TOO_LONG' | i18n:(contactForm.contactMsg.$viewValue.length - CONTACT_FORM_MAXLEN) }}&nbsp;
        </div>
        <details class="diagnosticInfo">
          <summary>{{'DIAGNOSTIC_INFO'|i18n}}</summary>
          <textarea class="diagnosticInfo" name="diagnosticInfo" ng-model="diagnosticInfo"
            ng-maxlength="500000"></textarea><!-- XXX https://github.com/angular/angular.js/issues/1405 -->
          <div class="text-error pagination-centered" ng-show="contactForm.diagnosticInfo.$error.maxlength">
            {{ 'ERROR_TOO_LONG' | i18n:(contactForm.diagnosticInfo.$viewValue.length - CONTACT_FORM_MAXLEN) }}&nbsp;
          </div>
        </details>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" ng-click="interactionWithNotify(INTERACTION.reset, this)" class="btn pull-left" tabindex="{{ show && 5 || ''}}" ng-disabled="contactForm.$invalid">
      <i class="icon-warning-sign warning-colored"></i>
      {{ 'RESET' | i18n }}
    </button>
    <button type="button" ng-click="interactionWithNotify(INTERACTION.retry, this)" class="btn btn-primary" tabindex="{{ show && 3 || ''}}" ng-disabled="contactForm.$invalid">{{ 'RETRY' | i18n }}</button>
  </div>
</div>

<div ng-controller="WelcomeCtrl" ng-show="modal">
  <div class="modal-body" id="welcome">
    <div class="logo">
      <div><img src="img/logo.png" alt="{{ 'LANTERN' | i18n }}"></div>
      <div class="beta">{{ 'BETA' | i18n }}</div><!-- XXX remove this when we graduate from beta -->
    </div>
    <div class="tagLine">{{ 'TAG_LINE' | i18n }}</div>
    <!-- not connected to internet -->
    <div class="internetRequired fadeInOut" ng-hide="model.connectivity.internet">
      {{ 'INTERNET_REQUIRED' | i18n }}
    </div>
    <!-- connected to internet -->
    <div ng-show="model.connectivity.internet">
      <!-- don't yet know our public IP -->
      <div ng-hide="model.connectivity.ip">
        <img src="img/spinner_black.gif">
      </div>
      <!-- know our public IP -->
      <div ng-show="model.connectivity.ip">
        <div ng-show="inCensoringCountry">
          <button type="button" class="btn btn-large btn-get-inverse enter-get-mode" ng-click="interaction(MODE.get)"
            focus-on="show">{{ 'GET_ACCESS' | i18n }}</button>
        </div>
        <div ng-hide="inCensoringCountry">
          <button type="button" ng-hide="inCensoringCountry" ng-click="interaction(MODE.give)"
            class="btn btn-large btn-give-inverse enter-give-mode" focus-on="show" tabindex="{{show && 1 || ''}}">
            <i ng-show="inCensoringCountry" class="icon-warning-sign"></i>
            {{ 'GIVE_ACCESS' | i18n }}
          </button>
          <div class="orIfYouNeed">
            {{ 'OR_IF_YOU_NEED' | i18n }}
            <a href="#" class="get-colored always-underlined enter-get-mode" ng-click="interaction(MODE.get)" tabindex="{{show && 2 || ''}}">{{ 'GET_ACCESS' | i18n }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-controller="SponsorToContinueCtrl" ng-show="modal">
  <div class="modal-header">
    <h3>{{ 'SPONSOR_TO_CONTINUE_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body" id="sponsorToContinue">
    {{ 'SPONSOR_TO_CONTINUE_PROMPT' | i18n }}
    <a ng-click="openExternal(EXTERNAL_URL.cloudServers)" class="more-info">
      {{ 'MORE_INFO' | i18n }}<sup><i class="icon-external-link"></i></sup></a>
  </div>
  <div class="modal-footer">
    <span class="icon-external-link-wrapper">
      <button class="btn btn-primary" ng-click="openExternal(EXTERNAL_URL.rally)" focus-on="show">
        {{ 'SPONSOR' | i18n }}
      </button><sup><i class="icon-external-link"></i></sup>
    </span>
  </div>
</div>

<div ng-controller="AuthorizeCtrl" ng-show="modal">
  <div class="modal-header">
    <h3>{{ 'AUTHORIZE_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body" id="authorize">
    <div>
      {{ 'AUTHORIZE_PROMPT' | i18n }}
      <a ng-click="helpExpanded=!helpExpanded" class="more-info">{{ 'MORE_INFO' | i18n }}</a>
    </div>
    <div class="prompt-extra" collapse="!helpExpanded">
      <p ng-bind-html="'AUTHORIZE_EXTRA' | i18n"></p>
      <p ng-bind-html="'EMAIL_USE' | i18n"></p>
      <p ng-bind-html="'DIRECT_FROM_GOOGLE' | i18n"></p>
    </div>
    <p class="small gray indented">{{ 'INVITE_EMAIL' | i18n }}</p><!-- XXX remove this when we go to open beta -->
  </div>
  <div class="modal-footer">
    <div class="modal-status" ng-show="showSpinner">
      <img src="img/spinner.gif" class="sz16x16">
    </div>
    <a class="btn btn-primary sign-in" href="{{ model.connectivity.gtalkOauthUrl }}"
       target="{{ model.mock && '_blank' || ''}}" focus-on="show" ng-click="signInClicked()">
      {{ 'SIGN_IN' | i18n }}
    </a>
  </div>
</div>

<div ng-show="model.modal == MODAL.connecting">
  <div class="modal-header">
    <h3>{{ 'CONNECTING_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body" id="connecting">
    <!-- XXX progress bar would be nice here -->
    <span ng-bind-html="model.connectivity.connectingStatus"></span>
  </div>
  <div class="modal-footer">
  </div>
</div>

<div ng-controller="ConfirmResetCtrl" ng-show="modal">
  <div class="modal-header">
    <h3>{{ 'CONFIRM_RESET_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body" id="confirmReset">
    <div>{{ 'CONFIRM_RESET_PROMPT' | i18n }}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" focus-on="show" ng-click="interaction(INTERACTION.cancel)">{{ 'CANCEL' | i18n }}</button>
    <button type="button" class="btn btn-danger" ng-click="interaction(INTERACTION.reset)">{{ 'RESET' | i18n }}</button>
  </div>
</div>

<div ng-controller="GiveModeForbiddenCtrl" ng-show="modal">
  <div class="modal-header">
    <h3>{{ 'GIVE_MODE_FORBIDDEN_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body" id="giveModeForbidden">
    <div>{{ 'GIVE_MODE_FORBIDDEN_PROMPT' | i18n }}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-hide="model.setupComplete" ng-click="interaction(INTERACTION.cancel)">{{ 'BACK' | i18n }}</button>
    <button type="button" class="btn btn-primary btn-get-mode" focus-on="show" ng-click="interaction(INTERACTION.continue)">{{ 'CONTINUE_IN_GET_MODE' | i18n }}</button>
  </div>
</div>

<div ng-controller="NotInvitedCtrl" ng-show="modal">
  <div class="modal-header">
    <h3>{{ 'NOT_INVITED_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body" id="notInvited">
    <div>{{ 'NOT_INVITED_PROMPT' | i18n }}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" focus-on="show" ng-click="interaction(INTERACTION.retry)">{{ 'TRY_ANOTHER_USER' | i18n }}</button>
  </div>
</div>

<div ng-controller="ProxiedSitesCtrl" ng-show="modal">
  <div class="modal-header">
    <h3>
      <i class="lsf-icon lsf-web"></i>
      {{ 'PROXIED_SITES_TITLE' | i18n }}
    </h3>
  </div>
  <div class="modal-body" id="proxiedSites">

    <div class="warning" ng-show="model.settings.proxyAllSites">
      <div style="margin-bottom: 8px">
        <i class="icon icon-warning-sign"></i>
        <span ng-bind-html="'PROXYING_ALL_WARNING' | i18n"></span>
      </div>
      <div class="small" ng-bind-html="'PROXYING_ALL_WARNING_EXPLANATION' | i18n"></div>
      <div style="margin-top: 14px">
        <a class="btn btn-warning btn-small" ng-click="changeSetting(SETTING.proxyAllSites, false)">
          {{ 'DISABLE_PROXY_ALL' | i18n }}
        </a>
      </div>
    </div>

    <div ng-hide="model.settings.proxyAllSites">
      <p>{{ 'CONFIGURE_PROXIED_SITES' | i18n }}</p>
      <div>
        <div id="proxiedSitesLabelAndSearchContainer">
          <div class="smaller proxiedSitesTip">{{ 'ENTER_PROXIED_SITES_TIP' | i18n }}</div>
          <input type="search" ng-model="searchText" results="0" id="proxiedSitesSearch"
              ng-class="{empty: !searchText}"
              placeholder="{{ 'SEARCH' | i18n }}">
        </div>
        <form name="proxiedSitesForm">
          <textarea ng-model="input" name="input" placeholder="example.com" required
            ng-disabled="updating"
            ng-hide="!!searchText" ng-readonly="!!searchText" focus-on="show"
            ui-validate="'validate($value)'" id="proxiedSitesInput"
            dir="ltr" tabindex="{{ show && 1 || '' }}"></textarea>
          <textarea ng-model="inputFiltered" placeholder="{{ 'NO_MATCHING_SITES' | i18n }} &quot;{{searchText}}&quot;"
            ng-show="!!searchText" readonly dir="ltr"></textarea>
        </form>
      </div>
      <p class="smaller">
        <strong>{{'TIP'|i18n}}</strong> {{ 'PROXIED_SITES_WIKI_TIP' | i18n }}
        <a ng-click="openExternal(EXTERNAL_URL.proxiedSitesWiki)">
          {{ 'PROXIED_SITES_WIKI_LINK_TEXT' | i18n }}<sup><i class="icon-external-link"></i></sup></a>
        {{ 'PROXIED_SITES_WIKI_TIP_CONTINUED' | i18n }}
      </p>
      <div class="error" ui-toggle="errorLabelKey">
        {{ errorLabelKey && (errorLabelKey | i18n) || '' }}
        <pre class="errorCause" ng-show="!!errorCause">{{ errorCause }}</pre>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-disabled="!hasUpdate || updating" ng-click="handleReset()" tabindex="{{ show && 3 || '' }">{{ 'RESET' | i18n }}</button>
    <button id="continueFromProxiedSites" 
            type="button" class="btn btn-primary" tabindex="{{ show && 2 || '' }}"
            ng-disabled="updating || proxiedSitesForm.$invalid"
            ng-click="handleContinue()">{{ updating && 'UPDATING' || (hasUpdate && 'UPDATE') || (model.setupComplete && 'CLOSE' || 'CONTINUE') | i18n }}</button>
  </div>
</div>

<div ng-controller="LanternFriendsCtrl" ng-show="modal">
  <div class="modal-header">
    <h3>
      <i class="lsf-icon lsf-friends"></i>
      {{ 'LANTERN_FRIENDS' | i18n }}
    </h3>
  </div>
  <div class="modal-body" id="lanternFriends">
    <div>
      <p class="small" ng-bind-html="'LANTERN_FRIENDS_EXP_INTRO' | i18n"></p>
      <p class="small error-colored">
        <i class="icon-warning-sign warning-colored"></i>
        {{ 'SUGGESTED_FRIEND_WARNING' | i18n }}
      </p>
    </div>

    <div class="addFriendsControls">
      <div id="fetchingFriends" class="centered muted" ng-show="model.friends == null">
        <div>{{ 'LOADING_FRIENDS' | i18n }}</div><br><br>
        <img src="img/spinner.gif">
      </div>

      <div ng-show="model.friends != null && (nfriends || nfriendSuggestions)">
        <div ng-class="{hasSearchText: !!searchText}">
          <div id="friendCounts" ng-hide="searchActive || searchText">
            <div id="currentFriendsHeading" ng-show="nfriends">{{ 'NFRIENDS' | i18n:nfriends }}</div>
            <div ng-show="nfriendSuggestions" id="suggestedFriendsHeading">
              {{ 'NSUGGESTED' | i18n:nfriendSuggestions }}
              <a id="toggleSuggestions" ng-click="toggleSuggestions()">
                {{showSuggestions && 'HIDE' || 'SHOW' | i18n}}
              </a>
            </div>
          </div>

          <input type="search" ng-model="searchText" results="0" placeholder="{{ 'SEARCH' | i18n }}"
            ng-mouseenter="searchActive=true" ng-focus="searchActive=true; searchFocused=true"
            ng-mouseleave="searchActive=searchFocused || !!searchText" ng-blur="searchActive=!!searchText; searchFocused=false"
            id="friendsListSearch" class="{{searchText && 'non' || ''}}empty">

          <ul id="friendlist">
            <li ng-show="searchText && displayedSuggestions.length == 0 && displayedFriends.length == 0" class="no-friends-matching">
              <div class="gray">{{'NO_FRIENDS_MATCHING' | i18n}} "{{searchText}}"</div>
            </li>
            <li ng-repeat="suggestion in displayedSuggestions" class="entry suggested">
              <div ng-mouseenter="state.showAddRmIdx = $index">
                <a class="reject" ng-click="reject(suggestion.email)">×</a>
                <span class="vcard">
                  <span class="fn">{{ suggestion.name }}</span>
                  <span class="email">{{ suggestion.email }}</span>
                </span>
                <div ng-class="{'btn-group': true, transparent: state.showAddRmIdx != $index}">
                  <button ng-click="add(suggestion.email)"
                          class="btn btn-mini btn-success {{!model.remainingFriendingQuota && !suggestion.freeToFriend && 'disabled' || ''}}"
                          tooltip-placement="bottom"
                          tooltip-html-unsafe="{{(suggestion.freeToFriend && ('FREE_TO_FRIEND' | i18n)) || (model.remainingFriendingQuota && ('NOT_FREE_TO_FRIEND' | i18n)) || ('REACHED_AND_NOT_FREE_TO_FRIEND' | i18n)}}">{{'ADD' | i18n}}</button>
                  <button ng-click="reject(suggestion.email)" class="btn btn-mini" ng-disabled="pendingFriendUpdate">{{'DISMISS' | i18n}}</button>
                </div>
              </div>
              <div class="reason">
                <div ng-switch="suggestion.reason">
                  <span ng-switch-when="runningLantern">{{'SUGGESTED_BECAUSE_RUNNING' | i18n}}</span>
                  <span ng-switch-when="friendedYou">{{'SUGGESTED_BECAUSE_FRIENDED_YOU' | i18n}}</span>
                </div>
              </div>
            </li>
            <li ng-repeat="friend in displayedFriends" class="entry status-{{ friend.status }} coloredByConnectedStatus {{friend.connectedStatus}}">
              <div>
                <button class="btn btn-link reject" ng-disabled="pendingFriendUpdate" ng-click="reject(friend.email)">×</button>
                <span class="vcard">
                  <span class="fn">{{ friend.name }}</span>
                  <span class="email">{{ friend.email }}</span>
                </span>
              </div>
              <div class="friendConnectedStatus">
                <div ng-switch="friend.connectedStatus">
                  <span ng-switch-when="transferringNow">{{friend.bpsUpDnSum | prettyBps}} {{'TRANSFERRING_NOW'|i18n}}</span>
                  <span ng-switch-when="connected">{{'CONNECTED'|i18n}}</span>
                  <span ng-switch-when="lastConnected">{{'LAST_CONNECTED'|i18n}} {{friend.lastConnected|date:'short'}}</span>
                  <span ng-switch-when="notYetConnected">{{'NOT_YET_CONNECTED'|i18n}}</span>
                  <span ng-switch-default>{{'UNKNOWN_CONNECTED_STATUS'|i18n}}</span><!-- should not get here -->
                </div>
              </div>
            </li>
          </ul>
        </div>

      </div>

      <div ng-show="model.friends != null">
        <input type="hidden" id="addFriendInput" name="addFriendInput"
          select2-focus-on="show" select2-focus-on-broadcast="focusAddFriendsInput"
          placeholder="{{ 'ADD_FRIENDS_PROMPT' | i18n }}"
          ng-disabled="pendingFriendUpdate || (model.remainingFriendingQuota == 0 && nFreeToFriend == 0)"
          ng-model="added" ui-select2="select2opts">
          <!-- XXX https://github.com/angular-ui/ui-select2/issues/59 -->
      </div>

      <div class="error error-colored pagination-centered" ng-show="errorLabelKey" style="margin-top:30px">
        {{ errorLabelKey && (errorLabelKey | i18n) || '' }}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="modal-status" ng-show="model.remainingFriendingQuota >= 0">
      <div ng-show="pendingFriendUpdate">
        <img src="img/spinner.gif" class="sz16x16">
      </div>
      <div ng-hide="pendingFriendUpdate">
        <div ng-show="model.remainingFriendingQuota > 0">
          {{'CAN_ADD_N_MORE_FRIENDS'|i18n:model.remainingFriendingQuota}}
        </div>
        <div ng-show="model.remainingFriendingQuota == 0">
          <div class="bold grayDark">{{'CAN_ADD_NO_MORE_FRIENDS'|i18n}}</div>
          <div class="smaller gray">{{'CAN_STILL_ADD_BACK'|i18n}}</div>
        </div>
      </div>
    </div>
    <button id="continueFromFriends" class="btn btn-primary"
      ng-click="interaction(INTERACTION.continue)">{{ model.setupComplete && 'CLOSE' || 'CONTINUE' | i18n }}</button>
  </div>
</div>

<div ng-controller="FinishedCtrl" ng-show="modal">
  <div class="modal-header">
    <h3>{{ 'FINISHED_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body" id="finished">
    <p>{{ inGiveMode && 'FINISHED_PROMPT_GIVE' || 'FINISHED_PROMPT_GET' | i18n }}</p>
  </div>
  <div class="modal-footer">
    <div class="modal-status smallest">
      <label class="checkbox smallest">
        <input type="checkbox" ng-model="autoReport"
               ng-change="changeSetting(SETTING.autoReport, autoReport)">
          {{ 'AUTOREPORT_PROMPT' | i18n }}<a style="margin-{{rtl && 'right' || 'left'}}: 9px" ng-click="openExternal(EXTERNAL_URL.autoReportPrivacy)">{{ 'MORE_INFO' | i18n }}<sup><i class="icon-external-link"></i></sup>
        </a>
      </label>
      <div class="smallest indented warning-colored" style="margin-top: 5px" collapse="autoReport">
        <i class="icon-exclamation-sign"></i>
        {{ 'NO_AUTOREPORT_WARNING' | i18n }}
      </div>
    </div>
    <button id="finishSetup"
            type="button" class="btn btn-primary btn-{{ model.settings.mode }}-mode"
            focus-on="show"
            ng-click="finish()">{{ 'FINISH' | i18n }}</button>
  </div>
</div>

<!-- XXX DRY - settings load failure modal, unexpected state modal -->
<div ng-controller="ContactCtrl" ng-show="modal">
  <div class="modal-header">
    <h3>{{ 'CONTACT_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body" id="contact">
    <div class="smaller" compile-unsafe="'CONTACT_PRELUDE' | i18n"></div>
    <form name="contactForm">
      <textarea class="report" name="contactMsg" ng-model="message" tabindex="{{ show && 1 || '' }}"
        focus-on="show" placeholder="{{'MESSAGE_PLACEHOLDER'|i18n}}"
        ng-maxlength="500000" required></textarea><!-- XXX https://github.com/angular/angular.js/issues/1405 -->
      <div class="text-error pagination-centered" ng-show="contactForm.contactMsg.$error.maxlength">
        {{ 'ERROR_TOO_LONG' | i18n:(contactForm.contactMsg.$viewValue.length - CONTACT_FORM_MAXLEN) }}&nbsp;
      </div>
      <details class="diagnosticInfo">
        <summary>{{'DIAGNOSTIC_INFO'|i18n}}</summary>
        <textarea class="diagnosticInfo" name="diagnosticInfo" ng-model="diagnosticInfo"
          ng-maxlength="500000"></textarea><!-- XXX https://github.com/angular/angular.js/issues/1405 -->
        <div class="text-error pagination-centered" ng-show="contactForm.diagnosticInfo.$error.maxlength">
          {{ 'ERROR_TOO_LONG' | i18n:(contactForm.diagnosticInfo.$viewValue.length - CONTACT_FORM_MAXLEN) }}&nbsp;
        </div>
      </details>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" tabindex="{{ show && 3 || '' }}"
            ng-click="interactionWithNotify(INTERACTION.cancel, true)">{{ 'CANCEL' | i18n }}</button>
    <button type="button" class="btn btn-primary" tabindex="{{ show && 2 || '' }}"
            ng-disabled="contactForm.$invalid"
            ng-click="interactionWithNotify(INTERACTION.continue, this)">{{ 'SEND' | i18n }}</button>
  </div>
</div>

<div ng-controller="AboutCtrl" ng-show="modal">
  <div class="modal-header about">
    <div>{{ 'LANTERN' | i18n }} {{ 'VERSION' | i18n }} {{ model.version.installed | version:true:true }}</div>
    <div ng-show="model.dev" class="smaller">Development version. lantern-ui v{{ lanternUiVersion }}.</div>
    <div class="smaller">
      <a ng-click="openExternal(EXTERNAL_URL.homepage)">{{ 'HOMEPAGE' | i18n }}<sup><i class="icon-external-link"></i></sup></a> ·
      <a ng-click="openExternal(valByLang(EXTERNAL_URL.userForums))">{{ 'FORUMS' | i18n }}<sup><i class="icon-external-link"></i></sup></a> ·
      <a ng-click="openExternal(EXTERNAL_URL.docs)">{{ 'DOCS' | i18n }}<sup><i class="icon-external-link"></i></sup></a> ·
      <a ng-click="openExternal(EXTERNAL_URL.developers)">{{ 'DEVELOPERS' | i18n }}<sup><i class="icon-external-link"></i></sup></a>
    </div>
  </div>
  <div class="modal-body" id="about" dir="ltr"><!-- XXX -->
    <div>
      <strong>{{ 'BETA' | i18n }}</strong>
      <textarea readonly rows="4">{{ 'BETA_STATEMENT' | i18n }}</textarea><!-- XXX remove this when we graduate from beta -->
      <p class="contributing-prompt">
        {{ 'VIEW_THE' | i18n }}
        <a ng-click="openExternal(EXTERNAL_URL.getInvolved)">{{ 'GET_INVOLVED' | i18n }}<sup><i class="icon-external-link"></i></sup></a>
        {{ 'GET_INVOLVED_CONTINUED' | i18n }}
      </p>
    </div>
    <div>
      <strong>{{ 'PRIVACY' | i18n }}</strong>
      <textarea readonly rows="3">{{ 'PRIVACY_STATEMENT' | i18n }}</textarea>
    </div>
    <div>
      <strong>{{ 'LICENSE' | i18n }}</strong>
      <textarea readonly rows="3">{{ 'LICENSE_STATEMENT' | i18n }}</textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" focus-on="show" ng-click="interaction(INTERACTION.close)">{{ 'CLOSE' | i18n }}</button>
  </div>
</div>

<div ng-controller="UpdateAvailableCtrl" ng-show="modal">
  <div class="modal-header">
    <h3>{{ 'UPDATE_AVAILABLE_TITLE' | i18n }}</h3>
  </div>
  <div class="modal-body" id="updateAvailable">
    <p>{{ 'UPDATE_AVAILABLE_PROMPT' | i18n }}</p>
    <details open id="latestDetails">
      <summary><span class="capitalize">{{ 'VERSION' | upper | i18n }}</span> {{ model.version.latest | version:true }}</summary>
      <dl class="dl-horizontal">
        <dt>{{ 'RELEASED' | i18n }}</dt>
        <!-- XXX include correct locale script from http://code.angularjs.org/1.0.8/i18n/ 
                 to properly localize this date string -->
        <dd><time>{{ model.version.latest.releaseDate | date:'longDate' }}</time>&nbsp;</dd>
        <dt ng-show="model.version.latest.infoUrl">{{ 'MORE_INFO' | i18n }}</dt>
        <dd ng-show="model.version.latest.infoUrl" dir="ltr"><a title="{{model.version.latest.infoUrl}}" ng-click="openExternal(model.version.latest.infoUrl)">{{ model.version.latest.infoUrl }}</a></dd>
      </dl>
    </details>
    <p class="smaller indented">{{ 'UPDATE_AVAILABLE_PROMPT_RUNNING' | i18n }}
      {{ 'VERSION' | i18n }} {{ model.version.installed | version:true }},
      <!-- XXX include correct locale script from http://code.angularjs.org/1.0.8/i18n/ 
               to properly localize this date string -->
      {{ 'RELEASED' | i18n }} <time>{{ model.version.installed.releaseDate | date:'longDate' }}.</time></p><!-- XXX i18n -->
    <br>
    <p class="indented bold">{{ 'UPDATE_PROMPT' | i18n }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-click="interaction(INTERACTION.close)"
            tabindex="{{ show && 2 || '' }}">
      {{ 'CLOSE' | i18n }}
    </button>
    <button type="button" class="btn btn-primary" ng-click="openExternal(model.version.latest.installerUrl)"
       focus-on="show" tabindex="{{ show && 1 || '' }}">
      {{ 'DOWNLOAD' | i18n }}
    </button>
  </div>
</div>

<div ng-controller="SponsorCtrl" ng-show="modal">
  <div class="modal-header">
    <h3>{{ 'SPONSOR_CLOUD_PROXY' | i18n }}</h3>
  </div>
  <div class="modal-body" id="sponsor">
    <p>
      {{ inGetMode && 'SPONSOR_PROMPT_GET' || 'SPONSOR_PROMPT_GIVE' | i18n }}
      <a ng-click="openExternal(EXTERNAL_URL.cloudServers)" class="more-info">
        {{ 'MORE_INFO' | i18n }}<sup><i class="icon-external-link"></i></sup></a>
    </p>
    <p class="actions">
      <span class="icon-external-link-wrapper">
        <button class="btn btn-primary" ng-click="openExternal(EXTERNAL_URL.rally)" focus-on="show">
          {{ 'SPONSOR_CLOUD_PROXY' | i18n }}
        </button><sup><i class="icon-external-link"></i></sup>
      </span>
      <small>
        {{ 'OR' | i18n }}
        <a class="always-underlined" ng-click="openExternal(EXTERNAL_URL.getInvolved)">
          {{ 'VIEW_WAYS_TO_GET_INVOLVED' | i18n }}<sup><i class="icon-external-link"></i></sup></a>
      </small>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn" ng-click="interaction(INTERACTION.close)">{{ 'CLOSE' | i18n }}</button>
  </div>
</div>

<div ng-controller="SettingsCtrl" ng-show="modal">
  <div class="modal-header">
    <h3>
      <i class="lsf-icon lsf-gear"></i>
      {{ 'SETTINGS' | i18n }}
    </h3>
  </div>
  <div class="modal-body" id="settings">
    <dl class="dl-horizontal">
      <dt>{{ 'APP' | i18n }}</dt>
      <dd id="app-settings">
        <label class="checkbox">
          <input type="checkbox" ng-model="runAtSystemStart" focus-on="show"
                 ng-click="changeSetting(SETTING.runAtSystemStart, runAtSystemStart)">
          {{ 'AUTO_START' | i18n }}
        </label>

        <div>
          <label class="checkbox">
            <input type="checkbox" ng-model="autoReport"
                   ng-click="changeSetting(SETTING.autoReport, autoReport)">
            {{ 'AUTOREPORT_PROMPT' | i18n }}
            <a ng-click="openExternal(EXTERNAL_URL.autoReportPrivacy)" class="more-info">
              {{ 'MORE_INFO' | i18n }}<sup><i class="icon-external-link"></i></sup>
            </a>
          </label>
        </div>

        <div id="autoreport-warning" collapse="model.settings.autoReport">
          <i class="icon-exclamation-sign"></i>
          {{ 'NO_AUTOREPORT_WARNING' | i18n }}
        </div>
      </dd>

      <dt ng-hide="inCensoringCountry">{{ 'MODE' | i18n }}</dt>
      <dd ng-hide="inCensoringCountry">
        <div class="btn-group">
          <button type="button" class="btn btn-mini btn-give"
                  ng-class="{active: inGiveMode}"
                  ng-disabled="inGiveMode"
                  ng-click="interaction(MODE.give)">
                  <i ng-show="inCensoringCountry" class="icon-warning-sign"></i>
                  {{ 'GIVE_ACCESS' | i18n }}
          </button>
          <button type="button" class="btn btn-mini btn-get"
                  ng-class="{active: inGetMode}"
                  ng-disabled="inGetMode"
                  ng-click="interaction(MODE.get)">
                  {{ 'GET_ACCESS' | i18n }}
          </button>
        </div>
      </dd>

      <dt collapse="inGiveMode">{{ 'PROXY' | i18n }}</dt>
      <dd collapse="inGiveMode" id="proxy-settings">
        <button type="button" class="btn btn-mini"
                ng-click="interaction(INTERACTION.proxiedSites)">
          <i ui-if="model.settings.proxyAllSites" class="icon-warning-sign warning-colored"></i>
          {{ 'MANAGE_PROXIED_SITES' | i18n }}
        </button>
        <br>
        <div class="details" ng-init="isExpanded = model.settings.proxyAllSites || model.settings.systemProxy == false">
          <div class="summary" ng-class="{expanded: isExpanded}" ng-click="isExpanded = ! isExpanded">{{ 'ADVANCED' | i18n }}</div>
          <div class="collapsible advanced" collapse="!isExpanded">
            <div>
              <label class="checkbox inline proxyAllSitesLabel">
                <input type="checkbox" ng-model="proxyAllSites"
                       ng-click="changeSetting(SETTING.proxyAllSites, proxyAllSites)">
                  {{'PROXY_ALL_TRAFFIC' | i18n }}
              </label>
            </div>
            <div>
              <label class="checkbox inline">
                <input type="checkbox" ng-model="systemProxy"
                       ng-click="changeSetting(SETTING.systemProxy, systemProxy)">
                {{ 'SET_AS_SYSTEM_PROXY' | i18n }}
              </label>
              <div id="manualProxyInfo">
                <i class="icon-info-sign"></i>
                {{ 'PAC_FILE_LOC' | i18n }}
                <div class="pacUrl">
                  {{ model.connectivity.pacUrl }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </dd>
    </dl>
  </div>
  <div class="modal-footer">
    <button type="button" ng-click="interaction(INTERACTION.reset)" tabindex="-1"
            class="btn btn-mini pull-left">
      <i class="icon-warning-sign warning-colored"></i>
      {{ 'RESET_ELLIPSIS' | i18n }}
    </button>
    <button type="button" id="settings-close" class="btn btn-primary" ng-click="interaction(INTERACTION.close)">{{ 'CLOSE' | i18n }}</button>
  </div>
</div>

<div ng-controller="ScenariosCtrl" ng-show="model.modal == MODAL.scenarios">
  <div class="modal-header centered">
    <h3>Developer</h3>
  </div>
  <div class="modal-body" id="scenarios">
    <p class="centered text-error">{{ model.mock.scenarios.prompt }}</p>
    <label>Applied scenarios:</label>
    <select ui-select2 multiple ng-model="appliedScenarios"
            placeholder="Choose applied scenarios" required style="width: 530px">
      <optgroup ng-repeat="(group, scenarios) in model.mock.scenarios.all" label="{{ group }}">
        <option ng-repeat="(key, scen) in scenarios" value="{{ group }}.{{ key }}">{{ scen.desc }}</option>
      </optgroup>
    </select>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-click="interaction(INTERACTION.cancel)">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="submit()"
      disabled>Continue</button><!-- XXX have to fix on backend -->
  </div>
</div>
