<div ng-controller="SettingsCtrl" id="settings" class="fade"
  ui-modal ng-model="_showSettings" data-backdrop="static"
  data-keyboard="true"><!-- XXX data-keyboard=true not working? -->
  <div class="modal-header">
    <button type="button" class="close" ng-click="hideSettings()" aria-hidden="true">×</button>
    <h3>{{ 'SETTINGS' | i18n }}</h3>
  </div>
  <div class="modal-body">
    <dl class="dl-horizontal">
      <dt>{{ 'MODE' | i18n }}</dt>
      <dd>
        <div class="btn-group" data-toggle="buttons-radio">
          <button type="button" class="btn btn-mini" ng-class="{active: inGiveMode}"
            ng-click="inGetMode && changeSetting('mode', MODE.give)">{{ 'GIVE_ACCESS' | i18n }}</button>
          <button type="button" class="btn btn-mini" ng-class="{active: inGetMode}"
                  ng-click="inGiveMode && changeSetting('mode', MODE.get)">{{ 'GET_ACCESS' | i18n }}</button>
        </div>
      </dd>

      <dt>{{ 'APP' | i18n }}</dt>
      <dd>
        <label class="checkbox">
          <input type="checkbox" ng-model="startAtLogin"
                 ng-click="changeSetting('startAtLogin', startAtLogin)">
          {{ 'START_AT_LOGIN' | i18n }}
        </label>

        <label class="checkbox">
          <input type="checkbox" ng-model="savePassword"
                 ng-click="changeSetting('savePassword', savePassword)">
          {{ 'SAVE_GTALK_PASSWORD' | i18n }}
        </label>

        <label class="checkbox inline" style="margin-top:-7px"><!-- XXX -->
          <input type="checkbox" ng-model="autoReport"
                 ng-click="changeSetting('autoReport', autoReport)">
          {{ 'AUTOREPORT_ENABLE' | i18n:true }}
        </label>
        <label class="checkbox inline" style="margin:0; padding:0 0 0 1px"><!-- XXX -->
          <a rel="tooltip" data-original-title="{{ 'AUTOREPORT_PROMPT' | i18n }}"
             ui-jq="tooltip">
            <i class="icon-info-sign"></i>
          </a>
        </label>

        <div id="autoreport-warning" ui-toggle="!model.settings.autoReport">
          <i class="icon-exclamation-sign"></i>
          <small>{{ 'NO_AUTOREPORT_WARNING' | i18n }}</small>
        </div>
      </dd>

      <dt ui-toggle="inGetMode">{{ 'PROXY' | i18n }}</dt>
      <dd ui-toggle="inGetMode">
        <button type="button" class="btn btn-mini">
          {{ 'MANAGE_PROXIED_SITES' | i18n }}
        </button>
        <br>
        <!--
        XXX move to proxied sites dialog:
        <small>
          <i class="icon-info"></i>
          {{ 'HTTPS_EVERYWHERE_LABEL' | i18n }}
          <a target="_blank" href="https://www.eff.org/https-everywhere">
            <i class="icon-external-link"></i>
          </a>
        </small>
        -->
        <br>
        <a class="toggle" ng-click="advancedExpanded = !advancedExpanded">
          <small>
            {{ advancedExpanded && 'CARET_EXPANDED' || 'CARET_COLLAPSED' | i18n }}
            {{ 'ADVANCED' | i18n }}
          </small>
        </a>
        <div id="advanced" ui-toggle="advancedExpanded">
          <label>
            <i class="icon-bolt"></i>
            {{ 'PORT' | i18n }}&nbsp;
            <input type="number" ng-model="model.settings.proxyPort" disabled>
          </label>
          <label class="checkbox">
            <input type="checkbox" ng-model="systemProxy"
                   ng-click="changeSetting('systemProxy', systemProxy)">
            {{ 'SET_AS_SYSTEM_PROXY' | i18n }}
          </label>
          <label class="checkbox">
            <input type="checkbox" ng-model="model.settings.proxyAllSites"
                   ng-click="changeSetting('proxyAllSites', proxyAllSites)">
              {{'PROXY_ALL_TRAFFIC' | i18n }}
          </label>
        </div>
      </dd>
    </dl>
  </div>
  <div class="modal-footer">
    <button type="button" ng-click="reset(true)"
            class="btn btn-warning btn-small pull-left">
      <i class="icon-warning-sign"></i> {{ 'RESET_LANTERN' | i18n }}
    </button>
    <button type="button" class="btn btn-primary" ng-click="hideSettings()">
      {{ 'CLOSE' | i18n }}
    </button>
</div>
