<div id="topbar" ng-show="model.profile.email" dir="ltr">
  <div>
    {{ model.profile.email }}
  </div>
  <div id="bpsUpDn" class="{{ model.settings.mode }}">
    <div ng-class="{inactive: !model.instanceStats.bytesGiven.rate}">
      <i class="icon icon-upload-alt"></i> {{ model.instanceStats.bytesGiven.rate | prettyBps }}
    </div>
    <div ng-class="{inactive: !model.transfers.bytesGotten.rate}">
      <i class="icon icon-download-alt"></i> {{ model.instanceStats.bytesGotten.rate | prettyBps }}
    </div>
  </div>
</div>
