<div id="vis-block" ng-hide="!model.modal || model.modal == 'none'"></div>

<div id="vis" ng-controller="VisCtrl">
  <svg id="map" resizable>
    <!--path id="globe" globe /-->
    <g id="countries" countries />
    <g id="peers" peers></g>
    <path id="self" self class="{{ model.settings.mode }}"
          ng-d="{{ path({type: 'Point', coordinates: [model.location.lon, model.location.lat]}, 5) }}"
          tooltip-html-unsafe="<div class=vis>
            <div class='{{model.settings.mode}} {{model.connectivity.type}}'>
              <img class=picture src='{{model.profile.picture || DEFAULT_AVATAR_URL}}'>
              <div class=headers>
                <div class=header>{{model.profile.name}}</div>
                <div class=email>{{model.profile.email}}</div>
                <div class='peerid ip'>{{model.connectivity.peerid}}{{model.connectivity.formattedIp}}</div>
                <div class=type>{{model.connectivity.type && model.settings.mode && (((model.connectivity.type|upper)+(model.settings.mode|upper))|i18n) || ''}}</div>
              </div>
              <div class=stats>
                <div class=bps{{model.transfers.bpsUpDn}}>
                  {{model.transfers.bpsUp | prettyBps}} {{'UP' | i18n}},
                  {{model.transfers.bpsDn | prettyBps}} {{'DN' | i18n}}
                </div>
                <div class=bytes{{model.transfers.bytesUpDn}}>
                  {{model.transfers.bytesUp | prettyBytes}} {{'SENT' | i18n}},
                  {{model.transfers.bytesDn | prettyBytes}} {{'RECEIVED' | i18n}}
                </div>
                <div class=lastConnected>
                  {{model.connectivity.lastConnected && ('LAST_CONNECTED' | i18n) || '' }}
                  <time>{{model.connectivity.lastConnected && (model.connectivity.lastConnected | date:'short') || ''}}</time>
                </div>
              </div>
            </div>
          </div>" tooltip-placement="mouse" />

    <filter id="defaultBlur">
      <feGaussianBlur stdDeviation="1" />
    </filter>
  </svg>

  <style>
    #self, .peer {
      filter: url(#defaultBlur)
    }
  </style>
</div>
