<div id="vis" ng-controller="VisCtrl" ui-if="model.showVis">
  <svg id="map">
    <path id="globe"/>
    <g id="countries"></g>
    <g id="peers"></g>
    <path id="self" class="{{ model.settings.mode }}" ui-jq="tooltip" ui-options="{html: true, placement: 'bottom'}"
      data-original-title="{{ hoverContentForSelf() }}" />

    <filter id="defaultBlur">
      <feGaussianBlur stdDeviation="1" />
    </filter>
  </svg>

  <style>
    #self, .peer {
      filter: url(#defaultBlur)
    }
  </style>

  <!--
  <div id="projectionButtons" class="btn-group">
    <button class="btn btn-inverse"
            ng-class="{active: projectionKey == 'mercator'}"
            ng-disabled="projectionKey == 'mercator'"
            ng-click="setProjection('mercator')">
            <i class="icon icon-picture"></i>
    </button>
    <button class="btn btn-inverse"
            ng-class="{active: projectionKey == 'orthographic'}"
            ng-disabled="projectionKey == 'orthographic'"
            ng-click="setProjection('orthographic')">
      <i class="icon icon-globe"></i>
    </button>
  </div>
  -->
</div>
