{
  "metadata":{
    "apiVersion":"2013-06-30",
    "endpointPrefix":"storagegateway",
    "jsonVersion":"1.1",
    "serviceFullName":"AWS Storage Gateway",
    "signatureVersion":"v4",
    "targetPrefix":"StorageGateway_20130630",
    "protocol":"json"
  },
  "documentation":"<fullname>AWS Storage Gateway Service</fullname> <p>AWS Storage Gateway is the service that connects an on-premises software appliance with cloud-based storage to provide seamless and secure integration between an organization's on-premises IT environment and AWS's storage infrastructure. The service enables you to securely upload data to the AWS cloud for cost effective backup and rapid disaster recovery.</p> <p>Use the following links to get started using the <i>AWS Storage Gateway Service API Reference</i>:</p> <ul> <li> <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewayHTTPRequestsHeaders.html\">AWS Storage Gateway Required Request Headers</a>: Describes the required headers that you must send with every POST request to AWS Storage Gateway.</li> <li> <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewaySigningRequests.html\">Signing Requests</a>: AWS Storage Gateway requires that you authenticate every request you send; this topic describes how sign such a request.</li> <li> <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/APIErrorResponses.html\">Error Responses</a>: Provides reference information about AWS Storage Gateway errors.</li> <li> <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/AWSStorageGatewayAPIOperations.html\">Operations in AWS Storage Gateway</a>: Contains detailed descriptions of all AWS Storage Gateway operations, their request parameters, response elements, possible errors, and examples of requests and responses.</li> <li> <a href=\"http://docs.aws.amazon.com/general/latest/gr/index.html?rande.html\">AWS Storage Gateway Regions and Endpoints</a>: Provides a list of each of the regions and endpoints available for use with AWS Storage Gateway. </li> </ul>",
  "operations":{
    "ActivateGateway":{
      "name":"ActivateGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ActivateGatewayInput",
        "documentation":"<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <a>ActivateGatewayInput$ActivationKey</a> </li> <li> <a>GatewayName</a> </li> <li> <a>ActivateGatewayInput$GatewayRegion</a> </li> <li> <a>ActivateGatewayInput$GatewayTimezone</a> </li> <li> <a>ActivateGatewayInput$GatewayType</a> </li> <li> <a>ActivateGatewayInput$TapeDriveType</a> </li> <li> <a>ActivateGatewayInput$MediumChangerType</a> </li> </ul>"
      },
      "output":{
        "shape":"ActivateGatewayOutput",
        "documentation":"<p>AWS Storage Gateway returns the Amazon Resource Name (ARN) of the activated gateway. It is a string made of information such as your account, gateway name, and region. This ARN is used to reference the gateway in other API operations as well as resource-based authorization.</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation activates the gateway you previously deployed on your host. For more information, see <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/GettingStartedActivateGateway-common.html\"> Activate the AWS Storage Gateway</a>. In the activation process, you specify information such as the region you want to use for storing snapshots, the time zone for scheduled snapshots the gateway snapshot schedule window, an activation key, and a name for your gateway. The activation process also associates your gateway with your account; for more information, see <a>UpdateGatewayInformation</a>.</p> <note>You must turn on the gateway VM before you can activate your gateway.</note>"
    },
    "AddCache":{
      "name":"AddCache",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddCacheInput"},
      "output":{"shape":"AddCacheOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation configures one or more gateway local disks as cache for a cached-volume gateway. This operation is supported only for the gateway-cached volume architecture (see <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/StorageGatewayConcepts.html\">Storage Gateway Concepts</a>).</p> <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to add cache, and one or more disk IDs that you want to configure as cache. </p>"
    },
    "AddUploadBuffer":{
      "name":"AddUploadBuffer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AddUploadBufferInput"},
      "output":{"shape":"AddUploadBufferOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation configures one or more gateway local disks as upload buffer for a specified gateway. This operation is supported for both the gateway-stored and gateway-cached volume architectures. </p> <p> In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to add upload buffer, and one or more disk IDs that you want to configure as upload buffer.</p>"
    },
    "AddWorkingStorage":{
      "name":"AddWorkingStorage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"AddWorkingStorageInput",
        "documentation":"<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <a>AddWorkingStorageInput$DiskIds</a> </li> </ul>"
      },
      "output":{
        "shape":"AddWorkingStorageOutput",
        "documentation":"<p>A JSON object containing the of the gateway for which working storage was configured.</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation configures one or more gateway local disks as working storage for a gateway. This operation is supported only for the gateway-stored volume architecture. This operation is deprecated method in cached-volumes API version (20120630). Use AddUploadBuffer instead.</p> <note><p>Working storage is also referred to as upload buffer. You can also use the <a>AddUploadBuffer</a> operation to add upload buffer to a stored-volume gateway.</p></note> <p>In the request, you specify the gateway Amazon Resource Name (ARN) to which you want to add working storage, and one or more disk IDs that you want to configure as working storage.</p>"
    },
    "CancelArchival":{
      "name":"CancelArchival",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CancelArchivalInput",
        "documentation":"<p>CancelArchivalInput</p>"
      },
      "output":{
        "shape":"CancelArchivalOutput",
        "documentation":"<p>CancelArchivalOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>Cancels archiving of a virtual tape to the virtual tape shelf (VTS) after the archiving process is initiated. </p>"
    },
    "CancelRetrieval":{
      "name":"CancelRetrieval",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CancelRetrievalInput",
        "documentation":"<p>CancelRetrievalInput</p>"
      },
      "output":{
        "shape":"CancelRetrievalOutput",
        "documentation":"<p>CancelRetrievalOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>Cancels retrieval of a virtual tape from the virtual tape shelf (VTS) to a gateway after the retrieval process is initiated. The virtual tape is returned to the VTS.</p>"
    },
    "CreateCachediSCSIVolume":{
      "name":"CreateCachediSCSIVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateCachediSCSIVolumeInput"},
      "output":{"shape":"CreateCachediSCSIVolumeOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation creates a cached volume on a specified cached gateway. This operation is supported only for the gateway-cached volume architecture.</p> <note>Cache storage must be allocated to the gateway before you can create a cached volume. Use the <a>AddCache</a> operation to add cache storage to a gateway. </note> <p>In the request, you must specify the gateway, size of the volume in bytes, the iSCSI target name, an IP address on which to expose the target, and a unique client token. In response, AWS Storage Gateway creates the volume and returns information about it such as the volume Amazon Resource Name (ARN), its size, and the iSCSI target ARN that initiators can use to connect to the volume target.</p>"
    },
    "CreateSnapshot":{
      "name":"CreateSnapshot",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateSnapshotInput",
        "documentation":"<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <a>CreateSnapshotInput$SnapshotDescription</a> </li> <li> <a>CreateSnapshotInput$VolumeARN</a> </li> </ul>"
      },
      "output":{
        "shape":"CreateSnapshotOutput",
        "documentation":"<p>A JSON object containing the following fields:</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation initiates a snapshot of a volume.</p> <p>AWS Storage Gateway provides the ability to back up point-in-time snapshots of your data to Amazon Simple Storage (S3) for durable off-site recovery, as well as import the data to an Amazon Elastic Block Store (EBS) volume in Amazon Elastic Compute Cloud (EC2). You can take snapshots of your gateway volume on a scheduled or ad-hoc basis. This API enables you to take ad-hoc snapshot. For more information, see <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/WorkingWithSnapshots.html\">Working With Snapshots in the AWS Storage Gateway Console</a>.</p> <p>In the CreateSnapshot request you identify the volume by providing its Amazon Resource Name (ARN). You must also provide description for the snapshot. When AWS Storage Gateway takes the snapshot of specified volume, the snapshot and description appears in the AWS Storage Gateway Console. In response, AWS Storage Gateway returns you a snapshot ID. You can use this snapshot ID to check the snapshot progress or later use it when you want to create a volume from a snapshot.</p> <note>To list or delete a snapshot, you must use the Amazon EC2 API. For more information, .</note>"
    },
    "CreateSnapshotFromVolumeRecoveryPoint":{
      "name":"CreateSnapshotFromVolumeRecoveryPoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateSnapshotFromVolumeRecoveryPointInput"},
      "output":{"shape":"CreateSnapshotFromVolumeRecoveryPointOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation initiates a snapshot of a gateway from a volume recovery point. This operation is supported only for the gateway-cached volume architecture (see ).</p> <p>A volume recovery point is a point in time at which all data of the volume is consistent and from which you can create a snapshot. To get a list of volume recovery point for gateway-cached volumes, use <a>ListVolumeRecoveryPoints</a>.</p> <p>In the <code>CreateSnapshotFromVolumeRecoveryPoint</code> request, you identify the volume by providing its Amazon Resource Name (ARN). You must also provide a description for the snapshot. When AWS Storage Gateway takes a snapshot of the specified volume, the snapshot and its description appear in the AWS Storage Gateway console. In response, AWS Storage Gateway returns you a snapshot ID. You can use this snapshot ID to check the snapshot progress or later use it when you want to create a volume from a snapshot.</p> <note> <p>To list or delete a snapshot, you must use the Amazon EC2 API. For more information, in <i>Amazon Elastic Compute Cloud API Reference</i>.</p> </note>"
    },
    "CreateStorediSCSIVolume":{
      "name":"CreateStorediSCSIVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateStorediSCSIVolumeInput",
        "documentation":"<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <a>CreateStorediSCSIVolumeInput$DiskId</a> </li> <li> <a>CreateStorediSCSIVolumeInput$NetworkInterfaceId</a> </li> <li> <a>CreateStorediSCSIVolumeInput$PreserveExistingData</a> </li> <li> <a>CreateStorediSCSIVolumeInput$SnapshotId</a> </li> <li> <a>CreateStorediSCSIVolumeInput$TargetName</a> </li> </ul>"
      },
      "output":{
        "shape":"CreateStorediSCSIVolumeOutput",
        "documentation":"<p>A JSON object containing the following fields:</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation creates a volume on a specified gateway. This operation is supported only for the gateway-stored volume architecture. </p> <p>The size of the volume to create is inferred from the disk size. You can choose to preserve existing data on the disk, create volume from an existing snapshot, or create an empty volume. If you choose to create an empty gateway volume, then any existing data on the disk is erased.</p> <p>In the request you must specify the gateway and the disk information on which you are creating the volume. In response, AWS Storage Gateway creates the volume and returns volume information such as the volume Amazon Resource Name (ARN), its size, and the iSCSI target ARN that initiators can use to connect to the volume target.</p>"
    },
    "CreateTapes":{
      "name":"CreateTapes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateTapesInput",
        "documentation":"<p>CreateTapesInput</p>"
      },
      "output":{
        "shape":"CreateTapesOutput",
        "documentation":"<p>CreateTapeOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>Creates one or more virtual tapes. You write data to the virtual tapes and then archive the tapes.</p> <note>Cache storage must be allocated to the gateway before you can create virtual tapes. Use the <a>AddCache</a> operation to add cache storage to a gateway. </note>"
    },
    "DeleteBandwidthRateLimit":{
      "name":"DeleteBandwidthRateLimit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteBandwidthRateLimitInput"},
      "output":{
        "shape":"DeleteBandwidthRateLimitOutput",
        "documentation":"<p>A JSON object containing the of the gateway whose bandwidth rate information was deleted.</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation deletes the bandwidth rate limits of a gateway. You can delete either the upload and download bandwidth rate limit, or you can delete both. If you delete only one of the limits, the other limit remains unchanged. To specify which gateway to work with, use the Amazon Resource Name (ARN) of the gateway in your request.</p>"
    },
    "DeleteChapCredentials":{
      "name":"DeleteChapCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteChapCredentialsInput",
        "documentation":"<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <a>DeleteChapCredentialsInput$InitiatorName</a> </li> <li> <a>DeleteChapCredentialsInput$TargetARN</a> </li> </ul>"
      },
      "output":{
        "shape":"DeleteChapCredentialsOutput",
        "documentation":"<p>A JSON object containing the following fields:</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation deletes Challenge-Handshake Authentication Protocol (CHAP) credentials for a specified iSCSI target and initiator pair.</p>"
    },
    "DeleteGateway":{
      "name":"DeleteGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteGatewayInput",
        "documentation":"<p>A JSON object containing the of the gateway to delete.</p>"
      },
      "output":{
        "shape":"DeleteGatewayOutput",
        "documentation":"<p>A JSON object containing the of the deleted gateway.</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation deletes a gateway. To specify which gateway to delete, use the Amazon Resource Name (ARN) of the gateway in your request. The operation deletes the gateway; however, it does not delete the gateway virtual machine (VM) from your host computer.</p> <p>After you delete a gateway, you cannot reactivate it. Completed snapshots of the gateway volumes are not deleted upon deleting the gateway, however, pending snapshots will not complete. After you delete a gateway, your next step is to remove it from your environment.</p> <important> <p>You no longer pay software charges after the gateway is deleted; however, your existing Amazon EBS snapshots persist and you will continue to be billed for these snapshots. You can choose to remove all remaining Amazon EBS snapshots by canceling your Amazon EC2 subscription.  If you prefer not to cancel your Amazon EC2 subscription, you can delete your snapshots using the Amazon EC2 console. For more information, see the <a href=\"http://aws.amazon.com/storagegateway\"> AWS Storage Gateway Detail Page</a>. </p> </important>"
    },
    "DeleteSnapshotSchedule":{
      "name":"DeleteSnapshotSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteSnapshotScheduleInput"},
      "output":{"shape":"DeleteSnapshotScheduleOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p> This operation deletes a snapshot of a volume. </p> <p> You can take snapshots of your gateway volumes on a scheduled or ad-hoc basis. This API enables you to delete a snapshot schedule for a volume. For more information, see <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/WorkingWithSnapshots.html\">Working with Snapshots</a>. In the <code>DeleteSnapshotSchedule</code> request, you identify the volume by providing its Amazon Resource Name (ARN). </p> <note> <p>To list or delete a snapshot, you must use the Amazon EC2 API. in <i>Amazon Elastic Compute Cloud API Reference</i>.</p> </note>"
    },
    "DeleteTape":{
      "name":"DeleteTape",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteTapeInput",
        "documentation":"<p>DeleteTapeInput</p>"
      },
      "output":{
        "shape":"DeleteTapeOutput",
        "documentation":"<p>DeleteTapeOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified virtual tape.</p>"
    },
    "DeleteTapeArchive":{
      "name":"DeleteTapeArchive",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteTapeArchiveInput",
        "documentation":"<p>DeleteTapeArchiveInput</p>"
      },
      "output":{
        "shape":"DeleteTapeArchiveOutput",
        "documentation":"<p>DeleteTapeArchiveOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified virtual tape from the virtual tape shelf (VTS).</p>"
    },
    "DeleteVolume":{
      "name":"DeleteVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteVolumeInput",
        "documentation":"<p>A JSON object containing the <a>DeleteVolumeInput$VolumeARN</a> to delete.</p>"
      },
      "output":{
        "shape":"DeleteVolumeOutput",
        "documentation":"<p>A JSON object containing the of the storage volume that was deleted</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation delete the specified gateway volume that you previously created using the <a>CreateStorediSCSIVolume</a> API. For gateway-stored volumes, the local disk that was configured as the storage volume is not deleted. You can reuse the local disk to create another storage volume. </p> <p>Before you delete a gateway volume, make sure there are no iSCSI connections to the volume you are deleting. You should also make sure there is no snapshot in progress. You can use the Amazon Elastic Compute Cloud (Amazon EC2) API to query snapshots on the volume you are deleting and check the snapshot status. For more information, go to <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/ApiReference-query-DescribeSnapshots.html\">DescribeSnapshots</a> in the <i>Amazon Elastic Compute Cloud API Reference</i>.</p> <p>In the request, you must provide the Amazon Resource Name (ARN) of the storage volume you want to delete.</p>"
    },
    "DescribeBandwidthRateLimit":{
      "name":"DescribeBandwidthRateLimit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeBandwidthRateLimitInput",
        "documentation":"<p>A JSON object containing the of the gateway.</p>"
      },
      "output":{
        "shape":"DescribeBandwidthRateLimitOutput",
        "documentation":"<p>A JSON object containing the following fields:</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation returns the bandwidth rate limits of a gateway. By default, these limits are not set, which means no bandwidth rate limiting is in effect.</p> <p>This operation only returns a value for a bandwidth rate limit only if the limit is set. If no limits are set for the gateway, then this operation returns only the gateway ARN in the response body. To specify which gateway to describe, use the Amazon Resource Name (ARN) of the gateway in your request.</p>"
    },
    "DescribeCache":{
      "name":"DescribeCache",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCacheInput"},
      "output":{"shape":"DescribeCacheOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation returns information about the cache of a gateway. This operation is supported only for the gateway-cached volume architecture. </p> <p> The response includes disk IDs that are configured as cache, and it includes the amount of cache allocated and used. </p>"
    },
    "DescribeCachediSCSIVolumes":{
      "name":"DescribeCachediSCSIVolumes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCachediSCSIVolumesInput"},
      "output":{
        "shape":"DescribeCachediSCSIVolumesOutput",
        "documentation":"<p>A JSON object containing the following fields:</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation returns a description of the gateway volumes specified in the request. This operation is supported only for the gateway-cached volume architecture.</p> <p> The list of gateway volumes in the request must be from one gateway. In the response Amazon Storage Gateway returns volume information sorted by volume Amazon Resource Name (ARN). </p>"
    },
    "DescribeChapCredentials":{
      "name":"DescribeChapCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeChapCredentialsInput",
        "documentation":"<p>A JSON object containing the Amazon Resource Name (ARN) of the iSCSI volume target.</p>"
      },
      "output":{
        "shape":"DescribeChapCredentialsOutput",
        "documentation":"<p>A JSON object containing a .</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation returns an array of Challenge-Handshake Authentication Protocol (CHAP) credentials information for a specified iSCSI target, one for each target-initiator pair.</p>"
    },
    "DescribeGatewayInformation":{
      "name":"DescribeGatewayInformation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeGatewayInformationInput",
        "documentation":"<p>A JSON object containing the of the gateway.</p>"
      },
      "output":{
        "shape":"DescribeGatewayInformationOutput",
        "documentation":"<p>A JSON object containing the following fields:</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation returns metadata about a gateway such as its name, network interfaces, configured time zone, and the state (whether the gateway is running or not). To specify which gateway to describe, use the Amazon Resource Name (ARN) of the gateway in your request.</p>"
    },
    "DescribeMaintenanceStartTime":{
      "name":"DescribeMaintenanceStartTime",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeMaintenanceStartTimeInput",
        "documentation":"<p>A JSON object containing the of the gateway.</p>"
      },
      "output":{"shape":"DescribeMaintenanceStartTimeOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation returns your gateway's weekly maintenance start time including the day and time of the week. Note that values are in terms of the gateway's time zone.</p>"
    },
    "DescribeSnapshotSchedule":{
      "name":"DescribeSnapshotSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeSnapshotScheduleInput",
        "documentation":"<p>A JSON object containing the <a>DescribeSnapshotScheduleInput$VolumeARN</a> of the volume.</p>"
      },
      "output":{"shape":"DescribeSnapshotScheduleOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation describes the snapshot schedule for the specified gateway volume. The snapshot schedule information includes intervals at which snapshots are automatically initiated on the volume.</p>"
    },
    "DescribeStorediSCSIVolumes":{
      "name":"DescribeStorediSCSIVolumes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeStorediSCSIVolumesInput",
        "documentation":"<p>A JSON Object containing a list of <a>DescribeStorediSCSIVolumesInput$VolumeARNs</a>.</p>"
      },
      "output":{"shape":"DescribeStorediSCSIVolumesOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation returns description of the gateway volumes specified in the request. The list of gateway volumes in the request must be from one gateway. In the response Amazon Storage Gateway returns volume information sorted by volume ARNs.</p>"
    },
    "DescribeTapeArchives":{
      "name":"DescribeTapeArchives",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeTapeArchivesInput",
        "documentation":"<p>DescribeTapeArchivesInput</p>"
      },
      "output":{
        "shape":"DescribeTapeArchivesOutput",
        "documentation":"<p>DescribeTapeArchivesOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>Returns a description of specified virtual tapes in the virtual tape shelf (VTS). </p> <p>If a specific <code>TapeARN</code> is not specified, AWS Storage Gateway returns a description of all virtual tapes found in the VTS associated with your account.</p>"
    },
    "DescribeTapeRecoveryPoints":{
      "name":"DescribeTapeRecoveryPoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeTapeRecoveryPointsInput",
        "documentation":"<p>DescribeTapeRecoveryPointsInput</p>"
      },
      "output":{
        "shape":"DescribeTapeRecoveryPointsOutput",
        "documentation":"<p>DescribeTapeRecoveryPointsOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>Returns a list of virtual tape recovery points that are available for the specified gateway-VTL.</p> <p>A recovery point is a point in time view of a virtual tape at which all the data on the virtual tape is consistent. If your gateway crashes, virtual tapes that have recovery points can be recovered to a new gateway.</p>"
    },
    "DescribeTapes":{
      "name":"DescribeTapes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeTapesInput",
        "documentation":"<p>DescribeTapesInput</p>"
      },
      "output":{
        "shape":"DescribeTapesOutput",
        "documentation":"<p>DescribeTapesOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>Returns a description of the specified Amazon Resource Name (ARN) of virtual tapes. If a <code>TapeARN</code> is not specified, returns a description of all virtual tapes associated with the specified gateway.</p>"
    },
    "DescribeUploadBuffer":{
      "name":"DescribeUploadBuffer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUploadBufferInput"},
      "output":{"shape":"DescribeUploadBufferOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation returns information about the upload buffer of a gateway. This operation is supported for both the gateway-stored and gateway-cached volume architectures. </p> <p> The response includes disk IDs that are configured as upload buffer space, and it includes the amount of upload buffer space allocated and used.</p>"
    },
    "DescribeVTLDevices":{
      "name":"DescribeVTLDevices",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeVTLDevicesInput",
        "documentation":"<p>DescribeVTLDevicesInput</p>"
      },
      "output":{
        "shape":"DescribeVTLDevicesOutput",
        "documentation":"<p>DescribeVTLDevicesOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>Returns a description of virtual tape library (VTL) devices for the specified gateway. In the response, AWS Storage Gateway returns VTL device information. </p> <p>The list of VTL devices must be from one gateway.</p>"
    },
    "DescribeWorkingStorage":{
      "name":"DescribeWorkingStorage",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeWorkingStorageInput",
        "documentation":"<p>A JSON object containing the of the gateway.</p>"
      },
      "output":{
        "shape":"DescribeWorkingStorageOutput",
        "documentation":"<p>A JSON object containing the following fields:</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation returns information about the working storage of a gateway. This operation is supported only for the gateway-stored volume architecture. This operation is deprecated in cached-volumes API version (20120630). Use DescribeUploadBuffer instead.</p> <note><p>Working storage is also referred to as upload buffer. You can also use the DescribeUploadBuffer operation to add upload buffer to a stored-volume gateway.</p></note> <p>The response includes disk IDs that are configured as working storage, and it includes the amount of working storage allocated and used.</p>"
    },
    "DisableGateway":{
      "name":"DisableGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DisableGatewayInput",
        "documentation":"<p>DisableGatewayInput</p>"
      },
      "output":{
        "shape":"DisableGatewayOutput",
        "documentation":"<p>DisableGatewayOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>Disables a gateway when the gateway is no longer functioning. For example, if your gateway VM is damaged, you can disable the gateway so you can recover virtual tapes. </p> <p>Use this operation for a gateway-VTL that is not reachable or not functioning.</p> <important>Once a gateway is disabled it cannot be enabled.</important>"
    },
    "ListGateways":{
      "name":"ListGateways",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListGatewaysInput",
        "documentation":"<p>A JSON object containing zero or more of the following fields:</p> <ul> <li> <a>ListGatewaysInput$Limit</a> </li> <li> <a>ListGatewaysInput$Marker</a> </li> </ul>"
      },
      "output":{"shape":"ListGatewaysOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation lists gateways owned by an AWS account in a region specified in the request. The returned list is ordered by gateway Amazon Resource Name (ARN).</p> <p>By default, the operation returns a maximum of 100 gateways. This operation supports pagination that allows you to optionally reduce the number of gateways returned in a response.</p> <p>If you have more gateways than are returned in a response-that is, the response returns only a truncated list of your gateways-the response contains a marker that you can specify in your next request to fetch the next page of gateways.</p>"
    },
    "ListLocalDisks":{
      "name":"ListLocalDisks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListLocalDisksInput",
        "documentation":"<p>A JSON object containing the of the gateway.</p>"
      },
      "output":{"shape":"ListLocalDisksOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation returns a list of the gateway's local disks. To specify which gateway to describe, you use the Amazon Resource Name (ARN) of the gateway in the body of the request.</p> <p>The request returns a list of all disks, specifying which are configured as working storage, cache storage, or stored volume or not configured at all. The response includes a <code>DiskStatus</code> field. This field can have a value of present (the disk is availble to use), missing (the disk is no longer connected to the gateway), or mismatch (the disk node is occupied by a disk that has incorrect metadata or the disk content is corrupted). </p>"
    },
    "ListVolumeRecoveryPoints":{
      "name":"ListVolumeRecoveryPoints",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ListVolumeRecoveryPointsInput"},
      "output":{"shape":"ListVolumeRecoveryPointsOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation lists the recovery points for a specified gateway. This operation is supported only for the gateway-cached volume architecture.</p> <p>Each gateway-cached volume has one recovery point. A volume recovery point is a point in time at which all data of the volume is consistent and from which you can create a snapshot. To create a snapshot from a volume recovery point use the <a>CreateSnapshotFromVolumeRecoveryPoint</a> operation.</p>"
    },
    "ListVolumes":{
      "name":"ListVolumes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListVolumesInput",
        "documentation":"<p>A JSON object that contains one or more of the following fields:</p> <ul> <li> <a>ListVolumesInput$Limit</a> </li> <li> <a>ListVolumesInput$Marker</a> </li> </ul>"
      },
      "output":{"shape":"ListVolumesOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation lists the iSCSI stored volumes of a gateway. Results are sorted by volume ARN. The response includes only the volume ARNs. If you want additional volume information, use the <a>DescribeStorediSCSIVolumes</a> API.</p> <p>The operation supports pagination. By default, the operation returns a maximum of up to 100 volumes. You can optionally specify the <code>Limit</code> field in the body to limit the number of volumes in the response. If the number of volumes returned in the response is truncated, the response includes a Marker field. You can use this Marker value in your subsequent request to retrieve the next set of volumes.</p>"
    },
    "ResetCache":{
      "name":"ResetCache",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"ResetCacheInput"},
      "output":{"shape":"ResetCacheOutput"},
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation resets all cache disks and makes the disks available for reconfiguration as cache storage. When a cache is reset, the gateway loses its cache storage. At this point you can reconfigure the disks as cache disks. </p>"
    },
    "RetrieveTapeArchive":{
      "name":"RetrieveTapeArchive",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"RetrieveTapeArchiveInput",
        "documentation":"<p>RetrieveTapeArchiveInput</p>"
      },
      "output":{
        "shape":"RetrieveTapeArchiveOutput",
        "documentation":"<p>RetrieveTapeArchiveOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>Retrieves an archived virtual tape from the virtual tape shelf (VTS) to a gateway-VTL. Virtual tapes archived in the VTS are not associated with any gateway. However after a tape is retrieved, it is associated with a gateway, even though it is also listed in the VTS.</p> <p>Once a tape is successfully retrieved to a gateway, it cannot be retrieved again to another gateway. You must archive the tape again before you can retrieve it to another gateway.</p>"
    },
    "RetrieveTapeRecoveryPoint":{
      "name":"RetrieveTapeRecoveryPoint",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"RetrieveTapeRecoveryPointInput",
        "documentation":"<p>RetrieveTapeRecoveryPointInput</p>"
      },
      "output":{
        "shape":"RetrieveTapeRecoveryPointOutput",
        "documentation":"<p>RetrieveTapeRecoveryPointOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>Retrieves the recovery point for the specified virtual tape.</p> <p>A recovery point is a point in time view of a virtual tape at which all the data on the tape is consistent. If your gateway crashes, virtual tapes that have recovery points can be recovered to a new gateway.</p> <note>The virtual tape can be retrieved to only one gateway. The retrieved tape is read-only. The virtual tape can be retrieved to only a gateway-VTL. There is no charge for retrieving recovery points.</note>"
    },
    "ShutdownGateway":{
      "name":"ShutdownGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ShutdownGatewayInput",
        "documentation":"<p>A JSON object containing the of the gateway to shut down.</p>"
      },
      "output":{
        "shape":"ShutdownGatewayOutput",
        "documentation":"<p>A JSON object containing the of the gateway that was shut down.</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation shuts down a gateway. To specify which gateway to shut down, use the Amazon Resource Name (ARN) of the gateway in the body of your request.</p> <p>The operation shuts down the gateway service component running in the storage gateway's virtual machine (VM) and not the VM.</p> <note>If you want to shut down the VM, it is recommended that you first shut down the gateway component in the VM to avoid unpredictable conditions.</note> <p>After the gateway is shutdown, you cannot call any other API except <a>StartGateway</a>, <a>DescribeGatewayInformation</a>, and <a>ListGateways</a>. For more information, see <a>ActivateGateway</a>. Your applications cannot read from or write to the gateway's storage volumes, and there are no snapshots taken.</p> <note>When you make a shutdown request, you will get a <code>200 OK</code> success response immediately. However, it might take some time for the gateway to shut down. You can call the <a>DescribeGatewayInformation</a> API to check the status. For more information, see <a>ActivateGateway</a>.</note> <p>If do not intend to use the gateway again, you must delete the gateway (using <a>DeleteGateway</a>) to no longer pay software charges associated with the gateway.</p>"
    },
    "StartGateway":{
      "name":"StartGateway",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"StartGatewayInput",
        "documentation":"<p>A JSON object containing the of the gateway to start.</p>"
      },
      "output":{
        "shape":"StartGatewayOutput",
        "documentation":"<p>A JSON object containing the of the gateway that was restarted.</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation starts a gateway that you previously shut down (see <a>ShutdownGateway</a>). After the gateway starts, you can then make other API calls, your applications can read from or write to the gateway's storage volumes and you will be able to take snapshot backups.</p> <note>When you make a request, you will get a 200 OK success response immediately. However, it might take some time for the gateway to be ready. You should call <a>DescribeGatewayInformation</a> and check the status before making any additional API calls. For more information, see <a>ActivateGateway</a>.</note> <p>To specify which gateway to start, use the Amazon Resource Name (ARN) of the gateway in your request.</p>"
    },
    "UpdateBandwidthRateLimit":{
      "name":"UpdateBandwidthRateLimit",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateBandwidthRateLimitInput",
        "documentation":"<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <a>UpdateBandwidthRateLimitInput$AverageDownloadRateLimitInBitsPerSec</a> </li> <li> <a>UpdateBandwidthRateLimitInput$AverageUploadRateLimitInBitsPerSec</a> </li> </ul>"
      },
      "output":{
        "shape":"UpdateBandwidthRateLimitOutput",
        "documentation":"<p>A JSON object containing the of the gateway whose throttle information was updated.</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation updates the bandwidth rate limits of a gateway. You can update both the upload and download bandwidth rate limit or specify only one of the two. If you don't set a bandwidth rate limit, the existing rate limit remains.</p> <p>By default, a gateway's bandwidth rate limits are not set. If you don't set any limit, the gateway does not have any limitations on its bandwidth usage and could potentially use the maximum available bandwidth.</p> <p>To specify which gateway to update, use the Amazon Resource Name (ARN) of the gateway in your request.</p>"
    },
    "UpdateChapCredentials":{
      "name":"UpdateChapCredentials",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateChapCredentialsInput",
        "documentation":"<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <a>UpdateChapCredentialsInput$InitiatorName</a> </li> <li> <a>UpdateChapCredentialsInput$SecretToAuthenticateInitiator</a> </li> <li> <a>UpdateChapCredentialsInput$SecretToAuthenticateTarget</a> </li> <li> <a>UpdateChapCredentialsInput$TargetARN</a> </li> </ul>"
      },
      "output":{
        "shape":"UpdateChapCredentialsOutput",
        "documentation":"<p>A JSON object containing the following fields:</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation updates the Challenge-Handshake Authentication Protocol (CHAP) credentials for a specified iSCSI target. By default, a gateway does not have CHAP enabled; however, for added security, you might use it.</p> <important> <p>When you update CHAP credentials, all existing connections on the target are closed and initiators must reconnect with the new credentials.</p> </important>"
    },
    "UpdateGatewayInformation":{
      "name":"UpdateGatewayInformation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateGatewayInformationInput"},
      "output":{
        "shape":"UpdateGatewayInformationOutput",
        "documentation":"<p>A JSON object containing the of the gateway that was updated.</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation updates a gateway's metadata, which includes the gateway's name and time zone. To specify which gateway to update, use the Amazon Resource Name (ARN) of the gateway in your request.</p>"
    },
    "UpdateGatewaySoftwareNow":{
      "name":"UpdateGatewaySoftwareNow",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateGatewaySoftwareNowInput",
        "documentation":"<p>A JSON object containing the of the gateway to update.</p>"
      },
      "output":{
        "shape":"UpdateGatewaySoftwareNowOutput",
        "documentation":"<p>A JSON object containing the of the gateway that was updated.</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation updates the gateway virtual machine (VM) software. The request immediately triggers the software update. </p> <note>When you make this request, you get a <code>200 OK</code> success response immediately. However, it might take some time for the update to complete. You can call <a>DescribeGatewayInformation</a> to verify the gateway is in the <code>STATE_RUNNING</code> state.</note> <important>A software update forces a system restart of your gateway. You can minimize the chance of any disruption to your applications by increasing your iSCSI Initiators' timeouts. For more information about increasing iSCSI Initiator timeouts for Windows and Linux, see <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/ConfiguringiSCSIClientInitiatorWindowsClient.html#CustomizeWindowsiSCSISettings\">Customizing Your Windows iSCSI Settings</a> and <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/ConfiguringiSCSIClientInitiatorRedHatClient.html#CustomizeLinuxiSCSISettings\">Customizing Your Linux iSCSI Settings</a>, respectively.</important>"
    },
    "UpdateMaintenanceStartTime":{
      "name":"UpdateMaintenanceStartTime",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateMaintenanceStartTimeInput",
        "documentation":"<p>A JSON object containing the following fields:</p> <ul> <li> <a>UpdateMaintenanceStartTimeInput$DayOfWeek</a> </li> <li> <a>UpdateMaintenanceStartTimeInput$HourOfDay</a> </li> <li> <a>UpdateMaintenanceStartTimeInput$MinuteOfHour</a> </li> </ul>"
      },
      "output":{
        "shape":"UpdateMaintenanceStartTimeOutput",
        "documentation":"<p>A JSON object containing the of the gateway whose maintenance start time is updated.</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation updates a gateway's weekly maintenance start time information, including day and time of the week. The maintenance time is the time in your gateway's time zone.</p>"
    },
    "UpdateSnapshotSchedule":{
      "name":"UpdateSnapshotSchedule",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateSnapshotScheduleInput",
        "documentation":"<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <a>UpdateSnapshotScheduleInput$Description</a> </li> <li> <a>UpdateSnapshotScheduleInput$RecurrenceInHours</a> </li> <li> <a>UpdateSnapshotScheduleInput$StartAt</a> </li> <li> <a>UpdateSnapshotScheduleInput$VolumeARN</a> </li> </ul>"
      },
      "output":{
        "shape":"UpdateSnapshotScheduleOutput",
        "documentation":"<p>A JSON object containing the of the updated storage volume.</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation updates a snapshot schedule configured for a gateway volume.</p> <p>The default snapshot schedule for volume is once every 24 hours, starting at the creation time of the volume. You can use this API to change the snapshot schedule configured for the volume.</p> <p>In the request you must identify the gateway volume whose snapshot schedule you want to update, and the schedule information, including when you want the snapshot to begin on a day and the frequency (in hours) of snapshots.</p>"
    },
    "UpdateVTLDeviceType":{
      "name":"UpdateVTLDeviceType",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateVTLDeviceTypeInput",
        "documentation":"<p>UpdateVTLDeviceTypeInput</p>"
      },
      "output":{
        "shape":"UpdateVTLDeviceTypeOutput",
        "documentation":"<p>UpdateVTLDeviceTypeOutput</p>"
      },
      "errors":[
        {
          "shape":"InvalidGatewayRequestException",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>An exception occurred because an invalid gateway request was issued to the service. See the error and message fields for more information.</p>"
        },
        {
          "shape":"InternalServerError",
          "error":{"httpStatusCode":500},
          "exception":true,
          "documentation":"<p>An internal server error has occurred during the request. See the error and message fields for more information.</p>"
        }
      ],
      "documentation":"<p>This operation updates the type of medium changer in a gateway-VTL. When you activate a gateway-VTL, you select a medium changer type for the gateway-VTL. This operation enables you to select a different type of medium changer after a gateway-VTL is activated.</p>"
    }
  },
  "shapes":{
    "ActivateGatewayInput":{
      "type":"structure",
      "required":[
        "ActivationKey",
        "GatewayName",
        "GatewayTimezone",
        "GatewayRegion"
      ],
      "members":{
        "ActivationKey":{
          "shape":"ActivationKey",
          "documentation":"<p>Your gateway activation key. You can obtain the activation key by sending an HTTP GET request with redirects enabled to the gateway IP address (port 80). The redirect URL returned in the response provides you the activation key for your gateway in the query string parameter <code>activationKey</code>. It may also include other activation-related parameters, however, these are merely defaults -- the arguments you pass to the <code>ActivateGateway</code> API call determine the actual configuration of your gateway.</p>"
        },
        "GatewayName":{"shape":"GatewayName"},
        "GatewayTimezone":{
          "shape":"GatewayTimezone",
          "documentation":"<p>One of the values that indicates the time zone you want to set for the gateway. The time zone is used, for example, for scheduling snapshots and your gateway's maintenance schedule.</p>"
        },
        "GatewayRegion":{
          "shape":"RegionId",
          "documentation":"<p>One of the values that indicates the region where you want to store the snapshot backups. The gateway region specified must be the same region as the region in your <code>Host</code> header in the request. For more information about available regions and endpoints for AWS Storage Gateway, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#sg_region\">Regions and Endpoints</a> in the <i>Amazon Web Services Glossary</i>.</p> <p><i>Valid Values</i>: \"us-east-1\", \"us-west-1\", \"us-west-2\", \"eu-west-1\", \"eu-central-1\", \"ap-northeast-1\", \"ap-southeast-1\", \"ap-southeast-2\", \"sa-east-1\"</p>"
        },
        "GatewayType":{
          "shape":"GatewayType",
          "documentation":"<p>One of the values that defines the type of gateway to activate. The type specified is critical to all later functions of the gateway and cannot be changed after activation. The default value is <code>STORED</code>. </p>"
        },
        "TapeDriveType":{
          "shape":"TapeDriveType",
          "documentation":"<p>The value that indicates the type of tape drive to use for gateway-VTL. This field is optional. </p> <p><i>Valid Values</i>: \"IBM-ULT3580-TD5\" </p>"
        },
        "MediumChangerType":{
          "shape":"MediumChangerType",
          "documentation":"<p>The value that indicates the type of medium changer to use for gateway-VTL. This field is optional.</p> <p><i>Valid Values</i>: \"STK-L700\", \"AWS-Gateway-VTL\"</p>"
        }
      },
      "documentation":"<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <a>ActivateGatewayInput$ActivationKey</a> </li> <li> <a>GatewayName</a> </li> <li> <a>ActivateGatewayInput$GatewayRegion</a> </li> <li> <a>ActivateGatewayInput$GatewayTimezone</a> </li> <li> <a>ActivateGatewayInput$GatewayType</a> </li> <li> <a>ActivateGatewayInput$TapeDriveType</a> </li> <li> <a>ActivateGatewayInput$MediumChangerType</a> </li> </ul>"
    },
    "ActivateGatewayOutput":{
      "type":"structure",
      "members":{
        "GatewayARN":{"shape":"GatewayARN"}
      },
      "documentation":"<p>AWS Storage Gateway returns the Amazon Resource Name (ARN) of the activated gateway. It is a string made of information such as your account, gateway name, and region. This ARN is used to reference the gateway in other API operations as well as resource-based authorization.</p>"
    },
    "ActivationKey":{
      "type":"string",
      "min":1,
      "max":50
    },
    "AddCacheInput":{
      "type":"structure",
      "required":[
        "GatewayARN",
        "DiskIds"
      ],
      "members":{
        "GatewayARN":{"shape":"GatewayARN"},
        "DiskIds":{"shape":"DiskIds"}
      }
    },
    "AddCacheOutput":{
      "type":"structure",
      "members":{
        "GatewayARN":{"shape":"GatewayARN"}
      }
    },
    "AddUploadBufferInput":{
      "type":"structure",
      "required":[
        "GatewayARN",
        "DiskIds"
      ],
      "members":{
        "GatewayARN":{"shape":"GatewayARN"},
        "DiskIds":{"shape":"DiskIds"}
      }
    },
    "AddUploadBufferOutput":{
      "type":"structure",
      "members":{
        "GatewayARN":{"shape":"GatewayARN"}
      }
    },
    "AddWorkingStorageInput":{
      "type":"structure",
      "required":[
        "GatewayARN",
        "DiskIds"
      ],
      "members":{
        "GatewayARN":{"shape":"GatewayARN"},
        "DiskIds":{
          "shape":"DiskIds",
          "documentation":"<p>An array of strings that identify disks that are to be configured as working storage. Each string have a minimum length of 1 and maximum length of 300. You can get the disk IDs from the <a>ListLocalDisks</a> API.</p>"
        }
      },
      "documentation":"<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <a>AddWorkingStorageInput$DiskIds</a> </li> </ul>"
    },
    "AddWorkingStorageOutput":{
      "type":"structure",
      "members":{
        "GatewayARN":{"shape":"GatewayARN"}
      },
      "documentation":"<p>A JSON object containing the of the gateway for which working storage was configured.</p>"
    },
    "BandwidthDownloadRateLimit":{
      "type":"long",
      "min":102400
    },
    "BandwidthType":{
      "type":"string",
      "min":3,
      "max":25
    },
    "BandwidthUploadRateLimit":{
      "type":"long",
      "min":51200
    },
    "CachediSCSIVolume":{
      "type":"structure",
      "members":{
        "VolumeARN":{"shape":"VolumeARN"},
        "VolumeId":{"shape":"VolumeId"},
        "VolumeType":{"shape":"VolumeType"},
        "VolumeStatus":{"shape":"VolumeStatus"},
        "VolumeSizeInBytes":{"shape":"long"},
        "VolumeProgress":{"shape":"DoubleObject"},
        "SourceSnapshotId":{"shape":"SnapshotId"},
        "VolumeiSCSIAttributes":{"shape":"VolumeiSCSIAttributes"}
      }
    },
    "CachediSCSIVolumes":{
      "type":"list",
      "member":{"shape":"CachediSCSIVolume"}
    },
    "CancelArchivalInput":{
      "type":"structure",
      "required":[
        "GatewayARN",
        "TapeARN"
      ],
      "members":{
        "GatewayARN":{"shape":"GatewayARN"},
        "TapeARN":{
          "shape":"TapeARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the virtual tape you want to cancel archiving for.</p>"
        }
      },
      "documentation":"<p>CancelArchivalInput</p>"
    },
    "CancelArchivalOutput":{
      "type":"structure",
      "members":{
        "TapeARN":{
          "shape":"TapeARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the virtual tape for which archiving was canceled.</p>"
        }
      },
      "documentation":"<p>CancelArchivalOutput</p>"
    },
    "CancelRetrievalInput":{
      "type":"structure",
      "required":[
        "GatewayARN",
        "TapeARN"
      ],
      "members":{
        "GatewayARN":{"shape":"GatewayARN"},
        "TapeARN":{
          "shape":"TapeARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the virtual tape you want to cancel retrieval for.</p>"
        }
      },
      "documentation":"<p>CancelRetrievalInput</p>"
    },
    "CancelRetrievalOutput":{
      "type":"structure",
      "members":{
        "TapeARN":{
          "shape":"TapeARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the virtual tape for which retrieval was canceled.</p>"
        }
      },
      "documentation":"<p>CancelRetrievalOutput</p>"
    },
    "ChapCredentials":{
      "type":"list",
      "member":{"shape":"ChapInfo"}
    },
    "ChapInfo":{
      "type":"structure",
      "members":{
        "TargetARN":{
          "shape":"TargetARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the volume.</p> <p><i>Valid Values</i>: 50 to 500 lowercase letters, numbers, periods (.), and hyphens (-).</p>"
        },
        "SecretToAuthenticateInitiator":{
          "shape":"ChapSecret",
          "documentation":"<p>The secret key that the initiator (e.g. Windows client) must provide to participate in mutual CHAP with the target.</p>"
        },
        "InitiatorName":{
          "shape":"IqnName",
          "documentation":"<p>The iSCSI initiator that connects to the target.</p>"
        },
        "SecretToAuthenticateTarget":{
          "shape":"ChapSecret",
          "documentation":"<p>The secret key that the target must provide to participate in mutual CHAP with the initiator (e.g. Windows client).</p>"
        }
      },
      "documentation":"<p>Describes Challenge-Handshake Authentication Protocol (CHAP) information that supports authentication between your gateway and iSCSI initiators.</p>"
    },
    "ChapSecret":{
      "type":"string",
      "min":12,
      "max":16
    },
    "ClientToken":{
      "type":"string",
      "min":5,
      "max":100
    },
    "CreateCachediSCSIVolumeInput":{
      "type":"structure",
      "required":[
        "GatewayARN",
        "VolumeSizeInBytes",
        "TargetName",
        "NetworkInterfaceId",
        "ClientToken"
      ],
      "members":{
        "GatewayARN":{"shape":"GatewayARN"},
        "VolumeSizeInBytes":{"shape":"long"},
        "SnapshotId":{"shape":"SnapshotId"},
        "TargetName":{"shape":"TargetName"},
        "NetworkInterfaceId":{"shape":"NetworkInterfaceId"},
        "ClientToken":{"shape":"ClientToken"}
      }
    },
    "CreateCachediSCSIVolumeOutput":{
      "type":"structure",
      "members":{
        "VolumeARN":{"shape":"VolumeARN"},
        "TargetARN":{"shape":"TargetARN"}
      }
    },
    "CreateSnapshotFromVolumeRecoveryPointInput":{
      "type":"structure",
      "required":[
        "VolumeARN",
        "SnapshotDescription"
      ],
      "members":{
        "VolumeARN":{"shape":"VolumeARN"},
        "SnapshotDescription":{"shape":"SnapshotDescription"}
      }
    },
    "CreateSnapshotFromVolumeRecoveryPointOutput":{
      "type":"structure",
      "members":{
        "SnapshotId":{"shape":"SnapshotId"},
        "VolumeARN":{"shape":"VolumeARN"},
        "VolumeRecoveryPointTime":{"shape":"string"}
      }
    },
    "CreateSnapshotInput":{
      "type":"structure",
      "required":[
        "VolumeARN",
        "SnapshotDescription"
      ],
      "members":{
        "VolumeARN":{
          "shape":"VolumeARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the volume. Use the <a>ListVolumes</a> operation to return a list of gateway volumes.</p>"
        },
        "SnapshotDescription":{
          "shape":"SnapshotDescription",
          "documentation":"<p>Textual description of the snapshot that appears in the Amazon EC2 console, Elastic Block Store snapshots panel in the <b>Description</b> field, and in the AWS Storage Gateway snapshot <b>Details</b> pane, <b>Description</b> field</p>"
        }
      },
      "documentation":"<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <a>CreateSnapshotInput$SnapshotDescription</a> </li> <li> <a>CreateSnapshotInput$VolumeARN</a> </li> </ul>"
    },
    "CreateSnapshotOutput":{
      "type":"structure",
      "members":{
        "VolumeARN":{
          "shape":"VolumeARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the volume of which the snapshot was taken.</p>"
        },
        "SnapshotId":{
          "shape":"SnapshotId",
          "documentation":"<p>The snapshot ID that is used to refer to the snapshot in future operations such as describing snapshots (Amazon Elastic Compute Cloud API <code>DescribeSnapshots</code>) or creating a volume from a snapshot (<a>CreateStorediSCSIVolume</a>).</p>"
        }
      },
      "documentation":"<p>A JSON object containing the following fields:</p>"
    },
    "CreateStorediSCSIVolumeInput":{
      "type":"structure",
      "required":[
        "GatewayARN",
        "DiskId",
        "PreserveExistingData",
        "TargetName",
        "NetworkInterfaceId"
      ],
      "members":{
        "GatewayARN":{"shape":"GatewayARN"},
        "DiskId":{
          "shape":"DiskId",
          "documentation":"<p>The unique identifier for the gateway local disk that is configured as a stored volume. Use <a href=\"http://docs.aws.amazon.com/storagegateway/latest/userguide/API_ListLocalDisks.html\">ListLocalDisks</a> to list disk IDs for a gateway.</p>"
        },
        "SnapshotId":{
          "shape":"SnapshotId",
          "documentation":"<p>The snapshot ID (e.g. \"snap-1122aabb\") of the snapshot to restore as the new stored volume. Specify this field if you want to create the iSCSI storage volume from a snapshot otherwise do not include this field. To list snapshots for your account use <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/ApiReference-query-DescribeSnapshots.html\">DescribeSnapshots</a> in the <i>Amazon Elastic Compute Cloud API Reference</i>.</p>"
        },
        "PreserveExistingData":{
          "shape":"boolean",
          "documentation":"<p>Specify this field as true if you want to preserve the data on the local disk. Otherwise, specifying this field as false creates an empty volume.</p> <p><i>Valid Values</i>: true, false</p>"
        },
        "TargetName":{
          "shape":"TargetName",
          "documentation":"<p>The name of the iSCSI target used by initiators to connect to the target and as a suffix for the target ARN. For example, specifying <code>TargetName</code> as <i>myvolume</i> results in the target ARN of arn:aws:storagegateway:us-east-1:111122223333:gateway/mygateway/target/iqn.1997-05.com.amazon:myvolume. The target name must be unique across all volumes of a gateway.</p>"
        },
        "NetworkInterfaceId":{
          "shape":"NetworkInterfaceId",
          "documentation":"<p>The network interface of the gateway on which to expose the iSCSI target. Only IPv4 addresses are accepted. Use <a>DescribeGatewayInformation</a> to get a list of the network interfaces available on a gateway.</p> <p><i>Valid Values</i>: A valid IP address.</p>"
        }
      },
      "documentation":"<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <a>CreateStorediSCSIVolumeInput$DiskId</a> </li> <li> <a>CreateStorediSCSIVolumeInput$NetworkInterfaceId</a> </li> <li> <a>CreateStorediSCSIVolumeInput$PreserveExistingData</a> </li> <li> <a>CreateStorediSCSIVolumeInput$SnapshotId</a> </li> <li> <a>CreateStorediSCSIVolumeInput$TargetName</a> </li> </ul>"
    },
    "CreateStorediSCSIVolumeOutput":{
      "type":"structure",
      "members":{
        "VolumeARN":{
          "shape":"VolumeARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the configured volume.</p>"
        },
        "VolumeSizeInBytes":{
          "shape":"long",
          "documentation":"<p>The size of the volume in bytes.</p>"
        },
        "TargetARN":{
          "shape":"TargetARN",
          "documentation":"<p>he Amazon Resource Name (ARN) of the volume target that includes the iSCSI name that initiators can use to connect to the target.</p>"
        }
      },
      "documentation":"<p>A JSON object containing the following fields:</p>"
    },
    "CreateTapesInput":{
      "type":"structure",
      "required":[
        "GatewayARN",
        "TapeSizeInBytes",
        "ClientToken",
        "NumTapesToCreate",
        "TapeBarcodePrefix"
      ],
      "members":{
        "GatewayARN":{
          "shape":"GatewayARN",
          "documentation":"<p>The unique Amazon Resource Name(ARN) that represents the gateway to associate the virtual tapes with. Use the <a>ListGateways</a> operation to return a list of gateways for your account and region.</p>"
        },
        "TapeSizeInBytes":{
          "shape":"TapeSize",
          "documentation":"<p>The size, in bytes, of the virtual tapes you want to create.</p> <note>The size must be gigabyte (1024*1024*1024 byte) aligned.</note>"
        },
        "ClientToken":{
          "shape":"ClientToken",
          "documentation":"<p>A unique identifier that you use to retry a request. If you retry a request, use the same <code>ClientToken</code> you specified in the initial request.</p> <note>Using the same <code>ClientToken</code> prevents creating the tape multiple times.</note>"
        },
        "NumTapesToCreate":{
          "shape":"NumTapesToCreate",
          "documentation":"<p>The number of virtual tapes you want to create.</p>"
        },
        "TapeBarcodePrefix":{
          "shape":"TapeBarcodePrefix",
          "documentation":"<p>A prefix you append to the barcode of the virtual tape you are creating. This makes a barcode unique.</p> <note>The prefix must be 1 to 4 characters in length and must be upper-case letters A-Z.</note>"
        }
      },
      "documentation":"<p>CreateTapesInput</p>"
    },
    "CreateTapesOutput":{
      "type":"structure",
      "members":{
        "TapeARNs":{
          "shape":"TapeARNs",
          "documentation":"<p>A list of unique Amazon Resource Named (ARN) the represents the virtual tapes that were created.</p>"
        }
      },
      "documentation":"<p>CreateTapeOutput</p>"
    },
    "DayOfWeek":{
      "type":"integer",
      "min":0,
      "max":6
    },
    "DeleteBandwidthRateLimitInput":{
      "type":"structure",
      "required":[
        "GatewayARN",
        "BandwidthType"
      ],
      "members":{
        "GatewayARN":{"shape":"GatewayARN"},
        "BandwidthType":{"shape":"BandwidthType"}
      }
    },
    "DeleteBandwidthRateLimitOutput":{
      "type":"structure",
      "members":{
        "GatewayARN":{"shape":"GatewayARN"}
      },
      "documentation":"<p>A JSON object containing the of the gateway whose bandwidth rate information was deleted.</p>"
    },
    "DeleteChapCredentialsInput":{
      "type":"structure",
      "required":[
        "TargetARN",
        "InitiatorName"
      ],
      "members":{
        "TargetARN":{
          "shape":"TargetARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the iSCSI volume target. Use the <a>DescribeStorediSCSIVolumes</a> operation to return to retrieve the TargetARN for specified VolumeARN.</p>"
        },
        "InitiatorName":{
          "shape":"IqnName",
          "documentation":"<p>The iSCSI initiator that connects to the target.</p>"
        }
      },
      "documentation":"<p>A JSON object containing one or more of the following fields:</p> <ul> <li> <a>DeleteChapCredentialsInput$InitiatorName</a> </li> <li> <a>DeleteChapCredentialsInput$TargetARN</a> </li> </ul>"
    },
    "DeleteChapCredentialsOutput":{
      "type":"structure",
      "members":{
        "TargetARN":{
          "shape":"TargetARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the target.</p>"
        },
        "InitiatorName":{
          "shape":"IqnName",
          "documentation":"<p>The iSCSI initiator that connects to the target.</p>"
        }
      },
      "documentation":"<p>A JSON object containing the following fields:</p>"
    },
    "DeleteGatewayInput":{
      "type":"structure",
      "required":["GatewayARN"],
      "members":{
        "GatewayARN":{"shape":"GatewayARN"}
      },
      "documentation":"<p>A JSON object containing the of the gateway to delete.</p>"
    },
    "DeleteGatewayOutput":{
      "type":"structure",
      "members":{
        "GatewayARN":{"shape":"GatewayARN"}
      },
      "documentation":"<p>A JSON object containing the of the deleted gateway.</p>"
    },
    "DeleteSnapshotScheduleInput":{
      "type":"structure",
      "required":["VolumeARN"],
      "members":{
        "VolumeARN":{"shape":"VolumeARN"}
      }
    },
    "DeleteSnapshotScheduleOutput":{
      "type":"structure",
      "members":{
        "VolumeARN":{"shape":"VolumeARN"}
      }
    },
    "DeleteTapeArchiveInput":{
      "type":"structure",
      "required":["TapeARN"],
      "members":{
        "TapeARN":{
          "shape":"TapeARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the virtual tape to delete from the virtual tape shelf (VTS).</p>"
        }
      },
      "documentation":"<p>DeleteTapeArchiveInput</p>"
    },
    "DeleteTapeArchiveOutput":{
      "type":"structure",
      "members":{
        "TapeARN":{
          "shape":"TapeARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the virtual tape that was deleted from the virtual tape shelf (VTS).</p>"
        }
      },
      "documentation":"<p>DeleteTapeArchiveOutput</p>"
    },
    "DeleteTapeInput":{
      "type":"structure",
      "required":[
        "GatewayARN",
        "TapeARN"
      ],
      "members":{
        "GatewayARN":{
          "shape":"GatewayARN",
          "documentation":"<p>The unique Amazon Resource Name (ARN) of the gateway that the virtual tape to delete is associated with. Use the <a>ListGateways</a> operation to return a list of gateways for your account and region.</p>"
        },
        "TapeARN":{
          "shape":"TapeARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the virtual tape to delete.</p>"
        }
      },
      "documentation":"<p>DeleteTapeInput</p>"
    },
    "DeleteTapeOutput":{
      "type":"structure",
      "members":{
        "TapeARN":{
          "shape":"TapeARN",
          "documentation":"<p>The Amazon Resource Name (ARN) of the deleted virtual tape.</p>"
        }
      },
      "documentation":"<p>DeleteTapeOutput</p>"
    },
    "DeleteVolumeInput":{
      "type":"structure",
      "required":["VolumeARN"],
[...]
