<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Lantern Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lantern Dashboard">
    <meta name="author" content="Team Lantern">

    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="_css/app.css" rel="stylesheet">
    <!--
    <link href="lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    -->
    <link href="lib/angular-ui/angular-ui.css">

    <script src="lib/angular/docs/js/jquery.js"></script>
    <script src="lib/webshims/js-webshim/dev/extras/modernizr-custom.js"></script>
    <script src="lib/webshims/js-webshim/dev/polyfiller.js"></script>
    <script>
      $.webshims.polyfill('forms');
    </script>
    <script src="lib/cometd.js"></script>
    <script src="lib/jquery.cometd.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <!--
    <script src="lib/angular/i18n/angular-locale_zh-cn.js"></script>
    <script src="lib/angular/i18n/angular-locale_fa-ir.js"></script>
    -->
    <script src="lib/angular-ui/angular-ui.js"></script>
    <script src="lib/lodash.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/i18n.js"></script>

    <link rel="shortcut icon" href="img/favicon.ico">
  </head>

  <body ng-controller="RootCtrl" ng-cloak>

    <div x-block-input ng-hide="connected()">
      <div>{{ 'WAITING_FOR_LANTERN' | i18n }}</div>
      <img src="lib/webshims/css/polyfill-loader.gif">
    </div>

    <!-- modal dialogs -->

    <div id="sanity" ng-controller="SanityCtrl" ng-model="show"
         ui-modal class="fade" data-backdrop="static" data-keyboard="false">
      <div class="modal-header">
        <h3>{{ 'UNEXPECTED_STATE_TITLE' | i18n }}</h3>
      </div>
      <div class="modal-body">
        <span class="help-block">{{ 'UNEXPECTED_STATE_PROMPT' | i18n }}</span>
        <form class="form-inline pagination-centered">
          <label class="checkbox">
            <input type="checkbox" ng-model="notifyLanternDevs">
            {{ 'NOTIFY_LANTERN_DEVS' | i18n }}
          </label>
        </form>
      </div>
      <div class="modal-footer">
        <span class="pull-left text-error" ui-toggle="error">{{ 'UNEXPECTED_ERROR' | i18n }}</span>
        <button ng-click="maybeNotify(); reset()" class="btn btn-danger">{{ 'RESET' | i18n }}</button>
        <button ng-click="maybeNotify(); refresh()" class="btn btn-primary">{{ 'REFRESH' | i18n }}</button>
      </div>
    </div>

    <div id="settings-locked" ng-controller="SettingsLockedCtrl" ui-modal
         ng-model="show" class="fade" data-backdrop="static" data-keyboard="false">
      <div class="modal-header">
        <h3>{{ 'UNLOCK_SETTINGS_TITLE' | i18n }}</h3>
      </div>
      <form name="unlockForm" ng-submit="submit(password)">
        <div class="modal-body">
          <span class="help-block">{{ 'UNLOCK_SETTINGS_PROMPT' | i18n }}</span>
          <br>
          <div class="control-group" ng-class="{error: unlockForm.password.$pristine && unlockForm.password.$error.invalid}">
            <div class="controls pagination-centered">
              <div class="input-append">
                <input type="password" ng-model="password" autofocus required
                       name="password" placeholder="{{ 'PASSWORD' | i18n }}">
                <button type="submit" ng-disabled="!unlockForm.$valid"
                        class="btn btn-primary">{{ 'UNLOCK' | i18n }}</button>
              </div>
              <span class="help-block" ui-toggle="unlockForm.password.$pristine && unlockForm.password.$error.invalid">{{ 'PASSWORD_INVALID' | i18n }}</span>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div id="settings-couldNotLoad" ng-controller="SettingsCouldNotLoadCtrl" ui-modal
         ng-model="show" class="fade" data-backdrop="static" data-keyboard="false">
      <div class="modal-header">
        <h3>{{ 'COULDNOTLOAD_SETTINGS_TITLE' | i18n }}</h3>
      </div>
      <div class="modal-body">
        <span class="help-block">{{ 'COULDNOTLOAD_SETTINGS_PROMPT' | i18n }}</span>
        <form class="form-inline pagination-centered">
          <label class="checkbox">
            <input type="checkbox" ng-model="notifyLanternDevs">
            {{ 'NOTIFY_LANTERN_DEVS' | i18n }}
          </label>
        </form>
      </div>
      <div class="modal-footer">
        <span class="pull-left text-error" ui-toggle="error">{{ 'UNEXPECTED_ERROR' | i18n }}</span>
        <button ng-click="maybeNotify(); reset()" class="btn btn-danger">{{ 'RESET' | i18n }}</button>
        <button ng-click="maybeNotify(); quit()" class="btn btn-primary">{{ 'QUIT' | i18n }}</button>
      </div>
    </div>

    <!-- setup screens -->

    <div id="setup-setpassword" ng-controller="SetupSetPasswordCtrl" ui-modal
         ng-model="show" class="fade" data-backdrop="static" data-keyboard="false">
      <div class="modal-header">
        <h3>{{ 'SETUP_SETPASSWORD_TITLE' | i18n }}</h3>
      </div>
      <form name="setPasswordForm" ng-submit="setPasswordForm.$valid && submit(password)">
        <div class="modal-body">
          <span class="help-block">{{ 'SETUP_SETPASSWORD_PROMPT' | i18n }}</span>
          <br>
          <div class="control-group">
            <div class="controls pagination-centered">
              <input type="password" ng-model="password1" autofocus required
                     name="password1" placeholder="{{ 'PASSWORD' | i18n }}">
            </div>
          </div>
          <div class="control-group" ng-class="{error: setPasswordForm.password2.$dirty && setPasswordForm.password2.$invalid}">
            <div class="controls pagination-centered">
              <input type="password" ng-model="password2" name="password2"
                     required placeholder="{{ 'PASSWORD_CONFIRM' | i18n }}">
              <span class="help-block" ui-toggle="setPasswordForm.password2.$dirty && setPasswordForm.password2.$invalid">{{ 'PASSWORDS_MUST_MATCH' | i18n }}</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" ng-disabled="!setPasswordForm.$valid"
                  class="btn btn-primary">{{ 'SET' | i18n }}</button>
        </div>
      </form>
    </div>

    <div id="setup-welcome" ng-controller="SetupWelcomeCtrl" ui-modal
         ng-model="show" class="fade" data-backdrop="static" data-keyboard="false">
      <div class="modal-header">
        <h3>{{ 'SETUP_WELCOME_TITLE' | i18n }}</h3>
      </div>
      <div class="modal-body">
        <span class="help-block">{{ 'SETUP_WELCOME_PROMPT' | i18n }}</span>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn" ng-click="setGiveMode()">{{ 'GIVE_ACCESS' | i18n }}</button>
        <button type="submit" class="btn" ng-click="setGetMode()">{{ 'GET_ACCESS' | i18n }}</button>
      </div>
    </div>

    <!-- developer panel -->

    <div id="developer" ng-controller="DevCtrl" ng-show="show">
      <button class="btn" data-toggle="collapse" data-target="#developer-content">Developer</button>
      <div id="developer-content" class="collapse in">
        <a href="https://github.com/getlantern/lantern-ui/blob/master/SPECS.md#state-document-specification">(specs)</a>
        <pre>{{model | json}}</pre>
        <div>
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label">settings</label>
              <div class="controls row">
                <div class="span-4">
                  <label><input type="text" ng-model="model.settings.state" placeholder="locked, unlocked, couldNotLoad"> state</label>
                  <label><input type="text" ng-model="model.settings.mode" placeholder="give, get"> mode</label>
                  <label><input type="text" ng-model="model.settings.userid" placeholder="user@example.com"> userid</label>
                  <label><input type="text" placeholder="0" ng-model="model.settings.invites"> invites</label>
                  <label><input type="text" ng-model="model.settings.lang" placeholder="en"> lang</label>
                  <label><input type="text" ng-model="model.settings.proxyPort" placeholder="8787"> proxyPort</label>
                </div>
                <div class="span-4">
                  <label class="checkbox"><input type="checkbox" ng-model="model.settings.systemProxy"> systemProxy</label>
                  <label class="checkbox"><input type="checkbox" ng-model="model.settings.proxyAllSites"> proxyAllSites</label>
                  <label class="checkbox"><input type="checkbox" ng-model="model.settings.savePassword"> savePassword</label>
                  <label class="checkbox"><input type="checkbox" ng-model="model.settings.passwordSaved"> passwordSaved</label>
                  <label class="checkbox"><input type="checkbox" ng-model="model.settings.startAtLogin"> startAtLogin</label>
                  <label class="checkbox"><input type="checkbox" ng-model="model.settings.autoReport"> autoReport</label>
                </div>
                <div class="span-4">
                  <label>proxiedSitesList</label>
                  <textarea placeholder="google.com
                    twitter.com">{{ model.settings.proxiedSitesList.join('\n') }}</textarea>
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">setupScreen</label>
              <div class="controls">
                <input type="text" ng-model="model.setupScreen" placeholder="setPassword, welcome, signin, sysproxy, finished">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">lang</label>
              <div class="controls">
                <input type="text" ng-model="model.lang" placeholder="en">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">connectivity</label>
              <div class="controls">
                <label class="checkbox"><input type="checkbox" ng-model="model.connectivity.network"> network</label>
                <label class="checkbox"><input type="checkbox" ng-model="model.connectivity.gtalk"> gtalk</label>
                <label><input type="text" placeholder="0" ng-model="model.connectivity.peers"> peers</label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">version</label>
              <div class="controls">
                <label><input type="text" placeholder="0.20.3-sha1 beta" ng-model="model.version.app"> app</label>
                <label><input type="text" placeholder="[0, 0, 1]" ng-model="model.version.api"> api</label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">bytesTransferred</label>
              <div class="controls">
                <label><input type="text" placeholder="0" ng-model="model.bytesTransferred.current.up"> current.up</label>
                <label><input type="text" placeholder="0" ng-model="model.bytesTransferred.current.dn"> current.dn</label>
                <label><input type="text" placeholder="0" ng-model="model.bytesTransferred.lifetime.up"> lifetime.up</label>
                <label><input type="text" placeholder="0" ng-model="model.bytesTransferred.lifetime.dn"> lifetime.dn</label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="lib/bootstrap/js/bootstrap.js"></script>
  </body>
</html>
