<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>Lantern Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lantern Dashboard">
    <meta name="author" content="Team Lantern">

    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="_css/app.css" rel="stylesheet">
    <!--
    <link href="lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    -->
    <link href="lib/angular-ui/angular-ui.css" rel="stylesheet">
    <link href="lib/select2/select2.css" rel="stylesheet">

    <script src="lib/angular/docs/js/jquery.js"></script>
    <script src="lib/webshims/js-webshim/dev/extras/modernizr-custom.js"></script>
    <script src="lib/webshims/js-webshim/dev/polyfiller.js"></script>
    <script>
      $.webshims.polyfill('forms');
    </script>
    <script src="lib/cometd.js"></script>
    <script src="lib/jquery.cometd.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <!--
    <script src="lib/angular/i18n/angular-locale_zh-cn.js"></script>
    <script src="lib/angular/i18n/angular-locale_fa-ir.js"></script>
    -->
    <script src="lib/angular-ui/angular-ui.js"></script>
    <script src="lib/select2/select2.js"></script>
    <script src="lib/lodash.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/i18n.js"></script>

    <link rel="shortcut icon" href="img/favicon.ico">
  </head>

  <body ng-controller="RootCtrl" ng-cloak>

    <div x-block-input ng-hide="connected()">
      <div>{{ 'WAITING_FOR_LANTERN' | i18n }}</div>
      <img src="lib/webshims/css/polyfill-loader.gif">
    </div>

    <!-- modal dialogs -->

    <div id="sanity" ng-controller="SanityCtrl" ng-model="show"
         ui-modal class="fade" data-backdrop="static" data-keyboard="false">
      <div class="modal-header">
        <h3>{{ 'UNEXPECTED_STATE_TITLE' | i18n }}</h3>
      </div>
      <div class="modal-body">
        <div>{{ 'UNEXPECTED_STATE_PROMPT' | i18n }}</div>
        <form class="form-inline pagination-centered">
          <label class="checkbox">
            <input type="checkbox" ng-model="notifyLanternDevs">
            {{ 'NOTIFY_LANTERN_DEVS' | i18n }}
          </label>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="maybeNotify(); reset()" class="btn btn-danger">{{ 'RESET' | i18n }}</button>
        <button ng-click="maybeNotify(); refresh()" class="btn btn-primary">{{ 'REFRESH' | i18n }}</button>
      </div>
    </div>

    <div id="settings-unlock" ng-controller="SettingsUnlockCtrl" ui-modal
         ng-model="show" class="fade" data-backdrop="static" data-keyboard="false">
      <form name="unlockForm" ng-submit="submit()">
        <div class="modal-header">
          <h3>{{ 'SETTINGS_UNLOCK_TITLE' | i18n }}</h3>
        </div>
        <div class="modal-body">
          <div>{{ 'SETTINGS_UNLOCK_PROMPT' | i18n }}</div>
          <br>
          <div class="control-group" ng-class="{error: error}">
            <div class="controls pagination-centered">
              <div class="input-append">
                <input type="password" ng-model="password" autofocus required
                       name="password" placeholder="{{ 'PASSWORD' | i18n }}">
                <button type="submit" ng-disabled="unlockForm.$invalid"
                        class="btn btn-primary">{{ 'UNLOCK' | i18n }}</button>
              </div>
              <div class="text-error" ui-toggle="error && unlockForm.password.$pristine">
                {{ 'PASSWORD_INVALID' | i18n }}
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div id="settings-load-failure" ng-controller="SettingsLoadFailureCtrl" ui-modal
         ng-model="show" class="fade" data-backdrop="static" data-keyboard="false">
      <div class="modal-header">
        <h3>{{ 'SETTINGS_LOAD_FAILURE_TITLE' | i18n }}</h3>
      </div>
      <div class="modal-body">
        <div>{{ 'SETTINGS_LOAD_FAILURE_PROMPT' | i18n }}</div>
        <form class="form-inline pagination-centered">
          <label class="checkbox">
            <input type="checkbox" ng-model="notifyLanternDevs">
            {{ 'NOTIFY_LANTERN_DEVS' | i18n }}
          </label>
        </form>
      </div>
      <div class="modal-footer">
        <button ng-click="maybeNotify(); reset()" class="btn btn-danger">{{ 'RESET' | i18n }}</button>
        <button ng-click="maybeNotify(); quit()" class="btn btn-primary">{{ 'QUIT' | i18n }}</button>
      </div>
    </div>

    <!-- setup screens -->

    <div id="password-create" ng-controller="PasswordCreateCtrl" ui-modal
         ng-model="show" class="fade" data-backdrop="static" data-keyboard="false">
      <form name="passwordCreateForm" ng-submit="submit()">
        <div class="modal-header">
          <h3>{{ 'PASSWORD_CREATE_TITLE' | i18n }}</h3>
        </div>
        <div class="modal-body">
          <div>{{ 'PASSWORD_CREATE_PROMPT' | i18n }}</div>
          <br>
          <div class="control-group" ng-class="{error: passwordCreateForm.password2.$dirty && passwordCreateForm.password2.$invalid}">
            <div class="controls pagination-centered">
              <input type="password" ng-model="password1" autofocus required
                     name="password1" placeholder="{{ 'PASSWORD' | i18n }}">
              <br>
              <input type="password" ng-model="password2" name="password2"
                     required placeholder="{{ 'PASSWORD_CONFIRM' | i18n }}">
              <div class="text-error" ui-toggle="passwordCreateForm.password2.$dirty && passwordCreateForm.password2.$invalid">{{ 'PASSWORDS_MUST_MATCH' | i18n }}</div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" ng-disabled="passwordCreateForm.$invalid"
                  class="btn btn-primary">{{ 'SET' | i18n }}</button>
        </div>
      </form>
    </div>

    <div id="welcome" ng-controller="WelcomeCtrl" ui-modal ng-model="show"
         class="fade" data-backdrop="static" data-keyboard="false">
      <div class="modal-header pagination-centered">
        <h3>{{ 'SETUP_WELCOME_TITLE' | i18n }}</h3>
      </div>
      <div class="modal-body pagination-centered">
        <div>{{ 'SETUP_WELCOME_PROMPT' | i18n }}</div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success" ng-click="setGiveMode()">{{ 'GIVE_ACCESS' | i18n }}</button>
        <button type="submit" class="btn btn-primary" ng-click="setGetMode()">{{ 'GET_ACCESS' | i18n }}</button>
      </div>
    </div>

    <!-- used both during initial setup and after (when !passwordSaved) -->
    <div id="signin" ng-controller="SigninCtrl" ui-modal ng-model="show" class="fade"
         data-backdrop="{{ model.setupComplete && inGetMode() || 'static' }}"
         data-keyboard="{{ model.setupComplete && inGetMode() }}">
      <!-- only allow closing in Get Mode when setupComplete -->
      <form name="signinForm" class="form-horizontal" ng-submit="submit()">
        <div class="modal-header">
          <button type="button" ui-if="model.setupComplete && inGetMode()"
                  class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h3>{{ 'SETUP_SIGNIN_TITLE' | i18n }}</h3>
        </div>
        <div class="modal-body">
          <div ui-if="!model.setupComplete">{{ 'SETUP_SIGNIN_PROMPT' | i18n }}</div>
          <div ui-if="model.setupComplete && inGetMode()">{{ 'SIGNIN_DISCOVER_PROXIES_PROMPT' | i18n }}</div>
          <br>
          <div class="control-group">
            <label class="control-label">{{ 'GTALK_USERID' | i18n }}</label>
            <div class="controls">
              <input type="email" autofocus required ng-model="userid"
                     name="userid" placeholder="{{ 'EMAIL_PLACEHOLDER' | i18n }}">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label">{{ 'GTALK_PASSWORD' | i18n }}</label>
            <div class="controls">
              <input type="password" name="password" ng-model="password"
                     required placeholder="{{ 'PASSWORD' | i18n }}">
              <a rel="tooltip" data-original-title="{{ 'SIGNIN_TIP_SECURE' | i18n }}" ui-jq="tooltip">
                <i class="icon-lock"></i>
              </a>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <label class="checkbox inline clearfix" style="width: 203px"><!-- XXX -->
                <input type="checkbox" name="savePassword" ng-model="savePassword">
                {{ 'SAVE_PASSWORD' | i18n }}
              </label>
              <a rel="tooltip" data-original-title="{{ 'SIGNIN_TIP_SAVE_PASSWORD' | i18n }}" ui-jq="tooltip">
                <i class="icon-info-sign"></i>
              </a>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <div ng-class="{'text-error': signinError}" ui-toggle="showSigninStatus">{{ signinStatusKey | i18n }}&nbsp;</div>
              <!-- XXX show spinner while signing in -->
            </div>
          </div>
        </div>
        <!-- XXX (hidden) submit input so pressing enter triggers form submission -->
        <input type="submit" style="height: 1px; width: 1px; visibility: hidden; float: left" value="">
      </form>
      <div class="modal-footer">
        <!-- buttons outside the form so reset doesn't get triggered when sign in is disabled on pressing enter -->
        <button type="submit" ui-if="!model.setupComplete" class="btn btn-danger pull-left" ng-click="reset()">
          <i class="icon-backward icon-white"></i> {{ 'START_OVER' | i18n }}
        </button>
        <button type="submit" class="btn btn-primary" ng-disabled="signinForm.$invalid" ng-click="submit()">
          {{ 'SIGN_IN' | i18n }}
        </button>
      </div>
    </div>

    <!-- developer panel -->

    <div id="developer" ng-controller="DevCtrl" ng-show="show">
      <button class="btn" data-toggle="collapse" data-target="#developer-content">Developer</button>
      <div id="developer-content" class="collapse in">
        <a href="https://github.com/getlantern/lantern-ui/blob/master/SPECS.md#state-document-specification">(specs)</a>
        <pre>{{model | json}}</pre>
        <div>
          <form class="form-horizontal">
            <div class="control-group">
              <label class="control-label"></label>
              <div class="controls">
                <label class="checkbox"><input type="checkbox" ng-model="model.setupComplete"> setupComplete</label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">modal</label>
              <div class="controls">
                <select ui-select2="{allowClear: true}" ng-model="model.modal" data-placeholder="choose value">
                  <option value=""></option>
                  <option value="passwordCreate">passwordCreate</option>
                  <option value="settingsUnlock">settingsUnlock</option>
                  <option value="settingsLoadFailure">settingsLoadFailure</option>
                  <option value="welcome">welcome</option>
                  <option value="signin">signin</option>
                  <option value="sysproxy">sysproxy</option>
                  <option value="finished">finished</option>
                </select>
                <!--
                <input type="text" ng-model="model.modal" placeholder="passwordCreate, settingsUnlock, settingsLoadFailure, welcome, signin, sysproxy, finished">
                -->
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">settings</label>
              <div class="controls row">
                <div class="span-4">
                  <label><input type="text" ng-model="model.settings.mode" placeholder="give, get"> mode</label>
                  <label><input type="text" ng-model="model.settings.userid" placeholder="user@example.com"> userid</label>
                  <label><input type="text" placeholder="0" ng-model="model.settings.invites"> invites</label>
                  <label><input type="text" ng-model="model.settings.lang" placeholder="en"> lang</label>
                  <label><input type="text" ng-model="model.settings.proxyPort" placeholder="8787"> proxyPort</label>
                </div>
                <div class="span-4">
                  <label class="checkbox"><input type="checkbox" ng-model="model.settings.systemProxy"> systemProxy</label>
                  <label class="checkbox"><input type="checkbox" ng-model="model.settings.proxyAllSites"> proxyAllSites</label>
                  <label class="checkbox"><input type="checkbox" ng-model="model.settings.savePassword"> savePassword</label>
                  <label class="checkbox"><input type="checkbox" ng-model="model.settings.passwordSaved"> passwordSaved</label>
                  <label class="checkbox"><input type="checkbox" ng-model="model.settings.startAtLogin"> startAtLogin</label>
                  <label class="checkbox"><input type="checkbox" ng-model="model.settings.autoReport"> autoReport</label>
                </div>
                <div class="span-4">
                  <label>proxiedSitesList</label>
                  <textarea placeholder="google.com
                    twitter.com">{{ model.settings.proxiedSitesList.join('\n') }}</textarea>
                </div>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">lang</label>
              <div class="controls">
                <input type="text" ng-model="model.lang" placeholder="en">
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">connectivity</label>
              <div class="controls">
                <label class="checkbox"><input type="checkbox" ng-model="model.connectivity.network"> network</label>
                <label class="checkbox"><input type="checkbox" ng-model="model.connectivity.gtalk"> gtalk</label>
                <label><input type="text" placeholder="0" ng-model="model.connectivity.peers"> peers</label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">version</label>
              <div class="controls">
                <label><input type="text" placeholder="0.20.3-sha1 beta" ng-model="model.version.app"> app</label>
                <label><input type="text" placeholder="[0, 0, 1]" ng-model="model.version.api"> api</label>
              </div>
            </div>
            <div class="control-group">
              <label class="control-label">bytesTransferred</label>
              <div class="controls">
                <label><input type="text" placeholder="0" ng-model="model.bytesTransferred.current.up"> current.up</label>
                <label><input type="text" placeholder="0" ng-model="model.bytesTransferred.current.dn"> current.dn</label>
                <label><input type="text" placeholder="0" ng-model="model.bytesTransferred.lifetime.up"> lifetime.up</label>
                <label><input type="text" placeholder="0" ng-model="model.bytesTransferred.lifetime.dn"> lifetime.dn</label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script src="lib/bootstrap/js/bootstrap.js"></script>
  </body>
</html>
