<div class="message">
  <a href="https://getlantern.org" target="_blank">
  <img id="logo" src="/img/ui-header-logo.svg"></a><br/><span ng-show="!backendIsGone || wsConnected">{{ 'WELCOME_TO_LANTERN_BLOCKED_SITES' | translate }}</span>
</div>

<div id="mobile-ad" ng-show="showMobileAd">
  <img ng-src="/img/mobile-ad/{{ 'LANG_ID' | translate }}/main.png" id="mobile-ad-image" />
  <img ng-src="/img/mobile-ad/{{ 'LANG_ID' | translate }}/get-the-app-text.svg" id="get-the-app-via-email" />
  <form ng-submit="sendMobileAppLink()">
    <div class="mail-input-wrapper">
      <span class="mail-input-icon">icon</span>
      <input ng-model="model.email" name="email" type="text" class="{{ inputClass }}" placeholder="{{ inputPlaceholder }}" autocomplete="off" />
    </div>
    <button type="submit" ng-attr-style="background: url('/img/mobile-ad/{{ 'LANG_ID' | translate }}/get-the-app.svg')">Get the app via e-mail</button>
  </form>
  <p class="download-link">
    <b>{{ 'LANTERN_MOBILE_ANDROID_TEXT' | translate }}:</b> <a target="_blank" ng-click="trackLink('lantern-mobile-ad')" href="{{ 'LANTERN_MOBILE_ANDROID' | translate }}">{{ 'LANTERN_MOBILE_ANDROID' | translate }}</a>
  </p>
</div>

<div id="sites" ng-show="!showMobileAd" style="opacity: 1; -webkit-transform: scale(1.48245614035088, 1.48245614035088); margin-left: auto; margin-right: auto; text-align: center; width: 650px; padding-bottom:90px; cursor:pointer;">
  <a target="_blank" ng-click="trackBookmark('wikipedia')" style="background-image: url('/img/screenshots/wikipedia.png');" class="tile top bookmark" href="https://en.wikipedia.org/wiki/"><span class="url">Wikipedia</span></a>
  <a target="_blank" ng-click="trackBookmark('youtube')" class="tile top bookmark" target="_blank" href="https://www.youtube.com/" style="background-image: url('/img/screenshots/youtube.png');"><span class="url">YouTube</span></a>
  <a target="_blank" ng-click="trackBookmark('facebook')" class="tile top bookmark" href="https://www.facebook.com/" target="_blank" style="background-image: url('/img/screenshots/facebook.png');"><span class="url">Facebook</span></a>
  <a target="_blank" ng-click="trackBookmark('twitter')" class="tile bookmark" href="https://twitter.com/" style="background-image: url('/img/screenshots/twitter.png');"><span class="url">Twitter</span></a>
  <a target="_blank" ng-click="trackBookmark('manoto1')" class="tile bookmark" href="https://www.manototv.com/iran?utm_campaign=manotolantern" style="background-image: url('/img/screenshots/manoto1.png');"><span class="url">Manoto1</span></a>
  <a target="_blank" ng-click="trackBookmark('firetweet')" class="tile bookmark" href="http://www.firetweet.io" style="background-image: url('/img/screenshots/firetweet.png');"><span class="url">FireTweet</span></a>
</div>
