<div class="message"><img width="150px" height="100px" src="/img/ui-header-logo.png"><br/>{{ 'WELCOME_TO_LANTERN_BLOCKED_SITES' | translate }}</div>
<div id="sites" style="opacity: 1; -webkit-transform: scale(1.48245614035088, 1.48245614035088); margin-left: auto; margin-right: auto; text-align: center; width: 650px; cursor:pointer;">
    <a target="_blank" style="background-image: url('/img/screenshots/wikipedia.png');" class="tile bookmark" href="https://en.wikipedia.org/wiki/"><span class="url">Wikipedia</span></a>
    <a target="_blank" class="tile bookmark" target="_blank" href="https://www.youtube.com/" style="background-image: url('/img/screenshots/youtube.png');"><span class="url">YouTube</span></a>
    <a target="_blank" class="tile bookmark" href="https://www.facebook.com/" target="_blank" style="background-image: url('/img/screenshots/facebook.png');"><span class="url">Facebook</span></a>
    <a target="_blank" class="tile bookmark" href="https://twitter.com/" style="background-image: url('/img/screenshots/twitter.png');"><span class="url">Twitter</span></a>
    <a target="_blank" class="tile bookmark" href="https://www.manoto1.com/" style="background-image: url('/img/screenshots/manoto1.png');"><span class="url">Manoto1</span></a>
    <a target="_blank" class="tile bookmark" href="http://www.bbc.com/persian" style="background-image: url('/img/screenshots/BBC.png');"><span class="url">BBC</span></a>
</div> 

