<tabset justified="true" type="pills">
  <tab heading="{{ 'ALL_FEEDS' | translate }}">
    <div ng-controller="FeedCtrl">
      <div ng-repeat="feed in entries">
        <a class="item" target="_blank" href="{{feed.link}}">
          <div ng-include src="'partials/feed.html'" ng-click="trackFeed('all')"></div>
        </a>
      </div>
    </div>
  </tab>
  <tab ng-repeat="feeds in allFeeds" heading="{{feeds.title}}">
    <div ng-controller="FeedCtrl">
      <div ng-repeat="feed in feeds.entries">
        <a class="item" target="_blank" href="{{feed.link}}">
          <div ng-include src="'partials/feed.html'" ng-init="feed=entries[feed]"  ng-click="trackFeed(feeds.title)"></div>
        </a>
      </div>
    </div>
  </tab>
</tabset>
