<tabset justified="true" type="pills">
  <tab heading="{{ 'ALL_FEEDS' | translate }}">
    <div ng-init="feedsTitle = 'All';feedEntries = allEntries">
      <div class="feeds-container" ng-controller="FeedCtrl">
        <div class="infinite-scroll" infinite-scroll="addMoreItems()" infinite-scroll-distance='1'>
          <div ng-repeat="feed in entries">
            <div ng-include src="'partials/feed.html'"></div>
          </div>
        </div>
      </div>
    </div>
  </tab>
  <tab ng-repeat="feeds in allFeeds" heading="{{feeds.title}}">
    <div ng-init="feedsTitle = feeds.title;feedEntries = feeds.entries">
      <div class="feeds-container" ng-controller="FeedCtrl">
        <div class="infinite-scroll" infinite-scroll="addMoreItems()" infinite-scroll-distance='1'>
          <div ng-repeat="feedId in entries">
            <div ng-include src="'partials/feed.html'" ng-init="feed=allEntries[feedId]"></div>
          </div>
        </div>
      </div>
    </div>
  </tab>
</tabset>
