<!--
<div id="langchooser" ng-show="model.dev">
  <ul class="pull-right">
    <li ng-repeat="(langKey, langVal) in LANGS" ng-class="{active: lang == langKey}"><a
        ng-click="lang != langKey && changeLang(langKey)">{{ langVal.name }}</a></li>
  </ul>
</div>
-->
<!--
    <li><a ng-click="openExternal(EXTERNAL_URL.helpTranslate)">{{ 'HELP_TRANSLATE' | translate }}<sup><i class="icon-external-link"></i></sup></a></li>
-->

<div ng-show="model.modal == MODAL.connecting" modal="show" class="modal">
  <div class="modal-header">
    <h3>{{ 'CONNECTING_TITLE' | translate }}</h3>
  </div>
  <div class="modal-body" id="connecting">
    <!-- XXX progress bar would be nice here -->
    <span ng-bind-html="model.connectivity.connectingStatus"></span>
  </div>
  <div class="modal-footer">
  </div>
</div>

<div ng-controller="ConfirmResetCtrl" ng-show="show" modal="show" class="modal">
  <div class="modal-header">
    <h3>{{ 'CONFIRM_RESET_TITLE' | translate }}</h3>
  </div>
  <div class="modal-body" id="confirmReset">
    <div>{{ 'CONFIRM_RESET_PROMPT' | translate }}</div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" focus-on="show" ng-click="interaction(INTERACTION.cancel)">{{ 'CANCEL' | translate }}</button>
    <button type="button" class="btn btn-danger" ng-click="interaction(INTERACTION.reset)">{{ 'RESET' | translate }}</button>
  </div>
</div>

<div ng-controller="ProxiedSitesCtrl" ng-show="currentModal == 'proxiedSites'" modal="show" class="modal">
  <div class="modal-header">
    <h3>
      <i class="lsf-icon lsf-web"></i>
      {{ 'PROXIED_SITES_TITLE' | translate }}
    </h3>
  </div>
  <div class="modal-body" id="proxiedSites">

    <div class="warning" ng-show="model.settings.proxyAllSites">
      <div style="margin-bottom: 8px">
        <i class="icon icon-warning-sign"></i>
        <span ng-bind-html="'PROXYING_ALL_WARNING' | translate"></span>
      </div>
      <div class="small" ng-bind-html="'PROXYING_ALL_WARNING_EXPLANATION' | translate"></div>
      <div style="margin-top: 14px">
        <a class="btn btn-warning btn-small" ng-click="changeSetting(SETTING.proxyAllSites, false)">
          {{ 'DISABLE_PROXY_ALL' | translate }}
        </a>
      </div>
    </div>

    <div>
      <p>{{ 'CONFIGURE_PROXIED_SITES' | translate }}</p>
      <div>
        <div id="proxiedSitesLabelAndSearchContainer">
          <div class="smaller proxiedSitesTip">{{ 'ENTER_PROXIED_SITES_TIP' | translate }}</div>
          <input type="search" ng-model="searchText" results="0" id="proxiedSitesSearch"
              ng-class="{empty: !searchText}"
              placeholder="{{ 'SEARCH' | translate }}">
        </div>
        <form name="proxiedSitesForm" ng-init="setFormScope(this)">
          <textarea name="input" placeholder="example.com" required
            split-array 
            dynamic
            ng-model="entries"
            ng-model-options="{ getterSetter: true }"
            ng-hide="!!searchText" ng-readonly="!!searchText" focus-on="show"
            ui-validate="'validate($value)'" id="proxiedSitesInput"
            dir="ltr" tabindex="{{ show && 1 || '' }}"></textarea>
          <textarea dynamic ng-model="entries" split-array placeholder="{{ 'NO_MATCHING_SITES' | translate }} &quot;{{searchText}}&quot;"
            ng-show="!!searchText" readonly dir="ltr"></textarea>
        </form>
      </div>
      <p class="smaller">
        <strong>{{'TIP'|translate}}</strong> {{ 'PROXIED_SITES_WIKI_TIP' | translate }}
        <a ng-click="openExternal(EXTERNAL_URL.proxiedSitesWiki)">
          {{ 'PROXIED_SITES_WIKI_LINK_TEXT' | translate }}<sup><i class="icon-external-link"></i></sup></a>
        {{ 'PROXIED_SITES_WIKI_TIP_CONTINUED' | translate }}
      </p>
      <div class="error" ui-toggle="errorLabelKey">
        {{ errorLabelKey && (errorLabelKey | translate) || '' }}
        <pre class="errorCause" ng-show="!!errorCause">{{ errorCause }}</pre>
      </div>
    </div>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn" ng-click="resetProxiedSites(false)" tabindex="{{ show && 3 || '' }">{{ 'CANCEL' | translate }}</button>

      <!--<button type="button" class="btn" ng-click="resetProxiedSites(true)" tabindex="{{ show && 3 || '' }">{{ 'RESET' | translate }}</button>-->
    <button id="continueFromProxiedSites" 
            type="button" class="btn btn-primary" tabindex="{{ show && 2 || '' }}"
            ng-disabled="updating || proxiedSitesForm.$invalid"
            ng-click="handleContinue()">{{ updating && 'UPDATING' || (hasUpdate && 'UPDATE') || (model.setupComplete && 'CLOSE' || 'CONTINUE') | translate }}</button>
  </div>
</div>

<div ng-show="currentModal == 'contact'" modal="show" class="modal">
  <div class="modal-header">
    <h3>{{ 'CONTACT_TITLE' | translate }}</h3>
  </div>
  <div class="modal-body" id="contact">
    <div class="smaller" compile-unsafe="'CONTACT_PRELUDE' | translate"></div>
    <form name="contactForm">
      <textarea class="report" name="contactMsg" ng-model="message" tabindex="{{ show && 1 || '' }}"
        focus-on="show" placeholder="{{'MESSAGE_PLACEHOLDER'| translate}}"
        ng-maxlength="500000" required></textarea><!-- XXX https://github.com/angular/angular.js/issues/1405 -->
      <div class="text-error pagination-centered" ng-show="contactForm.contactMsg.$error.maxlength">
          {{ 'ERROR_TOO_LONG' | translate:'{value : (contactForm.contactMsg.$viewValue.length - CONTACT_FORM_MAXLEN) }' }}&nbsp;
      </div>
      <details class="diagnosticInfo">
        <summary>{{'DIAGNOSTIC_INFO'|translate}}</summary>
        <textarea class="diagnosticInfo" name="diagnosticInfo" ng-model="diagnosticInfo"
          ng-maxlength="500000"></textarea><!-- XXX https://github.com/angular/angular.js/issues/1405 -->
        <div class="text-error pagination-centered" ng-show="contactForm.diagnosticInfo.$error.maxlength">
            {{ 'ERROR_TOO_LONG' | translate: '{value: (contactForm.diagnosticInfo.$viewValue.length - CONTACT_FORM_MAXLEN) }' }}&nbsp;
        </div>
      </details>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" tabindex="{{ show && 3 || '' }}"
            ng-click="closeModal()">{{ 'CANCEL' | translate }}</button>
    <button type="button" class="btn btn-primary" tabindex="{{ show && 2 || '' }}"
            ng-disabled="contactForm.$invalid"
            ng-click="interactionWithNotify(INTERACTION.continue, this)">{{ 'SEND' | translate }}</button>
  </div>
</div>

<div ng-show="currentModal == 'about'" class="modal">
  <div class="modal-header about">
    <div>{{ 'LANTERN' | translate }} {{ 'VERSION' | translate }} {{ model.version.installed | version:true:true }}</div>
    <div ng-show="model.dev" class="smaller">Development version. lantern-ui v{{ lanternUiVersion }}.</div>
    <div class="smaller">
      <a ng-click="openExternal(EXTERNAL_URL.homepage)">{{ 'HOMEPAGE' | translate }}<sup><i class="icon-external-link"></i></sup></a> ·
      <a ng-click="openExternal(valByLang(EXTERNAL_URL.userForums))">{{ 'FORUMS' | translate }}<sup><i class="icon-external-link"></i></sup></a> ·
      <a ng-click="openExternal(EXTERNAL_URL.docs)">{{ 'DOCS' | translate }}<sup><i class="icon-external-link"></i></sup></a> ·
      <a ng-click="openExternal(EXTERNAL_URL.developers)">{{ 'DEVELOPERS' | translate }}<sup><i class="icon-external-link"></i></sup></a>
    </div>
  </div>
  <div class="modal-body" id="about" dir="ltr"><!-- XXX -->
    <div>
      <strong>{{ 'BETA' | translate }}</strong>
      <textarea readonly rows="4">{{ 'BETA_STATEMENT' | translate }}</textarea><!-- XXX remove this when we graduate from beta -->
      <p class="contributing-prompt">
        {{ 'VIEW_THE' | translate }}
        <a ng-click="openExternal(EXTERNAL_URL.getInvolved)">{{ 'GET_INVOLVED' | translate }}<sup><i class="icon-external-link"></i></sup></a>
        {{ 'GET_INVOLVED_CONTINUED' | translate }}
      </p>
    </div>
    <div>
      <strong>{{ 'PRIVACY' | translate }}</strong>
      <textarea readonly rows="3">{{ 'PRIVACY_STATEMENT' | translate }}</textarea>
    </div>
    <div>
      <strong>{{ 'LICENSE' | translate }}</strong>
      <textarea readonly rows="3">{{ 'LICENSE_STATEMENT' | translate }}</textarea>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" focus-on="show" ng-click="closeModal()">{{ 'CLOSE' | translate }}</button>
  </div>
</div>

<div ng-controller="UpdateAvailableCtrl" ng-show="show" modal="show" class="modal">
  <div class="modal-header">
    <h3>{{ 'UPDATE_AVAILABLE_TITLE' | translate }}</h3>
  </div>
  <div class="modal-body" id="updateAvailable">
    <p>{{ 'UPDATE_AVAILABLE_PROMPT' | translate }}</p>
    <details open id="latestDetails">
      <summary><span class="capitalize">{{ 'VERSION' | upper | translate }}</span> {{ model.version.latest | version:true }}</summary>
      <dl class="dl-horizontal">
        <dt>{{ 'RELEASED' | translate }}</dt>
        <!-- XXX include correct locale script from http://code.angularjs.org/1.0.8/i18n/ 
                 to properly localize this date string -->
        <dd><time>{{ model.version.latest.releaseDate | date:'longDate' }}</time>&nbsp;</dd>
        <dt ng-show="model.version.latest.infoUrl">{{ 'MORE_INFO' | translate }}</dt>
        <dd ng-show="model.version.latest.infoUrl" dir="ltr"><a title="{{model.version.latest.infoUrl}}" ng-click="openExternal(model.version.latest.infoUrl)">{{ model.version.latest.infoUrl }}</a></dd>
      </dl>
    </details>
    <p class="smaller indented">{{ 'UPDATE_AVAILABLE_PROMPT_RUNNING' | translate }}
      {{ 'VERSION' | translate }} {{ model.version.installed | version:true }},
      <!-- XXX include correct locale script from http://code.angularjs.org/1.0.8/i18n/ 
               to properly localize this date string -->
      {{ 'RELEASED' | translate }} <time>{{ model.version.installed.releaseDate | date:'longDate' }}.</time></p><!-- XXX i18n -->
    <br>
    <p class="indented bold">{{ 'UPDATE_PROMPT' | translate }}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" ng-click="interaction(INTERACTION.close)"
            tabindex="{{ show && 2 || '' }}">
      {{ 'CLOSE' | translate }}
    </button>
    <button type="button" class="btn btn-primary" ng-click="openExternal(model.version.latest.installerUrl)"
       focus-on="show" tabindex="{{ show && 1 || '' }}">
      {{ 'DOWNLOAD' | translate }}
    </button>
  </div>
</div>

<div ng-controller="SettingsCtrl" ng-show="wsConnected && currentModal == 'settings'" class="modal">
  <div class="modal-header">
    <h3>
      <i class="lsf-icon lsf-gear"></i>
      {{ 'SETTINGS' | translate }}
    </h3>
  </div>
  <div class="modal-body" id="settings">
    <dl class="dl-horizontal">
      <dt>{{ 'APP' | translate }}</dt>
      <dd id="app-settings">
        <label class="checkbox">
          <input type="checkbox" ng-model="model.settings.autoLaunch" focus-on="show" ng-change="changeAutoLaunch(model.settings.autoLaunch)">
          {{ 'AUTO_START' | translate }}
      </label>

        <label class="checkbox">
          <input type="checkbox" ng-model="model.settings.proxyAll" focus-on="show"
          ng-click="changeProxyAll(model.settings.proxyAll)">
          {{ 'PROXY_ALL_TRAFFIC' | translate }}
        </label>

        <div>
          <label class="checkbox">
            <input type="checkbox" ng-model="model.settings.autoReport" ng-change="changeReporting(model.settings.autoReport)">
            {{ 'AUTOREPORT_PROMPT' | translate }}
            <a ng-click="openExternal(EXTERNAL_URL.autoReportPrivacy)" class="more-info">
              {{ 'MORE_INFO' | translate }}<sup><i class="icon-external-link"></i></sup>
            </a>
          </label>
        </div>

        <div id="autoreport-warning" ng-show="!model.settings.autoReport">
          <i class="icon-exclamation-sign"></i>
          {{ 'NO_AUTOREPORT_WARNING' | translate }}
        </div>

      </dd>
    </dl>
  </div>
  <div class="modal-footer">
    <button type="button" id="settings-close" class="btn btn-primary" ng-click="closeModal()">{{ 'CLOSE' | translate }}</button>
  </div>
</div>
