
html,body{
  height:100%;
  margin:0;
  padding:0;
}

body{
  min-width:600px;
  min-height:420px;
  background-color: #E8E8E8;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 100%;
}

#vertical {
  position: absolute; 
  top: 6px;
  width: 100%;
  /*margin-top:-186px; half main elements height*/
  background-color: #E8E8E8;
}

#main {
  position: relative;
  margin-left: auto; margin-right: auto;
  min-width: 600px;
  min-height: 420px; 
  width: 600px;
  height: 420px; 
  background-color: #E8E8E8;
}
#logo {
  float: right;
  margin-right: 10px;
}
#body {
  clear: both;
  background-color: white;
  height: 100%;
  border-style:solid;
  border-color: #EFEFEF;
  border-width:8px;
}
#content {
/*
  border-width:16px;
  border-color:gray;
  */
  padding: 26px;
  background-color: white;
  color: #77787B;
  line-height: 1.5;
}
#spacer {
  background-color: #FCCF1C;
  height: 4px;
  width: 100%;
}

#lead {
  font-size: 80%; font-weight:bold; margin-bottom: 20px;
}

#title {
  font-size: 120%; font-weight:bold; margin-bottom: 4px; color: #525252;
}

#textBody {
  font-size: 80%; margin-top: 10px; margin-bottom: 4px;
}

.baseTop {
  font-size: 80%; margin-top: 10px;
}

#email, #pwd {
  width: 150px; 
  float: left; padding: 6px 10px 6px 10px;
  background: #ededed url(../img/bar-bg.png) repeat-x;
  margin-right:4px;
  /*
  border: 3px solid #c7c7c7;
  border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px;
  */
  font: italic 12px Georgia; color: #898989;
  outline: none; /*Remove Chrome and Safari glows on focus*/
}

#searchbar.active {
  background: #ebf3fc url(../img/bar-bg-active.png) repeat-x;
  border: 3px solid #abd2ff;
}

#contacts {
    padding: 6px;
}

.contactName {
    float:left;
    font-size: 80%;
}
.contactCheck {
    float:right;
}

.submit {
	font-size: 120%;
}

.bottomFormContainer {
    clear: both;
    position:relative;
    with:100%;
}

	
