<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title>{{ 'LANTERN' | translate }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lantern">
    <meta name="author" content="Team Lantern">

    <!-- uncomment this to use firebug lite
    <script src="http://getfirebug.com/releases/lite/1.2/firebug-lite-compressed.js"></script>
    -->
    <!-- build:css style/app.css -->
    <link href="bower_components/select2/select2.css" rel="stylesheet">
    <link href="_css/app.css" rel="stylesheet">
    <link href="bower_components/normalize.css/normalize.css" rel="stylesheet">
    <!-- endbuild -->

    <!-- build:js js/lib.js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jsonpatch/lib/jsonpatch.js"></script>
    <script src="bower_components/d3/d3.min.js"></script>
    <script src="bower_components/lodash/lodash.min.js"></script>
    <script src="bower_components/select2/select2.js"></script>
    <script src="bower_components/cssesc/cssesc.js"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-ui-utils/ui-utils.min.js"></script>
    <script src="bower_components/angular-websocket/angular-websocket.min.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.min.js"></script>
    <script src="lib/angular-ui-bootstrap-tpls.js"></script>

    <!-- we host a copy of google's analytics.js locally -->
    <script src="lib/analytics.js"></script>
    <!--<script src="bower_components/ui-bootstrap/src/tooltip/tooltip.js"></script>-->
    <!-- XXX see "XXX" in js/vis.js before switching to more recent topojson -->
    <script src="lib/topojson.js"></script>
    <!-- endbuild -->

    <!-- build:js2 js/app.js -->
    <script src="js/app.js"></script>
    <script src="js/constants.js"></script>
    <script src="js/helpers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <script src="js/vis.js"></script>
    <!-- endbuild -->

    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="icon" type="image/png" href="img/favicon.png">
  </head>
<!--[if lt IE 10]>
  <body>
          <p class="chromeframe">You are using an outdated browser. Please <a href="https://www.google.com/chrome/">upgrade your browser</a> and try again.</p>
  </body>
<![endif]-->
<!--[if (!IE)|(gte IE 10)]><!-->
  <body ng-controller="RootCtrl" ng-cloak lang="{{ lang }}" dir="{{ langDirection }}"
    ng-class="{showVis: model.showVis, getMode: inGetMode, giveMode: inGiveMode}">
    <div id="fb-root"></div>
    <div id="welcomescreen" ng-show="wsConnected && currentModal == 'welcome'" modal="show" class="modal" ng-cloak>
        <div class="modal-header">
            <h3 ng-if="!lanternWelcomeKey">
                {{ 'WELCOME_TO_LANTERN' | translate }}
            </h3>
        </div>
        <div class="modal-body">
          <div ng-controller="SettingsCtrl" ng-if="!lanternWelcomeKey">
            <p class="configure_system">
            {{'CONFIGURE_SYSTEM' | translate }}
            </p>
            <div id="app-settings">
              <label class="checkbox">
                  <input type="checkbox" ng-model="model.settings.autoLaunch" focus-on="show"
                  ng-click="changeAutoLaunch(model.settings.autoLaunch)">
                  {{ 'AUTO_START' | translate }}
              </label>

              <label class="checkbox">
                  <input type="checkbox" ng-model="model.settings.proxyAll" focus-on="show"
                  ng-click="changeProxyAll(model.settings.proxyAll)">
                  {{ 'PROXY_ALL_TRAFFIC' | translate }}
              </label>

              <div>
                  <label class="checkbox">
                      <input type="checkbox" ng-change="changeReporting(model.settings.autoReport)" ng-model="model.settings.autoReport">
                      {{ 'AUTOREPORT_PROMPT' | translate }}
                      <a ng-click="openExternal(EXTERNAL_URL.autoReportPrivacy)" class="more-info">
                          {{ 'MORE_INFO' | translate }}<sup><i class="icon-external-link"></i></sup>
                      </a>
                  </label>
              </div>

              <div id="autoreport-warning" ng-show="!model.settings.autoReport">
                <i class="icon-exclamation-sign"></i>
                {{ 'NO_AUTOREPORT_WARNING' | translate }}
              </div>

            </div>
          </div>
          <div ng-if="lanternWelcomeKey">
            <p> {{ 'NOW_ACCESS' | translate }} </p>
            <div class="logos">
              <div class="social-logo">
                <a href="https://facebook.com" target="_blank"><img src="../img/fb.png"></a>
                <div class="share-button">
                  <div class="fb-share-button" data-href="https://getlantern.org" data-layout="button_count"></div>
                </div>
              </div>
              <div class="social-logo">
                <a href="https://twitter.com" target="_blank"><img src="../img/twitter.png"></a>
                <div class="share-button">
                  <iframe
                    src="https://platform.twitter.com/widgets/tweet_button.html?&url=http%3A%2F%2Fgetlantern.org&via=getlantern&related=circumvention%2Ccensorship&text=I%27m%20using%20Lantern%20--%20an%20app%20for%20defeating%20Internet%20censorship"
                    width="140" title="Twitter Tweet Button" style="border: 0; overflow: hidden;">
                  </iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button id="continueFromWelcome" 
                type="button" class="btn btn-primary" 
                ng-click="closeModal()">{{ 'CONTINUE' | translate }}</button>
        </div>
    </div>

    <div id="waiting" ng-show="!wsConnected">
      <div ng-show="!backendIsGone">
        <div>{{ 'WAITING_FOR_LANTERN' | translate }}</div>
        <img src="img/spinner.gif">
      </div>
      <div ng-show="backendIsGone">
        <div>{{ 'LANTERN_GONE' | translate }}</div>
        <button type="button" class="btn btn-primary" onclick="window.close();">{{ 'CLOSE_WINDOW' | translate }}</button>
      </div>
    </div>
    <div ng-include src="'partials/topbar.html'"></div>
    <div ng-include src="'partials/modals.html'"></div>
    <div ng-include src="'partials/vis.html'" id="vis-container"></div>
    <div ng-include src="'partials/footer.html'"></div>
    <div ng-include src="'partials/developer.html'"></div>
  </body>
<!--<![endif]-->
</html>
