{
  "metadata":{
    "apiVersion":"2010-12-01",
    "endpointPrefix":"elasticbeanstalk",
    "serviceAbbreviation":"Elastic Beanstalk",
    "serviceFullName":"AWS Elastic Beanstalk",
    "signatureVersion":"v4",
    "xmlNamespace":"http://elasticbeanstalk.amazonaws.com/docs/2010-12-01/",
    "protocol":"query"
  },
  "documentation":"<fullname>AWS Elastic Beanstalk</fullname> <p> This is the AWS Elastic Beanstalk API Reference. This guide provides detailed information about AWS Elastic Beanstalk actions, data types, parameters, and errors. </p> <p>AWS Elastic Beanstalk is a tool that makes it easy for you to create, deploy, and manage scalable, fault-tolerant applications running on Amazon Web Services cloud resources. </p> <p> For more information about this product, go to the <a href=\"http://aws.amazon.com/elasticbeanstalk/\">AWS Elastic Beanstalk</a> details page. The location of the latest AWS Elastic Beanstalk WSDL is <a href=\"http://elasticbeanstalk.s3.amazonaws.com/doc/2010-12-01/AWSElasticBeanstalk.wsdl\">http://elasticbeanstalk.s3.amazonaws.com/doc/2010-12-01/AWSElasticBeanstalk.wsdl</a>. </p> <p><b>Endpoints</b></p> <p>For a list of region-specific endpoints that AWS Elastic Beanstalk supports, go to <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#elasticbeanstalk_region\">Regions and Endpoints</a> in the <i>Amazon Web Services Glossary</i>.</p>",
  "operations":{
    "CheckDNSAvailability":{
      "name":"CheckDNSAvailability",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CheckDNSAvailabilityMessage",
        "documentation":"<p>Results message indicating whether a CNAME is available.</p>"
      },
      "output":{
        "shape":"CheckDNSAvailabilityResultMessage",
        "documentation":"<p>Indicates if the specified CNAME is available.</p>",
        "resultWrapper":"CheckDNSAvailabilityResult"
      },
      "documentation":"<p> Checks if the specified CNAME is available. </p>"
    },
    "CreateApplication":{
      "name":"CreateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateApplicationMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "output":{
        "shape":"ApplicationDescriptionMessage",
        "documentation":"<p>Result message containing a single description of an application.</p>",
        "resultWrapper":"CreateApplicationResult"
      },
      "errors":[
        {
          "shape":"TooManyApplicationsException",
          "error":{
            "code":"TooManyApplicationsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The caller has exceeded the limit on the number of applications associated with their account.</p>"
        }
      ],
      "documentation":"<p> Creates an application that has one configuration template named <code>default</code> and no application versions. </p> <?oxy_delete author=\"brussard\" timestamp=\"20131024T142047-0700\" content=\"&lt;note&gt; The &lt;code&gt;default&lt;/code&gt; configuration template is for a 32-bit version of the Amazon Linux operating system running the Tomcat 6 application container. &lt;/note&gt;\">"
    },
    "CreateApplicationVersion":{
      "name":"CreateApplicationVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateApplicationVersionMessage",
        "documentation":"<p></p>"
      },
      "output":{
        "shape":"ApplicationVersionDescriptionMessage",
        "documentation":"<p> Result message wrapping a single description of an application version. </p>",
        "resultWrapper":"CreateApplicationVersionResult"
      },
      "errors":[
        {
          "shape":"TooManyApplicationsException",
          "error":{
            "code":"TooManyApplicationsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The caller has exceeded the limit on the number of applications associated with their account.</p>"
        },
        {
          "shape":"TooManyApplicationVersionsException",
          "exception":true,
          "documentation":"<p>The caller has exceeded the limit on the number of application versions associated with their account.</p>"
        },
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"S3LocationNotInServiceRegionException",
          "error":{
            "code":"S3LocationNotInServiceRegionException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified S3 bucket does not belong to the S3 region in which the service is running.</p>"
        }
      ],
      "documentation":"<p>Creates an application version for the specified application.</p>"
    },
    "CreateConfigurationTemplate":{
      "name":"CreateConfigurationTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateConfigurationTemplateMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "output":{
        "shape":"ConfigurationSettingsDescription",
        "documentation":"<p> Describes the settings for a configuration set. </p>",
        "resultWrapper":"CreateConfigurationTemplateResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"TooManyConfigurationTemplatesException",
          "error":{
            "code":"TooManyConfigurationTemplatesException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The caller has exceeded the limit on the number of configuration templates associated with their account.</p>"
        }
      ],
      "documentation":"<p>Creates a configuration template. Templates are associated with a specific application and are used to deploy different versions of the application with the same configuration settings.</p> <p>Related Topics</p> <ul> <li> <a>DescribeConfigurationOptions</a> </li> <li> <a>DescribeConfigurationSettings</a> </li> <li> <a>ListAvailableSolutionStacks</a> </li> </ul>"
    },
    "CreateEnvironment":{
      "name":"CreateEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateEnvironmentMessage",
        "documentation":"<p></p>"
      },
      "output":{
        "shape":"EnvironmentDescription",
        "documentation":"<p>Describes the properties of an environment.</p>",
        "resultWrapper":"CreateEnvironmentResult"
      },
      "errors":[
        {
          "shape":"TooManyEnvironmentsException",
          "error":{
            "code":"TooManyEnvironmentsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The caller has exceeded the limit of allowed environments associated with the account.</p>"
        },
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        }
      ],
      "documentation":"<p> Launches an environment for the specified application using the specified configuration. </p>"
    },
    "CreateStorageLocation":{
      "name":"CreateStorageLocation",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"CreateStorageLocationResultMessage",
        "documentation":"<p>Results of a <a>CreateStorageLocationResult</a> call.</p>",
        "resultWrapper":"CreateStorageLocationResult"
      },
      "errors":[
        {
          "shape":"TooManyBucketsException",
          "error":{
            "code":"TooManyBucketsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The web service attempted to create a bucket in an Amazon S3 account that already has 100 buckets.</p>"
        },
        {
          "shape":"S3SubscriptionRequiredException",
          "error":{
            "code":"S3SubscriptionRequiredException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The caller does not have a subscription to Amazon S3.</p>"
        },
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        }
      ],
      "documentation":"<p> Creates the Amazon S3 storage location for the account. </p> <p> This location is used to store user log files. </p>"
    },
    "DeleteApplication":{
      "name":"DeleteApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteApplicationMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "errors":[
        {
          "shape":"OperationInProgressException",
          "error":{
            "code":"OperationInProgressFailure",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because another operation is already in progress affecting an an element in this activity.</p>"
        }
      ],
      "documentation":"<p> Deletes the specified application along with all associated versions and configurations. The application versions will not be deleted from your Amazon S3 bucket. </p>"
    },
    "DeleteApplicationVersion":{
      "name":"DeleteApplicationVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteApplicationVersionMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "errors":[
        {
          "shape":"SourceBundleDeletionException",
          "error":{
            "code":"SourceBundleDeletionFailure",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to delete the Amazon S3 source bundle associated with the application version, although the application version deleted successfully.</p>"
        },
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        },
        {
          "shape":"OperationInProgressException",
          "error":{
            "code":"OperationInProgressFailure",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because another operation is already in progress affecting an an element in this activity.</p>"
        },
        {
          "shape":"S3LocationNotInServiceRegionException",
          "error":{
            "code":"S3LocationNotInServiceRegionException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The specified S3 bucket does not belong to the S3 region in which the service is running.</p>"
        }
      ],
      "documentation":"<p> Deletes the specified version from the specified application. </p>"
    },
    "DeleteConfigurationTemplate":{
      "name":"DeleteConfigurationTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteConfigurationTemplateMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "errors":[
        {
          "shape":"OperationInProgressException",
          "error":{
            "code":"OperationInProgressFailure",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because another operation is already in progress affecting an an element in this activity.</p>"
        }
      ],
      "documentation":"<p>Deletes the specified configuration template.</p>"
    },
    "DeleteEnvironmentConfiguration":{
      "name":"DeleteEnvironmentConfiguration",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteEnvironmentConfigurationMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "documentation":"<p> Deletes the draft configuration associated with the running environment. </p> <p> Updating a running environment with any configuration changes creates a draft configuration set. You can get the draft configuration using <a>DescribeConfigurationSettings</a> while the update is in progress or if the update fails. The <code>DeploymentStatus</code> for the draft configuration indicates whether the deployment is in process or has failed. The draft configuration remains in existence until it is deleted with this action. </p>"
    },
    "DescribeApplicationVersions":{
      "name":"DescribeApplicationVersions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeApplicationVersionsMessage",
        "documentation":"<p>Result message containing a list of configuration descriptions.</p>"
      },
      "output":{
        "shape":"ApplicationVersionDescriptionsMessage",
        "documentation":"<p>Result message wrapping a list of application version descriptions.</p>",
        "resultWrapper":"DescribeApplicationVersionsResult"
      },
      "documentation":"<p>Returns descriptions for existing application versions.</p>"
    },
    "DescribeApplications":{
      "name":"DescribeApplications",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeApplicationsMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "output":{
        "shape":"ApplicationDescriptionsMessage",
        "documentation":"<p>Result message containing a list of application descriptions.</p>",
        "resultWrapper":"DescribeApplicationsResult"
      },
      "documentation":"<p>Returns the descriptions of existing applications.</p>"
    },
    "DescribeConfigurationOptions":{
      "name":"DescribeConfigurationOptions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeConfigurationOptionsMessage",
        "documentation":"<p>Result message containig a list of application version descriptions. </p>"
      },
      "output":{
        "shape":"ConfigurationOptionsDescription",
        "documentation":"<p>Describes the settings for a specified configuration set.</p>",
        "resultWrapper":"DescribeConfigurationOptionsResult"
      },
      "documentation":"<p> Describes the configuration options that are used in a particular configuration template or environment, or that a specified solution stack defines. The description includes the values the options, their default values, and an indication of the required action on a running environment if an option value is changed. </p>"
    },
    "DescribeConfigurationSettings":{
      "name":"DescribeConfigurationSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeConfigurationSettingsMessage",
        "documentation":"<p>Result message containing all of the configuration settings for a specified solution stack or configuration template.</p>"
      },
      "output":{
        "shape":"ConfigurationSettingsDescriptions",
        "documentation":"<p>The results from a request to change the configuration settings of an environment.</p>",
        "resultWrapper":"DescribeConfigurationSettingsResult"
      },
      "documentation":"<p> Returns a description of the settings for the specified configuration set, that is, either a configuration template or the configuration set associated with a running environment. </p> <p> When describing the settings for the configuration set associated with a running environment, it is possible to receive two sets of setting descriptions. One is the deployed configuration set, and the other is a draft configuration of an environment that is either in the process of deployment or that failed to deploy. </p> <p>Related Topics</p> <ul> <li> <a>DeleteEnvironmentConfiguration</a> </li> </ul>"
    },
    "DescribeEnvironmentResources":{
      "name":"DescribeEnvironmentResources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeEnvironmentResourcesMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "output":{
        "shape":"EnvironmentResourceDescriptionsMessage",
        "documentation":"<p>Result message containing a list of environment resource descriptions. </p>",
        "resultWrapper":"DescribeEnvironmentResourcesResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        }
      ],
      "documentation":"<p>Returns AWS resources for this environment.</p>"
    },
    "DescribeEnvironments":{
      "name":"DescribeEnvironments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeEnvironmentsMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "output":{
        "shape":"EnvironmentDescriptionsMessage",
        "documentation":"<p>Result message containing a list of environment descriptions.</p>",
        "resultWrapper":"DescribeEnvironmentsResult"
      },
      "documentation":"<p>Returns descriptions for existing environments.</p>"
    },
    "DescribeEvents":{
      "name":"DescribeEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeEventsMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "output":{
        "shape":"EventDescriptionsMessage",
        "documentation":"<p>Result message wrapping a list of event descriptions.</p>",
        "resultWrapper":"DescribeEventsResult"
      },
      "documentation":"<p>Returns list of event descriptions matching criteria up to the last 6 weeks.</p>"
    },
    "ListAvailableSolutionStacks":{
      "name":"ListAvailableSolutionStacks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"ListAvailableSolutionStacksResultMessage",
        "documentation":"<p>A list of available AWS Elastic Beanstalk solution stacks. </p>",
        "resultWrapper":"ListAvailableSolutionStacksResult"
      },
      "documentation":"<p> Returns a list of the available solution stack names. </p>"
    },
    "RebuildEnvironment":{
      "name":"RebuildEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"RebuildEnvironmentMessage",
        "documentation":"<p></p>"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        }
      ],
      "documentation":"<p> Deletes and recreates all of the AWS resources (for example: the Auto Scaling group, load balancer, etc.) for a specified environment and forces a restart. </p>"
    },
    "RequestEnvironmentInfo":{
      "name":"RequestEnvironmentInfo",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"RequestEnvironmentInfoMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "documentation":"<p> Initiates a request to compile the specified type of information of the deployed environment. </p> <p> Setting the <code>InfoType</code> to <code>tail</code> compiles the last lines from the application server log files of every Amazon EC2 instance in your environment. Use <a>RetrieveEnvironmentInfo</a> to access the compiled information. </p> <p>Related Topics</p> <ul> <li> <a>RetrieveEnvironmentInfo</a> </li> </ul>"
    },
    "RestartAppServer":{
      "name":"RestartAppServer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"RestartAppServerMessage",
        "documentation":"<p></p>"
      },
      "documentation":"<p> Causes the environment to restart the application container server running on each Amazon EC2 instance. </p>"
    },
    "RetrieveEnvironmentInfo":{
      "name":"RetrieveEnvironmentInfo",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"RetrieveEnvironmentInfoMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "output":{
        "shape":"RetrieveEnvironmentInfoResultMessage",
        "documentation":"<p>Result message containing a description of the requested environment info.</p>",
        "resultWrapper":"RetrieveEnvironmentInfoResult"
      },
      "documentation":"<p> Retrieves the compiled information from a <a>RequestEnvironmentInfo</a> request. </p> <p>Related Topics</p> <ul> <li> <a>RequestEnvironmentInfo</a> </li> </ul>"
    },
    "SwapEnvironmentCNAMEs":{
      "name":"SwapEnvironmentCNAMEs",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"SwapEnvironmentCNAMEsMessage",
        "documentation":"<p></p>"
      },
      "documentation":"<p> Swaps the CNAMEs of two environments. </p>"
    },
    "TerminateEnvironment":{
      "name":"TerminateEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"TerminateEnvironmentMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "output":{
        "shape":"EnvironmentDescription",
        "documentation":"<p>Describes the properties of an environment.</p>",
        "resultWrapper":"TerminateEnvironmentResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        }
      ],
      "documentation":"<p> Terminates the specified environment. </p>"
    },
    "UpdateApplication":{
      "name":"UpdateApplication",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateApplicationMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "output":{
        "shape":"ApplicationDescriptionMessage",
        "documentation":"<p>Result message containing a single description of an application.</p>",
        "resultWrapper":"UpdateApplicationResult"
      },
      "documentation":"<p>Updates the specified application to have the specified properties. </p>"
    },
    "UpdateApplicationVersion":{
      "name":"UpdateApplicationVersion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateApplicationVersionMessage",
        "documentation":"<p></p>"
      },
      "output":{
        "shape":"ApplicationVersionDescriptionMessage",
        "documentation":"<p> Result message wrapping a single description of an application version. </p>",
        "resultWrapper":"UpdateApplicationVersionResult"
      },
      "documentation":"<p> Updates the specified application version to have the specified properties. </p>"
    },
    "UpdateConfigurationTemplate":{
      "name":"UpdateConfigurationTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateConfigurationTemplateMessage",
        "documentation":"<p>The result message containing the options for the specified solution stack.</p>"
      },
      "output":{
        "shape":"ConfigurationSettingsDescription",
        "documentation":"<p> Describes the settings for a configuration set. </p>",
        "resultWrapper":"UpdateConfigurationTemplateResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        }
      ],
      "documentation":"<p> Updates the specified configuration template to have the specified properties or configuration option values. </p> <p>Related Topics</p> <ul> <li> <a>DescribeConfigurationOptions</a> </li> </ul>"
    },
    "UpdateEnvironment":{
      "name":"UpdateEnvironment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateEnvironmentMessage",
        "documentation":"<p>This documentation target is not reported in the API reference.</p>"
      },
      "output":{
        "shape":"EnvironmentDescription",
        "documentation":"<p>Describes the properties of an environment.</p>",
        "resultWrapper":"UpdateEnvironmentResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        }
      ],
      "documentation":"<p> Updates the environment description, deploys a new application version, updates the configuration settings to an entirely new configuration template, or updates select configuration option values in the running environment. </p> <p> Attempting to update both the release and configuration is not allowed and AWS Elastic Beanstalk returns an <code>InvalidParameterCombination</code> error. </p> <p> When updating the configuration settings to a new template or individual settings, a draft configuration is created and <a>DescribeConfigurationSettings</a> for this environment returns two setting descriptions with different <code>DeploymentStatus</code> values. </p>"
    },
    "ValidateConfigurationSettings":{
      "name":"ValidateConfigurationSettings",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ValidateConfigurationSettingsMessage",
        "documentation":"<p>A list of validation messages for a specified configuration template. </p>"
      },
      "output":{
        "shape":"ConfigurationSettingsValidationMessages",
        "documentation":"<p>Provides a list of validation messages.</p>",
        "resultWrapper":"ValidateConfigurationSettingsResult"
      },
      "errors":[
        {
          "shape":"InsufficientPrivilegesException",
          "error":{
            "code":"InsufficientPrivilegesException",
            "httpStatusCode":403,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
        }
      ],
      "documentation":"<p> Takes a set of configuration settings and either a configuration template or environment, and determines whether those values are valid. </p> <p> This action returns a list of messages indicating any errors or warnings associated with the selection of option values. </p>"
    }
  },
  "shapes":{
    "ApplicationDescription":{
      "type":"structure",
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the application.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>User-defined description of the application.</p>"
        },
        "DateCreated":{
          "shape":"CreationDate",
          "documentation":"<p>The date when the application was created.</p>"
        },
        "DateUpdated":{
          "shape":"UpdateDate",
          "documentation":"<p>The date when the application was last modified.</p>"
        },
        "Versions":{
          "shape":"VersionLabelsList",
          "documentation":"<p>The names of the versions for this application.</p>"
        },
        "ConfigurationTemplates":{
          "shape":"ConfigurationTemplateNamesList",
          "documentation":"<p> The names of the configuration templates associated with this application. </p>"
        }
      },
      "documentation":"<p>Describes the properties of an application.</p>"
    },
    "ApplicationDescriptionList":{
      "type":"list",
      "member":{"shape":"ApplicationDescription"}
    },
    "ApplicationDescriptionMessage":{
      "type":"structure",
      "members":{
        "Application":{
          "shape":"ApplicationDescription",
          "documentation":"<p> The <a>ApplicationDescription</a> of the application. </p>"
        }
      },
      "documentation":"<p>Result message containing a single description of an application.</p>"
    },
    "ApplicationDescriptionsMessage":{
      "type":"structure",
      "members":{
        "Applications":{
          "shape":"ApplicationDescriptionList",
          "documentation":"<p> This parameter contains a list of <a>ApplicationDescription</a>. </p>"
        }
      },
      "documentation":"<p>Result message containing a list of application descriptions.</p>"
    },
    "ApplicationName":{
      "type":"string",
      "min":1,
      "max":100
    },
    "ApplicationNamesList":{
      "type":"list",
      "member":{"shape":"ApplicationName"}
    },
    "ApplicationVersionDescription":{
      "type":"structure",
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the application associated with this release.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>The description of this application version.</p>"
        },
        "VersionLabel":{
          "shape":"VersionLabel",
          "documentation":"<p> A label uniquely identifying the version for the associated application. </p>"
        },
        "SourceBundle":{
          "shape":"S3Location",
          "documentation":"<p> The location where the source bundle is located for this version. </p>"
        },
        "DateCreated":{
          "shape":"CreationDate",
          "documentation":"<p>The creation date of the application version.</p>"
        },
        "DateUpdated":{
          "shape":"UpdateDate",
          "documentation":"<p>The last modified date of the application version.</p>"
        }
      },
      "documentation":"<p> Describes the properties of an application version. </p>"
    },
    "ApplicationVersionDescriptionList":{
      "type":"list",
      "member":{"shape":"ApplicationVersionDescription"}
    },
    "ApplicationVersionDescriptionMessage":{
      "type":"structure",
      "members":{
        "ApplicationVersion":{
          "shape":"ApplicationVersionDescription",
          "documentation":"<p> The <a>ApplicationVersionDescription</a> of the application version. </p>"
        }
      },
      "documentation":"<p> Result message wrapping a single description of an application version. </p>"
    },
    "ApplicationVersionDescriptionsMessage":{
      "type":"structure",
      "members":{
        "ApplicationVersions":{
          "shape":"ApplicationVersionDescriptionList",
          "documentation":"<p> A list of <a>ApplicationVersionDescription</a> . </p>"
        }
      },
      "documentation":"<p>Result message wrapping a list of application version descriptions.</p>"
    },
    "AutoCreateApplication":{"type":"boolean"},
    "AutoScalingGroup":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"ResourceId",
          "documentation":"<p> The name of the <code>AutoScalingGroup</code> . </p>"
        }
      },
      "documentation":"<p> Describes an Auto Scaling launch configuration. </p>"
    },
    "AutoScalingGroupList":{
      "type":"list",
      "member":{"shape":"AutoScalingGroup"}
    },
    "AvailableSolutionStackDetailsList":{
      "type":"list",
      "member":{"shape":"SolutionStackDescription"}
    },
    "AvailableSolutionStackNamesList":{
      "type":"list",
      "member":{"shape":"SolutionStackName"}
    },
    "CheckDNSAvailabilityMessage":{
      "type":"structure",
      "required":["CNAMEPrefix"],
      "members":{
        "CNAMEPrefix":{
          "shape":"DNSCnamePrefix",
          "documentation":"<p> The prefix used when this CNAME is reserved. </p>"
        }
      },
      "documentation":"<p>Results message indicating whether a CNAME is available.</p>"
    },
    "CheckDNSAvailabilityResultMessage":{
      "type":"structure",
      "members":{
        "Available":{
          "shape":"CnameAvailability",
          "documentation":"<p> Indicates if the specified CNAME is available: </p> <enumValues> <value name=\"true\"> <p> <code>true</code> : The CNAME is available. </p> </value> <value name=\"false\"> <p> <code>true</code> : The CNAME is not available. </p> </value> </enumValues> <p> <ul> <li> <code>true</code> : The CNAME is available. </li> <li> <code>false</code> : The CNAME is not available. </li> </ul> </p>"
        },
        "FullyQualifiedCNAME":{
          "shape":"DNSCname",
          "documentation":"<p>The fully qualified CNAME to reserve when <a>CreateEnvironment</a> is called with the provided prefix.</p>"
        }
      },
      "documentation":"<p>Indicates if the specified CNAME is available.</p>"
    },
    "CnameAvailability":{"type":"boolean"},
    "ConfigurationDeploymentStatus":{
      "type":"string",
      "enum":[
        "deployed",
        "pending",
        "failed"
      ]
    },
    "ConfigurationOptionDefaultValue":{"type":"string"},
    "ConfigurationOptionDescription":{
      "type":"structure",
      "members":{
        "Namespace":{
          "shape":"OptionNamespace",
          "documentation":"<p> A unique namespace identifying the option's associated AWS resource. </p>"
        },
        "Name":{
          "shape":"ConfigurationOptionName",
          "documentation":"<p> The name of the configuration option. </p>"
        },
        "DefaultValue":{
          "shape":"ConfigurationOptionDefaultValue",
          "documentation":"<p> The default value for this configuration option. </p>"
        },
        "ChangeSeverity":{
          "shape":"ConfigurationOptionSeverity",
          "documentation":"<p> An indication of which action is required if the value for this configuration option changes: </p> <enumValues> <value name=\"NoInterruption\"> <p> NoInterruption - There is no interruption to the environment or application availability. </p> </value> <value name=\"RestartEnvironment\"> <p> RestartEnvironment - The environment is restarted, all AWS resources are deleted and recreated, and the environment is unavailable during the process. </p> </value> <value name=\"RestartApplicationServer\"> <p> RestartApplicationServer - The environment is available the entire time. However, a short application outage occurs when the application servers on the running Amazon EC2 instances are restarted. </p> </value> </enumValues> <ul> <li> <code>NoInterruption</code> : There is no interruption to the environment or application availability. </li> <li> <code>RestartEnvironment</code> : The environment is entirely restarted, all AWS resources are deleted and recreated, and the environment is unavailable during the process. </li> <li> <code>RestartApplicationServer</code> : The environment is available the entire time. However, a short application outage occurs when the application servers on the running Amazon EC2 instances are restarted. </li> </ul>"
        },
        "UserDefined":{
          "shape":"UserDefinedOption",
          "documentation":"<p> An indication of whether the user defined this configuration option: </p> <enumValues> <value name=\"true\"> <p> <code>true</code> : This configuration option was defined by the user. It is a valid choice for specifying this as an Option to Remove when updating configuration settings. </p> </value> <value name=\"false\"> <p> <code>false</code> : This configuration was not defined by the user. </p> </value> </enumValues> <ul> <li> <p> <code>true</code> : This configuration option was defined by the user. It is a valid choice for specifying if this as an <code>Option to Remove</code> when updating configuration settings. </p> </li> <li> <code>false</code> : This configuration was not defined by the user. </li> </ul> <p> Constraint: You can remove only <code>UserDefined</code> options from a configuration. </p> <p> Valid Values: <code>true</code> | <code>false</code></p>"
        },
        "ValueType":{
          "shape":"ConfigurationOptionValueType",
          "documentation":"<p> An indication of which type of values this option has and whether it is allowable to select one or more than one of the possible values: </p> <enumValues> <value name=\"Scalar\"> <p> <code>Scalar</code> : Values for this option are a single selection from the possible values, or a unformatted string or numeric value governed by the MIN/MAX/Regex constraints: </p> </value> <value name=\"List\"> <p> <code>List</code> : Values for this option are multiple selections of the possible values. </p> </value> <value name=\"Boolean\"> <p> <code>Boolean</code> : Values for this option are either <code>true</code> or <code>false</code> . </p> </value> </enumValues> <p> <ul> <li> <code>Scalar</code> : Values for this option are a single selection from the possible values, or an unformatted string, or numeric value governed by the <code>MIN/MAX/Regex</code> constraints. </li> <li> <code>List</code> : Values for this option are multiple selections from the possible values. </li> <li> <code>Boolean</code> : Values for this option are either <code>true</code> or <code>false</code> . </li> </ul> </p>"
        },
        "ValueOptions":{
          "shape":"ConfigurationOptionPossibleValues",
          "documentation":"<p> If specified, values for the configuration option are selected from this list. </p>"
        },
        "MinValue":{
          "shape":"OptionRestrictionMinValue",
          "documentation":"<p> If specified, the configuration option must be a numeric value greater than this value. </p>"
        },
        "MaxValue":{
          "shape":"OptionRestrictionMaxValue",
          "documentation":"<p> If specified, the configuration option must be a numeric value less than this value. </p>"
        },
        "MaxLength":{
          "shape":"OptionRestrictionMaxLength",
          "documentation":"<p> If specified, the configuration option must be a string value no longer than this value. </p>"
        },
        "Regex":{
          "shape":"OptionRestrictionRegex",
          "documentation":"<p> If specified, the configuration option must be a string value that satisfies this regular expression. </p>"
        }
      },
      "documentation":"<p> Describes the possible values for a configuration option. </p>"
    },
    "ConfigurationOptionDescriptionsList":{
      "type":"list",
      "member":{"shape":"ConfigurationOptionDescription"}
    },
    "ConfigurationOptionName":{"type":"string"},
    "ConfigurationOptionPossibleValue":{"type":"string"},
    "ConfigurationOptionPossibleValues":{
      "type":"list",
      "member":{"shape":"ConfigurationOptionPossibleValue"}
    },
    "ConfigurationOptionSetting":{
      "type":"structure",
      "members":{
        "Namespace":{
          "shape":"OptionNamespace",
          "documentation":"<p> A unique namespace identifying the option's associated AWS resource. </p>"
        },
        "OptionName":{
          "shape":"ConfigurationOptionName",
          "documentation":"<p> The name of the configuration option. </p>"
        },
        "Value":{
          "shape":"ConfigurationOptionValue",
          "documentation":"<p> The current value for the configuration option. </p>"
        }
      },
      "documentation":"<p> A specification identifying an individual configuration option along with its current value. For a list of possible option values, go to <a href=\"http://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options.html\">Option Values</a> in the <i>AWS Elastic Beanstalk Developer Guide</i>. </p>"
    },
    "ConfigurationOptionSettingsList":{
      "type":"list",
      "member":{"shape":"ConfigurationOptionSetting"}
    },
    "ConfigurationOptionSeverity":{"type":"string"},
    "ConfigurationOptionValue":{"type":"string"},
    "ConfigurationOptionValueType":{
      "type":"string",
      "enum":[
        "Scalar",
        "List"
      ]
    },
    "ConfigurationOptionsDescription":{
      "type":"structure",
      "members":{
        "SolutionStackName":{
          "shape":"SolutionStackName",
          "documentation":"<p> The name of the solution stack these configuration options belong to. </p>"
        },
        "Options":{
          "shape":"ConfigurationOptionDescriptionsList",
          "documentation":"<p> A list of <a>ConfigurationOptionDescription</a>. </p>"
        }
      },
      "documentation":"<p>Describes the settings for a specified configuration set.</p>"
    },
    "ConfigurationSettingsDescription":{
      "type":"structure",
      "members":{
        "SolutionStackName":{
          "shape":"SolutionStackName",
          "documentation":"<p> The name of the solution stack this configuration set uses. </p>"
        },
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p> The name of the application associated with this configuration set. </p>"
        },
        "TemplateName":{
          "shape":"ConfigurationTemplateName",
          "documentation":"<p> If not <code>null</code>, the name of the configuration template for this configuration set. </p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p> Describes this configuration set. </p>"
        },
        "EnvironmentName":{
          "shape":"EnvironmentName",
          "documentation":"<p> If not <code>null</code>, the name of the environment for this configuration set. </p>"
        },
        "DeploymentStatus":{
          "shape":"ConfigurationDeploymentStatus",
          "documentation":"<p> If this configuration set is associated with an environment, the <code>DeploymentStatus</code> parameter indicates the deployment status of this configuration set: </p> <enumValues> <value name=\"null\"> <p> <code>null</code>: This configuration is not associated with a running environment. </p> </value> <value name=\"pending\"> <p> <code>pending</code>: This is a draft configuration that is not deployed to the associated environment but is in the process of deploying. </p> </value> <value name=\"deployed\"> <p> <code>deployed</code>: This is the configuration that is currently deployed to the associated running environment. </p> </value> <value name=\"failed\"> <p> <code>failed</code>: This is a draft configuration, that failed to successfully deploy. </p> </value> </enumValues> <ul> <li> <code>null</code>: This configuration is not associated with a running environment. </li> <li> <code>pending</code>: This is a draft configuration that is not deployed to the associated environment but is in the process of deploying. </li> <li> <code>deployed</code>: This is the configuration that is currently deployed to the associated running environment. </li> <li> <code>failed</code>: This is a draft configuration that failed to successfully deploy. </li> </ul>"
        },
        "DateCreated":{
          "shape":"CreationDate",
          "documentation":"<p> The date (in UTC time) when this configuration set was created. </p>"
        },
        "DateUpdated":{
          "shape":"UpdateDate",
          "documentation":"<p> The date (in UTC time) when this configuration set was last modified. </p>"
        },
        "OptionSettings":{
          "shape":"ConfigurationOptionSettingsList",
          "documentation":"<p> A list of the configuration options and their values in this configuration set. </p>"
        }
      },
      "documentation":"<p> Describes the settings for a configuration set. </p>"
    },
    "ConfigurationSettingsDescriptionList":{
      "type":"list",
      "member":{"shape":"ConfigurationSettingsDescription"}
    },
    "ConfigurationSettingsDescriptions":{
      "type":"structure",
      "members":{
        "ConfigurationSettings":{
          "shape":"ConfigurationSettingsDescriptionList",
          "documentation":"<p> A list of <a>ConfigurationSettingsDescription</a>. </p>"
        }
      },
      "documentation":"<p>The results from a request to change the configuration settings of an environment.</p>"
    },
    "ConfigurationSettingsValidationMessages":{
      "type":"structure",
      "members":{
        "Messages":{
          "shape":"ValidationMessagesList",
          "documentation":"<p> A list of <a>ValidationMessage</a>. </p>"
        }
      },
      "documentation":"<p>Provides a list of validation messages.</p>"
    },
    "ConfigurationTemplateName":{
      "type":"string",
      "min":1,
      "max":100
    },
    "ConfigurationTemplateNamesList":{
      "type":"list",
      "member":{"shape":"ConfigurationTemplateName"}
    },
    "CreateApplicationMessage":{
      "type":"structure",
      "required":["ApplicationName"],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the application.</p> <p> Constraint: This name must be unique within your account. If the specified name already exists, the action returns an <code>InvalidParameterValue</code> error. </p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>Describes the application.</p>"
        }
      },
      "documentation":"<p>This documentation target is not reported in the API reference.</p>"
    },
    "CreateApplicationVersionMessage":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "VersionLabel"
      ],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p> The name of the application. If no application is found with this name, and <code>AutoCreateApplication</code> is <code>false</code>, returns an <code>InvalidParameterValue</code> error. </p>"
        },
        "VersionLabel":{
          "shape":"VersionLabel",
          "documentation":"<p>A label identifying this version.</p> <p>Constraint: Must be unique per application. If an application version already exists with this label for the specified application, AWS Elastic Beanstalk returns an <code>InvalidParameterValue</code> error. </p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>Describes this version.</p>"
        },
        "SourceBundle":{
          "shape":"S3Location",
          "documentation":"<p> The Amazon S3 bucket and key that identify the location of the source bundle for this version. </p> <p> If data found at the Amazon S3 location exceeds the maximum allowed source bundle size, AWS Elastic Beanstalk returns an <code>InvalidParameterValue</code> error. The maximum size allowed is 512 MB. </p> <p>Default: If not specified, AWS Elastic Beanstalk uses a sample application. If only partially specified (for example, a bucket is provided but not the key) or if no data is found at the Amazon S3 location, AWS Elastic Beanstalk returns an <code>InvalidParameterCombination</code> error. </p>"
        },
        "AutoCreateApplication":{
          "shape":"AutoCreateApplication",
          "documentation":"<p> Determines how the system behaves if the specified application for this version does not already exist: </p> <enumValues> <value name=\"true\"> <p> <code>true</code>: Automatically creates the specified application for this version if it does not already exist. </p> </value> <value name=\"false\"> <p> <code>false</code>: Returns an <code>InvalidParameterValue</code> if the specified application for this version does not already exist. </p> </value> </enumValues> <ul> <li> <code>true</code> : Automatically creates the specified application for this release if it does not already exist. </li> <li> <code>false</code> : Throws an <code>InvalidParameterValue</code> if the specified application for this release does not already exist. </li> </ul> <p> Default: <code>false</code> </p> <p> Valid Values: <code>true</code> | <code>false</code> </p>"
        }
      },
      "documentation":"<p></p>"
    },
    "CreateConfigurationTemplateMessage":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "TemplateName"
      ],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p> The name of the application to associate with this configuration template. If no application is found with this name, AWS Elastic Beanstalk returns an <code>InvalidParameterValue</code> error. </p>"
        },
        "TemplateName":{
          "shape":"ConfigurationTemplateName",
          "documentation":"<p>The name of the configuration template.</p> <p>Constraint: This name must be unique per application. </p> <p>Default: If a configuration template already exists with this name, AWS Elastic Beanstalk returns an <code>InvalidParameterValue</code> error. </p>"
        },
        "SolutionStackName":{
          "shape":"SolutionStackName",
          "documentation":"<p>The name of the solution stack used by this configuration. The solution stack specifies the operating system, architecture, and application server for a configuration template. It determines the set of configuration options as well as the possible and default values. </p> <p> Use <a>ListAvailableSolutionStacks</a> to obtain a list of available solution stacks. </p> <p> A solution stack name or a source configuration parameter must be specified, otherwise AWS Elastic Beanstalk returns an <code>InvalidParameterValue</code> error. </p> <p> If a solution stack name is not specified and the source configuration parameter is specified, AWS Elastic Beanstalk uses the same solution stack as the source configuration template. </p>"
        },
        "SourceConfiguration":{
          "shape":"SourceConfiguration",
          "documentation":"<p> If specified, AWS Elastic Beanstalk uses the configuration values from the specified configuration template to create a new configuration. </p> <p> Values specified in the <code>OptionSettings</code> parameter of this call overrides any values obtained from the <code>SourceConfiguration</code>. </p> <p> If no configuration template is found, returns an <code>InvalidParameterValue</code> error. </p> <p> Constraint: If both the solution stack name parameter and the source configuration parameters are specified, the solution stack of the source configuration template must match the specified solution stack name or else AWS Elastic Beanstalk returns an <code>InvalidParameterCombination</code> error. </p>"
        },
        "EnvironmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p> The ID of the environment used with this configuration template. </p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>Describes this configuration.</p>"
        },
        "OptionSettings":{
          "shape":"ConfigurationOptionSettingsList",
          "documentation":"<p> If specified, AWS Elastic Beanstalk sets the specified configuration option to the requested value. The new value overrides the value obtained from the solution stack or the source configuration template. </p>"
        }
      },
      "documentation":"<p>This documentation target is not reported in the API reference.</p>"
    },
    "CreateEnvironmentMessage":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "EnvironmentName"
      ],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p> The name of the application that contains the version to be deployed. </p> <p> If no application is found with this name, <code>CreateEnvironment</code> returns an <code>InvalidParameterValue</code> error. </p>"
        },
        "EnvironmentName":{
          "shape":"EnvironmentName",
          "documentation":"<p> A unique name for the deployment environment. Used in the application URL. </p> <p>Constraint: Must be from 4 to 23 characters in length. The name can contain only letters, numbers, and hyphens. It cannot start or end with a hyphen. This name must be unique in your account. If the specified name already exists, AWS Elastic Beanstalk returns an <code>InvalidParameterValue</code> error. </p> <p>Default: If the CNAME parameter is not specified, the environment name becomes part of the CNAME, and therefore part of the visible URL for your application.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>Describes this environment.</p>"
        },
        "CNAMEPrefix":{
          "shape":"DNSCnamePrefix",
          "documentation":"<p> If specified, the environment attempts to use this value as the prefix for the CNAME. If not specified, the CNAME is generated automatically by appending a random alphanumeric string to the environment name. </p>"
        },
        "Tier":{
          "shape":"EnvironmentTier",
          "documentation":"<p> This specifies the tier to use for creating this environment. </p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p> This specifies the tags applied to resources in the environment. </p>"
        },
        "VersionLabel":{
          "shape":"VersionLabel",
          "documentation":"<p>The name of the application version to deploy.</p> <p> If the specified application has no associated application versions, AWS Elastic Beanstalk <code>UpdateEnvironment</code> returns an <code>InvalidParameterValue</code> error. </p> <p> Default: If not specified, AWS Elastic Beanstalk attempts to launch the <?oxy_delete author=\"brussard\" timestamp=\"20131030T145730-0700\" content=\"most recently created application version\"><?oxy_insert_start author=\"brussard\" timestamp=\"20131030T145730-0700\">sample application in the container<?oxy_insert_end>. </p>"
        },
        "TemplateName":{
          "shape":"ConfigurationTemplateName",
          "documentation":"<p> The name of the configuration template to use in deployment. If no configuration template is found with this name, AWS Elastic Beanstalk returns an <code>InvalidParameterValue</code> error. </p> <p> Condition: You must specify either this parameter or a <code>SolutionStackName</code>, but not both. If you specify both, AWS Elastic Beanstalk returns an <code>InvalidParameterCombination</code> error. If you do not specify either, AWS Elastic Beanstalk returns a <code>MissingRequiredParameter</code> error. </p>"
        },
        "SolutionStackName":{
          "shape":"SolutionStackName",
          "documentation":"<p> This is an alternative to specifying a configuration name. If specified, AWS Elastic Beanstalk sets the configuration values to the default values associated with the specified solution stack. </p> <p> Condition: You must specify either this or a <code>TemplateName</code>, but not both. If you specify both, AWS Elastic Beanstalk returns an <code>InvalidParameterCombination</code> error. If you do not specify either, AWS Elastic Beanstalk returns a <code>MissingRequiredParameter</code> error. </p>"
        },
        "OptionSettings":{
          "shape":"ConfigurationOptionSettingsList",
          "documentation":"<p> If specified, AWS Elastic Beanstalk sets the specified configuration options to the requested value in the configuration set for the new environment. These override the values obtained from the solution stack or the configuration template. </p>"
        },
        "OptionsToRemove":{
          "shape":"OptionsSpecifierList",
          "documentation":"<p> A list of custom user-defined configuration options to remove from the configuration set for this new environment. </p>"
        }
      },
      "documentation":"<p></p>"
    },
    "CreateStorageLocationResultMessage":{
      "type":"structure",
      "members":{
        "S3Bucket":{
          "shape":"S3Bucket",
          "documentation":"<p> The name of the Amazon S3 bucket created. </p>"
        }
      },
      "documentation":"<p>Results of a <a>CreateStorageLocationResult</a> call.</p>"
    },
    "CreationDate":{"type":"timestamp"},
    "DNSCname":{
      "type":"string",
      "min":1,
      "max":255
    },
    "DNSCnamePrefix":{
      "type":"string",
      "min":4,
      "max":63
    },
    "DeleteApplicationMessage":{
      "type":"structure",
      "required":["ApplicationName"],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the application to delete.</p>"
        },
        "TerminateEnvByForce":{
          "shape":"TerminateEnvForce",
          "documentation":"<p>When set to true, running environments will be terminated before deleting the application.</p>"
        }
      },
      "documentation":"<p>This documentation target is not reported in the API reference.</p>"
    },
    "DeleteApplicationVersionMessage":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "VersionLabel"
      ],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the application to delete releases from.</p>"
        },
        "VersionLabel":{
          "shape":"VersionLabel",
          "documentation":"<p> The label of the version to delete. </p>"
        },
        "DeleteSourceBundle":{
          "shape":"DeleteSourceBundle",
          "documentation":"<p>Indicates whether to delete the associated source bundle from Amazon S3: </p> <ul> <li> <code>true</code>: An attempt is made to delete the associated Amazon S3 source bundle specified at time of creation. </li> <li> <code>false</code>: No action is taken on the Amazon S3 source bundle specified at time of creation. </li> </ul> <p> Valid Values: <code>true</code> | <code>false</code> </p>"
        }
      },
      "documentation":"<p>This documentation target is not reported in the API reference.</p>"
    },
    "DeleteConfigurationTemplateMessage":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "TemplateName"
      ],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p> The name of the application to delete the configuration template from. </p>"
        },
        "TemplateName":{
          "shape":"ConfigurationTemplateName",
          "documentation":"<p>The name of the configuration template to delete.</p>"
        }
      },
      "documentation":"<p>This documentation target is not reported in the API reference.</p>"
    },
    "DeleteEnvironmentConfigurationMessage":{
      "type":"structure",
      "required":[
        "ApplicationName",
        "EnvironmentName"
      ],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p> The name of the application the environment is associated with. </p>"
        },
        "EnvironmentName":{
          "shape":"EnvironmentName",
          "documentation":"<p> The name of the environment to delete the draft configuration from. </p>"
        }
      },
      "documentation":"<p>This documentation target is not reported in the API reference.</p>"
    },
    "DeleteSourceBundle":{"type":"boolean"},
    "DescribeApplicationVersionsMessage":{
      "type":"structure",
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p> If specified, AWS Elastic Beanstalk restricts the returned descriptions to only include ones that are associated with the specified application. </p>"
        },
        "VersionLabels":{
          "shape":"VersionLabelsList",
          "documentation":"<p> If specified, restricts the returned descriptions to only include ones that have the specified version labels. </p>"
        }
      },
      "documentation":"<p>Result message containing a list of configuration descriptions.</p>"
    },
    "DescribeApplicationsMessage":{
      "type":"structure",
      "members":{
        "ApplicationNames":{
          "shape":"ApplicationNamesList",
          "documentation":"<p> If specified, AWS Elastic Beanstalk restricts the returned descriptions to only include those with the specified names. </p>"
        }
      },
      "documentation":"<p>This documentation target is not reported in the API reference.</p>"
    },
    "DescribeConfigurationOptionsMessage":{
      "type":"structure",
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p> The name of the application associated with the configuration template or environment. Only needed if you want to describe the configuration options associated with either the configuration template or environment. </p>"
        },
        "TemplateName":{
          "shape":"ConfigurationTemplateName",
          "documentation":"<p> The name of the configuration template whose configuration options you want to describe. </p>"
        },
        "EnvironmentName":{
          "shape":"EnvironmentName",
          "documentation":"<p> The name of the environment whose configuration options you want to describe. </p>"
        },
        "SolutionStackName":{
          "shape":"SolutionStackName",
          "documentation":"<p> The name of the solution stack whose configuration options you want to describe. </p>"
        },
        "Options":{
          "shape":"OptionsSpecifierList",
          "documentation":"<p> If specified, restricts the descriptions to only the specified options. </p>"
        }
      },
      "documentation":"<p>Result message containig a list of application version descriptions. </p>"
    },
    "DescribeConfigurationSettingsMessage":{
      "type":"structure",
      "required":["ApplicationName"],
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p> The application for the environment or configuration template. </p>"
        },
        "TemplateName":{
          "shape":"ConfigurationTemplateName",
          "documentation":"<p> The name of the configuration template to describe. </p> <p> Conditional: You must specify either this parameter or an EnvironmentName, but not both. If you specify both, AWS Elastic Beanstalk returns an <code>InvalidParameterCombination</code> error. If you do not specify either, AWS Elastic Beanstalk returns a <code>MissingRequiredParameter</code> error. </p>"
        },
        "EnvironmentName":{
          "shape":"EnvironmentName",
          "documentation":"<p> The name of the environment to describe. </p> <p> Condition: You must specify either this or a TemplateName, but not both. If you specify both, AWS Elastic Beanstalk returns an <code>InvalidParameterCombination</code> error. If you do not specify either, AWS Elastic Beanstalk returns <code>MissingRequiredParameter</code> error. </p>"
        }
      },
      "documentation":"<p>Result message containing all of the configuration settings for a specified solution stack or configuration template.</p>"
    },
    "DescribeEnvironmentResourcesMessage":{
      "type":"structure",
      "members":{
        "EnvironmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p> The ID of the environment to retrieve AWS resource usage data. </p> <p> Condition: You must specify either this or an EnvironmentName, or both. If you do not specify either, AWS Elastic Beanstalk returns <code>MissingRequiredParameter</code> error. </p>"
        },
        "EnvironmentName":{
          "shape":"EnvironmentName",
          "documentation":"<p> The name of the environment to retrieve AWS resource usage data. </p> <p> Condition: You must specify either this or an EnvironmentId, or both. If you do not specify either, AWS Elastic Beanstalk returns <code>MissingRequiredParameter</code> error. </p>"
        }
      },
      "documentation":"<p>This documentation target is not reported in the API reference.</p>"
    },
    "DescribeEnvironmentsMessage":{
      "type":"structure",
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p> If specified, AWS Elastic Beanstalk restricts the returned descriptions to include only those that are associated with this application. </p>"
        },
        "VersionLabel":{
          "shape":"VersionLabel",
          "documentation":"<p> If specified, AWS Elastic Beanstalk restricts the returned descriptions to include only those that are associated with this application version. </p>"
        },
        "EnvironmentIds":{
          "shape":"EnvironmentIdList",
          "documentation":"<p> If specified, AWS Elastic Beanstalk restricts the returned descriptions to include only those that have the specified IDs. </p>"
        },
        "EnvironmentNames":{
          "shape":"EnvironmentNamesList",
          "documentation":"<p> If specified, AWS Elastic Beanstalk restricts the returned descriptions to include only those that have the specified names. </p>"
        },
        "IncludeDeleted":{
          "shape":"IncludeDeleted",
          "documentation":"<p>Indicates whether to include deleted environments: </p> <p> <code>true</code>: Environments that have been deleted after <code>IncludedDeletedBackTo</code> are displayed. </p> <p> <code>false</code>: Do not include deleted environments. </p>"
        },
        "IncludedDeletedBackTo":{
          "shape":"IncludeDeletedBackTo",
          "documentation":"<p> If specified when <code>IncludeDeleted</code> is set to <code>true</code>, then environments deleted after this date are displayed. </p>"
        }
      },
      "documentation":"<p>This documentation target is not reported in the API reference.</p>"
    },
    "DescribeEventsMessage":{
      "type":"structure",
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p> If specified, AWS Elastic Beanstalk restricts the returned descriptions to include only those associated with this application. </p>"
        },
        "VersionLabel":{
          "shape":"VersionLabel",
          "documentation":"<p> If specified, AWS Elastic Beanstalk restricts the returned descriptions to those associated with this application version. </p>"
        },
        "TemplateName":{
          "shape":"ConfigurationTemplateName",
          "documentation":"<p> If specified, AWS Elastic Beanstalk restricts the returned descriptions to those that are associated with this environment configuration. </p>"
        },
        "EnvironmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p> If specified, AWS Elastic Beanstalk restricts the returned descriptions to those associated with this environment. </p>"
        },
        "EnvironmentName":{
          "shape":"EnvironmentName",
          "documentation":"<p> If specified, AWS Elastic Beanstalk restricts the returned descriptions to those associated with this environment. </p>"
        },
        "RequestId":{
          "shape":"RequestId",
          "documentation":"<p> If specified, AWS Elastic Beanstalk restricts the described events to include only those associated with this request ID. </p>"
        },
        "Severity":{
          "shape":"EventSeverity",
          "documentation":"<p> If specified, limits the events returned from this call to include only those with the specified severity or higher. </p>"
        },
        "StartTime":{
          "shape":"TimeFilterStart",
          "documentation":"<p> If specified, AWS Elastic Beanstalk restricts the returned descriptions to those that occur on or after this time. </p>"
        },
        "EndTime":{
          "shape":"TimeFilterEnd",
          "documentation":"<p> If specified, AWS Elastic Beanstalk restricts the returned descriptions to those that occur up to, but not including, the <code>EndTime</code>. </p>"
        },
        "MaxRecords":{
          "shape":"MaxRecords",
          "documentation":"<p> Specifies the maximum number of events that can be returned, beginning with the most recent event. </p>"
        },
        "NextToken":{
          "shape":"Token",
          "documentation":"<p> Pagination token. If specified, the events return the next batch of results. </p>"
        }
      },
      "documentation":"<p>This documentation target is not reported in the API reference.</p>"
    },
    "Description":{
      "type":"string",
      "max":200
    },
    "Ec2InstanceId":{"type":"string"},
    "EndpointURL":{"type":"string"},
    "EnvironmentDescription":{
      "type":"structure",
      "members":{
        "EnvironmentName":{
          "shape":"EnvironmentName",
          "documentation":"<p>The name of this environment.</p>"
        },
        "EnvironmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p> The ID of this environment. </p>"
        },
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the application associated with this environment.</p>"
        },
        "VersionLabel":{
          "shape":"VersionLabel",
          "documentation":"<p>The application version deployed in this environment.</p>"
        },
        "SolutionStackName":{
          "shape":"SolutionStackName",
          "documentation":"<p> The name of the <code>SolutionStack</code> deployed with this environment. </p>"
        },
        "TemplateName":{
          "shape":"ConfigurationTemplateName",
          "documentation":"<p> The name of the configuration template used to originally launch this environment. </p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>Describes this environment.</p>"
        },
        "EndpointURL":{
          "shape":"EndpointURL",
          "documentation":"<p>For load-balanced, autoscaling environments, the URL to the LoadBalancer. For single-instance environments, the IP address of the instance.</p>"
        },
        "CNAME":{
          "shape":"DNSCname",
          "documentation":"<p> The URL to the CNAME for this environment. </p>"
        },
        "DateCreated":{
          "shape":"CreationDate",
          "documentation":"<p>The creation date for this environment.</p>"
        },
        "DateUpdated":{
          "shape":"UpdateDate",
          "documentation":"<p>The last modified date for this environment.</p>"
        },
        "Status":{
          "shape":"EnvironmentStatus",
          "documentation":"<p> The current operational status of the environment: </p> <ul> <li> <code>Launching</code>: Environment is in the process of initial deployment. </li> <li> <code>Updating</code>: Environment is in the process of updating its configuration settings or application version. </li> <li> <code>Ready</code>: Environment is available to have an action performed on it, such as update or terminate. </li> <li> <code>Terminating</code>: Environment is in the shut-down process. </li> <li> <code>Terminated</code>: Environment is not running. </li> </ul>"
        },
        "Health":{
          "shape":"EnvironmentHealth",
          "documentation":"<p> Describes the health status of the environment. AWS Elastic Beanstalk indicates the failure levels for a running environment: </p> <enumValues> <value name=\"Red\"> <p> <code>Red</code> : Indicates the environment is not working. </p> </value> <value name=\"Yellow\"> <p> <code>Yellow</code>: Indicates that something is wrong, the application might not be available, but the instances appear running. </p> </value> <value name=\"Green\"> <p> <code>Green</code>: Indicates the environment is healthy and fully functional. </p> </value> </enumValues> <ul> <li> <code>Red</code>: Indicates the environment is not responsive. Occurs when three or more consecutive failures occur for an environment. </li> <li> <code>Yellow</code>: Indicates that something is wrong. Occurs when two consecutive failures occur for an environment. </li> <li> <code>Green</code>: Indicates the environment is healthy and fully functional. </li> <li> <code>Grey</code>: Default health for a new environment. The environment is not fully launched and health checks have not started or health checks are suspended during an <code>UpdateEnvironment</code> or <code>RestartEnvironement</code> request. </li> </ul> <p> Default: <code>Grey</code> </p>"
        },
        "Resources":{
          "shape":"EnvironmentResourcesDescription",
          "documentation":"<p>The description of the AWS resources used by this environment.</p>"
        },
        "Tier":{
          "shape":"EnvironmentTier",
          "documentation":"<p>Describes the current tier of this environment.</p>"
        }
      },
      "documentation":"<p>Describes the properties of an environment.</p>"
    },
    "EnvironmentDescriptionsList":{
      "type":"list",
      "member":{"shape":"EnvironmentDescription"}
    },
    "EnvironmentDescriptionsMessage":{
      "type":"structure",
      "members":{
        "Environments":{
          "shape":"EnvironmentDescriptionsList",
          "documentation":"<p> Returns an <a>EnvironmentDescription</a> list. </p>"
        }
      },
      "documentation":"<p>Result message containing a list of environment descriptions.</p>"
    },
    "EnvironmentHealth":{
      "type":"string",
      "enum":[
        "Green",
        "Yellow",
        "Red",
        "Grey"
      ]
    },
    "EnvironmentId":{"type":"string"},
    "EnvironmentIdList":{
      "type":"list",
      "member":{"shape":"EnvironmentId"}
    },
    "EnvironmentInfoDescription":{
      "type":"structure",
      "members":{
        "InfoType":{
          "shape":"EnvironmentInfoType",
          "documentation":"<p>The type of information retrieved.</p>"
        },
        "Ec2InstanceId":{
          "shape":"Ec2InstanceId",
          "documentation":"<p>The Amazon EC2 Instance ID for this information.</p>"
        },
        "SampleTimestamp":{
          "shape":"SampleTimestamp",
          "documentation":"<p>The time stamp when this information was retrieved.</p>"
        },
        "Message":{
          "shape":"Message",
          "documentation":"<p>The retrieved information.</p>"
        }
      },
      "documentation":"<p>The information retrieved from the Amazon EC2 instances.</p>"
    },
    "EnvironmentInfoDescriptionList":{
      "type":"list",
      "member":{"shape":"EnvironmentInfoDescription"}
    },
    "EnvironmentInfoType":{
      "type":"string",
      "enum":["tail"]
    },
    "EnvironmentName":{
      "type":"string",
      "min":4,
      "max":23
    },
    "EnvironmentNamesList":{
      "type":"list",
      "member":{"shape":"EnvironmentName"}
    },
    "EnvironmentResourceDescription":{
      "type":"structure",
      "members":{
        "EnvironmentName":{
          "shape":"EnvironmentName",
          "documentation":"<p>The name of the environment.</p>"
        },
        "AutoScalingGroups":{
          "shape":"AutoScalingGroupList",
          "documentation":"<p> The <code>AutoScalingGroups</code> used by this environment. </p>"
        },
        "Instances":{
          "shape":"InstanceList",
          "documentation":"<p>The Amazon EC2 instances used by this environment.</p>"
        },
        "LaunchConfigurations":{
          "shape":"LaunchConfigurationList",
          "documentation":"<p>The Auto Scaling launch configurations in use by this environment.</p>"
        },
        "LoadBalancers":{
          "shape":"LoadBalancerList",
          "documentation":"<p>The LoadBalancers in use by this environment.</p>"
        },
        "Triggers":{
          "shape":"TriggerList",
          "documentation":"<p> The <code>AutoScaling</code> triggers in use by this environment. </p>"
        },
        "Queues":{
          "shape":"QueueList",
          "documentation":"<p> The queues used by this environment. </p>"
        }
      },
      "documentation":"<p>Describes the AWS resources in use by this environment. This data is live.</p>"
    },
    "EnvironmentResourceDescriptionsMessage":{
      "type":"structure",
      "members":{
        "EnvironmentResources":{
          "shape":"EnvironmentResourceDescription",
          "documentation":"<p> A list of <a>EnvironmentResourceDescription</a>. </p>"
        }
      },
      "documentation":"<p>Result message containing a list of environment resource descriptions. </p>"
    },
    "EnvironmentResourcesDescription":{
      "type":"structure",
      "members":{
        "LoadBalancer":{
          "shape":"LoadBalancerDescription",
          "documentation":"<p>Describes the LoadBalancer.</p>"
        }
      },
      "documentation":"<p>Describes the AWS resources in use by this environment. This data is not live data.</p>"
    },
    "EnvironmentStatus":{
      "type":"string",
      "enum":[
        "Launching",
        "Updating",
        "Ready",
        "Terminating",
        "Terminated"
      ]
    },
    "EnvironmentTier":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of this environment tier.</p>"
        },
        "Type":{
          "shape":"String",
          "documentation":"<p>The type of this environment tier.</p>"
        },
        "Version":{
          "shape":"String",
          "documentation":"<p>The version of this environment tier.</p>"
        }
      },
      "documentation":"<p> Describes the properties of an environment tier </p>"
    },
    "EventDate":{"type":"timestamp"},
    "EventDescription":{
      "type":"structure",
      "members":{
        "EventDate":{
          "shape":"EventDate",
          "documentation":"<p>The date when the event occurred.</p>"
        },
        "Message":{
          "shape":"EventMessage",
          "documentation":"<p>The event message.</p>"
        },
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The application associated with the event.</p>"
        },
        "VersionLabel":{
          "shape":"VersionLabel",
          "documentation":"<p>The release label for the application version associated with this event.</p>"
        },
        "TemplateName":{
          "shape":"ConfigurationTemplateName",
          "documentation":"<p>The name of the configuration associated with this event.</p>"
        },
        "EnvironmentName":{
          "shape":"EnvironmentName",
          "documentation":"<p>The name of the environment associated with this event.</p>"
        },
        "RequestId":{
          "shape":"RequestId",
          "documentation":"<p>The web service request ID for the activity of this event.</p>"
        },
        "Severity":{
          "shape":"EventSeverity",
          "documentation":"<p>The severity level of this event. </p>"
        }
      },
      "documentation":"<p>Describes an event.</p>"
    },
    "EventDescriptionList":{
      "type":"list",
      "member":{"shape":"EventDescription"}
    },
    "EventDescriptionsMessage":{
      "type":"structure",
      "members":{
        "Events":{
          "shape":"EventDescriptionList",
          "documentation":"<p> A list of <a>EventDescription</a>. </p>"
        },
        "NextToken":{
          "shape":"Token",
          "documentation":"<p> If returned, this indicates that there are more results to obtain. Use this token in the next <a>DescribeEvents</a> call to get the next batch of events. </p>"
        }
      },
      "documentation":"<p>Result message wrapping a list of event descriptions.</p>"
    },
    "EventMessage":{"type":"string"},
    "EventSeverity":{
      "type":"string",
      "enum":[
        "TRACE",
        "DEBUG",
        "INFO",
        "WARN",
        "ERROR",
        "FATAL"
      ]
    },
    "FileTypeExtension":{
      "type":"string",
      "min":1,
      "max":100
    },
    "IncludeDeleted":{"type":"boolean"},
    "IncludeDeletedBackTo":{"type":"timestamp"},
    "Instance":{
      "type":"structure",
      "members":{
        "Id":{
          "shape":"ResourceId",
          "documentation":"<p>The ID of the Amazon EC2 instance.</p>"
        }
      },
      "documentation":"<p>The description of an Amazon EC2 instance.</p>"
    },
    "InstanceList":{
      "type":"list",
      "member":{"shape":"Instance"}
    },
    "InsufficientPrivilegesException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InsufficientPrivilegesException",
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Unable to perform the specified operation because the user does not have enough privileges for one of more downstream aws services</p>"
    },
    "Integer":{"type":"integer"},
    "LaunchConfiguration":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"ResourceId",
          "documentation":"<p>The name of the launch configuration.</p>"
        }
      },
      "documentation":"<p>Describes an Auto Scaling launch configuration.</p>"
    },
    "LaunchConfigurationList":{
      "type":"list",
      "member":{"shape":"LaunchConfiguration"}
    },
    "ListAvailableSolutionStacksResultMessage":{
      "type":"structure",
      "members":{
        "SolutionStacks":{
          "shape":"AvailableSolutionStackNamesList",
          "documentation":"<p> A list of available solution stacks. </p>"
        },
        "SolutionStackDetails":{
          "shape":"AvailableSolutionStackDetailsList",
          "documentation":"<p> A list of available solution stacks and their <a>SolutionStackDescription</a>. </p>"
        }
      },
      "documentation":"<p>A list of available AWS Elastic Beanstalk solution stacks. </p>"
    },
    "Listener":{
      "type":"structure",
      "members":{
        "Protocol":{
          "shape":"String",
          "documentation":"<p>The protocol that is used by the Listener.</p>"
        },
        "Port":{
          "shape":"Integer",
          "documentation":"<p>The port that is used by the Listener.</p>"
        }
      },
      "documentation":"<p>Describes the properties of a Listener for the LoadBalancer.</p>"
    },
    "LoadBalancer":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"ResourceId",
          "documentation":"<p>The name of the LoadBalancer.</p>"
        }
      },
      "documentation":"<p>Describes a LoadBalancer.</p>"
    },
    "LoadBalancerDescription":{
      "type":"structure",
      "members":{
        "LoadBalancerName":{
          "shape":"String",
          "documentation":"<p>The name of the LoadBalancer.</p>"
        },
        "Domain":{
          "shape":"String",
          "documentation":"<p>The domain name of the LoadBalancer.</p>"
        },
        "Listeners":{
          "shape":"LoadBalancerListenersDescription",
          "documentation":"<p>A list of Listeners used by the LoadBalancer.</p>"
        }
      },
      "documentation":"<p>Describes the details of a LoadBalancer.</p>"
    },
    "LoadBalancerList":{
      "type":"list",
      "member":{"shape":"LoadBalancer"}
    },
    "LoadBalancerListenersDescription":{
      "type":"list",
      "member":{"shape":"Listener"}
    },
    "MaxRecords":{
      "type":"integer",
      "min":1,
      "max":1000
    },
    "Message":{"type":"string"},
    "OperationInProgressException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"OperationInProgressFailure",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Unable to perform the specified operation because another operation is already in progress affecting an an element in this activity.</p>"
    },
    "OptionNamespace":{"type":"string"},
    "OptionRestrictionMaxLength":{"type":"integer"},
    "OptionRestrictionMaxValue":{"type":"integer"},
    "OptionRestrictionMinValue":{"type":"integer"},
    "OptionRestrictionRegex":{
      "type":"structure",
      "members":{
        "Pattern":{
          "shape":"RegexPattern",
          "documentation":"<p> The regular expression pattern that a string configuration option value with this restriction must match. </p>"
        },
        "Label":{
          "shape":"RegexLabel",
          "documentation":"<p> A unique name representing this regular expression. </p>"
        }
      },
      "documentation":"<p> A regular expression representing a restriction on a string configuration option value. </p>"
    },
    "OptionSpecification":{
      "type":"structure",
      "members":{
        "Namespace":{
          "shape":"OptionNamespace",
          "documentation":"<p> A unique namespace identifying the option's associated AWS resource. </p>"
        },
        "OptionName":{
          "shape":"ConfigurationOptionName",
          "documentation":"<p> The name of the configuration option. </p>"
        }
      },
      "documentation":"<p> A specification identifying an individual configuration option. </p>"
    },
    "OptionsSpecifierList":{
      "type":"list",
      "member":{"shape":"OptionSpecification"}
    },
    "Queue":{
      "type":"structure",
      "members":{
        "Name":{
          "shape":"String",
          "documentation":"<p>The name of the queue.</p>"
        },
        "URL":{
          "shape":"String",
          "documentation":"<p>The URL of the queue.</p>"
        }
      },
      "documentation":"<p>Describes a queue.</p>"
    },
    "QueueList":{
      "type":"list",
      "member":{"shape":"Queue"}
    },
    "RebuildEnvironmentMessage":{
      "type":"structure",
      "members":{
        "EnvironmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p> The ID of the environment to rebuild. </p> <p> Condition: You must specify either this or an EnvironmentName, or both. If you do not specify either, AWS Elastic Beanstalk returns <code>MissingRequiredParameter</code> error. </p>"
        },
        "EnvironmentName":{
          "shape":"EnvironmentName",
          "documentation":"<p> The name of the environment to rebuild. </p> <p> Condition: You must specify either this or an EnvironmentId, or both. If you do not specify either, AWS Elastic Beanstalk returns <code>MissingRequiredParameter</code> error. </p>"
        }
      },
      "documentation":"<p></p>"
    },
    "RegexLabel":{"type":"string"},
    "RegexPattern":{"type":"string"},
    "RequestEnvironmentInfoMessage":{
      "type":"structure",
      "required":["InfoType"],
      "members":{
        "EnvironmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p>The ID of the environment of the requested data.</p> <p> If no such environment is found, <code>RequestEnvironmentInfo</code> returns an <code>InvalidParameterValue</code> error. </p> <p> Condition: You must specify either this or an EnvironmentName, or both. If you do not specify either, AWS Elastic Beanstalk returns <code>MissingRequiredParameter</code> error. </p>"
        },
        "EnvironmentName":{
          "shape":"EnvironmentName",
          "documentation":"<p>The name of the environment of the requested data.</p> <p> If no such environment is found, <code>RequestEnvironmentInfo</code> returns an <code>InvalidParameterValue</code> error. </p> <p> Condition: You must specify either this or an EnvironmentId, or both. If you do not specify either, AWS Elastic Beanstalk returns <code>MissingRequiredParameter</code> error. </p>"
        },
        "InfoType":{
          "shape":"EnvironmentInfoType",
          "documentation":"<p> The type of information to request. </p>"
        }
      },
      "documentation":"<p>This documentation target is not reported in the API reference.</p>"
    },
    "RequestId":{"type":"string"},
    "ResourceId":{"type":"string"},
    "RestartAppServerMessage":{
      "type":"structure",
      "members":{
        "EnvironmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p> The ID of the environment to restart the server for. </p> <p> Condition: You must specify either this or an EnvironmentName, or both. If you do not specify either, AWS Elastic Beanstalk returns <code>MissingRequiredParameter</code> error. </p>"
        },
        "EnvironmentName":{
          "shape":"EnvironmentName",
          "documentation":"<p> The name of the environment to restart the server for. </p> <p> Condition: You must specify either this or an EnvironmentId, or both. If you do not specify either, AWS Elastic Beanstalk returns <code>MissingRequiredParameter</code> error. </p>"
        }
      },
      "documentation":"<p></p>"
    },
    "RetrieveEnvironmentInfoMessage":{
      "type":"structure",
      "required":["InfoType"],
      "members":{
        "EnvironmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p>The ID of the data's environment.</p> <p> If no such environment is found, returns an <code>InvalidParameterValue</code> error. </p> <p> Condition: You must specify either this or an EnvironmentName, or both. If you do not specify either, AWS Elastic Beanstalk returns <code>MissingRequiredParameter</code> error. </p>"
        },
        "EnvironmentName":{
          "shape":"EnvironmentName",
          "documentation":"<p>The name of the data's environment.</p> <p> If no such environment is found, returns an <code>InvalidParameterValue</code> error. </p> <p> Condition: You must specify either this or an EnvironmentId, or both. If you do not specify either, AWS Elastic Beanstalk returns <code>MissingRequiredParameter</code> error. </p>"
        },
        "InfoType":{
          "shape":"EnvironmentInfoType",
          "documentation":"<p> The type of information to retrieve. </p>"
        }
      },
      "documentation":"<p>This documentation target is not reported in the API reference.</p>"
    },
    "RetrieveEnvironmentInfoResultMessage":{
      "type":"structure",
      "members":{
        "EnvironmentInfo":{
          "shape":"EnvironmentInfoDescriptionList",
          "documentation":"<p> The <a>EnvironmentInfoDescription</a> of the environment. </p>"
        }
      },
      "documentation":"<p>Result message containing a description of the requested environment info.</p>"
    },
    "S3Bucket":{
      "type":"string",
      "max":255
    },
    "S3Key":{
      "type":"string",
      "max":1024
    },
    "S3Location":{
      "type":"structure",
      "members":{
        "S3Bucket":{
          "shape":"S3Bucket",
          "documentation":"<p>The Amazon S3 bucket where the data is located.</p>"
        },
        "S3Key":{
          "shape":"S3Key",
          "documentation":"<p>The Amazon S3 key where the data is located.</p>"
        }
      },
      "documentation":"<p>A specification of a location in Amazon S3.</p>"
    },
    "S3LocationNotInServiceRegionException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"S3LocationNotInServiceRegionException",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The specified S3 bucket does not belong to the S3 region in which the service is running.</p>"
    },
    "S3SubscriptionRequiredException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"S3SubscriptionRequiredException",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The caller does not have a subscription to Amazon S3.</p>"
    },
    "SampleTimestamp":{"type":"timestamp"},
    "SolutionStackDescription":{
      "type":"structure",
      "members":{
        "SolutionStackName":{
          "shape":"SolutionStackName",
          "documentation":"<p> The name of the solution stack. </p>"
        },
        "PermittedFileTypes":{
          "shape":"SolutionStackFileTypeList",
          "documentation":"<p> The permitted file types allowed for a solution stack. </p>"
        }
      },
      "documentation":"<p> Describes the solution stack. </p>"
    },
    "SolutionStackFileTypeList":{
      "type":"list",
      "member":{"shape":"FileTypeExtension"}
    },
    "SolutionStackName":{
      "type":"string",
      "max":100
    },
    "SourceBundleDeletionException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"SourceBundleDeletionFailure",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Unable to delete the Amazon S3 source bundle associated with the application version, although the application version deleted successfully.</p>"
    },
    "SourceConfiguration":{
      "type":"structure",
      "members":{
        "ApplicationName":{
          "shape":"ApplicationName",
          "documentation":"<p>The name of the application associated with the configuration.</p>"
        },
        "TemplateName":{
          "shape":"ConfigurationTemplateName",
          "documentation":"<p>The name of the configuration template.</p>"
        }
      },
      "documentation":"<p>A specification for an environment configuration</p>"
    },
    "String":{"type":"string"},
    "SwapEnvironmentCNAMEsMessage":{
      "type":"structure",
      "members":{
        "SourceEnvironmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p> The ID of the source environment. </p> <p> Condition: You must specify at least the <code>SourceEnvironmentID</code> or the <code>SourceEnvironmentName</code>. You may also specify both. If you specify the <code>SourceEnvironmentId</code>, you must specify the <code>DestinationEnvironmentId</code>. </p>"
        },
        "SourceEnvironmentName":{
          "shape":"EnvironmentName",
          "documentation":"<p> The name of the source environment. </p> <p> Condition: You must specify at least the <code>SourceEnvironmentID</code> or the <code>SourceEnvironmentName</code>. You may also specify both. If you specify the <code>SourceEnvironmentName</code>, you must specify the <code>DestinationEnvironmentName</code>. </p>"
        },
        "DestinationEnvironmentId":{
          "shape":"EnvironmentId",
          "documentation":"<p> The ID of the destination environment. </p> <p> Condition: You must specify at least the <code>DestinationEnvironmentID</code> or the <code>DestinationEnvironmentName</code>. You may also specify both. You must specify the <code>SourceEnvironmentId</code> with the <code>DestinationEnvironmentId</code>. </p>"
        },
        "DestinationEnvironmentName":{
          "shape":"EnvironmentName",
          "documentation":"<p> The name of the destination environment. </p> <p> Condition: You must specify at least the <code>DestinationEnvironmentID</code> or the <code>DestinationEnvironmentName</code>. You may also specify both. You must specify the <code>SourceEnvironmentName</code> with the <code>DestinationEnvironmentName</code>. </p>"
        }
      },
      "documentation":"<p></p>"
    },
    "Tag":{
      "type":"structure",
      "members":{
        "Key":{
          "shape":"TagKey",
          "documentation":"<p>The key of the tag.</p>"
        },
        "Value":{
          "shape":"TagValue",
          "documentation":"<p>The value of the tag.</p>"
        }
      },
      "documentation":"<p>Describes a tag applied to a resource in an environment.</p>"
    },
    "TagKey":{
      "type":"string",
      "min":1,
      "max":128
    },
    "TagValue":{
      "type":"string",
      "min":1,
      "max":256
    },
    "Tags":{
[...]
