/* line 26, ../../sass/app.sass */
.ui-hide, .ui-show {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 29, ../../sass/app.sass */
.ui-hide {
  opacity: 0;
}

/* line 36, ../../sass/app.sass */
input:disabled {
  cursor: default;
}

/* line 39, ../../sass/app.sass */
.tooltip {
  z-index: 10000;
}

/* line 44, ../../sass/app.sass */
input[type=email]:focus.ng-invalid, input[type=email]:focus:invalid {
  color: #b94a48;
  border-color: #b94a48;
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 0, 0.6) !important;
  -moz-box-shadow: 0 0 8px rgba(255, 0, 0, 0.6) !important;
  box-shadow: 0 0 8px rgba(255, 0, 0, 0.6) !important;
}

/* line 53, ../../sass/app.sass */
.control-extra {
  margin-left: 30px;
  font-size: 85%;
}

/* line 58, ../../sass/app.sass */
#signin .prompt-extra {
  margin: 5px 0;
  font-size: 85%;
  text-align: center;
}

/* line 64, ../../sass/app.sass */
#request-invite form {
  margin: 20px 38px;
}
/* line 66, ../../sass/app.sass */
#request-invite form input[type=email] {
  margin-top: 5px;
}
/* line 68, ../../sass/app.sass */
#request-invite form .indented {
  margin-left: 30px;
}

/* line 72, ../../sass/app.sass */
#sysproxy .controls {
  margin-top: 10px;
}

/* line 75, ../../sass/app.sass */
.modal form {
  margin-bottom: 0;
}

/* line 78, ../../sass/app.sass */
#waiting-container {
  position: fixed;
  top: 100px;
  width: 100%;
  line-height: 50px;
}

/* line 84, ../../sass/app.sass */
#welcome .modal-body {
  margin: 10px 0 100px 0;
}

/* line 87, ../../sass/app.sass */
#langchooser {
  position: fixed;
  top: 5px;
  right: 15px;
  font-size: 8pt;
  z-index: 4999;
}
/* line 93, ../../sass/app.sass */
#langchooser ul {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
/* line 60, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#langchooser ul li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 48, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#langchooser ul li:first-child, #langchooser ul li.first {
  padding-left: 0;
}
/* line 49, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#langchooser ul li:last-child {
  padding-right: 0;
}
/* line 50, ../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/lists/_horizontal-list.scss */
#langchooser ul li.last {
  padding-right: 0;
}
/* line 96, ../../sass/app.sass */
#langchooser ul li a {
  color: #aaaaaa;
}
/* line 98, ../../sass/app.sass */
#langchooser ul li.active a {
  color: white;
}
/* line 100, ../../sass/app.sass */
#langchooser ul li.active a:hover {
  text-decoration: none;
}

/* line 104, ../../sass/app.sass */
#sysproxy .control-group {
  margin: 0 75px;
}
/* line 106, ../../sass/app.sass */
#sysproxy .text-error {
  margin: 20px 75px;
}

/* line 109, ../../sass/app.sass */
#sanity {
  z-index: 5002;
}

/* line 113, ../../sass/app.sass */
#sanity form, #settings-load-failure form {
  margin: 15px 0;
}

/* line 116, ../../sass/app.sass */
#developer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  max-height: 25%;
  overflow: scroll;
  z-index: 5000;
}

/* line 125, ../../sass/app.sass */
#developer-content {
  background-color: white;
  border-top: 1px #333333 solid;
}
/* line 128, ../../sass/app.sass */
#developer-content * {
  font-size: 10pt;
}
/* line 130, ../../sass/app.sass */
#developer-content pre {
  font-size: 7pt;
  max-height: 80px;
  overflow: scroll;
}
/* line 134, ../../sass/app.sass */
#developer-content .controls.row .span-4:first-child {
  margin-left: 0;
}
/* line 136, ../../sass/app.sass */
#developer-content .select2-container {
  width: 220px;
}
