/* line 12, ../../sass/app.sass */
.ui-hide, .ui-show {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* line 15, ../../sass/app.sass */
.ui-hide {
  opacity: 0;
}

/* line 21, ../../sass/app.sass */
form[name=unlockForm] .modal-body .controls {
  text-align: center;
}

/* line 24, ../../sass/app.sass */
#debug {
  position: fixed;
  bottom: 0;
  max-height: 20%;
  width: 100%;
  overflow: scroll;
  background-color: white;
  border-top: 1px #cccccc dotted;
  padding: 20px;
  z-index: 5000;
}
