@font-face {
  font-family: "ProximaNova-Light";
  src: asset-path("../app/fonts/ProximaNova-Light.eot", font);
  src: url(asset-path("../app/fonts/ProximaNova-Light.woff", font)) format("woff"), url(asset-path("../app/fonts/ProximaNova-Light.ttf", font)) format("truetype"), url(asset-path("../app/fonts/ProximaNova-Light.svg", font)) format("svg");
  src: url(asset-path("../app/fonts/ProximaNova-Light.ttf", font)) format("truetype"), url(asset-path("../app/fonts/ProximaNova-Light.svg", font)) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: asset-path("../app/fonts/ProximaNova-Regular.eot", font);
  src: url(asset-path("../app/fonts/ProximaNova-Regular.woff", font)) format("woff"), url(asset-path("../app/fonts/ProximaNova-Regular.ttf", font)) format("truetype"), url(asset-path("../app/fonts/ProximaNova-Regular.svg", font)) format("svg");
  src: url(asset-path("../app/fonts/ProximaNova-Regular.ttf", font)) format("truetype"), url(asset-path("../app/fonts/ProximaNova-Regular.svg", font)) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: asset-path("../app/fonts/ProximaNova-Bold.eot", font);
  src: url(asset-path("../app/fonts/ProximaNova-Bold.woff", font)) format("woff"), url(asset-path("../app/fonts/ProximaNova-Bold.ttf", font)) format("truetype"), url(asset-path("../app/fonts/ProximaNova-Bold.svg", font)) format("svg");
  src: url(asset-path("../app/fonts/ProximaNova-Bold.ttf", font)) format("truetype"), url(asset-path("../app/fonts/ProximaNova-Bold.svg", font)) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: asset-path("../app/fonts/ProximaNova-Semibold.eot", font);
  src: url(asset-path("../app/fonts/ProximaNova-Semibold.woff", font)) format("woff"), url(asset-path("../app/fonts/ProximaNova-Semibold.ttf", font)) format("truetype"), url(asset-path("../app/fonts/ProximaNova-Semibold.svg", font)) format("svg");
  src: url(asset-path("../app/fonts/ProximaNova-Semibold.ttf", font)) format("truetype"), url(asset-path("../app/fonts/ProximaNova-Semibold.svg", font)) format("svg");
  font-weight: normal;
  font-style: normal;
}
