@font-face {
  font-family: "ProximaNova-Light";
  src: asset-path("../app/fonts/ProximaNova-Light.eot", font);
  src: url(asset-path("../app/fonts/ProximaNova-Light.woff", font)) format("woff"), url(asset-path("../app/fonts/ProximaNova-Light.ttf", font)) format("truetype"), url(asset-path("../app/fonts/ProximaNova-Light.svg", font)) format("svg");
  src: url(asset-path("../app/fonts/ProximaNova-Light.ttf", font)) format("truetype"), url(asset-path("../app/fonts/ProximaNova-Light.svg", font)) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Regular";
  src: asset-path("../app/fonts/ProximaNova-Regular.eot", font);
  src: url(asset-path("../app/fonts/ProximaNova-Regular.woff", font)) format("woff"), url(asset-path("../app/fonts/ProximaNova-Regular.ttf", font)) format("truetype"), url(asset-path("../app/fonts/ProximaNova-Regular.svg", font)) format("svg");
  src: url(asset-path("../app/fonts/ProximaNova-Regular.ttf", font)) format("truetype"), url(asset-path("../app/fonts/ProximaNova-Regular.svg", font)) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: asset-path("../app/fonts/ProximaNova-Bold.eot", font);
  src: url(asset-path("../app/fonts/ProximaNova-Bold.woff", font)) format("woff"), url(asset-path("../app/fonts/ProximaNova-Bold.ttf", font)) format("truetype"), url(asset-path("../app/fonts/ProximaNova-Bold.svg", font)) format("svg");
  src: url(asset-path("../app/fonts/ProximaNova-Bold.ttf", font)) format("truetype"), url(asset-path("../app/fonts/ProximaNova-Bold.svg", font)) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova-Semibold";
  src: asset-path("../app/fonts/ProximaNova-Semibold.eot", font);
  src: url(asset-path("../app/fonts/ProximaNova-Semibold.woff", font)) format("woff"), url(asset-path("../app/fonts/ProximaNova-Semibold.ttf", font)) format("truetype"), url(asset-path("../app/fonts/ProximaNova-Semibold.svg", font)) format("svg");
  src: url(asset-path("../app/fonts/ProximaNova-Semibold.ttf", font)) format("truetype"), url(asset-path("../app/fonts/ProximaNova-Semibold.svg", font)) format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Colors */
/* Indexes */
/* Sprites */
/* line 20, ../../sass/helpers.sass */
.hidden {
  display: none;
}

/* line 23, ../../sass/helpers.sass */
.pull-left {
  float: right;
}

/* line 26, ../../sass/helpers.sass */
.pull-right {
  float: right;
}

/* line 29, ../../sass/helpers.sass */
.bottom-5 {
  margin-bottom: 5px;
}

/* line 32, ../../sass/helpers.sass */
.bottom-20 {
  margin-bottom: 20px;
}

/* line 35, ../../sass/helpers.sass */
.bottom-30 {
  margin-bottom: 30px;
}

/* line 38, ../../sass/helpers.sass */
.no-glow {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 106, ../../sass/helpers.sass */
.disable-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 114, ../../sass/helpers.sass */
.serif {
  font-family: "Georgia", serif;
}

/* line 117, ../../sass/helpers.sass */
.sans-serif, .chrome .header ul li, .chrome .header ul li a {
  font-family: "ProximaNova-Regular", Helvetica, Arial, sans-serif;
}

/* line 120, ../../sass/helpers.sass */
.sans-serif-light, .chrome .footer {
  font-family: "ProximaNova-Light", Helvetica, Arial, sans-serif;
}

/* line 123, ../../sass/helpers.sass */
.sans-serif-semibold {
  font-family: "ProximaNova-Semibold", Helvetica, Arial, sans-serif;
}

/* line 126, ../../sass/helpers.sass */
.sans-serif-bold, .chrome #canvas .message h2, .button {
  font-family: "ProximaNova-Bold", Helvetica, Arial, sans-serif;
}

/* line 7, ../../sass/style.sass */
html {
  height: 100%;
}

/* line 10, ../../sass/style.sass */
body {
  height: 100%;
  background: #111111;
  text-rendering: optimizeLegibility;
}

/* line 15, ../../sass/style.sass */
i {
  display: block;
}

/* line 22, ../../sass/style.sass */
.chrome {
  position: relative;
  height: 100%;
  overflow: hidden;
  background: url("../img/bg/bg.png");
}
/* line 53, ../../sass/style.sass */
.chrome #canvas {
  position: absolute;
  top: 51px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1001;
  overflow: hidden;
}
/* line 59, ../../sass/style.sass */
.chrome .header {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 64px;
  background: url("../img/bg/bg-chrome-header.png");
  background-size: 100% 64px;
}
/* line 66, ../../sass/style.sass */
.chrome .header ul {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
/* line 68, ../../sass/style.sass */
.chrome .footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 59px;
  background: url("../img/bg/bg-chrome-footer.png");
}
/* line 74, ../../sass/style.sass */
.chrome #lines {
  position: absolute;
  top: 51px;
  left: 0px;
  width: 1024px;
  height: 519px;
  z-index: 1000;
}

/* line 82, ../../sass/style.sass */
.chrome .header .inner {
  padding: 10px;
}
/* line 84, ../../sass/style.sass */
.chrome .header ul {
  clear: both;
}
/* line 87, ../../sass/style.sass */
.chrome .header ul li {
  text-shadow: black 0px 1px 1px;
}
/* line 89, ../../sass/style.sass */
.chrome .header ul li i {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 91, ../../sass/style.sass */
.chrome .header ul li, .chrome .header ul li a {
  color: white;
  font-size: 13px;
}
/* line 93, ../../sass/style.sass */
.chrome .header ul li a {
  text-decoration: none;
}
/* line 95, ../../sass/style.sass */
.chrome .header ul li.user {
  float: right;
}
/* line 97, ../../sass/style.sass */
.chrome .header ul li.user.gtalkConnectivity.connected i {
  width: 19px;
  height: 19px;
  background: url("../img/icons/status-ok.png");
}
/* line 101, ../../sass/style.sass */
.chrome .header ul li.control-menu {
  float: left;
}
/* line 103, ../../sass/style.sass */
.chrome .header ul li ul.dropdown-menu {
  z-index: 10000;
  background-color: #252525;
}
/* line 106, ../../sass/style.sass */
.chrome .header ul li ul.dropdown-menu i {
  vertical-align: text-top;
}

/* line 118, ../../sass/style.sass */
.chrome #canvas .controls {
  clear: both;
  overflow: hidden;
}
/* line 119, ../../sass/style.sass */
.chrome #canvas .controls#zoom {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
/* line 121, ../../sass/style.sass */
.chrome #canvas .controls#options {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
/* line 125, ../../sass/style.sass */
.chrome #canvas .controls li {
  float: left;
  margin: 0 1px 0 0;
  width: 35px;
  height: 35px;
  background: black;
  background: rgba(0, 0, 0, 0.55);
}
/* line 131, ../../sass/style.sass */
.chrome #canvas .controls li a {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transition: opacity 300ms ease-in-out;
  -moz-transition: opacity 300ms ease-in-out;
  -o-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  opacity: 0.5;
}
/* line 136, ../../sass/style.sass */
.chrome #canvas .controls li a:hover {
  opacity: 1;
}
/* line 138, ../../sass/style.sass */
.chrome #canvas .controls li.selected a {
  opacity: 1;
}
/* line 140, ../../sass/style.sass */
.chrome #canvas .controls li.disabled a {
  cursor: default;
}
/* line 142, ../../sass/style.sass */
.chrome #canvas .controls li.disabled a:hover {
  opacity: 0.5;
}
/* line 144, ../../sass/style.sass */
.chrome #canvas .controls li.zoom_out a {
  background: url(../img/icons/minus.png) no-repeat 50% 50%;
}
/* line 146, ../../sass/style.sass */
.chrome #canvas .controls li.magnifier a {
  background: url(../img/icons/magnifier.png) no-repeat 50% 50%;
}
/* line 148, ../../sass/style.sass */
.chrome #canvas .controls li.zoom_in a {
  background: url(../img/icons/plus.png) no-repeat 50% 50%;
}
/* line 150, ../../sass/style.sass */
.chrome #canvas .controls li.graph a {
  background: url(../img/icons/speedometer.png) no-repeat 50% 50%;
}
/* line 152, ../../sass/style.sass */
.chrome #canvas .controls li.users a {
  background: url(../img/icons/users.png) no-repeat 50% 50%;
}
/* line 154, ../../sass/style.sass */
.chrome #canvas .controls li.settings a {
  background: url(../img/icons/gears.png) no-repeat 50% 50%;
}
/* line 156, ../../sass/style.sass */
.chrome #canvas .controls li:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  -o-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
/* line 158, ../../sass/style.sass */
.chrome #canvas .controls li:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  -o-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

/* line 161, ../../sass/style.sass */
.chrome .footer {
  text-align: center;
  color: #cccccc;
  font-size: 13px;
  text-shadow: black 0px 1px 1px;
}
/* line 162, ../../sass/style.sass */
.chrome .footer .inner {
  margin: 20px 0 0 0;
  padding: 10px;
}

/* line 169, ../../sass/style.sass */
.chrome #canvas .message {
  position: absolute;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  top: 40px;
  text-align: center;
}
/* line 173, ../../sass/style.sass */
.chrome #canvas .message h2 {
  margin: 0 0 15px 0;
  color: white;
  font-size: 13px;
  text-shadow: black 0px 1px 1px;
}
/* line 177, ../../sass/style.sass */
.chrome #canvas .message i {
  margin: 0 auto 10px auto;
  width: 16px;
  height: 17px;
  background: url(../img/icons/connected.png);
}

/* line 185, ../../sass/style.sass */
.button {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 5px 6px 4px 6px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  color: #041a26;
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
  background: white;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}
/* line 194, ../../sass/style.sass */
.button:hover {
  -webkit-box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.5);
  -moz-box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.5);
  /*-ms-filter:"progid:DXImageTransform.Microsoft.Glow(Color = #33ffffff ,Strength = $opacity * 10)"; */
  /*filter:progid:DXImageTransform.Microsoft.Glow(Color = #33ffffff ,Strength = $opacity * 10); */
}

/* line 197, ../../sass/style.sass */
.beam {
  stroke: none;
  fill: white;
  opacity: 0.3;
}

/* line 202, ../../sass/style.sass */
.green_glow {
  stroke: 1;
  fill: #aad092;
  opacity: 0.15;
  z-index: 1000;
}

/* line 208, ../../sass/style.sass */
.green_glow_2 {
  stroke: 1;
  fill: #aad092;
  opacity: 0.5;
  z-index: 1000;
}

/* line 214, ../../sass/style.sass */
.dot_green {
  stroke: 1;
  fill: #aad092;
  opacity: 1;
  cursor: pointer;
  z-index: 1000;
}

/* line 222, ../../sass/style.sass */
circle {
  stroke: 1;
  fill: white;
}

/* line 226, ../../sass/style.sass */
#cities circle {
  fill: white;
  opacity: 0.7;
}

/* line 230, ../../sass/style.sass */
.red_glow {
  fill: none;
  stroke: #ff6666;
  opacity: 0.3;
  z-index: 1000;
}

/* line 236, ../../sass/style.sass */
.hollow {
  stroke: #ff6666;
  stroke-width: 1.5;
  fill: none;
  opacity: 0.9;
}

/* line 242, ../../sass/style.sass */
.glow {
  stroke: none;
  opacity: 0.1;
}

/* line 246, ../../sass/style.sass */
.states path {
  stroke: red;
  /*stroke:none; */
  /*stroke-width:0.3; */
  /*fill:#fff; */
  /*stroke: blue; */
  /*opacity:.3; */
  /*opacity: 0; */
}

/* line 255, ../../sass/style.sass */
.parabola_light {
  fill: none;
  stroke: white;
  opacity: 0.15;
  stroke-linecap: round;
}

/* line 261, ../../sass/style.sass */
.parabola {
  fill: none;
  stroke: white;
  opacity: 0.7;
  stroke-linecap: round;
}

/* line 267, ../../sass/style.sass */
.radial-menu {
  display: none;
  position: absolute;
  width: 119px;
  height: 119px;
  /*pointer-events: none; */
  background-color: rgba(255, 255, 255, 0.65);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  z-index: 5500;
}
/* line 276, ../../sass/style.sass */
.radial-menu .arm {
  width: 0px;
  height: 26px;
  position: absolute;
  top: 45px;
  left: 58px;
  transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  /* IE 9 */
  -webkit-transform-origin: 0 50%;
  -moz-transform-origin: 0 50%;
  -o-transform-origin: 0% 50%;
  text-align: right;
  width: 26px;
}
/* line 287, ../../sass/style.sass */
.radial-menu i {
  position: absolute;
  top: 0;
  right: 0;
  width: 22px;
  height: 22px;
  opacity: 0;
  background: url("../img/tmp/thumb.jpeg") no-repeat 50% 50%;
  background-size: 22px 22px;
  border: 2px solid black;
  -webkit-background-clip: padding-box;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}

/* line 298, ../../sass/style.sass */
.zoom {
  opacity: 1;
  width: 119px;
  height: 119px;
}

/* line 303, ../../sass/style.sass */
#canvas svg {
  display: inline-block;
  width: 100%;
  height: 100%;
}
