{
  "metadata":{
    "apiVersion":"2014-05-15",
    "endpointPrefix":"route53domains",
    "jsonVersion":"1.1",
    "serviceFullName":"Amazon Route 53 Domains",
    "signatureVersion":"v4",
    "targetPrefix":"Route53Domains_v20140515",
    "protocol":"json"
  },
  "operations":{
    "CheckDomainAvailability":{
      "name":"CheckDomainAvailability",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CheckDomainAvailabilityRequest",
        "documentation":"<p>The CheckDomainAvailability request contains the following elements.</p>"
      },
      "output":{
        "shape":"CheckDomainAvailabilityResponse",
        "documentation":"<p>The CheckDomainAvailability response includes the following elements.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInput",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
        },
        {
          "shape":"UnsupportedTLD",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Amazon Route 53 does not support this top-level domain.</p>"
        }
      ],
      "documentation":"<p>This operation checks the availability of one domain name. You can access this API without authenticating. Note that if the availability status of a domain is pending, you must submit another request to determine the availability of the domain name.</p>"
    },
    "DisableDomainAutoRenew":{
      "name":"DisableDomainAutoRenew",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisableDomainAutoRenewRequest"},
      "output":{"shape":"DisableDomainAutoRenewResponse"},
      "errors":[
        {
          "shape":"InvalidInput",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
        }
      ],
      "documentation":"<p>This operation disables automatic renewal of domain registration for the specified domain.</p>"
    },
    "DisableDomainTransferLock":{
      "name":"DisableDomainTransferLock",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DisableDomainTransferLockRequest",
        "documentation":"<p>The DisableDomainTransferLock request includes the following element.</p>"
      },
      "output":{
        "shape":"DisableDomainTransferLockResponse",
        "documentation":"<p>The DisableDomainTransferLock response includes the following element.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInput",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
        },
        {
          "shape":"DuplicateRequest",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The request is already in progress for the domain.</p>"
        },
        {
          "shape":"TLDRulesViolation",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The top-level domain does not support this operation.</p>"
        },
        {
          "shape":"OperationLimitExceeded",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
        }
      ],
      "documentation":"<p>This operation removes the transfer lock on the domain (specifically the <code>clientTransferProhibited</code> status) to allow domain transfers. We recommend you refrain from performing this action unless you intend to transfer the domain to a different registrar. Successful submission returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>"
    },
    "EnableDomainAutoRenew":{
      "name":"EnableDomainAutoRenew",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EnableDomainAutoRenewRequest"},
      "output":{"shape":"EnableDomainAutoRenewResponse"},
      "errors":[
        {
          "shape":"InvalidInput",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
        }
      ],
      "documentation":"<p>This operation configures Amazon Route 53 to automatically renew the specified domain before the domain registration expires. The cost of renewing your domain registration is billed to your AWS account.</p> <p>The period during which you can renew a domain name varies by TLD. For a list of TLDs and their renewal policies, see \"Renewal, restoration, and deletion times\" (http://wiki.gandi.net/en/domains/renew#renewal_restoration_and_deletion_times) on the website for our registrar partner, Gandi. Route 53 requires that you renew before the end of the renewal period that is listed on the Gandi website so we can complete processing before the deadline.</p>"
    },
    "EnableDomainTransferLock":{
      "name":"EnableDomainTransferLock",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"EnableDomainTransferLockRequest",
        "documentation":"<p>The EnableDomainTransferLock request includes the following element.</p>"
      },
      "output":{
        "shape":"EnableDomainTransferLockResponse",
        "documentation":"<p>The EnableDomainTransferLock response includes the following elements.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInput",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
        },
        {
          "shape":"DuplicateRequest",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The request is already in progress for the domain.</p>"
        },
        {
          "shape":"TLDRulesViolation",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The top-level domain does not support this operation.</p>"
        },
        {
          "shape":"OperationLimitExceeded",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
        }
      ],
      "documentation":"<p>This operation sets the transfer lock on the domain (specifically the <code>clientTransferProhibited</code> status) to prevent domain transfers. Successful submission returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>"
    },
    "GetDomainDetail":{
      "name":"GetDomainDetail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"GetDomainDetailRequest",
        "documentation":"<p>The GetDomainDetail request includes the following element.</p>"
      },
      "output":{
        "shape":"GetDomainDetailResponse",
        "documentation":"<p>The GetDomainDetail response includes the following elements.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInput",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
        }
      ],
      "documentation":"<p>This operation returns detailed information about the domain. The domain's contact information is also returned as part of the output.</p>"
    },
    "GetOperationDetail":{
      "name":"GetOperationDetail",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"GetOperationDetailRequest",
        "documentation":"<p>The GetOperationDetail request includes the following element.</p>"
      },
      "output":{
        "shape":"GetOperationDetailResponse",
        "documentation":"<p>The GetOperationDetail response includes the following elements.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInput",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
        }
      ],
      "documentation":"<p>This operation returns the current status of an operation that is not completed.</p>"
    },
    "ListDomains":{
      "name":"ListDomains",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListDomainsRequest",
        "documentation":"<p>The ListDomains request includes the following elements.</p>"
      },
      "output":{
        "shape":"ListDomainsResponse",
        "documentation":"<p>The ListDomains response includes the following elements.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInput",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
        }
      ],
      "documentation":"<p>This operation returns all the domain names registered with Amazon Route 53 for the current AWS account.</p>"
    },
    "ListOperations":{
      "name":"ListOperations",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListOperationsRequest",
        "documentation":"<p>The ListOperations request includes the following elements.</p>"
      },
      "output":{
        "shape":"ListOperationsResponse",
        "documentation":"<p>The ListOperations response includes the following elements.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInput",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
        }
      ],
      "documentation":"<p>This operation returns the operation IDs of operations that are not yet complete.</p>"
    },
    "RegisterDomain":{
      "name":"RegisterDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"RegisterDomainRequest",
        "documentation":"<p>The RegisterDomain request includes the following elements.</p>"
      },
      "output":{
        "shape":"RegisterDomainResponse",
        "documentation":"<p>The RegisterDomain response includes the following element.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInput",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
        },
        {
          "shape":"UnsupportedTLD",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Amazon Route 53 does not support this top-level domain.</p>"
        },
        {
          "shape":"DuplicateRequest",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The request is already in progress for the domain.</p>"
        },
        {
          "shape":"TLDRulesViolation",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The top-level domain does not support this operation.</p>"
        },
        {
          "shape":"DomainLimitExceeded",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The number of domains has exceeded the allowed threshold for the account.</p>"
        },
        {
          "shape":"OperationLimitExceeded",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
        }
      ],
      "documentation":"<p>This operation registers a domain. Domains are registered by the AWS registrar partner, Gandi. For some top-level domains (TLDs), this operation requires extra parameters.</p> <p>When you register a domain, Amazon Route 53 does the following:</p> <ul> <li>Creates a Amazon Route 53 hosted zone that has the same name as the domain. Amazon Route 53 assigns four name servers to your hosted zone and automatically updates your domain registration with the names of these name servers.</li> <li>Enables autorenew, so your domain registration will renew automatically each year. We'll notify you in advance of the renewal date so you can choose whether to renew the registration.</li> <li>Optionally enables privacy protection, so WHOIS queries return contact information for our registrar partner, Gandi, instead of the information you entered for registrant, admin, and tech contacts.</li> <li>If registration is successful, returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant is notified by email.</li> <li>Charges your AWS account an amount based on the top-level domain. For more information, see <a href=\"http://aws.amazon.com/route53/pricing/\">Amazon Route 53 Pricing</a>.</li> </ul>"
    },
    "RetrieveDomainAuthCode":{
      "name":"RetrieveDomainAuthCode",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"RetrieveDomainAuthCodeRequest",
        "documentation":"<p>The RetrieveDomainAuthCode request includes the following element.</p>"
      },
      "output":{
        "shape":"RetrieveDomainAuthCodeResponse",
        "documentation":"<p>The RetrieveDomainAuthCode response includes the following element.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInput",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
        }
      ],
      "documentation":"<p>This operation returns the AuthCode for the domain. To transfer a domain to another registrar, you provide this value to the new registrar.</p>"
    },
    "TransferDomain":{
      "name":"TransferDomain",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"TransferDomainRequest",
        "documentation":"<p>The TransferDomain request includes the following elements.</p>"
      },
      "output":{
        "shape":"TransferDomainResponse",
        "documentation":"<p>The TranserDomain response includes the following element.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInput",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
        },
        {
          "shape":"UnsupportedTLD",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>Amazon Route 53 does not support this top-level domain.</p>"
        },
        {
          "shape":"DuplicateRequest",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The request is already in progress for the domain.</p>"
        },
        {
          "shape":"TLDRulesViolation",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The top-level domain does not support this operation.</p>"
        },
        {
          "shape":"DomainLimitExceeded",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The number of domains has exceeded the allowed threshold for the account.</p>"
        },
        {
          "shape":"OperationLimitExceeded",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
        }
      ],
      "documentation":"<p>This operation transfers a domain from another registrar to Amazon Route 53. Domains are registered by the AWS registrar, Gandi upon transfer.</p> <p>To transfer a domain, you need to meet all the domain transfer criteria, including the following:</p> <ul> <li>You must supply nameservers to transfer a domain.</li> <li>You must disable the domain transfer lock (if any) before transferring the domain.</li> <li>A minimum of 60 days must have elapsed since the domain's registration or last transfer.</li> </ul> <p>We recommend you use the Amazon Route 53 as the DNS service for your domain. You can create a hosted zone in Amazon Route 53 for your current domain before transferring your domain.</p> <p>Note that upon transfer, the domain duration is extended for a year if not otherwise specified. Autorenew is enabled by default.</p> <p>If the transfer is successful, this method returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p> <p>Transferring domains charges your AWS account an amount based on the top-level domain. For more information, see <a href=\"http://aws.amazon.com/route53/pricing/\">Amazon Route 53 Pricing</a>. </p>"
    },
    "UpdateDomainContact":{
      "name":"UpdateDomainContact",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateDomainContactRequest",
        "documentation":"<p>The UpdateDomainContact request includes the following elements.</p>"
      },
      "output":{
        "shape":"UpdateDomainContactResponse",
        "documentation":"<p>The UpdateDomainContact response includes the following element.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInput",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
        },
        {
          "shape":"DuplicateRequest",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The request is already in progress for the domain.</p>"
        },
        {
          "shape":"TLDRulesViolation",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The top-level domain does not support this operation.</p>"
        },
        {
          "shape":"OperationLimitExceeded",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
        }
      ],
      "documentation":"<p>This operation updates the contact information for a particular domain. Information for at least one contact (registrant, administrator, or technical) must be supplied for update.</p> <p>If the update is successful, this method returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>"
    },
    "UpdateDomainContactPrivacy":{
      "name":"UpdateDomainContactPrivacy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateDomainContactPrivacyRequest",
        "documentation":"<p>The UpdateDomainContactPrivacy request includes the following elements.</p>"
      },
      "output":{
        "shape":"UpdateDomainContactPrivacyResponse",
        "documentation":"<p>The UpdateDomainContactPrivacy response includes the following element.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInput",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
        },
        {
          "shape":"DuplicateRequest",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The request is already in progress for the domain.</p>"
        },
        {
          "shape":"TLDRulesViolation",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The top-level domain does not support this operation.</p>"
        },
        {
          "shape":"OperationLimitExceeded",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
        }
      ],
      "documentation":"<p>This operation updates the specified domain contact's privacy setting. When the privacy option is enabled, personal information such as postal or email address is hidden from the results of a public WHOIS query. The privacy services are provided by the AWS registrar, Gandi. For more information, see the <a href=\"http://www.gandi.net/domain/whois/?currency=USD&amp;amp;lang=en\">Gandi privacy features</a>.</p> <p>This operation only affects the privacy of the specified contact type (registrant, administrator, or tech). Successful acceptance returns an operation ID that you can use with GetOperationDetail to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>"
    },
    "UpdateDomainNameservers":{
      "name":"UpdateDomainNameservers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateDomainNameserversRequest",
        "documentation":"<p>The UpdateDomainNameserver request includes the following elements.</p>"
      },
      "output":{
        "shape":"UpdateDomainNameserversResponse",
        "documentation":"<p>The UpdateDomainNameservers response includes the following element.</p>"
      },
      "errors":[
        {
          "shape":"InvalidInput",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
        },
        {
          "shape":"DuplicateRequest",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The request is already in progress for the domain.</p>"
        },
        {
          "shape":"TLDRulesViolation",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The top-level domain does not support this operation.</p>"
        },
        {
          "shape":"OperationLimitExceeded",
          "error":{"httpStatusCode":400},
          "exception":true,
          "documentation":"<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
        }
      ],
      "documentation":"<p>This operation replaces the current set of name servers for the domain with the specified set of name servers. If you use Amazon Route 53 as your DNS service, specify the four name servers in the delegation set for the hosted zone for the domain. </p> <p>If successful, this operation returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>"
    }
  },
  "shapes":{
    "AddressLine":{
      "type":"string",
      "max":255
    },
    "Boolean":{"type":"boolean"},
    "CheckDomainAvailabilityRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>"
        },
        "IdnLangCode":{
          "shape":"LangCode",
          "documentation":"<p>Reserved for future use.</p>"
        }
      },
      "documentation":"<p>The CheckDomainAvailability request contains the following elements.</p>"
    },
    "CheckDomainAvailabilityResponse":{
      "type":"structure",
      "required":["Availability"],
      "members":{
        "Availability":{
          "shape":"DomainAvailability",
          "documentation":"<p>Whether the domain name is available for registering.</p> <p>Type: String</p> <p>Valid values:</p> <ul> <li> <code>AVAILABLE</code> – The domain name is available.</li> <li> <code>AVAILABLE_RESERVED</code> – The domain name is reserved under specific conditions.</li> <li> <code>AVAILABLE_PREORDER</code> – The domain name is available and can be preordered.</li> <li> <code>UNAVAILABLE</code> – The domain name is not available.</li> <li> <code>UNAVAILABLE_PREMIUM</code> – The domain name is not available.</li> <li> <code>UNAVAILABLE_RESTRICTED</code> – The domain name is forbidden.</li> <li> <code>RESERVED</code> – The domain name has been reserved for another person or organization.</li> </ul>"
        }
      },
      "documentation":"<p>The CheckDomainAvailability response includes the following elements.</p>"
    },
    "City":{
      "type":"string",
      "max":255
    },
    "ContactDetail":{
      "type":"structure",
      "members":{
        "FirstName":{
          "shape":"ContactName",
          "documentation":"<p>First name of contact.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code> </p> <p>Required: Yes</p>"
        },
        "LastName":{
          "shape":"ContactName",
          "documentation":"<p>Last name of contact.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Required: Yes</p>"
        },
        "ContactType":{
          "shape":"ContactType",
          "documentation":"<p>Indicates whether the contact is a person, company, association, or public organization. If you choose an option other than <code>PERSON</code>, you must enter an organization name, and you can't enable privacy protection for the contact.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p> <p>Valid values: <code>PERSON</code> | <code>COMPANY</code> | <code>ASSOCIATION</code> | <code>PUBLIC_BODY</code></p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code> </p> <p>Required: Yes</p>"
        },
        "OrganizationName":{
          "shape":"ContactName",
          "documentation":"<p>Name of the organization for contact types other than <code>PERSON</code>.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters. Contact type must not be <code>PERSON</code>.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Required: No</p>"
        },
        "AddressLine1":{
          "shape":"AddressLine",
          "documentation":"<p>First line of the contact's address.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Required: Yes</p>"
        },
        "AddressLine2":{
          "shape":"AddressLine",
          "documentation":"<p>Second line of contact's address, if any.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Required: No</p>"
        },
        "City":{
          "shape":"City",
          "documentation":"<p>The city of the contact's address.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Required: Yes</p>"
        },
        "State":{
          "shape":"State",
          "documentation":"<p>The state or province of the contact's city.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Required: No</p>"
        },
        "CountryCode":{
          "shape":"CountryCode",
          "documentation":"<p>Code for the country of the contact's address.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Required: Yes</p>"
        },
        "ZipCode":{
          "shape":"ZipCode",
          "documentation":"<p>The zip or postal code of the contact's address.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Required: No</p>"
        },
        "PhoneNumber":{
          "shape":"ContactNumber",
          "documentation":"<p>The phone number of the contact.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Phone number must be specified in the format \"+[country dialing code].[number including any area code&gt;]\". For example, a US phone number might appear as <code>\"+1.1234567890\"</code>.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Required: Yes</p>"
        },
        "Email":{
          "shape":"Email",
          "documentation":"<p>Email address of the contact.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 254 characters.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code> </p> <p>Required: Yes</p>"
        },
        "Fax":{
          "shape":"ContactNumber",
          "documentation":"<p>Fax number of the contact.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Phone number must be specified in the format \"+[country dialing code].[number including any area code]\". For example, a US phone number might appear as <code>\"+1.1234567890\"</code>.</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Required: No</p>"
        },
        "ExtraParams":{
          "shape":"ExtraParamList",
          "documentation":"<p>A list of name-value pairs for parameters required by certain top-level domains.</p> <p>Type: Complex</p> <p>Default: None</p> <p>Parents: <code>RegistrantContact</code>, <code>AdminContact</code>, <code>TechContact</code></p> <p>Children: <code>Name</code>, <code>Value</code></p> <p>Required: No</p>"
        }
      },
      "sensitive":true,
      "documentation":"<p>ContactDetail includes the following elements.</p>"
    },
    "ContactName":{
      "type":"string",
      "max":255
    },
    "ContactNumber":{
      "type":"string",
      "max":30
    },
    "ContactType":{
      "type":"string",
      "enum":[
        "PERSON",
        "COMPANY",
        "ASSOCIATION",
        "PUBLIC_BODY",
        "RESELLER"
      ]
    },
    "CountryCode":{
      "type":"string",
      "enum":[
        "AD",
        "AE",
        "AF",
        "AG",
        "AI",
        "AL",
        "AM",
        "AN",
        "AO",
        "AQ",
        "AR",
        "AS",
        "AT",
        "AU",
        "AW",
        "AZ",
        "BA",
        "BB",
        "BD",
        "BE",
        "BF",
        "BG",
        "BH",
        "BI",
        "BJ",
        "BL",
        "BM",
        "BN",
        "BO",
        "BR",
        "BS",
        "BT",
        "BW",
        "BY",
        "BZ",
        "CA",
        "CC",
        "CD",
        "CF",
        "CG",
        "CH",
        "CI",
        "CK",
        "CL",
        "CM",
        "CN",
        "CO",
        "CR",
        "CU",
        "CV",
        "CX",
        "CY",
        "CZ",
        "DE",
        "DJ",
        "DK",
        "DM",
        "DO",
        "DZ",
        "EC",
        "EE",
        "EG",
        "ER",
        "ES",
        "ET",
        "FI",
        "FJ",
        "FK",
        "FM",
        "FO",
        "FR",
        "GA",
        "GB",
        "GD",
        "GE",
        "GH",
        "GI",
        "GL",
        "GM",
        "GN",
        "GQ",
        "GR",
        "GT",
        "GU",
        "GW",
        "GY",
        "HK",
        "HN",
        "HR",
        "HT",
        "HU",
        "ID",
        "IE",
        "IL",
        "IM",
        "IN",
        "IQ",
        "IR",
        "IS",
        "IT",
        "JM",
        "JO",
        "JP",
        "KE",
        "KG",
        "KH",
        "KI",
        "KM",
        "KN",
        "KP",
        "KR",
        "KW",
        "KY",
        "KZ",
        "LA",
        "LB",
        "LC",
        "LI",
        "LK",
        "LR",
        "LS",
        "LT",
        "LU",
        "LV",
        "LY",
        "MA",
        "MC",
        "MD",
        "ME",
        "MF",
        "MG",
        "MH",
        "MK",
        "ML",
        "MM",
        "MN",
        "MO",
        "MP",
        "MR",
        "MS",
        "MT",
        "MU",
        "MV",
        "MW",
        "MX",
        "MY",
        "MZ",
        "NA",
        "NC",
        "NE",
        "NG",
        "NI",
        "NL",
        "NO",
        "NP",
        "NR",
        "NU",
        "NZ",
        "OM",
        "PA",
        "PE",
        "PF",
        "PG",
        "PH",
        "PK",
        "PL",
        "PM",
        "PN",
        "PR",
        "PT",
        "PW",
        "PY",
        "QA",
        "RO",
        "RS",
        "RU",
        "RW",
        "SA",
        "SB",
        "SC",
        "SD",
        "SE",
        "SG",
        "SH",
        "SI",
        "SK",
        "SL",
        "SM",
        "SN",
        "SO",
        "SR",
        "ST",
        "SV",
        "SY",
        "SZ",
        "TC",
        "TD",
        "TG",
        "TH",
        "TJ",
        "TK",
        "TL",
        "TM",
        "TN",
        "TO",
        "TR",
        "TT",
        "TV",
        "TW",
        "TZ",
        "UA",
        "UG",
        "US",
        "UY",
        "UZ",
        "VA",
        "VC",
        "VE",
        "VG",
        "VI",
        "VN",
        "VU",
        "WF",
        "WS",
        "YE",
        "YT",
        "ZA",
        "ZM",
        "ZW"
      ]
    },
    "DNSSec":{"type":"string"},
    "DisableDomainAutoRenewRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{"shape":"DomainName"}
      }
    },
    "DisableDomainAutoRenewResponse":{
      "type":"structure",
      "members":{
      }
    },
    "DisableDomainTransferLockRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>"
        }
      },
      "documentation":"<p>The DisableDomainTransferLock request includes the following element.</p>"
    },
    "DisableDomainTransferLockResponse":{
      "type":"structure",
      "required":["OperationId"],
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>"
        }
      },
      "documentation":"<p>The DisableDomainTransferLock response includes the following element.</p>"
    },
    "DomainAuthCode":{
      "type":"string",
      "max":1024,
      "sensitive":true
    },
    "DomainAvailability":{
      "type":"string",
      "enum":[
        "AVAILABLE",
        "AVAILABLE_RESERVED",
        "AVAILABLE_PREORDER",
        "UNAVAILABLE",
        "UNAVAILABLE_PREMIUM",
        "UNAVAILABLE_RESTRICTED",
        "RESERVED"
      ]
    },
    "DomainLimitExceeded":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "error":{"httpStatusCode":400},
      "exception":true,
      "documentation":"<p>The number of domains has exceeded the allowed threshold for the account.</p>"
    },
    "DomainName":{
      "type":"string",
      "max":255,
      "pattern":"[a-zA-Z0-9_\\-.]*"
    },
    "DomainStatus":{"type":"string"},
    "DomainStatusList":{
      "type":"list",
      "member":{"shape":"DomainStatus"}
    },
    "DomainSummary":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of a domain.</p> <p>Type: String</p>"
        },
        "AutoRenew":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the domain is automatically renewed upon expiration.</p> <p>Type: Boolean</p> <p>Valid values: <code>True</code> | <code>False</code></p>"
        },
        "TransferLock":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether a domain is locked from unauthorized transfer to another party.</p> <p>Type: Boolean</p> <p>Valid values: <code>True</code> | <code>False</code></p>"
        },
        "Expiry":{
          "shape":"Timestamp",
          "documentation":"<p>Expiration date of the domain in Coordinated Universal Time (UTC).</p> <p>Type: Long</p>"
        }
      }
    },
    "DomainSummaryList":{
      "type":"list",
      "member":{"shape":"DomainSummary"}
    },
    "DuplicateRequest":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "error":{"httpStatusCode":400},
      "exception":true,
      "documentation":"<p>The request is already in progress for the domain.</p>"
    },
    "DurationInYears":{
      "type":"integer",
      "min":1,
      "max":10
    },
    "Email":{
      "type":"string",
      "max":254
    },
    "EnableDomainAutoRenewRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{"shape":"DomainName"}
      }
    },
    "EnableDomainAutoRenewResponse":{
      "type":"structure",
      "members":{
      }
    },
    "EnableDomainTransferLockRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>"
        }
      },
      "documentation":"<p>The EnableDomainTransferLock request includes the following element.</p>"
    },
    "EnableDomainTransferLockResponse":{
      "type":"structure",
      "required":["OperationId"],
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>"
        }
      },
      "documentation":"<p>The EnableDomainTransferLock response includes the following elements.</p>"
    },
    "ErrorMessage":{"type":"string"},
    "ExtraParam":{
      "type":"structure",
      "required":[
        "Name",
        "Value"
      ],
      "members":{
        "Name":{
          "shape":"ExtraParamName",
          "documentation":"<p>Name of the additional parameter required by the top-level domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Valid values: <code>DUNS_NUMBER</code> | <code>BRAND_NUMBER</code> | <code>BIRTH_DEPARTMENT</code> | <code>BIRTH_DATE_IN_YYYY_MM_DD</code> | <code>BIRTH_COUNTRY</code> | <code>BIRTH_CITY</code> | <code>DOCUMENT_NUMBER</code> | <code>AU_ID_NUMBER</code> | <code>AU_ID_TYPE</code> | <code>CA_LEGAL_TYPE</code> | <code>FI_BUSINESS_NUMBER</code> | <code>FI_ID_NUMBER</code> | <code>IT_PIN</code> | <code>RU_PASSPORT_DATA</code> | <code>SE_ID_NUMBER</code> | <code>SG_ID_NUMBER</code> | <code>VAT_NUMBER</code></p> <p>Parent: <code>ExtraParams</code></p> <p>Required: Yes</p>"
        },
        "Value":{
          "shape":"ExtraParamValue",
          "documentation":"<p>Values corresponding to the additional parameter names required by some top-level domains.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 2048 characters.</p> <p>Parent: <code>ExtraParams</code></p> <p>Required: Yes</p>"
        }
      },
      "documentation":"<p>ExtraParam includes the following elements.</p>"
    },
    "ExtraParamList":{
      "type":"list",
      "member":{"shape":"ExtraParam"}
    },
    "ExtraParamName":{
      "type":"string",
      "enum":[
        "DUNS_NUMBER",
        "BRAND_NUMBER",
        "BIRTH_DEPARTMENT",
        "BIRTH_DATE_IN_YYYY_MM_DD",
        "BIRTH_COUNTRY",
        "BIRTH_CITY",
        "DOCUMENT_NUMBER",
        "AU_ID_NUMBER",
        "AU_ID_TYPE",
        "CA_LEGAL_TYPE",
        "FI_BUSINESS_NUMBER",
        "FI_ID_NUMBER",
        "IT_PIN",
        "RU_PASSPORT_DATA",
        "SE_ID_NUMBER",
        "SG_ID_NUMBER",
        "VAT_NUMBER"
      ]
    },
    "ExtraParamValue":{
      "type":"string",
      "max":2048
    },
    "GetDomainDetailRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>"
        }
      },
      "documentation":"<p>The GetDomainDetail request includes the following element.</p>"
    },
    "GetDomainDetailResponse":{
      "type":"structure",
      "required":[
        "DomainName",
        "Nameservers",
        "AdminContact",
        "RegistrantContact",
        "TechContact"
      ],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of a domain.</p> <p>Type: String</p>"
        },
        "Nameservers":{
          "shape":"NameserverList",
          "documentation":"<p>The name of the domain.</p> <p>Type: String</p>"
        },
        "AutoRenew":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether the domain registration is set to renew automatically.</p> <p>Type: Boolean</p>"
        },
        "AdminContact":{
          "shape":"ContactDetail",
          "documentation":"<p>Provides details about the domain administrative contact. </p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p>"
        },
        "RegistrantContact":{
          "shape":"ContactDetail",
          "documentation":"<p>Provides details about the domain registrant. </p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p>"
        },
        "TechContact":{
          "shape":"ContactDetail",
          "documentation":"<p>Provides details about the domain technical contact.</p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p>"
        },
        "AdminPrivacy":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether contact information for the admin contact is concealed from WHOIS queries. If the value is <code>true</code>, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p>"
        },
        "RegistrantPrivacy":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether contact information for the registrant contact is concealed from WHOIS queries. If the value is <code>true</code>, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p>"
        },
        "TechPrivacy":{
          "shape":"Boolean",
          "documentation":"<p>Specifies whether contact information for the tech contact is concealed from WHOIS queries. If the value is <code>true</code>, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p>"
        },
        "RegistrarName":{
          "shape":"RegistrarName",
          "documentation":"<p>Name of the registrar of the domain as identified in the registry. Amazon Route 53 domains are registered by registrar Gandi. The value is <code>\"GANDI SAS\"</code>. </p> <p>Type: String</p>"
        },
        "WhoIsServer":{
          "shape":"RegistrarWhoIsServer",
          "documentation":"<p>The fully qualified name of the WHOIS server that can answer the WHOIS query for the domain.</p> <p>Type: String</p>"
        },
        "RegistrarUrl":{
          "shape":"RegistrarUrl",
          "documentation":"<p>Web address of the registrar.</p> <p>Type: String</p>"
        },
        "AbuseContactEmail":{
          "shape":"Email",
          "documentation":"<p>Email address to contact to report incorrect contact information for a domain, to report that the domain is being used to send spam, to report that someone is cybersquatting on a domain name, or report some other type of abuse. </p> <p>Type: String</p>"
        },
        "AbuseContactPhone":{
          "shape":"ContactNumber",
          "documentation":"<p>Phone number for reporting abuse. </p> <p>Type: String</p>"
        },
        "RegistryDomainId":{
          "shape":"RegistryDomainId",
          "documentation":"<p>Reserved for future use.</p>"
        },
        "CreationDate":{
          "shape":"Timestamp",
          "documentation":"<p>The date when the domain was created as found in the response to a WHOIS query. The date format is Unix time.</p>"
        },
        "UpdatedDate":{
          "shape":"Timestamp",
          "documentation":"<p>The last updated date of the domain as found in the response to a WHOIS query. The date format is Unix time.</p>"
        },
        "ExpirationDate":{
          "shape":"Timestamp",
          "documentation":"<p>The date when the registration for the domain is set to expire. The date format is Unix time.</p>"
        },
        "Reseller":{
          "shape":"Reseller",
          "documentation":"<p>Reseller of the domain. Domains registered or transferred using Amazon Route 53 domains will have <code>\"Amazon\"</code> as the reseller. </p> <p>Type: String</p>"
        },
        "DnsSec":{
          "shape":"DNSSec",
          "documentation":"<p>Reserved for future use.</p>"
        },
        "StatusList":{
          "shape":"DomainStatusList",
          "documentation":"<p>An array of domain name status codes, also known as Extensible Provisioning Protocol (EPP) status codes.</p> <p>ICANN, the organization that maintains a central database of domain names, has developed a set of domain name status codes that tell you the status of a variety of operations on a domain name, for example, registering a domain name, transferring a domain name to another registrar, renewing the registration for a domain name, and so on. All registrars use this same set of status codes.</p> <p>For a current list of domain name status codes and an explanation of what each code means, go to the <a href=\"https://www.icann.org/\">ICANN website</a> and search for <code>epp status codes</code>. (Search on the ICANN website; web searches sometimes return an old version of the document.)</p> <p>Type: Array of String</p>"
        }
      },
      "documentation":"<p>The GetDomainDetail response includes the following elements.</p>"
    },
    "GetOperationDetailRequest":{
      "type":"structure",
      "required":["OperationId"],
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>The identifier for the operation for which you want to get the status. Amazon Route 53 returned the identifier in the response to the original request.</p> <p>Type: String</p> <p>Default: None</p> <p>Required: Yes</p>"
        }
      },
      "documentation":"<p>The GetOperationDetail request includes the following element.</p>"
    },
    "GetOperationDetailResponse":{
      "type":"structure",
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>The identifier for the operation.</p> <p>Type: String</p>"
        },
        "Status":{
          "shape":"OperationStatus",
          "documentation":"<p>The current status of the requested operation in the system.</p> <p>Type: String</p>"
        },
        "Message":{
          "shape":"ErrorMessage",
          "documentation":"<p>Detailed information on the status including possible errors.</p> <p>Type: String</p>"
        },
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of a domain.</p> <p>Type: String</p>"
        },
        "Type":{
          "shape":"OperationType",
          "documentation":"<p>The type of operation that was requested.</p> <p>Type: String</p>"
        },
        "SubmittedDate":{
          "shape":"Timestamp",
          "documentation":"<p>The date when the request was submitted.</p>"
        }
      },
      "documentation":"<p>The GetOperationDetail response includes the following elements.</p>"
    },
    "GlueIp":{
      "type":"string",
      "max":45
    },
    "GlueIpList":{
      "type":"list",
      "member":{"shape":"GlueIp"}
    },
    "HostName":{
      "type":"string",
      "max":255,
      "pattern":"[a-zA-Z0-9_\\-.]*"
    },
    "InvalidInput":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "error":{"httpStatusCode":400},
      "exception":true,
      "documentation":"<p>The requested item is not acceptable. For example, for an OperationId it may refer to the ID of an operation that is already completed. For a domain name, it may not be a valid domain name or belong to the requester account.</p>"
    },
    "LangCode":{
      "type":"string",
      "max":3
    },
    "ListDomainsRequest":{
      "type":"structure",
      "members":{
        "Marker":{
          "shape":"PageMarker",
          "documentation":"<p>For an initial request for a list of domains, omit this element. If the number of domains that are associated with the current AWS account is greater than the value that you specified for <code>MaxItems</code>, you can use <code>Marker</code> to return additional domains. Get the value of <code>NextPageMarker</code> from the previous response, and submit another request that includes the value of <code>NextPageMarker</code> in the <code>Marker</code> element.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The marker must match the value specified in the previous request. </p> <p>Required: No</p>"
        },
        "MaxItems":{
          "shape":"PageMaxItems",
          "documentation":"<p>Number of domains to be returned.</p> <p>Type: Integer</p> <p>Default: 20</p> <p>Constraints: A numeral between 1 and 100.</p> <p>Required: No</p>"
        }
      },
      "documentation":"<p>The ListDomains request includes the following elements.</p>"
    },
    "ListDomainsResponse":{
      "type":"structure",
      "required":["Domains"],
      "members":{
        "Domains":{
          "shape":"DomainSummaryList",
          "documentation":"<p>A summary of domains.</p> <p>Type: Complex type containing a list of domain summaries.</p> <p>Children: <code>AutoRenew</code>, <code>DomainName</code>, <code>Expiry</code>, <code>TransferLock</code></p>"
        },
        "NextPageMarker":{
          "shape":"PageMarker",
          "documentation":"<p>If there are more domains than you specified for <code>MaxItems</code> in the request, submit another request and include the value of <code>NextPageMarker</code> in the value of <code>Marker</code>.</p> <p>Type: String</p> <p>Parent: <code>Operations</code></p>"
        }
      },
      "documentation":"<p>The ListDomains response includes the following elements.</p>"
    },
    "ListOperationsRequest":{
      "type":"structure",
      "members":{
        "Marker":{
          "shape":"PageMarker",
          "documentation":"<p>For an initial request for a list of operations, omit this element. If the number of operations that are not yet complete is greater than the value that you specified for <code>MaxItems</code>, you can use <code>Marker</code> to return additional operations. Get the value of <code>NextPageMarker</code> from the previous response, and submit another request that includes the value of <code>NextPageMarker</code> in the <code>Marker</code> element.</p> <p>Type: String</p> <p>Default: None</p> <p>Required: No</p>"
        },
        "MaxItems":{
          "shape":"PageMaxItems",
          "documentation":"<p>Number of domains to be returned.</p> <p>Type: Integer</p> <p>Default: 20</p> <p>Constraints: A value between 1 and 100.</p> <p>Required: No</p>"
        }
      },
      "documentation":"<p>The ListOperations request includes the following elements.</p>"
    },
    "ListOperationsResponse":{
      "type":"structure",
      "required":["Operations"],
      "members":{
        "Operations":{
          "shape":"OperationSummaryList",
          "documentation":"<p>Lists summaries of the operations.</p> <p>Type: Complex type containing a list of operation summaries</p> <p>Children: <code>OperationId</code>, <code>Status</code>, <code>SubmittedDate</code>, <code>Type</code></p>"
        },
        "NextPageMarker":{
          "shape":"PageMarker",
          "documentation":"<p>If there are more operations than you specified for <code>MaxItems</code> in the request, submit another request and include the value of <code>NextPageMarker</code> in the value of <code>Marker</code>.</p> <p>Type: String</p> <p>Parent: <code>Operations</code></p>"
        }
      },
      "documentation":"<p>The ListOperations response includes the following elements.</p>"
    },
    "Nameserver":{
      "type":"structure",
      "required":["Name"],
      "members":{
        "Name":{
          "shape":"HostName",
          "documentation":"<p>The fully qualified host name of the name server.</p> <p>Type: String</p> <p>Constraint: Maximum 255 characterss</p> <p>Parent: <code>Nameservers</code></p>"
        },
        "GlueIps":{
          "shape":"GlueIpList",
          "documentation":"<p>Glue IP address of a name server entry. Glue IP addresses are required only when the name of the name server is a subdomain of the domain. For example, if your domain is example.com and the name server for the domain is ns.example.com, you need to specify the IP address for ns.example.com.</p> <p>Type: List of IP addresses.</p> <p>Constraints: The list can contain only one IPv4 and one IPv6 address.</p> <p>Parent: <code>Nameservers</code></p>"
        }
      },
      "documentation":"<p>Nameserver includes the following elements.</p>"
    },
    "NameserverList":{
      "type":"list",
      "member":{"shape":"Nameserver"}
    },
    "OperationId":{
      "type":"string",
      "max":255
    },
    "OperationLimitExceeded":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "error":{"httpStatusCode":400},
      "exception":true,
      "documentation":"<p>The number of operations or jobs running exceeded the allowed threshold for the account.</p>"
    },
    "OperationStatus":{
      "type":"string",
      "enum":[
        "SUBMITTED",
        "IN_PROGRESS",
        "ERROR",
        "SUCCESSFUL",
        "FAILED"
      ]
    },
    "OperationSummary":{
      "type":"structure",
      "required":[
        "OperationId",
        "Status",
        "Type",
        "SubmittedDate"
      ],
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>Identifier returned to track the requested action.</p> <p>Type: String</p>"
        },
        "Status":{
          "shape":"OperationStatus",
          "documentation":"<p>The current status of the requested operation in the system.</p> <p>Type: String</p>"
        },
        "Type":{
          "shape":"OperationType",
          "documentation":"<p>Type of the action requested.</p> <p>Type: String</p> <p>Valid values: <code>REGISTER_DOMAIN</code> | <code>DELETE_DOMAIN</code> | <code>TRANSFER_IN_DOMAIN</code> | <code>UPDATE_DOMAIN_CONTACT</code> | <code>UPDATE_NAMESERVER</code> | <code>CHANGE_PRIVACY_PROTECTION</code> | <code>DOMAIN_LOCK</code></p>"
        },
        "SubmittedDate":{
          "shape":"Timestamp",
          "documentation":"<p>The date when the request was submitted.</p>"
        }
      },
      "documentation":"<p>OperationSummary includes the following elements.</p>"
    },
    "OperationSummaryList":{
      "type":"list",
      "member":{"shape":"OperationSummary"}
    },
    "OperationType":{
      "type":"string",
      "enum":[
        "REGISTER_DOMAIN",
        "DELETE_DOMAIN",
        "TRANSFER_IN_DOMAIN",
        "UPDATE_DOMAIN_CONTACT",
        "UPDATE_NAMESERVER",
        "CHANGE_PRIVACY_PROTECTION",
        "DOMAIN_LOCK"
      ]
    },
    "PageMarker":{
      "type":"string",
      "max":4096
    },
    "PageMaxItems":{
      "type":"integer",
      "max":100
    },
    "RegisterDomainRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "DurationInYears",
        "AdminContact",
        "RegistrantContact",
        "TechContact"
      ],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>"
        },
        "IdnLangCode":{
          "shape":"LangCode",
          "documentation":"<p>Reserved for future use.</p>"
        },
        "DurationInYears":{
          "shape":"DurationInYears",
          "documentation":"<p>The number of years the domain will be registered. Domains are registered for a minimum of one year. The maximum period depends on the top-level domain.</p> <p>Type: Integer</p> <p>Default: 1</p> <p>Valid values: Integer from 1 to 10</p> <p>Required: Yes</p>"
        },
        "AutoRenew":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the domain will be automatically renewed (<code>true</code>) or not (<code>false</code>). Autorenewal only takes effect after the account is charged.</p> <p>Type: Boolean</p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Default: <code>true</code></p> <p>Required: No</p>"
        },
        "AdminContact":{
          "shape":"ContactDetail",
          "documentation":"<p>Provides detailed contact information.</p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p> <p>Required: Yes</p>"
        },
        "RegistrantContact":{
          "shape":"ContactDetail",
          "documentation":"<p>Provides detailed contact information.</p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p> <p>Required: Yes</p>"
        },
        "TechContact":{
          "shape":"ContactDetail",
          "documentation":"<p>Provides detailed contact information.</p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p> <p>Required: Yes</p>"
        },
        "PrivacyProtectAdminContact":{
          "shape":"Boolean",
          "documentation":"<p>Whether you want to conceal contact information from WHOIS queries. If you specify true, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p> <p>Default: <code>true</code></p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Required: No</p>"
        },
        "PrivacyProtectRegistrantContact":{
          "shape":"Boolean",
          "documentation":"<p>Whether you want to conceal contact information from WHOIS queries. If you specify true, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p> <p>Default: <code>true</code></p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Required: No</p>"
        },
        "PrivacyProtectTechContact":{
          "shape":"Boolean",
          "documentation":"<p>Whether you want to conceal contact information from WHOIS queries. If you specify true, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p> <p>Default: <code>true</code></p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Required: No</p>"
        }
      },
      "documentation":"<p>The RegisterDomain request includes the following elements.</p>"
    },
    "RegisterDomainResponse":{
      "type":"structure",
      "required":["OperationId"],
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>"
        }
      },
      "documentation":"<p>The RegisterDomain response includes the following element.</p>"
    },
    "RegistrarName":{"type":"string"},
    "RegistrarUrl":{"type":"string"},
    "RegistrarWhoIsServer":{"type":"string"},
    "RegistryDomainId":{"type":"string"},
    "Reseller":{"type":"string"},
    "RetrieveDomainAuthCodeRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>"
        }
      },
      "documentation":"<p>The RetrieveDomainAuthCode request includes the following element.</p>"
    },
    "RetrieveDomainAuthCodeResponse":{
      "type":"structure",
      "required":["AuthCode"],
      "members":{
        "AuthCode":{
          "shape":"DomainAuthCode",
          "documentation":"<p>The authorization code for the domain.</p> <p>Type: String</p>"
        }
      },
      "documentation":"<p>The RetrieveDomainAuthCode response includes the following element.</p>"
    },
    "State":{
      "type":"string",
      "max":255
    },
    "TLDRulesViolation":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "error":{"httpStatusCode":400},
      "exception":true,
      "documentation":"<p>The top-level domain does not support this operation.</p>"
    },
    "Timestamp":{"type":"timestamp"},
    "TransferDomainRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "DurationInYears",
        "Nameservers",
        "AdminContact",
        "RegistrantContact",
        "TechContact"
      ],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>"
        },
        "IdnLangCode":{
          "shape":"LangCode",
          "documentation":"<p>Reserved for future use.</p>"
        },
        "DurationInYears":{
          "shape":"DurationInYears",
          "documentation":"<p>The number of years the domain will be registered. Domains are registered for a minimum of one year. The maximum period depends on the top-level domain.</p> <p>Type: Integer</p> <p>Default: 1</p> <p>Valid values: Integer from 1 to 10</p> <p>Required: Yes</p>"
        },
        "Nameservers":{
          "shape":"NameserverList",
          "documentation":"<p>Contains details for the host and glue IP addresses.</p> <p>Type: Complex</p> <p>Children: <code>GlueIps</code>, <code>Name</code></p>"
        },
        "AuthCode":{
          "shape":"DomainAuthCode",
          "documentation":"<p>The authorization code for the domain. You get this value from the current registrar.</p> <p>Type: String</p> <p>Required: Yes</p>"
        },
        "AutoRenew":{
          "shape":"Boolean",
          "documentation":"<p>Indicates whether the domain will be automatically renewed (true) or not (false). Autorenewal only takes effect after the account is charged.</p> <p>Type: Boolean</p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Default: true</p> <p>Required: No</p>"
        },
        "AdminContact":{
          "shape":"ContactDetail",
          "documentation":"<p>Provides detailed contact information.</p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p> <p>Required: Yes</p>"
        },
        "RegistrantContact":{
          "shape":"ContactDetail",
          "documentation":"<p>Provides detailed contact information.</p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p> <p>Required: Yes</p>"
        },
        "TechContact":{
          "shape":"ContactDetail",
          "documentation":"<p>Provides detailed contact information.</p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p> <p>Required: Yes</p>"
        },
        "PrivacyProtectAdminContact":{
          "shape":"Boolean",
          "documentation":"<p>Whether you want to conceal contact information from WHOIS queries. If you specify true, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p> <p>Default: <code>true</code></p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Required: No</p>"
        },
        "PrivacyProtectRegistrantContact":{
          "shape":"Boolean",
          "documentation":"<p>Whether you want to conceal contact information from WHOIS queries. If you specify true, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p> <p>Default: <code>true</code></p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Required: No</p>"
        },
        "PrivacyProtectTechContact":{
          "shape":"Boolean",
          "documentation":"<p>Whether you want to conceal contact information from WHOIS queries. If you specify true, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p> <p>Default: <code>true</code></p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Required: No</p>"
        }
      },
      "documentation":"<p>The TransferDomain request includes the following elements.</p>"
    },
    "TransferDomainResponse":{
      "type":"structure",
      "required":["OperationId"],
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>"
        }
      },
      "documentation":"<p>The TranserDomain response includes the following element.</p>"
    },
    "UnsupportedTLD":{
      "type":"structure",
      "members":{
        "message":{"shape":"ErrorMessage"}
      },
      "error":{"httpStatusCode":400},
      "exception":true,
      "documentation":"<p>Amazon Route 53 does not support this top-level domain.</p>"
    },
    "UpdateDomainContactPrivacyRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>"
        },
        "AdminPrivacy":{
          "shape":"Boolean",
          "documentation":"<p>Whether you want to conceal contact information from WHOIS queries. If you specify true, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p> <p>Default: None</p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Required: No</p>"
        },
        "RegistrantPrivacy":{
          "shape":"Boolean",
          "documentation":"<p>Whether you want to conceal contact information from WHOIS queries. If you specify true, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p> <p>Default: None</p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Required: No</p>"
        },
        "TechPrivacy":{
          "shape":"Boolean",
          "documentation":"<p>Whether you want to conceal contact information from WHOIS queries. If you specify true, WHOIS (\"who is\") queries will return contact information for our registrar partner, Gandi, instead of the contact information that you enter.</p> <p>Type: Boolean</p> <p>Default: None</p> <p>Valid values: <code>true</code> | <code>false</code></p> <p>Required: No</p>"
        }
      },
      "documentation":"<p>The UpdateDomainContactPrivacy request includes the following elements.</p>"
    },
    "UpdateDomainContactPrivacyResponse":{
      "type":"structure",
      "required":["OperationId"],
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>"
        }
      },
      "documentation":"<p>The UpdateDomainContactPrivacy response includes the following element.</p>"
    },
    "UpdateDomainContactRequest":{
      "type":"structure",
      "required":["DomainName"],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>"
        },
        "AdminContact":{
          "shape":"ContactDetail",
          "documentation":"<p>Provides detailed contact information.</p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p> <p>Required: Yes</p>"
        },
        "RegistrantContact":{
          "shape":"ContactDetail",
          "documentation":"<p>Provides detailed contact information.</p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p> <p>Required: Yes</p>"
        },
        "TechContact":{
          "shape":"ContactDetail",
          "documentation":"<p>Provides detailed contact information.</p> <p>Type: Complex</p> <p>Children: <code>FirstName</code>, <code>MiddleName</code>, <code>LastName</code>, <code>ContactType</code>, <code>OrganizationName</code>, <code>AddressLine1</code>, <code>AddressLine2</code>, <code>City</code>, <code>State</code>, <code>CountryCode</code>, <code>ZipCode</code>, <code>PhoneNumber</code>, <code>Email</code>, <code>Fax</code>, <code>ExtraParams</code></p> <p>Required: Yes</p>"
        }
      },
      "documentation":"<p>The UpdateDomainContact request includes the following elements.</p>"
    },
    "UpdateDomainContactResponse":{
      "type":"structure",
      "required":["OperationId"],
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>"
        }
      },
      "documentation":"<p>The UpdateDomainContact response includes the following element.</p>"
    },
    "UpdateDomainNameserversRequest":{
      "type":"structure",
      "required":[
        "DomainName",
        "Nameservers"
      ],
      "members":{
        "DomainName":{
          "shape":"DomainName",
          "documentation":"<p>The name of a domain.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p> <p>Required: Yes</p>"
        },
        "Nameservers":{
          "shape":"NameserverList",
          "documentation":"<p>A list of new name servers for the domain.</p> <p>Type: Complex</p> <p>Children: <code>Name</code>, <code>GlueIps</code></p> <p>Required: Yes</p>"
        }
      },
      "documentation":"<p>The UpdateDomainNameserver request includes the following elements.</p>"
    },
    "UpdateDomainNameserversResponse":{
      "type":"structure",
      "required":["OperationId"],
      "members":{
        "OperationId":{
          "shape":"OperationId",
          "documentation":"<p>Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.</p> <p>Type: String</p> <p>Default: None</p> <p>Constraints: Maximum 255 characters.</p>"
        }
      },
      "documentation":"<p>The UpdateDomainNameservers response includes the following element.</p>"
    },
    "ZipCode":{
      "type":"string",
      "max":255
    }
  }
}
