<div id="sites" ng-show="!showMobileAd && !showNews && showBookmarks">
  <a target="_blank" ng-click="trackBookmark('wikipedia')" style="background-image: url('/img/screenshots/wikipedia.png');" class="tile top bookmark" href="https://en.wikipedia.org/wiki/"><span class="url">Wikipedia</span></a>
  <a target="_blank" ng-click="trackBookmark('youtube')" class="tile top bookmark" target="_blank" href="https://www.youtube.com/" style="background-image: url('/img/screenshots/youtube.png');"><span class="url">YouTube</span></a>
  <a target="_blank" ng-click="trackBookmark('facebook')" class="tile top bookmark" href="https://www.facebook.com/" target="_blank" style="background-image: url('/img/screenshots/facebook.png');"><span class="url">Facebook</span></a>
  <a target="_blank" ng-click="trackBookmark('twitter')" class="tile bookmark" href="https://twitter.com/" style="background-image: url('/img/screenshots/twitter.png');"><span class="url">Twitter</span></a>
  <a target="_blank" ng-click="trackBookmark('manoto1')" class="tile bookmark" href="https://www.manototv.com/iran?utm_campaign=manotolantern" style="background-image: url('/img/screenshots/manoto1.png');"><span class="url">Manoto1</span></a>
  <a target="_blank" ng-click="trackBookmark('firetweet')" class="tile bookmark" href="http://www.firetweet.io" style="background-image: url('/img/screenshots/firetweet.png');"><span class="url">FireTweet</span></a>
</div>
