{
  "metadata":{
    "apiVersion":"2013-02-18",
    "endpointPrefix":"opsworks",
    "jsonVersion":"1.1",
    "serviceFullName":"AWS OpsWorks",
    "signatureVersion":"v4",
    "targetPrefix":"OpsWorks_20130218",
    "protocol":"json"
  },
  "documentation":"<fullname>AWS OpsWorks</fullname> <p>Welcome to the <i>AWS OpsWorks API Reference</i>. This guide provides descriptions, syntax, and usage examples about AWS OpsWorks actions and data types, including common parameters and error codes. </p> <p>AWS OpsWorks is an application management service that provides an integrated experience for overseeing the complete application lifecycle. For information about this product, go to the <a href=\"http://aws.amazon.com/opsworks/\">AWS OpsWorks</a> details page. </p> <p><b>SDKs and CLI</b> </p> <p>The most common way to use the AWS OpsWorks API is by using the AWS Command Line Interface (CLI) or by using one of the AWS SDKs to implement applications in your preferred language. For more information, see:</p> <ul> <li><a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html\">AWS CLI</a></li> <li><a href=\"http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/opsworks/AWSOpsWorksClient.html\">AWS SDK for Java</a></li> <li><a href=\"http://docs.aws.amazon.com/sdkfornet/latest/apidocs/html/N_Amazon_OpsWorks.htm\">AWS SDK for .NET</a></li> <li><a href=\"http://docs.aws.amazon.com/aws-sdk-php-2/latest/class-Aws.OpsWorks.OpsWorksClient.html\">AWS SDK for PHP 2</a></li> <li><a href=\"http://docs.aws.amazon.com/AWSRubySDK/latest/AWS/OpsWorks/Client.html\">AWS SDK for Ruby</a></li> <li><a href=\"http://aws.amazon.com/documentation/sdkforjavascript/\">AWS SDK for Node.js</a></li> <li><a href=\"http://docs.pythonboto.org/en/latest/ref/opsworks.html\">AWS SDK for Python(Boto)</a></li> </ul> <p><b>Endpoints</b></p> <p>AWS OpsWorks supports only one endpoint, opsworks.us-east-1.amazonaws.com (HTTPS), so you must connect to that endpoint. You can then use the API to direct AWS OpsWorks to create stacks in any AWS Region.</p> <p><b>Chef Versions</b></p> <p>When you call <a>CreateStack</a>, <a>CloneStack</a>, or <a>UpdateStack</a> we recommend you use the <code>ConfigurationManager</code> parameter to specify the Chef version, 0.9, 11.4, or 11.10. The default value is currently 11.10. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingcookbook-chef11.html\">Chef Versions</a>.</p> <note>You can still specify Chef 0.9 for your stack, but new features are not available for Chef 0.9 stacks, and support is scheduled to end on July 24, 2014. We do not recommend using Chef 0.9 for new stacks, and we recommend migrating your existing Chef 0.9 stacks to Chef 11.10 as soon as possible.</note>",
  "operations":{
    "AssignInstance":{
      "name":"AssignInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssignInstanceRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Assign a registered instance to a custom layer. You cannot use this action with instances that were created with AWS OpsWorks.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "AssignVolume":{
      "name":"AssignVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssignVolumeRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Assigns one of the stack's registered Amazon EBS volumes to a specified instance. The volume must first be registered with the stack by calling <a>RegisterVolume</a>. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/resources.html\">Resource Management</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "AssociateElasticIp":{
      "name":"AssociateElasticIp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AssociateElasticIpRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Associates one of the stack's registered Elastic IP addresses with a specified instance. The address must first be registered with the stack by calling <a>RegisterElasticIp</a>. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/resources.html\">Resource Management</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "AttachElasticLoadBalancer":{
      "name":"AttachElasticLoadBalancer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"AttachElasticLoadBalancerRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Attaches an Elastic Load Balancing load balancer to a specified layer. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/load-balancer-elb.html\">Elastic Load Balancing</a>.</p> <note> <p>You must create the Elastic Load Balancing instance separately, by using the Elastic Load Balancing console, API, or CLI. For more information, see <a href=\"http://docs.aws.amazon.com/ElasticLoadBalancing/latest/DeveloperGuide/Welcome.html\"> Elastic Load Balancing Developer Guide</a>.</p> </note> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "CloneStack":{
      "name":"CloneStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CloneStackRequest"},
      "output":{
        "shape":"CloneStackResult",
        "documentation":"<p>Contains the response to a <code>CloneStack</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Creates a clone of a specified stack. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-cloning.html\">Clone a Stack</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "CreateApp":{
      "name":"CreateApp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateAppRequest"},
      "output":{
        "shape":"CreateAppResult",
        "documentation":"<p>Contains the response to a <code>CreateApp</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Creates an app for a specified stack. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingapps-creating.html\">Creating Apps</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "CreateDeployment":{
      "name":"CreateDeployment",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateDeploymentRequest"},
      "output":{
        "shape":"CreateDeploymentResult",
        "documentation":"<p>Contains the response to a <code>CreateDeployment</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Runs deployment or stack commands. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingapps-deploying.html\">Deploying Apps</a> and <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-commands.html\">Run Stack Commands</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Deploy or Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "CreateInstance":{
      "name":"CreateInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateInstanceRequest"},
      "output":{
        "shape":"CreateInstanceResult",
        "documentation":"<p>Contains the response to a <code>CreateInstance</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Creates an instance in a specified stack. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-add.html\">Adding an Instance to a Layer</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "CreateLayer":{
      "name":"CreateLayer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateLayerRequest"},
      "output":{
        "shape":"CreateLayerResult",
        "documentation":"<p>Contains the response to a <code>CreateLayer</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Creates a layer. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinglayers-basics-create.html\">How to Create a Layer</a>.</p> <note> <p>You should use <b>CreateLayer</b> for noncustom layer types such as PHP App Server only if the stack does not have an existing layer of that type. A stack can have at most one instance of each noncustom layer; if you attempt to create a second instance, <b>CreateLayer</b> fails. A stack can have an arbitrary number of custom layers, so you can call <b>CreateLayer</b> as many times as you like for that layer type.</p> </note> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "CreateStack":{
      "name":"CreateStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateStackRequest"},
      "output":{
        "shape":"CreateStackResult",
        "documentation":"<p>Contains the response to a <code>CreateStack</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        }
      ],
      "documentation":"<p>Creates a new stack. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-edit.html\">Create a New Stack</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "CreateUserProfile":{
      "name":"CreateUserProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"CreateUserProfileRequest"},
      "output":{
        "shape":"CreateUserProfileResult",
        "documentation":"<p>Contains the response to a <code>CreateUserProfile</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        }
      ],
      "documentation":"<p>Creates a new user profile.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DeleteApp":{
      "name":"DeleteApp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteAppRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Deletes a specified app.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DeleteInstance":{
      "name":"DeleteInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteInstanceRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Deletes a specified instance, which terminates the associated Amazon EC2 instance. You must stop an instance before you can delete it.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-delete.html\">Deleting Instances</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DeleteLayer":{
      "name":"DeleteLayer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteLayerRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Deletes a specified layer. You must first stop and then delete all associated instances or unassign registered instances. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinglayers-basics-delete.html\">How to Delete a Layer</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DeleteStack":{
      "name":"DeleteStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteStackRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Deletes a specified stack. You must first delete all instances, layers, and apps or deregister registered instances. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-shutting.html\">Shut Down a Stack</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DeleteUserProfile":{
      "name":"DeleteUserProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeleteUserProfileRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Deletes a user profile.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DeregisterElasticIp":{
      "name":"DeregisterElasticIp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterElasticIpRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Deregisters a specified Elastic IP address. The address can then be registered by another stack. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/resources.html\">Resource Management</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DeregisterInstance":{
      "name":"DeregisterInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterInstanceRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Deregister a registered Amazon EC2 or on-premises instance. This action removes the instance from the stack and returns it to your control. This action can not be used with instances that were created with AWS OpsWorks.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DeregisterRdsDbInstance":{
      "name":"DeregisterRdsDbInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterRdsDbInstanceRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Deregisters an Amazon RDS instance.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DeregisterVolume":{
      "name":"DeregisterVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DeregisterVolumeRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Deregisters an Amazon EBS volume. The volume can then be registered by another stack. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/resources.html\">Resource Management</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DescribeApps":{
      "name":"DescribeApps",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeAppsRequest"},
      "output":{
        "shape":"DescribeAppsResult",
        "documentation":"<p>Contains the response to a <code>DescribeApps</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Requests a description of a specified set of apps.</p> <note> <p>You must specify at least one of the parameters.</p> </note> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Show, Deploy, or Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DescribeCommands":{
      "name":"DescribeCommands",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeCommandsRequest"},
      "output":{
        "shape":"DescribeCommandsResult",
        "documentation":"<p>Contains the response to a <code>DescribeCommands</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Describes the results of specified commands.</p> <note> <p>You must specify at least one of the parameters.</p> </note> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Show, Deploy, or Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DescribeDeployments":{
      "name":"DescribeDeployments",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeDeploymentsRequest"},
      "output":{
        "shape":"DescribeDeploymentsResult",
        "documentation":"<p>Contains the response to a <code>DescribeDeployments</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Requests a description of a specified set of deployments.</p> <note> <p>You must specify at least one of the parameters.</p> </note> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Show, Deploy, or Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DescribeElasticIps":{
      "name":"DescribeElasticIps",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeElasticIpsRequest"},
      "output":{
        "shape":"DescribeElasticIpsResult",
        "documentation":"<p>Contains the response to a <code>DescribeElasticIps</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Describes <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html\">Elastic IP addresses</a>.</p> <note> <p>You must specify at least one of the parameters.</p> </note> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Show, Deploy, or Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DescribeElasticLoadBalancers":{
      "name":"DescribeElasticLoadBalancers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeElasticLoadBalancersRequest"},
      "output":{
        "shape":"DescribeElasticLoadBalancersResult",
        "documentation":"<p>Contains the response to a <code>DescribeElasticLoadBalancers</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Describes a stack's Elastic Load Balancing instances.</p> <note> <p>You must specify at least one of the parameters.</p> </note> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Show, Deploy, or Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DescribeInstances":{
      "name":"DescribeInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeInstancesRequest"},
      "output":{
        "shape":"DescribeInstancesResult",
        "documentation":"<p>Contains the response to a <code>DescribeInstances</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Requests a description of a set of instances.</p> <note> <p>You must specify at least one of the parameters.</p> </note> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Show, Deploy, or Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DescribeLayers":{
      "name":"DescribeLayers",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLayersRequest"},
      "output":{
        "shape":"DescribeLayersResult",
        "documentation":"<p>Contains the response to a <code>DescribeLayers</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Requests a description of one or more layers in a specified stack.</p> <note> <p>You must specify at least one of the parameters.</p> </note> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Show, Deploy, or Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DescribeLoadBasedAutoScaling":{
      "name":"DescribeLoadBasedAutoScaling",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeLoadBasedAutoScalingRequest"},
      "output":{
        "shape":"DescribeLoadBasedAutoScalingResult",
        "documentation":"<p>Contains the response to a <code>DescribeLoadBasedAutoScaling</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Describes load-based auto scaling configurations for specified layers.</p> <note> <p>You must specify at least one of the parameters.</p> </note> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Show, Deploy, or Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DescribeMyUserProfile":{
      "name":"DescribeMyUserProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "output":{
        "shape":"DescribeMyUserProfileResult",
        "documentation":"<p>Contains the response to a <code>DescribeMyUserProfile</code> request.</p>"
      },
      "documentation":"<p>Describes a user's SSH information.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have self-management enabled or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DescribePermissions":{
      "name":"DescribePermissions",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribePermissionsRequest"},
      "output":{
        "shape":"DescribePermissionsResult",
        "documentation":"<p>Contains the response to a <code>DescribePermissions</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Describes the permissions for a specified stack.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DescribeRaidArrays":{
      "name":"DescribeRaidArrays",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRaidArraysRequest"},
      "output":{
        "shape":"DescribeRaidArraysResult",
        "documentation":"<p>Contains the response to a <code>DescribeRaidArrays</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Describe an instance's RAID arrays.</p> <note> <p>You must specify at least one of the parameters.</p> </note> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Show, Deploy, or Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DescribeRdsDbInstances":{
      "name":"DescribeRdsDbInstances",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeRdsDbInstancesRequest"},
      "output":{
        "shape":"DescribeRdsDbInstancesResult",
        "documentation":"<p>Contains the response to a <code>DescribeRdsDbInstances</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Describes Amazon RDS instances.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Show, Deploy, or Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DescribeServiceErrors":{
      "name":"DescribeServiceErrors",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeServiceErrorsRequest"},
      "output":{
        "shape":"DescribeServiceErrorsResult",
        "documentation":"<p>Contains the response to a <code>DescribeServiceErrors</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Describes AWS OpsWorks service errors.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Show, Deploy, or Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DescribeStackProvisioningParameters":{
      "name":"DescribeStackProvisioningParameters",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStackProvisioningParametersRequest"},
      "output":{
        "shape":"DescribeStackProvisioningParametersResult",
        "documentation":"<p>Contains the response to a <code>DescribeStackProvisioningParameters</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Requests a description of a stack's provisioning parameters.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Show, Deploy, or Manage permissions level for the stack or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DescribeStackSummary":{
      "name":"DescribeStackSummary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStackSummaryRequest"},
      "output":{
        "shape":"DescribeStackSummaryResult",
        "documentation":"<p>Contains the response to a <code>DescribeStackSummary</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Describes the number of layers and apps in a specified stack, and the number of instances in each state, such as <code>running_setup</code> or <code>online</code>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Show, Deploy, or Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DescribeStacks":{
      "name":"DescribeStacks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeStacksRequest"},
      "output":{
        "shape":"DescribeStacksResult",
        "documentation":"<p>Contains the response to a <code>DescribeStacks</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Requests a description of one or more stacks.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Show, Deploy, or Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DescribeTimeBasedAutoScaling":{
      "name":"DescribeTimeBasedAutoScaling",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeTimeBasedAutoScalingRequest"},
      "output":{
        "shape":"DescribeTimeBasedAutoScalingResult",
        "documentation":"<p>Contains the response to a <code>DescribeTimeBasedAutoScaling</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Describes time-based auto scaling configurations for specified instances.</p> <note> <p>You must specify at least one of the parameters.</p> </note> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Show, Deploy, or Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DescribeUserProfiles":{
      "name":"DescribeUserProfiles",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeUserProfilesRequest"},
      "output":{
        "shape":"DescribeUserProfilesResult",
        "documentation":"<p>Contains the response to a <code>DescribeUserProfiles</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Describe specified users.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DescribeVolumes":{
      "name":"DescribeVolumes",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DescribeVolumesRequest"},
      "output":{
        "shape":"DescribeVolumesResult",
        "documentation":"<p>Contains the response to a <code>DescribeVolumes</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Describes an instance's Amazon EBS volumes.</p> <note> <p>You must specify at least one of the parameters.</p> </note> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Show, Deploy, or Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DetachElasticLoadBalancer":{
      "name":"DetachElasticLoadBalancer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DetachElasticLoadBalancerRequest"},
      "errors":[
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Detaches a specified Elastic Load Balancing instance from its layer.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "DisassociateElasticIp":{
      "name":"DisassociateElasticIp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"DisassociateElasticIpRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Disassociates an Elastic IP address from its instance. The address remains registered with the stack. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/resources.html\">Resource Management</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "GetHostnameSuggestion":{
      "name":"GetHostnameSuggestion",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"GetHostnameSuggestionRequest"},
      "output":{
        "shape":"GetHostnameSuggestionResult",
        "documentation":"<p>Contains the response to a <code>GetHostnameSuggestion</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Gets a generated host name for the specified layer, based on the current host name theme.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "RebootInstance":{
      "name":"RebootInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RebootInstanceRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Reboots a specified instance. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-starting.html\">Starting, Stopping, and Rebooting Instances</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "RegisterElasticIp":{
      "name":"RegisterElasticIp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterElasticIpRequest"},
      "output":{
        "shape":"RegisterElasticIpResult",
        "documentation":"<p>Contains the response to a <code>RegisterElasticIp</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Registers an Elastic IP address with a specified stack. An address can be registered with only one stack at a time. If the address is already registered, you must first deregister it by calling <a>DeregisterElasticIp</a>. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/resources.html\">Resource Management</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "RegisterInstance":{
      "name":"RegisterInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterInstanceRequest"},
      "output":{
        "shape":"RegisterInstanceResult",
        "documentation":"<p>Contains the response to a <code>RegisterInstanceResult</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Registers instances with a specified stack that were created outside of AWS OpsWorks.</p> <note>We do not recommend using this action to register instances. The complete registration operation has two primary steps, installing the AWS OpsWorks agent on the instance and registering the instance with the stack. <code>RegisterInstance</code> handles only the second step. You should instead use the AWS CLI <code>register</code> command, which performs the entire registration operation.</note> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "RegisterRdsDbInstance":{
      "name":"RegisterRdsDbInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterRdsDbInstanceRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Registers an Amazon RDS instance with a stack.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "RegisterVolume":{
      "name":"RegisterVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"RegisterVolumeRequest"},
      "output":{
        "shape":"RegisterVolumeResult",
        "documentation":"<p>Contains the response to a <code>RegisterVolume</code> request.</p>"
      },
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Registers an Amazon EBS volume with a specified stack. A volume can be registered with only one stack at a time. If the volume is already registered, you must first deregister it by calling <a>DeregisterVolume</a>. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/resources.html\">Resource Management</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "SetLoadBasedAutoScaling":{
      "name":"SetLoadBasedAutoScaling",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetLoadBasedAutoScalingRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Specify the load-based auto scaling configuration for a specified layer. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-autoscaling.html\">Managing Load with Time-based and Load-based Instances</a>.</p> <note> <p>To use load-based auto scaling, you must create a set of load-based auto scaling instances. Load-based auto scaling operates only on the instances from that set, so you must ensure that you have created enough instances to handle the maximum anticipated load.</p> </note> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "SetPermission":{
      "name":"SetPermission",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetPermissionRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Specifies a user's permissions. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingsecurity.html\">Security and Permissions</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "SetTimeBasedAutoScaling":{
      "name":"SetTimeBasedAutoScaling",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"SetTimeBasedAutoScalingRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Specify the time-based auto scaling configuration for a specified instance. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-autoscaling.html\">Managing Load with Time-based and Load-based Instances</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "StartInstance":{
      "name":"StartInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartInstanceRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Starts a specified instance. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-starting.html\">Starting, Stopping, and Rebooting Instances</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "StartStack":{
      "name":"StartStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StartStackRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Starts a stack's instances. </p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "StopInstance":{
      "name":"StopInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopInstanceRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Stops a specified instance. When you stop a standard instance, the data disappears and must be reinstalled when you restart the instance. You can stop an Amazon EBS-backed instance without losing data. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-starting.html\">Starting, Stopping, and Rebooting Instances</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "StopStack":{
      "name":"StopStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"StopStackRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Stops a specified stack.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "UnassignInstance":{
      "name":"UnassignInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UnassignInstanceRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Unassigns a registered instance from all of it's layers. The instance remains in the stack as an unassigned instance and can be assigned to another layer, as needed. You cannot use this action with instances that were created with AWS OpsWorks.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "UnassignVolume":{
      "name":"UnassignVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UnassignVolumeRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Unassigns an assigned Amazon EBS volume. The volume remains registered with the stack. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/resources.html\">Resource Management</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "UpdateApp":{
      "name":"UpdateApp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateAppRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Updates a specified app.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Deploy or Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "UpdateElasticIp":{
      "name":"UpdateElasticIp",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateElasticIpRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Updates a registered Elastic IP address's name. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/resources.html\">Resource Management</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "UpdateInstance":{
      "name":"UpdateInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateInstanceRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Updates a specified instance.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "UpdateLayer":{
      "name":"UpdateLayer",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateLayerRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Updates a specified layer.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "UpdateMyUserProfile":{
      "name":"UpdateMyUserProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateMyUserProfileRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        }
      ],
      "documentation":"<p>Updates a user's SSH public key.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have self-management enabled or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "UpdateRdsDbInstance":{
      "name":"UpdateRdsDbInstance",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateRdsDbInstanceRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Updates an Amazon RDS instance.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "UpdateStack":{
      "name":"UpdateStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateStackRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Updates a specified stack.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "UpdateUserProfile":{
      "name":"UpdateUserProfile",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateUserProfileRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Updates a specified user profile.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    },
    "UpdateVolume":{
      "name":"UpdateVolume",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"UpdateVolumeRequest"},
      "errors":[
        {
          "shape":"ValidationException",
          "exception":true,
          "documentation":"<p>Indicates that a request was invalid.</p>"
        },
        {
          "shape":"ResourceNotFoundException",
          "exception":true,
          "documentation":"<p>Indicates that a resource was not found.</p>"
        }
      ],
      "documentation":"<p>Updates an Amazon EBS volume's name or mount point. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/resources.html\">Resource Management</a>.</p> <p><b>Required Permissions</b>: To use this action, an IAM user must have a Manage permissions level for the stack, or an attached policy that explicitly grants permissions. For more information on user permissions, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-users.html\">Managing User Permissions</a>.</p>"
    }
  },
  "shapes":{
    "App":{
      "type":"structure",
      "members":{
        "AppId":{
          "shape":"String",
          "documentation":"<p>The app ID.</p>"
        },
        "StackId":{
          "shape":"String",
          "documentation":"<p>The app stack ID.</p>"
        },
        "Shortname":{
          "shape":"String",
          "documentation":"<p>The app's short name.</p>"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p>The app name.</p>"
        },
        "Description":{
          "shape":"String",
          "documentation":"<p>A description of the app.</p>"
        },
        "DataSources":{
          "shape":"DataSources",
          "documentation":"<p>The app's data sources.</p>"
        },
        "Type":{
          "shape":"AppType",
          "documentation":"<p>The app type.</p>"
        },
        "AppSource":{
          "shape":"Source",
          "documentation":"<p>A <code>Source</code> object that describes the app repository.</p>"
        },
        "Domains":{
          "shape":"Strings",
          "documentation":"<p>The app vhost settings with multiple domains separated by commas. For example: <code>'www.example.com, example.com'</code></p>"
        },
        "EnableSsl":{
          "shape":"Boolean",
          "documentation":"<p>Whether to enable SSL for the app.</p>"
        },
        "SslConfiguration":{
          "shape":"SslConfiguration",
          "documentation":"<p>An <code>SslConfiguration</code> object with the SSL configuration.</p>"
        },
        "Attributes":{
          "shape":"AppAttributes",
          "documentation":"<p>The stack attributes.</p>"
        },
        "CreatedAt":{
          "shape":"String",
          "documentation":"<p>When the app was created.</p>"
        },
        "Environment":{
          "shape":"EnvironmentVariables",
          "documentation":"<p>An array of <code>EnvironmentVariable</code> objects that specify environment variables to be associated with the app. You can specify up to ten environment variables. After you deploy the app, these variables are defined on the associated app server instances.</p>"
        }
      },
      "documentation":"<p>A description of the app.</p>"
    },
    "AppAttributes":{
      "type":"map",
      "key":{"shape":"AppAttributesKeys"},
      "value":{"shape":"String"}
    },
    "AppAttributesKeys":{
      "type":"string",
      "enum":[
        "DocumentRoot",
        "RailsEnv",
        "AutoBundleOnDeploy"
      ]
    },
    "AppType":{
      "type":"string",
      "enum":[
        "java",
        "rails",
        "php",
        "nodejs",
        "static",
        "other"
      ]
    },
    "Apps":{
      "type":"list",
      "member":{"shape":"App"}
    },
    "Architecture":{
      "type":"string",
      "enum":[
        "x86_64",
        "i386"
      ]
    },
    "AssignInstanceRequest":{
      "type":"structure",
      "required":[
        "InstanceId",
        "LayerIds"
      ],
      "members":{
        "InstanceId":{
          "shape":"String",
          "documentation":"<p>The instance ID.</p>"
        },
        "LayerIds":{
          "shape":"Strings",
          "documentation":"<p>The layer ID, which must correspond to a custom layer. You cannot assign a registered instance to a built-in layer.</p>"
        }
      }
    },
    "AssignVolumeRequest":{
      "type":"structure",
      "required":["VolumeId"],
      "members":{
        "VolumeId":{
          "shape":"String",
          "documentation":"<p>The volume ID.</p>"
        },
        "InstanceId":{
          "shape":"String",
          "documentation":"<p>The instance ID.</p>"
        }
      }
    },
    "AssociateElasticIpRequest":{
      "type":"structure",
      "required":["ElasticIp"],
      "members":{
        "ElasticIp":{
          "shape":"String",
          "documentation":"<p>The Elastic IP address.</p>"
        },
        "InstanceId":{
          "shape":"String",
          "documentation":"<p>The instance ID.</p>"
        }
      }
    },
    "AttachElasticLoadBalancerRequest":{
      "type":"structure",
      "required":[
        "ElasticLoadBalancerName",
        "LayerId"
      ],
      "members":{
        "ElasticLoadBalancerName":{
          "shape":"String",
          "documentation":"<p>The Elastic Load Balancing instance's name.</p>"
        },
        "LayerId":{
          "shape":"String",
          "documentation":"<p>The ID of the layer that the Elastic Load Balancing instance is to be attached to.</p>"
        }
      }
    },
    "AutoScalingThresholds":{
      "type":"structure",
      "members":{
        "InstanceCount":{
          "shape":"Integer",
          "documentation":"<p>The number of instances to add or remove when the load exceeds a threshold.</p>"
        },
        "ThresholdsWaitTime":{
          "shape":"Minute",
          "documentation":"<p>The amount of time, in minutes, that the load must exceed a threshold before more instances are added or removed.</p>"
        },
        "IgnoreMetricsTime":{
          "shape":"Minute",
          "documentation":"<p>The amount of time (in minutes) after a scaling event occurs that AWS OpsWorks should ignore metrics and not raise any additional scaling events. For example, AWS OpsWorks adds new instances following an upscaling event but the instances won't start reducing the load until they have been booted and configured. There is no point in raising additional scaling events during that operation, which typically takes several minutes. <code>IgnoreMetricsTime</code> allows you to direct AWS OpsWorks to not raise any scaling events long enough to get the new instances online.</p>"
        },
        "CpuThreshold":{
          "shape":"Double",
          "documentation":"<p>The CPU utilization threshold, as a percent of the available CPU.</p>"
        },
        "MemoryThreshold":{
          "shape":"Double",
          "documentation":"<p>The memory utilization threshold, as a percent of the available memory.</p>"
        },
        "LoadThreshold":{
          "shape":"Double",
          "documentation":"<p>The load threshold. For more information about how load is computed, see <a href=\"http://en.wikipedia.org/wiki/Load_%28computing%29\">Load (computing)</a>.</p>"
        }
      },
      "documentation":"<p>Describes a load-based auto scaling upscaling or downscaling threshold configuration, which specifies when AWS OpsWorks starts or stops load-based instances.</p>"
    },
    "AutoScalingType":{
      "type":"string",
      "enum":[
        "load",
        "timer"
      ]
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "ChefConfiguration":{
      "type":"structure",
      "members":{
        "ManageBerkshelf":{
          "shape":"Boolean",
          "documentation":"<p>Whether to enable Berkshelf.</p>"
        },
        "BerkshelfVersion":{
          "shape":"String",
          "documentation":"<p>The Berkshelf version.</p>"
        }
      },
      "documentation":"<p>Describes the Chef configuration.</p>"
    },
    "CloneStackRequest":{
      "type":"structure",
      "required":[
        "SourceStackId",
        "ServiceRoleArn"
      ],
      "members":{
        "SourceStackId":{
          "shape":"String",
          "documentation":"<p>The source stack ID.</p>"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p>The cloned stack name.</p>"
        },
        "Region":{
          "shape":"String",
          "documentation":"<p>The cloned stack AWS region, such as \"us-east-1\". For more information about AWS regions, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html\">Regions and Endpoints</a>.</p>"
        },
        "VpcId":{
          "shape":"String",
          "documentation":"<p>The ID of the VPC that the cloned stack is to be launched into. It must be in the specified region. All instances are launched into this VPC, and you cannot change the ID later.</p> <ul> <li>If your account supports EC2 Classic, the default value is no VPC.</li> <li>If your account does not support EC2 Classic, the default value is the default VPC for the specified region.</li> </ul> <p>If the VPC ID corresponds to a default VPC and you have specified either the <code>DefaultAvailabilityZone</code> or the <code>DefaultSubnetId</code> parameter only, AWS OpsWorks infers the value of the other parameter. If you specify neither parameter, AWS OpsWorks sets these parameters to the first valid Availability Zone for the specified region and the corresponding default VPC subnet ID, respectively. </p> <p>If you specify a nondefault VPC ID, note the following:</p> <ul> <li>It must belong to a VPC in your account that is in the specified region.</li> <li>You must specify a value for <code>DefaultSubnetId</code>.</li> </ul> <p>For more information on how to use AWS OpsWorks with a VPC, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-vpc.html\">Running a Stack in a VPC</a>. For more information on default VPC and EC2 Classic, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-supported-platforms.html\">Supported Platforms</a>. </p>"
        },
        "Attributes":{
          "shape":"StackAttributes",
          "documentation":"<p>A list of stack attributes and values as key/value pairs to be added to the cloned stack.</p>"
        },
        "ServiceRoleArn":{
          "shape":"String",
          "documentation":"<p>The stack AWS Identity and Access Management (IAM) role, which allows AWS OpsWorks to work with AWS resources on your behalf. You must set this parameter to the Amazon Resource Name (ARN) for an existing IAM role. If you create a stack by using the AWS OpsWorks console, it creates the role for you. You can obtain an existing stack's IAM ARN programmatically by calling <a>DescribePermissions</a>. For more information about IAM ARNs, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">Using Identifiers</a>.</p> <note> <p>You must set this parameter to a valid service role ARN or the action will fail; there is no default value. You can specify the source stack's service role ARN, if you prefer, but you must do so explicitly.</p> </note>"
        },
        "DefaultInstanceProfileArn":{
          "shape":"String",
          "documentation":"<p>The ARN of an IAM profile that is the default profile for all of the stack's EC2 instances. For more information about IAM ARNs, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">Using Identifiers</a>.</p>"
        },
        "DefaultOs":{
          "shape":"String",
          "documentation":"<p>The stacks's operating system, which must be set to one of the following.</p> <ul> <li>Standard operating systems: an Amazon Linux version such as <code>Amazon Linux 2014.09</code>, <code>Ubuntu 12.04 LTS</code>, or <code>Ubuntu 14.04 LTS</code>.</li> <li>Custom AMIs: <code>Custom</code>. You specify the custom AMI you want to use when you create instances.</li> </ul> <p> The default option is the current Amazon Linux version.</p>"
        },
        "HostnameTheme":{
          "shape":"String",
          "documentation":"<p>The stack's host name theme, with spaces are replaced by underscores. The theme is used to generate host names for the stack's instances. By default, <code>HostnameTheme</code> is set to <code>Layer_Dependent</code>, which creates host names by appending integers to the layer's short name. The other themes are:</p> <ul> <li><code>Baked_Goods</code></li> <li><code>Clouds</code></li> <li><code>European_Cities</code></li> <li><code>Fruits</code></li> <li><code>Greek_Deities</code></li> <li><code>Legendary_Creatures_from_Japan</code></li> <li><code>Planets_and_Moons</code></li> <li><code>Roman_Deities</code></li> <li><code>Scottish_Islands</code></li> <li><code>US_Cities</code></li> <li><code>Wild_Cats</code></li> </ul> <p>To obtain a generated host name, call <code>GetHostNameSuggestion</code>, which returns a host name based on the current theme.</p>"
        },
        "DefaultAvailabilityZone":{
          "shape":"String",
          "documentation":"<p>The cloned stack's default Availability Zone, which must be in the specified region. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html\">Regions and Endpoints</a>. If you also specify a value for <code>DefaultSubnetId</code>, the subnet must be in the same zone. For more information, see the <code>VpcId</code> parameter description. </p>"
        },
        "DefaultSubnetId":{
          "shape":"String",
          "documentation":"<p>The stack's default VPC subnet ID. This parameter is required if you specify a value for the <code>VpcId</code> parameter. All instances are launched into this subnet unless you specify otherwise when you create the instance. If you also specify a value for <code>DefaultAvailabilityZone</code>, the subnet must be in that zone. For information on default values and when this parameter is required, see the <code>VpcId</code> parameter description. </p>"
        },
        "CustomJson":{
          "shape":"String",
          "documentation":"<p>A string that contains user-defined, custom JSON. It is used to override the corresponding default stack configuration JSON values. The string should be in the following format and must escape characters such as '\"'.:</p> <p><code>\"{\\\"key1\\\": \\\"value1\\\", \\\"key2\\\": \\\"value2\\\",...}\"</code></p> <p>For more information on custom JSON, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-json.html\">Use Custom JSON to Modify the Stack Configuration JSON</a></p>"
        },
        "ConfigurationManager":{
          "shape":"StackConfigurationManager",
          "documentation":"<p>The configuration manager. When you clone a stack we recommend that you use the configuration manager to specify the Chef version, 0.9, 11.4, or 11.10. The default value is currently 11.4.</p>"
        },
        "ChefConfiguration":{
          "shape":"ChefConfiguration",
          "documentation":"<p>A <code>ChefConfiguration</code> object that specifies whether to enable Berkshelf and the Berkshelf version on Chef 11.10 stacks. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-creating.html\">Create a New Stack</a>.</p>"
        },
        "UseCustomCookbooks":{
          "shape":"Boolean",
          "documentation":"<p>Whether to use custom cookbooks.</p>"
        },
        "UseOpsworksSecurityGroups":{
          "shape":"Boolean",
          "documentation":"<p>Whether to associate the AWS OpsWorks built-in security groups with the stack's layers.</p> <p>AWS OpsWorks provides a standard set of built-in security groups, one for each layer, which are associated with layers by default. With <code>UseOpsworksSecurityGroups</code> you can instead provide your own custom security groups. <code>UseOpsworksSecurityGroups</code> has the following settings: </p> <ul> <li>True - AWS OpsWorks automatically associates the appropriate built-in security group with each layer (default setting). You can associate additional security groups with a layer after you create it but you cannot delete the built-in security group. </li> <li>False - AWS OpsWorks does not associate built-in security groups with layers. You must create appropriate EC2 security groups and associate a security group with each layer that you create. However, you can still manually associate a built-in security group with a layer on creation; custom security groups are required only for those layers that need custom settings. </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-creating.html\">Create a New Stack</a>.</p>"
        },
        "CustomCookbooksSource":{"shape":"Source"},
        "DefaultSshKeyName":{
          "shape":"String",
          "documentation":"<p>A default SSH key for the stack instances. You can override this value when you create or update an instance.</p>"
        },
        "ClonePermissions":{
          "shape":"Boolean",
          "documentation":"<p>Whether to clone the source stack's permissions.</p>"
        },
        "CloneAppIds":{
          "shape":"Strings",
          "documentation":"<p>A list of source stack app IDs to be included in the cloned stack.</p>"
        },
        "DefaultRootDeviceType":{
          "shape":"RootDeviceType",
          "documentation":"<p>The default root device type. This value is used by default for all instances in the cloned stack, but you can override it when you create an instance. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ComponentsAMIs.html#storage-for-the-root-device\">Storage for the Root Device</a>.</p>"
        }
      }
    },
    "CloneStackResult":{
      "type":"structure",
      "members":{
        "StackId":{
          "shape":"String",
          "documentation":"<p>The cloned stack ID.</p>"
        }
      },
      "documentation":"<p>Contains the response to a <code>CloneStack</code> request.</p>"
    },
    "Command":{
      "type":"structure",
      "members":{
        "CommandId":{
          "shape":"String",
          "documentation":"<p>The command ID.</p>"
        },
        "InstanceId":{
          "shape":"String",
          "documentation":"<p>The ID of the instance where the command was executed.</p>"
        },
        "DeploymentId":{
          "shape":"String",
          "documentation":"<p>The command deployment ID.</p>"
        },
        "CreatedAt":{
          "shape":"DateTime",
          "documentation":"<p>Date and time when the command was run.</p>"
        },
        "AcknowledgedAt":{
          "shape":"DateTime",
          "documentation":"<p>Date and time when the command was acknowledged.</p>"
        },
        "CompletedAt":{
          "shape":"DateTime",
          "documentation":"<p>Date when the command completed.</p>"
        },
        "Status":{
          "shape":"String",
          "documentation":"<p>The command status:</p> <ul> <li>failed</li> <li>successful</li> <li>skipped</li> <li>pending</li> </ul>"
        },
        "ExitCode":{
          "shape":"Integer",
          "documentation":"<p>The command exit code.</p>"
        },
        "LogUrl":{
          "shape":"String",
          "documentation":"<p>The URL of the command log.</p>"
        },
        "Type":{
          "shape":"String",
          "documentation":"<p>The command type:</p> <ul> <li><code>deploy</code></li> <li><code>rollback</code></li> <li><code>start</code></li> <li><code>stop</code></li> <li><code>restart</code></li> <li><code>undeploy</code></li> <li><code>update_dependencies</code></li> <li><code>install_dependencies</code></li> <li><code>update_custom_cookbooks</code></li> <li><code>execute_recipes</code></li> </ul>"
        }
      },
      "documentation":"<p>Describes a command.</p>"
    },
    "Commands":{
      "type":"list",
      "member":{"shape":"Command"}
    },
    "CreateAppRequest":{
      "type":"structure",
      "required":[
        "StackId",
        "Name",
        "Type"
      ],
      "members":{
        "StackId":{
          "shape":"String",
          "documentation":"<p>The stack ID.</p>"
        },
        "Shortname":{
          "shape":"String",
          "documentation":"<p>The app's short name.</p>"
        },
        "Name":{
          "shape":"String",
          "documentation":"<p>The app name.</p>"
        },
        "Description":{
          "shape":"String",
          "documentation":"<p>A description of the app.</p>"
        },
        "DataSources":{
          "shape":"DataSources",
          "documentation":"<p>The app's data source.</p>"
        },
        "Type":{
          "shape":"AppType",
          "documentation":"<p>The app type. Each supported type is associated with a particular layer. For example, PHP applications are associated with a PHP layer. AWS OpsWorks deploys an application to those instances that are members of the corresponding layer.</p>"
        },
        "AppSource":{
          "shape":"Source",
          "documentation":"<p>A <code>Source</code> object that specifies the app repository.</p>"
        },
        "Domains":{
          "shape":"Strings",
          "documentation":"<p>The app virtual host settings, with multiple domains separated by commas. For example: <code>'www.example.com, example.com'</code></p>"
        },
        "EnableSsl":{
          "shape":"Boolean",
          "documentation":"<p>Whether to enable SSL for the app.</p>"
        },
        "SslConfiguration":{
          "shape":"SslConfiguration",
          "documentation":"<p>An <code>SslConfiguration</code> object with the SSL configuration.</p>"
        },
        "Attributes":{
          "shape":"AppAttributes",
          "documentation":"<p>One or more user-defined key/value pairs to be added to the stack attributes.</p>"
        },
        "Environment":{
          "shape":"EnvironmentVariables",
          "documentation":"<p>An array of <code>EnvironmentVariable</code> objects that specify environment variables to be associated with the app. You can specify up to ten environment variables. After you deploy the app, these variables are defined on the associated app server instance.</p> <note>This parameter is supported only by Chef 11.10 stacks. If you have specified one or more environment variables, you cannot modify the stack's Chef version.</note>"
        }
      }
    },
    "CreateAppResult":{
      "type":"structure",
[...]
