{
  "metadata":{
    "apiVersion":"2010-05-15",
    "endpointPrefix":"cloudformation",
    "serviceFullName":"AWS CloudFormation",
    "signatureVersion":"v4",
    "xmlNamespace":"http://cloudformation.amazonaws.com/doc/2010-05-15/",
    "protocol":"query"
  },
  "documentation":"<fullname>AWS CloudFormation</fullname> <p>AWS CloudFormation enables you to create and manage AWS infrastructure deployments predictably and repeatedly. AWS CloudFormation helps you leverage AWS products such as Amazon EC2, EBS, Amazon SNS, ELB, and Auto Scaling to build highly-reliable, highly scalable, cost effective applications without worrying about creating and configuring the underlying AWS infrastructure.</p> <p>With AWS CloudFormation, you declare all of your resources and dependencies in a template file. The template defines a collection of resources as a single unit called a stack. AWS CloudFormation creates and deletes all member resources of the stack together and manages all dependencies between the resources for you.</p> <p>For more information about this product, go to the <a href=\"http://aws.amazon.com/cloudformation/\">CloudFormation Product Page</a>.</p> <p>Amazon CloudFormation makes use of other AWS products. If you need additional technical information about a specific AWS product, you can find the product's technical documentation at <a href=\"http://aws.amazon.com/documentation/\">http://aws.amazon.com/documentation/</a>.</p>",
  "operations":{
    "CancelUpdateStack":{
      "name":"CancelUpdateStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CancelUpdateStackInput",
        "documentation":"<p>The input for <a>CancelUpdateStack</a> action.</p>"
      },
      "documentation":"<p>Cancels an update on the specified stack. If the call completes successfully, the stack will roll back the update and revert to the previous stack configuration.</p> <note>Only stacks that are in the UPDATE_IN_PROGRESS state can be canceled.</note>"
    },
    "CreateStack":{
      "name":"CreateStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"CreateStackInput",
        "documentation":"<p>The input for <a>CreateStack</a> action.</p>"
      },
      "output":{
        "shape":"CreateStackOutput",
        "documentation":"<p>The output for a <a>CreateStack</a> action.</p>",
        "resultWrapper":"CreateStackResult"
      },
      "errors":[
        {
          "shape":"LimitExceededException",
          "error":{
            "code":"LimitExceededException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Quota for the resource has already been reached.</p>"
        },
        {
          "shape":"AlreadyExistsException",
          "error":{
            "code":"AlreadyExistsException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>Resource with the name requested already exists.</p>"
        },
        {
          "shape":"InsufficientCapabilitiesException",
          "error":{
            "code":"InsufficientCapabilitiesException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The template contains resources with capabilities that were not specified in the Capabilities parameter.</p>"
        }
      ],
      "documentation":"<p>Creates a stack as specified in the template. After the call completes successfully, the stack creation starts. You can check the status of the stack via the <a>DescribeStacks</a> API.</p>"
    },
    "DeleteStack":{
      "name":"DeleteStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DeleteStackInput",
        "documentation":"<p>The input for <a>DeleteStack</a> action.</p>"
      },
      "documentation":"<p>Deletes a specified stack. Once the call completes successfully, stack deletion starts. Deleted stacks do not show up in the <a>DescribeStacks</a> API if the deletion has been completed successfully.</p>"
    },
    "DescribeStackEvents":{
      "name":"DescribeStackEvents",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeStackEventsInput",
        "documentation":"<p>The input for <a>DescribeStackEvents</a> action.</p>"
      },
      "output":{
        "shape":"DescribeStackEventsOutput",
        "documentation":"<p>The output for a <a>DescribeStackEvents</a> action.</p>",
        "resultWrapper":"DescribeStackEventsResult"
      },
      "documentation":"<p>Returns all stack related events for a specified stack. For more information about a stack's event history, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/concept-stack.html\">Stacks</a> in the AWS CloudFormation User Guide.</p> <note>You can list events for stacks that have failed to create or have been deleted by specifying the unique stack identifier (stack ID).</note>"
    },
    "DescribeStackResource":{
      "name":"DescribeStackResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeStackResourceInput",
        "documentation":"<p>The input for <a>DescribeStackResource</a> action.</p>"
      },
      "output":{
        "shape":"DescribeStackResourceOutput",
        "documentation":"<p>The output for a <a>DescribeStackResource</a> action.</p>",
        "resultWrapper":"DescribeStackResourceResult"
      },
      "documentation":"<p>Returns a description of the specified resource in the specified stack.</p> <p>For deleted stacks, DescribeStackResource returns resource information for up to 90 days after the stack has been deleted.</p>"
    },
    "DescribeStackResources":{
      "name":"DescribeStackResources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeStackResourcesInput",
        "documentation":"<p>The input for <a>DescribeStackResources</a> action.</p>"
      },
      "output":{
        "shape":"DescribeStackResourcesOutput",
        "documentation":"<p>The output for a <a>DescribeStackResources</a> action.</p>",
        "resultWrapper":"DescribeStackResourcesResult"
      },
      "documentation":"<p>Returns AWS resource descriptions for running and deleted stacks. If <code>StackName</code> is specified, all the associated resources that are part of the stack are returned. If <code>PhysicalResourceId</code> is specified, the associated resources of the stack that the resource belongs to are returned.</p> <note>Only the first 100 resources will be returned. If your stack has more resources than this, you should use <code>ListStackResources</code> instead.</note> <p>For deleted stacks, <code>DescribeStackResources</code> returns resource information for up to 90 days after the stack has been deleted.</p> <p>You must specify either <code>StackName</code> or <code>PhysicalResourceId</code>, but not both. In addition, you can specify <code>LogicalResourceId</code> to filter the returned result. For more information about resources, the <code>LogicalResourceId</code> and <code>PhysicalResourceId</code>, go to the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide\">AWS CloudFormation User Guide</a>.</p> <note>A <code>ValidationError</code> is returned if you specify both <code>StackName</code> and <code>PhysicalResourceId</code> in the same request.</note>"
    },
    "DescribeStacks":{
      "name":"DescribeStacks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"DescribeStacksInput",
        "documentation":"<p>The input for <a>DescribeStacks</a> action.</p>"
      },
      "output":{
        "shape":"DescribeStacksOutput",
        "documentation":"<p>The output for a <a>DescribeStacks</a> action.</p>",
        "resultWrapper":"DescribeStacksResult"
      },
      "documentation":"<p>Returns the description for the specified stack; if no stack name was specified, then it returns the description for all the stacks created.</p>"
    },
    "EstimateTemplateCost":{
      "name":"EstimateTemplateCost",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{"shape":"EstimateTemplateCostInput"},
      "output":{
        "shape":"EstimateTemplateCostOutput",
        "documentation":"<p>The output for a <a>EstimateTemplateCost</a> action.</p>",
        "resultWrapper":"EstimateTemplateCostResult"
      },
      "documentation":"<p>Returns the estimated monthly cost of a template. The return value is an AWS Simple Monthly Calculator URL with a query string that describes the resources required to run the template.</p>"
    },
    "GetStackPolicy":{
      "name":"GetStackPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"GetStackPolicyInput",
        "documentation":"<p>The input for the <a>GetStackPolicy</a> action.</p>"
      },
      "output":{
        "shape":"GetStackPolicyOutput",
        "documentation":"<p>The output for the <a>GetStackPolicy</a> action.</p>",
        "resultWrapper":"GetStackPolicyResult"
      },
      "documentation":"<p>Returns the stack policy for a specified stack. If a stack doesn't have a policy, a null value is returned.</p>"
    },
    "GetTemplate":{
      "name":"GetTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"GetTemplateInput",
        "documentation":"<p>The input for a <a>GetTemplate</a> action.</p>"
      },
      "output":{
        "shape":"GetTemplateOutput",
        "documentation":"<p>The output for <a>GetTemplate</a> action.</p>",
        "resultWrapper":"GetTemplateResult"
      },
      "documentation":"<p>Returns the template body for a specified stack. You can get the template for running or deleted stacks.</p> <p>For deleted stacks, GetTemplate returns the template for up to 90 days after the stack has been deleted.</p> <note> If the template does not exist, a <code>ValidationError</code> is returned. </note>"
    },
    "GetTemplateSummary":{
      "name":"GetTemplateSummary",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"GetTemplateSummaryInput",
        "documentation":"<p>The input for the <a>GetTemplateSummary</a> action.</p>"
      },
      "output":{
        "shape":"GetTemplateSummaryOutput",
        "documentation":"<p>The output for the <a>GetTemplateSummary</a> action.</p>",
        "resultWrapper":"GetTemplateSummaryResult"
      },
      "documentation":"<p>Returns information about a new or existing template. The <code>GetTemplateSummary</code> action is useful for viewing parameter information, such as default parameter values and parameter types, before you create or update a stack.</p> <p>You can use the <code>GetTemplateSummary</code> action when you submit a template, or you can get template information for a running or deleted stack.</p> <p>For deleted stacks, <code>GetTemplateSummary</code> returns the template information for up to 90 days after the stack has been deleted. If the template does not exist, a <code>ValidationError</code> is returned.</p>"
    },
    "ListStackResources":{
      "name":"ListStackResources",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListStackResourcesInput",
        "documentation":"<p>The input for the <a>ListStackResource</a> action.</p>"
      },
      "output":{
        "shape":"ListStackResourcesOutput",
        "documentation":"<p>The output for a <a>ListStackResources</a> action.</p>",
        "resultWrapper":"ListStackResourcesResult"
      },
      "documentation":"<p>Returns descriptions of all resources of the specified stack.</p> <p>For deleted stacks, ListStackResources returns resource information for up to 90 days after the stack has been deleted.</p>"
    },
    "ListStacks":{
      "name":"ListStacks",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ListStacksInput",
        "documentation":"<p>The input for <a>ListStacks</a> action.</p>"
      },
      "output":{
        "shape":"ListStacksOutput",
        "documentation":"<p>The output for <a>ListStacks</a> action.</p>",
        "resultWrapper":"ListStacksResult"
      },
      "documentation":"<p>Returns the summary information for stacks whose status matches the specified StackStatusFilter. Summary information for stacks that have been deleted is kept for 90 days after the stack is deleted. If no StackStatusFilter is specified, summary information for all stacks is returned (including existing stacks and stacks that have been deleted).</p>"
    },
    "SetStackPolicy":{
      "name":"SetStackPolicy",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"SetStackPolicyInput",
        "documentation":"<p>The input for the <a>SetStackPolicy</a> action.</p>"
      },
      "documentation":"<p>Sets a stack policy for a specified stack.</p>"
    },
    "SignalResource":{
      "name":"SignalResource",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"SignalResourceInput",
        "documentation":"<p>The input for the <a>SignalResource</a> action.</p>"
      },
      "documentation":"<p>Sends a signal to the specified resource with a success or failure status. You can use the SignalResource API in conjunction with a creation policy or update policy. AWS CloudFormation doesn't proceed with a stack creation or update until resources receive the required number of signals or the timeout period is exceeded. The SignalResource API is useful in cases where you want to send signals from anywhere other than an Amazon EC2 instance.</p>"
    },
    "UpdateStack":{
      "name":"UpdateStack",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"UpdateStackInput",
        "documentation":"<p>The input for <a>UpdateStack</a> action.</p>"
      },
      "output":{
        "shape":"UpdateStackOutput",
        "documentation":"<p>The output for a <a>UpdateStack</a> action.</p>",
        "resultWrapper":"UpdateStackResult"
      },
      "errors":[
        {
          "shape":"InsufficientCapabilitiesException",
          "error":{
            "code":"InsufficientCapabilitiesException",
            "httpStatusCode":400,
            "senderFault":true
          },
          "exception":true,
          "documentation":"<p>The template contains resources with capabilities that were not specified in the Capabilities parameter.</p>"
        }
      ],
      "documentation":"<p>Updates a stack as specified in the template. After the call completes successfully, the stack update starts. You can check the status of the stack via the <a>DescribeStacks</a> action.</p> <p>To get a copy of the template for an existing stack, you can use the <a>GetTemplate</a> action.</p> <p>Tags that were associated with this stack during creation time will still be associated with the stack after an <code>UpdateStack</code> operation.</p> <p>For more information about creating an update template, updating a stack, and monitoring the progress of the update, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks.html\">Updating a Stack</a>.</p>"
    },
    "ValidateTemplate":{
      "name":"ValidateTemplate",
      "http":{
        "method":"POST",
        "requestUri":"/"
      },
      "input":{
        "shape":"ValidateTemplateInput",
        "documentation":"<p>The input for <a>ValidateTemplate</a> action.</p>"
      },
      "output":{
        "shape":"ValidateTemplateOutput",
        "documentation":"<p>The output for <a>ValidateTemplate</a> action.</p>",
        "resultWrapper":"ValidateTemplateResult"
      },
      "documentation":"<p>Validates a specified template.</p>"
    }
  },
  "shapes":{
    "AlreadyExistsException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"AlreadyExistsException",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Resource with the name requested already exists.</p>"
    },
    "CancelUpdateStackInput":{
      "type":"structure",
      "required":["StackName"],
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name or the unique identifier associated with the stack.</p>"
        }
      },
      "documentation":"<p>The input for <a>CancelUpdateStack</a> action.</p>"
    },
    "Capabilities":{
      "type":"list",
      "member":{"shape":"Capability"}
    },
    "CapabilitiesReason":{"type":"string"},
    "Capability":{
      "type":"string",
      "enum":["CAPABILITY_IAM"]
    },
    "CreateStackInput":{
      "type":"structure",
      "required":["StackName"],
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name associated with the stack. The name must be unique within your AWS account.</p> <note>Must contain only alphanumeric characters (case sensitive) and start with an alpha character. Maximum length of the name is 255 characters.</note>"
        },
        "TemplateBody":{
          "shape":"TemplateBody",
          "documentation":"<p>Structure containing the template body with a minimum length of 1 byte and a maximum length of 51,200 bytes. For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must specify either the <code>TemplateBody</code> or the <code>TemplateURL</code> parameter, but not both.</p>"
        },
        "TemplateURL":{
          "shape":"TemplateURL",
          "documentation":"<p>Location of file containing the template body. The URL must point to a template (max size: 307,200 bytes) located in an S3 bucket in the same region as the stack. For more information, go to the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must specify either the <code>TemplateBody</code> or the <code>TemplateURL</code> parameter, but not both.</p>"
        },
        "Parameters":{
          "shape":"Parameters",
          "documentation":"<p>A list of <code>Parameter</code> structures that specify input parameters for the stack.</p>"
        },
        "DisableRollback":{
          "shape":"DisableRollback",
          "documentation":"<p>Set to <code>true</code> to disable rollback of the stack if stack creation failed. You can specify either <code>DisableRollback</code> or <code>OnFailure</code>, but not both.</p> <p>Default: <code>false</code> </p>"
        },
        "TimeoutInMinutes":{
          "shape":"TimeoutMinutes",
          "documentation":"<p>The amount of time that can pass before the stack status becomes CREATE_FAILED; if <code>DisableRollback</code> is not set or is set to <code>false</code>, the stack will be rolled back.</p>"
        },
        "NotificationARNs":{
          "shape":"NotificationARNs",
          "documentation":"<p>The Simple Notification Service (SNS) topic ARNs to publish stack related events. You can find your SNS topic ARNs using the <a href=\"http://console.aws.amazon.com/sns\">SNS console</a> or your Command Line Interface (CLI).</p>"
        },
        "Capabilities":{
          "shape":"Capabilities",
          "documentation":"<p>A list of capabilities that you must specify before AWS CloudFormation can create or update certain stacks. Some stack templates might include resources that can affect permissions in your AWS account. For those stacks, you must explicitly acknowledge their capabilities by specifying this parameter.</p> <p>Currently, the only valid value is <code>CAPABILITY_IAM</code>, which is required for the following resources: <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-stack.html\"> AWS::CloudFormation::Stack</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\"> AWS::IAM::AccessKey</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\"> AWS::IAM::Group</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\"> AWS::IAM::Policy</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\"> AWS::IAM::Role</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\"> AWS::IAM::User</a>, and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a>. If your stack template contains these resources, we recommend that you review any permissions associated with them. If you don't specify this parameter, this action returns an <code>InsufficientCapabilities</code> error.</p>"
        },
        "OnFailure":{
          "shape":"OnFailure",
          "documentation":"<p>Determines what action will be taken if stack creation fails. This must be one of: DO_NOTHING, ROLLBACK, or DELETE. You can specify either <code>OnFailure</code> or <code>DisableRollback</code>, but not both.</p> <p>Default: <code>ROLLBACK</code></p>"
        },
        "StackPolicyBody":{
          "shape":"StackPolicyBody",
          "documentation":"<p>Structure containing the stack policy body. For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/protect-stack-resources.html\"> Prevent Updates to Stack Resources</a> in the AWS CloudFormation User Guide. You can specify either the <code>StackPolicyBody</code> or the <code>StackPolicyURL</code> parameter, but not both.</p>"
        },
        "StackPolicyURL":{
          "shape":"StackPolicyURL",
          "documentation":"<p>Location of a file containing the stack policy. The URL must point to a policy (max size: 16KB) located in an S3 bucket in the same region as the stack. You can specify either the <code>StackPolicyBody</code> or the <code>StackPolicyURL</code> parameter, but not both.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>A set of user-defined <code>Tags</code> to associate with this stack, represented by key/value pairs. Tags defined for the stack are propagated to EC2 resources that are created as part of the stack. A maximum number of 10 tags can be specified.</p>"
        }
      },
      "documentation":"<p>The input for <a>CreateStack</a> action.</p>"
    },
    "CreateStackOutput":{
      "type":"structure",
      "members":{
        "StackId":{
          "shape":"StackId",
          "documentation":"<p>Unique identifier of the stack.</p>"
        }
      },
      "documentation":"<p>The output for a <a>CreateStack</a> action.</p>"
    },
    "CreationTime":{"type":"timestamp"},
    "DeleteStackInput":{
      "type":"structure",
      "required":["StackName"],
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name or the unique identifier associated with the stack.</p>"
        }
      },
      "documentation":"<p>The input for <a>DeleteStack</a> action.</p>"
    },
    "DeletionTime":{"type":"timestamp"},
    "DescribeStackEventsInput":{
      "type":"structure",
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name or the unique identifier associated with the stack, which are not always interchangeable:</p> <ul> <li>Running stacks: You can specify either the stack's name or its unique stack ID.</li> <li>Deleted stacks: You must specify the unique stack ID.</li> </ul> <p>Default: There is no default value.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>String that identifies the start of the next list of events, if there is one.</p> <p>Default: There is no default value.</p>"
        }
      },
      "documentation":"<p>The input for <a>DescribeStackEvents</a> action.</p>"
    },
    "DescribeStackEventsOutput":{
      "type":"structure",
      "members":{
        "StackEvents":{
          "shape":"StackEvents",
          "documentation":"<p>A list of <code>StackEvents</code> structures.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>String that identifies the start of the next list of events, if there is one.</p>"
        }
      },
      "documentation":"<p>The output for a <a>DescribeStackEvents</a> action.</p>"
    },
    "DescribeStackResourceInput":{
      "type":"structure",
      "required":[
        "StackName",
        "LogicalResourceId"
      ],
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name or the unique identifier associated with the stack, which are not always interchangeable:</p> <ul> <li>Running stacks: You can specify either the stack's name or its unique stack ID.</li> <li>Deleted stacks: You must specify the unique stack ID.</li> </ul> <p>Default: There is no default value.</p>"
        },
        "LogicalResourceId":{
          "shape":"LogicalResourceId",
          "documentation":"<p>The logical name of the resource as specified in the template.</p> <p>Default: There is no default value.</p>"
        }
      },
      "documentation":"<p>The input for <a>DescribeStackResource</a> action.</p>"
    },
    "DescribeStackResourceOutput":{
      "type":"structure",
      "members":{
        "StackResourceDetail":{
          "shape":"StackResourceDetail",
          "documentation":"<p>A <code>StackResourceDetail</code> structure containing the description of the specified resource in the specified stack.</p>"
        }
      },
      "documentation":"<p>The output for a <a>DescribeStackResource</a> action.</p>"
    },
    "DescribeStackResourcesInput":{
      "type":"structure",
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name or the unique identifier associated with the stack, which are not always interchangeable:</p> <ul> <li>Running stacks: You can specify either the stack's name or its unique stack ID.</li> <li>Deleted stacks: You must specify the unique stack ID.</li> </ul> <p>Default: There is no default value.</p> <p>Required: Conditional. If you do not specify <code>StackName</code>, you must specify <code>PhysicalResourceId</code>.</p>"
        },
        "LogicalResourceId":{
          "shape":"LogicalResourceId",
          "documentation":"<p>The logical name of the resource as specified in the template.</p> <p>Default: There is no default value.</p>"
        },
        "PhysicalResourceId":{
          "shape":"PhysicalResourceId",
          "documentation":"<p>The name or unique identifier that corresponds to a physical instance ID of a resource supported by AWS CloudFormation.</p> <p>For example, for an Amazon Elastic Compute Cloud (EC2) instance, <code>PhysicalResourceId</code> corresponds to the <code>InstanceId</code>. You can pass the EC2 <code>InstanceId</code> to <code>DescribeStackResources</code> to find which stack the instance belongs to and what other resources are part of the stack.</p> <p>Required: Conditional. If you do not specify <code>PhysicalResourceId</code>, you must specify <code>StackName</code>.</p> <p>Default: There is no default value.</p>"
        }
      },
      "documentation":"<p>The input for <a>DescribeStackResources</a> action.</p>"
    },
    "DescribeStackResourcesOutput":{
      "type":"structure",
      "members":{
        "StackResources":{
          "shape":"StackResources",
          "documentation":"<p>A list of <code>StackResource</code> structures.</p>"
        }
      },
      "documentation":"<p>The output for a <a>DescribeStackResources</a> action.</p>"
    },
    "DescribeStacksInput":{
      "type":"structure",
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name or the unique identifier associated with the stack, which are not always interchangeable:</p> <ul> <li>Running stacks: You can specify either the stack's name or its unique stack ID.</li> <li>Deleted stacks: You must specify the unique stack ID.</li> </ul> <p>Default: There is no default value.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"String that identifies the start of the next list of stacks, if there is one."
        }
      },
      "documentation":"<p>The input for <a>DescribeStacks</a> action.</p>"
    },
    "DescribeStacksOutput":{
      "type":"structure",
      "members":{
        "Stacks":{
          "shape":"Stacks",
          "documentation":"<p>A list of stack structures.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"String that identifies the start of the next list of stacks, if there is one."
        }
      },
      "documentation":"<p>The output for a <a>DescribeStacks</a> action.</p>"
    },
    "Description":{"type":"string"},
    "DisableRollback":{"type":"boolean"},
    "EstimateTemplateCostInput":{
      "type":"structure",
      "members":{
        "TemplateBody":{
          "shape":"TemplateBody",
          "documentation":"<p>Structure containing the template body with a minimum length of 1 byte and a maximum length of 51,200 bytes. (For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.)</p> <p>Conditional: You must pass <code>TemplateBody</code> or <code>TemplateURL</code>. If both are passed, only <code>TemplateBody</code> is used.</p>"
        },
        "TemplateURL":{
          "shape":"TemplateURL",
          "documentation":"<p>Location of file containing the template body. The URL must point to a template located in an S3 bucket in the same region as the stack. For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must pass <code>TemplateURL</code> or <code>TemplateBody</code>. If both are passed, only <code>TemplateBody</code> is used.</p>"
        },
        "Parameters":{
          "shape":"Parameters",
          "documentation":"<p>A list of <code>Parameter</code> structures that specify input parameters.</p>"
        }
      }
    },
    "EstimateTemplateCostOutput":{
      "type":"structure",
      "members":{
        "Url":{
          "shape":"Url",
          "documentation":"<p>An AWS Simple Monthly Calculator URL with a query string that describes the resources required to run the template.</p>"
        }
      },
      "documentation":"<p>The output for a <a>EstimateTemplateCost</a> action.</p>"
    },
    "EventId":{"type":"string"},
    "GetStackPolicyInput":{
      "type":"structure",
      "required":["StackName"],
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name or stack ID that is associated with the stack whose policy you want to get.</p>"
        }
      },
      "documentation":"<p>The input for the <a>GetStackPolicy</a> action.</p>"
    },
    "GetStackPolicyOutput":{
      "type":"structure",
      "members":{
        "StackPolicyBody":{
          "shape":"StackPolicyBody",
          "documentation":"<p>Structure containing the stack policy body. (For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/protect-stack-resources.html\"> Prevent Updates to Stack Resources</a> in the AWS CloudFormation User Guide.)</p>"
        }
      },
      "documentation":"<p>The output for the <a>GetStackPolicy</a> action.</p>"
    },
    "GetTemplateInput":{
      "type":"structure",
      "required":["StackName"],
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name or the unique identifier associated with the stack, which are not always interchangeable:</p> <ul> <li>Running stacks: You can specify either the stack's name or its unique stack ID.</li> <li>Deleted stacks: You must specify the unique stack ID.</li> </ul> <p>Default: There is no default value.</p>"
        }
      },
      "documentation":"<p>The input for a <a>GetTemplate</a> action.</p>"
    },
    "GetTemplateOutput":{
      "type":"structure",
      "members":{
        "TemplateBody":{
          "shape":"TemplateBody",
          "documentation":"<p>Structure containing the template body. (For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.)</p>"
        }
      },
      "documentation":"<p>The output for <a>GetTemplate</a> action.</p>"
    },
    "GetTemplateSummaryInput":{
      "type":"structure",
      "members":{
        "TemplateBody":{
          "shape":"TemplateBody",
          "documentation":"<p>Structure containing the template body with a minimum length of 1 byte and a maximum length of 51,200 bytes. For more information about templates, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must specify only one of the following parameters: <code>StackName</code>, <code>TemplateBody</code>, or <code>TemplateURL</code>.</p>"
        },
        "TemplateURL":{
          "shape":"TemplateURL",
          "documentation":"<p>Location of file containing the template body. The URL must point to a template (max size: 307,200 bytes) located in an Amazon S3 bucket. For more information about templates, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must specify only one of the following parameters: <code>StackName</code>, <code>TemplateBody</code>, or <code>TemplateURL</code>.</p>"
        },
        "StackName":{
          "shape":"StackNameOrId",
          "documentation":"<p>The name or the unique identifier associated with the stack, which are not always interchangeable. For running stacks, you can specify either the stack's name or its unique stack ID. For deleted stack, you must specify the unique stack ID.</p> <p>Conditional: You must specify only one of the following parameters: <code>StackName</code>, <code>TemplateBody</code>, or <code>TemplateURL</code>.</p>"
        }
      },
      "documentation":"<p>The input for the <a>GetTemplateSummary</a> action.</p>"
    },
    "GetTemplateSummaryOutput":{
      "type":"structure",
      "members":{
        "Parameters":{
          "shape":"ParameterDeclarations",
          "documentation":"<p>A list of parameter declarations that describe various properties for each parameter.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>The value that is defined in the <code>Description</code> property of the template.</p>"
        },
        "Capabilities":{
          "shape":"Capabilities",
          "documentation":"<p>The capabilities found within the template. Currently, AWS CloudFormation supports only the CAPABILITY_IAM capability. If your template contains IAM resources, you must specify the CAPABILITY_IAM value for this parameter when you use the <a>CreateStack</a> or <a>UpdateStack</a> actions with your template; otherwise, those actions return an InsufficientCapabilities error.</p>"
        },
        "CapabilitiesReason":{
          "shape":"CapabilitiesReason",
          "documentation":"<p>The capabilities reason found within the template.</p>"
        },
        "Version":{
          "shape":"Version",
          "documentation":"<p>The AWS template format version, which identifies the capabilities of the template.</p>"
        }
      },
      "documentation":"<p>The output for the <a>GetTemplateSummary</a> action.</p>"
    },
    "InsufficientCapabilitiesException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"InsufficientCapabilitiesException",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>The template contains resources with capabilities that were not specified in the Capabilities parameter.</p>"
    },
    "LastUpdatedTime":{"type":"timestamp"},
    "LimitExceededException":{
      "type":"structure",
      "members":{
      },
      "error":{
        "code":"LimitExceededException",
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true,
      "documentation":"<p>Quota for the resource has already been reached.</p>"
    },
    "ListStackResourcesInput":{
      "type":"structure",
      "required":["StackName"],
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name or the unique identifier associated with the stack, which are not always interchangeable:</p> <ul> <li>Running stacks: You can specify either the stack's name or its unique stack ID.</li> <li>Deleted stacks: You must specify the unique stack ID.</li> </ul> <p>Default: There is no default value.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>String that identifies the start of the next list of stack resource summaries, if there is one.</p> <p>Default: There is no default value.</p>"
        }
      },
      "documentation":"<p>The input for the <a>ListStackResource</a> action.</p>"
    },
    "ListStackResourcesOutput":{
      "type":"structure",
      "members":{
        "StackResourceSummaries":{
          "shape":"StackResourceSummaries",
          "documentation":"<p>A list of <code>StackResourceSummary</code> structures.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>String that identifies the start of the next list of stack resources, if there is one.</p>"
        }
      },
      "documentation":"<p>The output for a <a>ListStackResources</a> action.</p>"
    },
    "ListStacksInput":{
      "type":"structure",
      "members":{
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>String that identifies the start of the next list of stacks, if there is one.</p> <p>Default: There is no default value.</p>"
        },
        "StackStatusFilter":{
          "shape":"StackStatusFilter",
          "documentation":"<p>Stack status to use as a filter. Specify one or more stack status codes to list only stacks with the specified status codes. For a complete list of stack status codes, see the <code>StackStatus</code> parameter of the <a>Stack</a> data type.</p>"
        }
      },
      "documentation":"<p>The input for <a>ListStacks</a> action.</p>"
    },
    "ListStacksOutput":{
      "type":"structure",
      "members":{
        "StackSummaries":{
          "shape":"StackSummaries",
          "documentation":"<p>A list of <code>StackSummary</code> structures containing information about the specified stacks.</p>"
        },
        "NextToken":{
          "shape":"NextToken",
          "documentation":"<p>String that identifies the start of the next list of stacks, if there is one.</p>"
        }
      },
      "documentation":"<p>The output for <a>ListStacks</a> action.</p>"
    },
    "LogicalResourceId":{"type":"string"},
    "Metadata":{"type":"string"},
    "NextToken":{
      "type":"string",
      "min":1,
      "max":1024
    },
    "NoEcho":{"type":"boolean"},
    "NotificationARN":{"type":"string"},
    "NotificationARNs":{
      "type":"list",
      "member":{"shape":"NotificationARN"},
      "max":5
    },
    "OnFailure":{
      "type":"string",
      "enum":[
        "DO_NOTHING",
        "ROLLBACK",
        "DELETE"
      ]
    },
    "Output":{
      "type":"structure",
      "members":{
        "OutputKey":{
          "shape":"OutputKey",
          "documentation":"<p>The key associated with the output.</p>"
        },
        "OutputValue":{
          "shape":"OutputValue",
          "documentation":"<p>The value associated with the output.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>User defined description associated with the output.</p>"
        }
      },
      "documentation":"<p>The Output data type.</p>"
    },
    "OutputKey":{"type":"string"},
    "OutputValue":{"type":"string"},
    "Outputs":{
      "type":"list",
      "member":{"shape":"Output"}
    },
    "Parameter":{
      "type":"structure",
      "members":{
        "ParameterKey":{
          "shape":"ParameterKey",
          "documentation":"<p>The key associated with the parameter.</p>"
        },
        "ParameterValue":{
          "shape":"ParameterValue",
          "documentation":"<p>The value associated with the parameter.</p>"
        },
        "UsePreviousValue":{
          "shape":"UsePreviousValue",
          "documentation":"<p>During a stack update, use the existing parameter value that is being used for the stack.</p>"
        }
      },
      "documentation":"<p>The Parameter data type.</p>"
    },
    "ParameterDeclaration":{
      "type":"structure",
      "members":{
        "ParameterKey":{
          "shape":"ParameterKey",
          "documentation":"<p>The name that is associated with the parameter.</p>"
        },
        "DefaultValue":{
          "shape":"ParameterValue",
          "documentation":"<p>The default value of the parameter.</p>"
        },
        "ParameterType":{
          "shape":"ParameterType",
          "documentation":"<p>The type of parameter.</p>"
        },
        "NoEcho":{
          "shape":"NoEcho",
          "documentation":"<p>Flag that indicates whether the parameter value is shown as plain text in logs and in the AWS Management Console.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>The description that is associate with the parameter.</p>"
        }
      },
      "documentation":"<p>The ParameterDeclaration data type.</p>"
    },
    "ParameterDeclarations":{
      "type":"list",
      "member":{"shape":"ParameterDeclaration"}
    },
    "ParameterKey":{"type":"string"},
    "ParameterType":{"type":"string"},
    "ParameterValue":{"type":"string"},
    "Parameters":{
      "type":"list",
      "member":{"shape":"Parameter"}
    },
    "PhysicalResourceId":{"type":"string"},
    "ResourceProperties":{"type":"string"},
    "ResourceSignalStatus":{
      "type":"string",
      "enum":[
        "SUCCESS",
        "FAILURE"
      ]
    },
    "ResourceSignalUniqueId":{
      "type":"string",
      "min":1,
      "max":64
    },
    "ResourceStatus":{
      "type":"string",
      "enum":[
        "CREATE_IN_PROGRESS",
        "CREATE_FAILED",
        "CREATE_COMPLETE",
        "DELETE_IN_PROGRESS",
        "DELETE_FAILED",
        "DELETE_COMPLETE",
        "DELETE_SKIPPED",
        "UPDATE_IN_PROGRESS",
        "UPDATE_FAILED",
        "UPDATE_COMPLETE"
      ]
    },
    "ResourceStatusReason":{"type":"string"},
    "ResourceType":{"type":"string"},
    "SetStackPolicyInput":{
      "type":"structure",
      "required":["StackName"],
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name or stack ID that you want to associate a policy with.</p>"
        },
        "StackPolicyBody":{
          "shape":"StackPolicyBody",
          "documentation":"<p>Structure containing the stack policy body. For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/protect-stack-resources.html\"> Prevent Updates to Stack Resources</a> in the AWS CloudFormation User Guide. You can specify either the <code>StackPolicyBody</code> or the <code>StackPolicyURL</code> parameter, but not both.</p>"
        },
        "StackPolicyURL":{
          "shape":"StackPolicyURL",
          "documentation":"<p>Location of a file containing the stack policy. The URL must point to a policy (max size: 16KB) located in an S3 bucket in the same region as the stack. You can specify either the <code>StackPolicyBody</code> or the <code>StackPolicyURL</code> parameter, but not both.</p>"
        }
      },
      "documentation":"<p>The input for the <a>SetStackPolicy</a> action.</p>"
    },
    "SignalResourceInput":{
      "type":"structure",
      "required":[
        "StackName",
        "LogicalResourceId",
        "UniqueId",
        "Status"
      ],
      "members":{
        "StackName":{
          "shape":"StackNameOrId",
          "documentation":"<p>The stack name or ID that includes the resource that you want to signal.</p>"
        },
        "LogicalResourceId":{
          "shape":"LogicalResourceId",
          "documentation":"<p>The logical ID of the resource that you want to signal. The logical ID is the name of the resource that given in the template.</p>"
        },
        "UniqueId":{
          "shape":"ResourceSignalUniqueId",
          "documentation":"<p>A unique ID of the signal. When you signal Amazon EC2 instances or Auto Scaling groups, specify the instance ID that you are signaling as the unique ID. If you send multiple signals to a single resource (such as signaling a wait condition), each signal requires a different unique ID.</p>"
        },
        "Status":{
          "shape":"ResourceSignalStatus",
          "documentation":"<p>The status of the signal, which is either success or failure. A failure signal causes AWS CloudFormation to immediately fail the stack creation or update.</p>"
        }
      },
      "documentation":"<p>The input for the <a>SignalResource</a> action.</p>"
    },
    "Stack":{
      "type":"structure",
      "required":[
        "StackName",
        "CreationTime",
        "StackStatus"
      ],
      "members":{
        "StackId":{
          "shape":"StackId",
          "documentation":"<p>Unique identifier of the stack.</p>"
        },
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name associated with the stack.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>User defined description associated with the stack.</p>"
        },
        "Parameters":{
          "shape":"Parameters",
          "documentation":"<p>A list of <code>Parameter</code> structures.</p>"
        },
        "CreationTime":{
          "shape":"CreationTime",
          "documentation":"<p>Time at which the stack was created.</p>"
        },
        "LastUpdatedTime":{
          "shape":"LastUpdatedTime",
          "documentation":"<p>The time the stack was last updated. This field will only be returned if the stack has been updated at least once.</p>"
        },
        "StackStatus":{
          "shape":"StackStatus",
          "documentation":"<p>Current status of the stack.</p>"
        },
        "StackStatusReason":{
          "shape":"StackStatusReason",
          "documentation":"<p>Success/failure message associated with the stack status.</p>"
        },
        "DisableRollback":{
          "shape":"DisableRollback",
          "documentation":"<p>Boolean to enable or disable rollback on stack creation failures:</p> <p> <ul> <li> <code>true</code>: disable rollback</li> <li> <code>false</code>: enable rollback</li> </ul> </p>"
        },
        "NotificationARNs":{
          "shape":"NotificationARNs",
          "documentation":"<p>SNS topic ARNs to which stack related events are published.</p>"
        },
        "TimeoutInMinutes":{
          "shape":"TimeoutMinutes",
          "documentation":"<p>The amount of time within which stack creation should complete.</p>"
        },
        "Capabilities":{
          "shape":"Capabilities",
          "documentation":"<p>The capabilities allowed in the stack.</p>"
        },
        "Outputs":{
          "shape":"Outputs",
          "documentation":"<p>A list of output structures.</p>"
        },
        "Tags":{
          "shape":"Tags",
          "documentation":"<p>A list of <code>Tag</code>s that specify cost allocation information for the stack.</p>"
        }
      },
      "documentation":"<p>The Stack data type.</p>"
    },
    "StackEvent":{
      "type":"structure",
      "required":[
        "StackId",
        "EventId",
        "StackName",
        "Timestamp"
      ],
      "members":{
        "StackId":{
          "shape":"StackId",
          "documentation":"<p>The unique ID name of the instance of the stack.</p>"
        },
        "EventId":{
          "shape":"EventId",
          "documentation":"<p>The unique ID of this event.</p>"
        },
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name associated with a stack.</p>"
        },
        "LogicalResourceId":{
          "shape":"LogicalResourceId",
          "documentation":"<p>The logical name of the resource specified in the template.</p>"
        },
        "PhysicalResourceId":{
          "shape":"PhysicalResourceId",
          "documentation":"<p>The name or unique identifier associated with the physical instance of the resource.</p>"
        },
        "ResourceType":{
          "shape":"ResourceType",
          "documentation":"<p>Type of resource. (For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html\"> AWS Resource Types Reference</a> in the AWS CloudFormation User Guide.)</p>"
        },
        "Timestamp":{
          "shape":"Timestamp",
          "documentation":"<p>Time the status was updated.</p>"
        },
        "ResourceStatus":{
          "shape":"ResourceStatus",
          "documentation":"<p>Current status of the resource.</p>"
        },
        "ResourceStatusReason":{
          "shape":"ResourceStatusReason",
          "documentation":"<p>Success/failure message associated with the resource.</p>"
        },
        "ResourceProperties":{
          "shape":"ResourceProperties",
          "documentation":"<p>BLOB of the properties used to create the resource.</p>"
        }
      },
      "documentation":"<p>The StackEvent data type.</p>"
    },
    "StackEvents":{
      "type":"list",
      "member":{"shape":"StackEvent"}
    },
    "StackId":{"type":"string"},
    "StackName":{"type":"string"},
    "StackNameOrId":{
      "type":"string",
      "min":1,
      "pattern":"([a-zA-Z][-a-zA-Z0-9]*)|(arn:\\b(aws|aws-us-gov|aws-cn)\\b:[-a-zA-Z0-9:/._+]*)"
    },
    "StackPolicyBody":{
      "type":"string",
      "min":1,
      "max":16384
    },
    "StackPolicyDuringUpdateBody":{
      "type":"string",
      "min":1,
      "max":16384
    },
    "StackPolicyDuringUpdateURL":{
      "type":"string",
      "min":1,
      "max":1350
    },
    "StackPolicyURL":{
      "type":"string",
      "min":1,
      "max":1350
    },
    "StackResource":{
      "type":"structure",
      "required":[
        "LogicalResourceId",
        "ResourceType",
        "Timestamp",
        "ResourceStatus"
      ],
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name associated with the stack.</p>"
        },
        "StackId":{
          "shape":"StackId",
          "documentation":"<p>Unique identifier of the stack.</p>"
        },
        "LogicalResourceId":{
          "shape":"LogicalResourceId",
          "documentation":"<p>The logical name of the resource specified in the template.</p>"
        },
        "PhysicalResourceId":{
          "shape":"PhysicalResourceId",
          "documentation":"<p>The name or unique identifier that corresponds to a physical instance ID of a resource supported by AWS CloudFormation.</p>"
        },
        "ResourceType":{
          "shape":"ResourceType",
          "documentation":"<p>Type of resource. (For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html\"> AWS Resource Types Reference</a> in the AWS CloudFormation User Guide.)</p>"
        },
        "Timestamp":{
          "shape":"Timestamp",
          "documentation":"<p>Time the status was updated.</p>"
        },
        "ResourceStatus":{
          "shape":"ResourceStatus",
          "documentation":"<p>Current status of the resource.</p>"
        },
        "ResourceStatusReason":{
          "shape":"ResourceStatusReason",
          "documentation":"<p>Success/failure message associated with the resource.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>User defined description associated with the resource.</p>"
        }
      },
      "documentation":"<p>The StackResource data type.</p>"
    },
    "StackResourceDetail":{
      "type":"structure",
      "required":[
        "LogicalResourceId",
        "ResourceType",
        "LastUpdatedTimestamp",
        "ResourceStatus"
      ],
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name associated with the stack.</p>"
        },
        "StackId":{
          "shape":"StackId",
          "documentation":"<p>Unique identifier of the stack.</p>"
        },
        "LogicalResourceId":{
          "shape":"LogicalResourceId",
          "documentation":"<p>The logical name of the resource specified in the template.</p>"
        },
        "PhysicalResourceId":{
          "shape":"PhysicalResourceId",
          "documentation":"<p>The name or unique identifier that corresponds to a physical instance ID of a resource supported by AWS CloudFormation.</p>"
        },
        "ResourceType":{
          "shape":"ResourceType",
          "documentation":"<p>Type of resource. ((For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html\"> AWS Resource Types Reference</a> in the AWS CloudFormation User Guide.)</p>"
        },
        "LastUpdatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>Time the status was updated.</p>"
        },
        "ResourceStatus":{
          "shape":"ResourceStatus",
          "documentation":"<p>Current status of the resource.</p>"
        },
        "ResourceStatusReason":{
          "shape":"ResourceStatusReason",
          "documentation":"<p>Success/failure message associated with the resource.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>User defined description associated with the resource.</p>"
        },
        "Metadata":{
          "shape":"Metadata",
          "documentation":"<p>The JSON format content of the <code>Metadata</code> attribute declared for the resource. For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-metadata.html\">Metadata Attribute</a> in the AWS CloudFormation User Guide.</p>"
        }
      },
      "documentation":"<p>Contains detailed information about the specified stack resource.</p>"
    },
    "StackResourceSummaries":{
      "type":"list",
      "member":{"shape":"StackResourceSummary"}
    },
    "StackResourceSummary":{
      "type":"structure",
      "required":[
        "LogicalResourceId",
        "ResourceType",
        "LastUpdatedTimestamp",
        "ResourceStatus"
      ],
      "members":{
        "LogicalResourceId":{
          "shape":"LogicalResourceId",
          "documentation":"<p>The logical name of the resource specified in the template.</p>"
        },
        "PhysicalResourceId":{
          "shape":"PhysicalResourceId",
          "documentation":"<p>The name or unique identifier that corresponds to a physical instance ID of the resource.</p>"
        },
        "ResourceType":{
          "shape":"ResourceType",
          "documentation":"<p>Type of resource. (For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-template-resource-type-ref.html\"> AWS Resource Types Reference</a> in the AWS CloudFormation User Guide.)</p>"
        },
        "LastUpdatedTimestamp":{
          "shape":"Timestamp",
          "documentation":"<p>Time the status was updated.</p>"
        },
        "ResourceStatus":{
          "shape":"ResourceStatus",
          "documentation":"<p>Current status of the resource.</p>"
        },
        "ResourceStatusReason":{
          "shape":"ResourceStatusReason",
          "documentation":"<p>Success/failure message associated with the resource.</p>"
        }
      },
      "documentation":"<p>Contains high-level information about the specified stack resource.</p>"
    },
    "StackResources":{
      "type":"list",
      "member":{"shape":"StackResource"}
    },
    "StackStatus":{
      "type":"string",
      "enum":[
        "CREATE_IN_PROGRESS",
        "CREATE_FAILED",
        "CREATE_COMPLETE",
        "ROLLBACK_IN_PROGRESS",
        "ROLLBACK_FAILED",
        "ROLLBACK_COMPLETE",
        "DELETE_IN_PROGRESS",
        "DELETE_FAILED",
        "DELETE_COMPLETE",
        "UPDATE_IN_PROGRESS",
        "UPDATE_COMPLETE_CLEANUP_IN_PROGRESS",
        "UPDATE_COMPLETE",
        "UPDATE_ROLLBACK_IN_PROGRESS",
        "UPDATE_ROLLBACK_FAILED",
        "UPDATE_ROLLBACK_COMPLETE_CLEANUP_IN_PROGRESS",
        "UPDATE_ROLLBACK_COMPLETE"
      ]
    },
    "StackStatusFilter":{
      "type":"list",
      "member":{"shape":"StackStatus"}
    },
    "StackStatusReason":{"type":"string"},
    "StackSummaries":{
      "type":"list",
      "member":{"shape":"StackSummary"}
    },
    "StackSummary":{
      "type":"structure",
      "required":[
        "StackName",
        "CreationTime",
        "StackStatus"
      ],
      "members":{
        "StackId":{
          "shape":"StackId",
          "documentation":"<p>Unique stack identifier.</p>"
        },
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name associated with the stack.</p>"
        },
        "TemplateDescription":{
          "shape":"TemplateDescription",
          "documentation":"<p>The template description of the template used to create the stack.</p>"
        },
        "CreationTime":{
          "shape":"CreationTime",
          "documentation":"<p>The time the stack was created.</p>"
        },
        "LastUpdatedTime":{
          "shape":"LastUpdatedTime",
          "documentation":"<p>The time the stack was last updated. This field will only be returned if the stack has been updated at least once.</p>"
        },
        "DeletionTime":{
          "shape":"DeletionTime",
          "documentation":"<p>The time the stack was deleted.</p>"
        },
        "StackStatus":{
          "shape":"StackStatus",
          "documentation":"<p>The current status of the stack.</p>"
        },
        "StackStatusReason":{
          "shape":"StackStatusReason",
          "documentation":"<p>Success/Failure message associated with the stack status.</p>"
        }
      },
      "documentation":"<p>The StackSummary Data Type</p>"
    },
    "Stacks":{
      "type":"list",
      "member":{"shape":"Stack"}
    },
    "Tag":{
      "type":"structure",
      "members":{
        "Key":{
          "shape":"TagKey",
          "documentation":"<p><i>Required</i>. A string used to identify this tag. You can specify a maximum of 128 characters for a tag key. Tags owned by Amazon Web Services (AWS) have the reserved prefix: <code>aws:</code>.</p>"
        },
        "Value":{
          "shape":"TagValue",
          "documentation":"<p><i>Required</i>. A string containing the value for this tag. You can specify a maximum of 256 characters for a tag value.</p>"
        }
      },
      "documentation":"<p>The Tag type is used by <code>CreateStack</code> in the <code>Tags</code> parameter. It allows you to specify a key/value pair that can be used to store information related to cost allocation for an AWS CloudFormation stack.</p>"
    },
    "TagKey":{"type":"string"},
    "TagValue":{"type":"string"},
    "Tags":{
      "type":"list",
      "member":{"shape":"Tag"}
    },
    "TemplateBody":{
      "type":"string",
      "min":1
    },
    "TemplateDescription":{"type":"string"},
    "TemplateParameter":{
      "type":"structure",
      "members":{
        "ParameterKey":{
          "shape":"ParameterKey",
          "documentation":"<p>The name associated with the parameter.</p>"
        },
        "DefaultValue":{
          "shape":"ParameterValue",
          "documentation":"<p>The default value associated with the parameter.</p>"
        },
        "NoEcho":{
          "shape":"NoEcho",
          "documentation":"<p>Flag indicating whether the parameter should be displayed as plain text in logs and UIs.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>User defined description associated with the parameter.</p>"
        }
      },
      "documentation":"<p>The TemplateParameter data type.</p>"
    },
    "TemplateParameters":{
      "type":"list",
      "member":{"shape":"TemplateParameter"}
    },
    "TemplateURL":{
      "type":"string",
      "min":1,
      "max":1024
    },
    "TimeoutMinutes":{
      "type":"integer",
      "min":1
    },
    "Timestamp":{"type":"timestamp"},
    "UpdateStackInput":{
      "type":"structure",
      "required":["StackName"],
      "members":{
        "StackName":{
          "shape":"StackName",
          "documentation":"<p>The name or stack ID of the stack to update.</p> <note> Must contain only alphanumeric characters (case sensitive) and start with an alpha character. Maximum length of the name is 255 characters. </note>"
        },
        "TemplateBody":{
          "shape":"TemplateBody",
          "documentation":"<p>Structure containing the template body with a minimum length of 1 byte and a maximum length of 51,200 bytes. (For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.)</p> <p>Conditional: You must specify either the <code>TemplateBody</code> or the <code>TemplateURL</code> parameter, but not both.</p>"
        },
        "TemplateURL":{
          "shape":"TemplateURL",
          "documentation":"<p>Location of file containing the template body. The URL must point to a template located in an S3 bucket in the same region as the stack. For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must specify either the <code>TemplateBody</code> or the <code>TemplateURL</code> parameter, but not both.</p>"
        },
        "UsePreviousTemplate":{
          "shape":"UsePreviousTemplate",
          "documentation":"<p>Reuse the existing template that is associated with the stack that you are updating.</p>"
        },
        "StackPolicyDuringUpdateBody":{
          "shape":"StackPolicyDuringUpdateBody",
          "documentation":"<p>Structure containing the temporary overriding stack policy body. You can specify either the <code>StackPolicyDuringUpdateBody</code> or the <code>StackPolicyDuringUpdateURL</code> parameter, but not both.</p> <p>If you want to update protected resources, specify a temporary overriding stack policy during this update. If you do not specify a stack policy, the current policy that is associated with the stack will be used.</p>"
        },
        "StackPolicyDuringUpdateURL":{
          "shape":"StackPolicyDuringUpdateURL",
          "documentation":"<p>Location of a file containing the temporary overriding stack policy. The URL must point to a policy (max size: 16KB) located in an S3 bucket in the same region as the stack. You can specify either the <code>StackPolicyDuringUpdateBody</code> or the <code>StackPolicyDuringUpdateURL</code> parameter, but not both.</p> <p>If you want to update protected resources, specify a temporary overriding stack policy during this update. If you do not specify a stack policy, the current policy that is associated with the stack will be used.</p>"
        },
        "Parameters":{
          "shape":"Parameters",
          "documentation":"<p>A list of <code>Parameter</code> structures that specify input parameters for the stack.</p>"
        },
        "Capabilities":{
          "shape":"Capabilities",
          "documentation":"<p>A list of capabilities that you must specify before AWS CloudFormation can create or update certain stacks. Some stack templates might include resources that can affect permissions in your AWS account. For those stacks, you must explicitly acknowledge their capabilities by specifying this parameter. Currently, the only valid value is <code>CAPABILITY_IAM</code>, which is required for the following resources: <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-stack.html\"> AWS::CloudFormation::Stack</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\"> AWS::IAM::AccessKey</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\"> AWS::IAM::Group</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\"> AWS::IAM::InstanceProfile</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\"> AWS::IAM::Policy</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\"> AWS::IAM::Role</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\"> AWS::IAM::User</a>, and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\"> AWS::IAM::UserToGroupAddition</a>. If your stack template contains these resources, we recommend that you review any permissions associated with them. If you don't specify this parameter, this action returns an InsufficientCapabilities error.</p>"
        },
        "StackPolicyBody":{
          "shape":"StackPolicyBody",
          "documentation":"<p>Structure containing a new stack policy body. You can specify either the <code>StackPolicyBody</code> or the <code>StackPolicyURL</code> parameter, but not both.</p> <p>You might update the stack policy, for example, in order to protect a new resource that you created during a stack update. If you do not specify a stack policy, the current policy that is associated with the stack is unchanged.</p>"
        },
        "StackPolicyURL":{
          "shape":"StackPolicyURL",
          "documentation":"<p>Location of a file containing the updated stack policy. The URL must point to a policy (max size: 16KB) located in an S3 bucket in the same region as the stack. You can specify either the <code>StackPolicyBody</code> or the <code>StackPolicyURL</code> parameter, but not both.</p> <p>You might update the stack policy, for example, in order to protect a new resource that you created during a stack update. If you do not specify a stack policy, the current policy that is associated with the stack is unchanged.</p>"
        },
        "NotificationARNs":{
          "shape":"NotificationARNs",
          "documentation":"<p>Update the ARNs for the Amazon SNS topics that are associated with the stack.</p>"
        }
      },
      "documentation":"<p>The input for <a>UpdateStack</a> action.</p>"
    },
    "UpdateStackOutput":{
      "type":"structure",
      "members":{
        "StackId":{
          "shape":"StackId",
          "documentation":"<p>Unique identifier of the stack.</p>"
        }
      },
      "documentation":"<p>The output for a <a>UpdateStack</a> action.</p>"
    },
    "Url":{"type":"string"},
    "UsePreviousTemplate":{"type":"boolean"},
    "UsePreviousValue":{"type":"boolean"},
    "ValidateTemplateInput":{
      "type":"structure",
      "members":{
        "TemplateBody":{
          "shape":"TemplateBody",
          "documentation":"<p>Structure containing the template body with a minimum length of 1 byte and a maximum length of 51,200 bytes. For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must pass <code>TemplateURL</code> or <code>TemplateBody</code>. If both are passed, only <code>TemplateBody</code> is used.</p>"
        },
        "TemplateURL":{
          "shape":"TemplateURL",
          "documentation":"<p>Location of file containing the template body. The URL must point to a template (max size: 307,200 bytes) located in an S3 bucket in the same region as the stack. For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must pass <code>TemplateURL</code> or <code>TemplateBody</code>. If both are passed, only <code>TemplateBody</code> is used.</p>"
        }
      },
      "documentation":"<p>The input for <a>ValidateTemplate</a> action.</p>"
    },
    "ValidateTemplateOutput":{
      "type":"structure",
      "members":{
        "Parameters":{
          "shape":"TemplateParameters",
          "documentation":"<p>A list of <code>TemplateParameter</code> structures.</p>"
        },
        "Description":{
          "shape":"Description",
          "documentation":"<p>The description found within the template.</p>"
        },
        "Capabilities":{
          "shape":"Capabilities",
          "documentation":"<p>The capabilities found within the template. Currently, AWS CloudFormation supports only the CAPABILITY_IAM capability. If your template contains IAM resources, you must specify the CAPABILITY_IAM value for this parameter when you use the <a>CreateStack</a> or <a>UpdateStack</a> actions with your template; otherwise, those actions return an InsufficientCapabilities error.</p>"
        },
        "CapabilitiesReason":{
          "shape":"CapabilitiesReason",
          "documentation":"<p>The capabilities reason found within the template.</p>"
        }
      },
      "documentation":"<p>The output for <a>ValidateTemplate</a> action.</p>"
    },
    "Version":{"type":"string"}
  }
}
