<?xml version="1.0" encoding="UTF-8"?>
	<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
		"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
	<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>org.lantern</string>
		<key>ProgramArguments</key>
		<array>
			<string>/Applications/Lantern/Lantern.app/Contents/MacOS/JavaApplicationStub</string>
                        <string>--launchd</string>
		</array>

		<key>RunAtLoad</key>
                <true/>

	</dict>
	</plist>
