[Desktop Entry]
Type=Application
Exec=/bin/sh "/opt/lantern/lantern"
Icon=/opt/lantern/.install4j/lantern.png
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=Lantern
Name=Lantern
Comment[en_US]=
Comment=
# DRY warning: see
#  - install/linux/configureAndLaunchUbuntu.txt
#  - src/main/java/org/lantern/ChromeRunner.java
#  - src/main/java/org/lantern/http/JettyLauncher.java
#
#  StartupWMClass=127.0.0.1 is needed so the lantern icon will show up in the
#  Unity launcher/dock.  But if we specify only that, the lantern icon might
#  appear for any other chrome app served from localhost.  So we rename the
#  index file to something less likely to cause name clashes.
StartupWMClass=127.0.0.1__org.lantern.index.html
