<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=620, user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
    <style>
    html, body { 
      height:100%; 
      padding:0;
      margin:0;
    }
    body {
      margin: 0;
      background: #333;
      color:white;
      padding: 10px;
    }
    * {
      font-family: 'Droid Sans', sans-serif;
    }
    h1 {
      margin-top: 5px;
    }
    h3 {
      margin: 20px 0 10px 0;
    }
   
    div.gist {
        width:700px;
    }
    </style>
  </head>
  <body ng-app="myApp" ng-controller='demoController'>
    <a href="https://github.com/revolunet/angular-google-analytics"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
    <h1>AngularJS google analytics</h1>
    <div class='intro'>A simple service to use google analytics tracker in your AngularJS apps.</div>

    <br><br>
        Here's an example usage :
    <br><br>

    <script src="https://gist.github.com/revolunet/5514543.js"></script>

  </body>
</html>
