#footer {
  @include size(100%, false);

  @include position(false, 0, 0, 0);

  @include aboveModal;

  @include centered;

  @include small;

  @include box-sizing(border-box);

  line-height: 12px;
  height: 50px;
  background-color: #242525;
  color: #666667;
  z-index: auto;
  overflow: hidden;
}

#offline, #noproxies {
  @include yellow-colored;
}

#still-connecting {
  @include smaller;

  line-height: $baseFontSize;
}

#noproxies {
  @include smaller;

  line-height: $baseFontSize;
}

$zindexGlobalNav: 1;
$globalNavBtnWidth: 49px;
$globalNavPosRight: 15px;
$globalNavPosBottom: 15px;

#global-nav {
  @include position(false, $globalNavPosRight, $globalNavPosBottom);

  z-index: $zindexGlobalNav;
  white-space: nowrap;
  border: none;
  background: none;

  button {
    border: none;
    outline: 0;
    z-index: -1;
    background: none;
    margin-bottom: 8px;
    box-shadow: none;
    -webkit-box-shadow: none;

    i.lsf-icon {
      color: #fff;
      line-height: 17px;
      font-size: 27px;
      vertical-align: middle;
      position: absolute;
    }
  }
}

$npendingIndexGiveMode: 1;
$npendingIndexGetMode: 2;
$npendingPosBottom: $globalNavPosBottom / 2;
$npendingOffsetRight: 36px;

#npending {
  z-index: $zindexGlobalNav + 1;

  body.getMode & {
    @include position(false, 148px, 13px);

    @include position(false, $globalNavPosRight + $npendingIndexGetMode * $globalNavBtnWidth + $npendingOffsetRight, $npendingPosBottom);
  }

  body.giveMode & {
    @include position(false, $globalNavPosRight + $npendingIndexGiveMode * $globalNavBtnWidth + $npendingOffsetRight, $npendingPosBottom);
  }
}

#share {
  position: absolute;
  left: 15px;
  bottom: 10px;

  span {
    font: normal 0.875rem / 1.4rem "prxnv_r", sans-serif;
    color: #fff;
    float: left;
    margin-top: 5px;
    padding-left: 5px;
  }

  div {
    float: left;
    cursor: pointer;

    img {
      width: 30px;
    }
  }
}

#appInfo {
  @include aboveModal;

  font: normal 0.875rem / 1.4rem "prxnv_r", sans-serif;
  color: $white;
  margin-bottom: 5px;

  a {
    color: $white;
  }

  .update-available * {
    color: #f00;
  }
}
