name: Build and Release Autoupdate

on:
  push:
    branches:
      - atavism/auto-updates

jobs:
  build-macos:
    permissions:
      contents: "read"
      id-token: "write"
    runs-on: macos-15
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy appcast.xml to GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.CI_PRIVATE_REPOS_GH_TOKEN }}
          publish_dir: ./dist
