name: Windows Service

on:
  workflow_dispatch:
    inputs:
      branch_name:
        description: 'Branch to run on'
        required: true
        default: 'main'

jobs:
  build-windows:
    permissions:
      contents: "read"
      id-token: "write"
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"
      - name: Set up MinGW
        run: choco install mingw -y

      - name: Build Windows service
        shell: pwsh
        run: |
          make build-lanternsvc-windows
          Move-Item "bin/windows/lanternsvc.exe" "lanternsvc.exe"

      - name: Upload Windows service executable
        uses: actions/upload-artifact@v4
        with:
          name: lantern-service-exe
          path: "lanternsvc.exe"
          retention-days: 2
