name: Build macOS

on:
  workflow_call:
    inputs:
      version:
        required: true
        type: string
      build_type:
        required: true
        type: string
      installer_name:
        required: true
        type: string
      stage_env:
        required: false
        type: boolean
        default: false


jobs:
  build-macos:
    permissions:
      contents: "read"
      id-token: "write"
    env:
      AC_USERNAME: ${{ secrets.AC_USERNAME }}
      AC_PASSWORD: ${{ secrets.AC_PASSWORD }}
      BUILD_TYPE: ${{ inputs.build_type || '' }}
      VERSION: ${{ inputs.version }}
    runs-on: macos-15
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download pubspec.yaml
        uses: actions/download-artifact@v4
        with:
          name: pubspec

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: "go.mod"

      - name: Install Flutter
        uses: subosito/flutter-action@v2.19.0
        with:
          channel: stable
          flutter-version-file: pubspec.yaml

      - name: Decode APP_ENV
        uses: timheuer/base64-to-file@v1.2
        with:
          fileName: "app.env"
          fileDir: ${{ github.workspace }}
          encodedString: ${{ secrets.APP_ENV }}

      - name: Install node on macOS
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable

      - name: Import Code Signing Certificates
        uses: apple-actions/import-codesign-certs@v3
        with:
          p12-file-base64: ${{ secrets.MACOS_BNS_CERT }}
          p12-password: ${{ secrets.MACOS_BNS_CERT_PASS }}

      - name: Install provisioning profiles for macOS
        env:
          BUILD_MACOS_PROVISION_PROFILE_BASE64: ${{ secrets.MACOS_PROVISION_PROFILE_BASE64 }}
          BUILD_MACOS_TUNNEL_PROFILE_BASE64: ${{ secrets.MACOS_PROVISION_TUNNEL_BASE64 }}
        run: |
          PROVISIONING_PROFILES_DIR=~/Library/MobileDevice/Provisioning\ Profiles
          mkdir -p "$PROVISIONING_PROFILES_DIR"

          PP_PATH=$RUNNER_TEMP/build_pp.provisionprofile
          PT_PATH=$RUNNER_TEMP/build_pt.provisionprofile

          echo -n "$BUILD_MACOS_PROVISION_PROFILE_BASE64" | base64 --decode -o $PP_PATH
          echo -n "$BUILD_MACOS_TUNNEL_PROFILE_BASE64" | base64 --decode -o $PT_PATH

          cp $PP_PATH ~/Library/MobileDevice/Provisioning\ Profiles
          cp $PT_PATH ~/Library/MobileDevice/Provisioning\ Profiles

      - name: Enable Flutter Desktop Support
        run: flutter config --enable-macos-desktop

      - name: Install dependencies
        run: make install-macos-deps

      - name: Stage environment file
        if: ${{ inputs.stage_env == true }}
        run: |
          if [[ "${{ inputs.stage_env }}" == "true" ]]; then
            echo "RADIANCE_ENV=stage" >> $GITHUB_ENV
          else
            echo "RADIANCE_ENV=prod" >> $GITHUB_ENV
          fi

      - name: Build macOS release
        run: make macos-release

      - name: Upload macOS installer
        uses: actions/upload-artifact@v4
        with:
          name: lantern-installer-dmg
          path: ${{ inputs.installer_name }}.dmg
          retention-days: 2
