
name: Build All Platforms

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version tag to build"
        required: true
        default: "9999.99.99-dev"
  push:
    branches: [android/ci-updates]
  pull_request:

jobs:
  build-macos:
    uses: ./.github/workflows/build-macos.yml
    secrets: inherit
    with:
      version: ${{ inputs.version }}

  build-android:
    uses: ./.github/workflows/build-android.yml
    secrets: inherit
    with:
      version: ${{ inputs.version }}
  
  build-linux:
    uses: ./.github/workflows/build-linux.yml
    secrets: inherit
    with:
      version: ${{ inputs.version }}