
name: Build All Platforms

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version tag to build"
        required: true
        default: "9999.99.99"
  push:
    branches: [main]
  pull_request:

jobs:
  set-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.set.outputs.version }}
    steps:
      - id: set
        run: |
          if [[ -z "${{ github.event.inputs.version }}" ]]; then
            echo "version=9999.99.99" >> $GITHUB_OUTPUT
          else
            echo "version=${{ github.event.inputs.version }}" >> $GITHUB_OUTPUT
          fi

  build-macos:
    needs: set-version
    uses: ./.github/workflows/build-macos.yml
    secrets: inherit
    with:
      version: ${{ needs.set-version.outputs.version }}
    
  build-android:
    needs: set-version
    uses: ./.github/workflows/build-android.yml
    secrets: inherit
    with:
      version: ${{ needs.set-version.outputs.version }}
    
  build-linux:
    needs: set-version
    uses: ./.github/workflows/build-linux.yml
    secrets: inherit
    with:
      version: ${{ needs.set-version.outputs.version }}

  build-windows:
    needs: set-version
    uses: ./.github/workflows/build-windows.yml
    secrets: inherit
    with:
      version: ${{ needs.set-version.outputs.version }}