name: Build and Release All Platforms

on:
  push:
    tags:
      - "v*.*.*"
permissions:
  contents: write
  id-token: "write"
jobs:
  set-release-metadata:
    runs-on: ubuntu-latest
    outputs:
      build_type: ${{ steps.meta.outputs.build_type }}
      version: ${{ steps.meta.outputs.version }}
      installer_name: ${{ steps.meta.outputs.installer_name }}
      platform: ${{ steps.meta.outputs.platform }}
    steps:
      - id: meta
        run: |
          tag=${GITHUB_REF#refs/tags/}
          base_version=$(echo "$tag" | sed -E 's/^v([0-9]+\.[0-9]+\.[0-9]+).*$/\1/')
          echo "version=$base_version" >> $GITHUB_OUTPUT

          # Extract platform suffix (if any, after final hyphen)
          platform_suffix="${tag##*-}"

          if [[ "$tag" == *"-beta" ]]; then
            echo "build_type=beta" >> $GITHUB_OUTPUT
          elif [[ "$tag" == *"-internal" ]]; then
            echo "build_type=internal" >> $GITHUB_OUTPUT
          else
            echo "build_type=production" >> $GITHUB_OUTPUT
          fi

          if [[ "$tag" == *"-beta" || "$tag" == *"-internal" ]]; then
            echo "installer_name=lantern-installer-${tag##*-}" >> $GITHUB_OUTPUT
          else
            echo "installer_name=lantern-installer" >> $GITHUB_OUTPUT
          fi

          case "$platform_suffix" in
            windows)
              echo "platform=windows" >> $GITHUB_OUTPUT
              ;;
            macos)
              echo "platform=macos" >> $GITHUB_OUTPUT
              ;;
            linux)
              echo "platform=linux" >> $GITHUB_OUTPUT
              ;;
            android)
              echo "platform=android" >> $GITHUB_OUTPUT
              ;;
            *)
              echo "platform=all" >> $GITHUB_OUTPUT
              ;;
          esac
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Update app version in pubspec.yaml
        shell: bash
        env:
          RUN_NUMBER: ${{ github.run_number }}
          VERSION: ${{ steps.meta.outputs.version }}
        run: |
          NEW_VERSION="${VERSION}+${RUN_NUMBER}"
          echo "Updating pubspec.yaml to version: $NEW_VERSION"
          sed -i.bak -E "s/^version: .*/version: $NEW_VERSION/" pubspec.yaml
          cat pubspec.yaml
          echo "app_version=$NEW_VERSION" >> $GITHUB_OUTPUT

      - name: Upload pubspec.yaml as artifact
        uses: actions/upload-artifact@v4
        with:
          name: pubspec
          path: pubspec.yaml

  build-macos:
    needs: set-release-metadata
    uses: ./.github/workflows/build-macos.yml
    secrets: inherit
    if: ${{ needs.set-release-metadata.outputs.platform == 'all' || needs.set-release-metadata.outputs.platform == 'macos' }}
    with:
      version: ${{ needs.set-release-metadata.outputs.version }}
      build_type: ${{ needs.set-release-metadata.outputs.build_type }}
      installer_name: ${{ needs.set-release-metadata.outputs.installer_name }}

  build-windows:
    needs: set-release-metadata
    uses: ./.github/workflows/build-windows.yml
    secrets: inherit
    if: ${{ needs.set-release-metadata.outputs.platform == 'all' || needs.set-release-metadata.outputs.platform == 'windows' }}
    with:
      version: ${{ needs.set-release-metadata.outputs.version }}
      build_type: ${{ needs.set-release-metadata.outputs.build_type }}
      installer_name: ${{ needs.set-release-metadata.outputs.installer_name }}

  build-linux:
    needs: set-release-metadata
    uses: ./.github/workflows/build-linux.yml
    secrets: inherit
    if: ${{ needs.set-release-metadata.outputs.platform == 'all' || needs.set-release-metadata.outputs.platform == 'linux' }}
    with:
      version: ${{ needs.set-release-metadata.outputs.version }}
      build_type: ${{ needs.set-release-metadata.outputs.build_type }}
      installer_name: ${{ needs.set-release-metadata.outputs.installer_name }}

  # build-ios:
  #   needs: set-release-metadata
  #   uses: ./.github/workflows/build-ios.yml
  #   secrets: inherit
  #   if: ${{ needs.set-release-metadata.outputs.platform == 'all' || needs.set-release-metadata.outputs.platform == 'ios' }}
  #   with:
  #     version: ${{ needs.set-release-metadata.outputs.version }}
  #     build_type: ${{ needs.set-release-metadata.outputs.build_type }}
  #     installer_name: ${{ needs.set-release-metadata.outputs.installer_name }}

  build-android:
    needs: set-release-metadata
    uses: ./.github/workflows/build-android.yml
    secrets: inherit
    if: ${{ needs.set-release-metadata.outputs.platform == 'all' || needs.set-release-metadata.outputs.platform == 'android' }}
    with:
      version: ${{ needs.set-release-metadata.outputs.version }}
      build_type: ${{ needs.set-release-metadata.outputs.build_type }}
      installer_name: ${{ needs.set-release-metadata.outputs.installer_name }}

  release:
    needs: [
        build-macos,
        build-linux,
        build-windows,
        build-android,
        #build-ios,
        set-release-metadata,
      ]
    if: ${{ needs.set-release-metadata.outputs.platform == 'all' }}
    runs-on: ubuntu-latest
    env:
      BUILD_TYPE: ${{ needs.set-release-metadata.outputs.build_type }}
      INSTALLER_NAME: ${{ needs.set-release-metadata.outputs.installer_name }}
      BUCKET: ${{ secrets.S3_RELEASES_BUCKET }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Flutter
        uses: subosito/flutter-action@v2.19.0
        with:
          channel: stable
          flutter-version-file: pubspec.yaml

      - name: Download build artifacts
        uses: actions/download-artifact@v4

      - name: Upload to S3
        run: |
          aws s3 cp "lantern-installer-dmg/${INSTALLER_NAME}.dmg" "s3://${BUCKET}/latest/${INSTALLER_NAME}.dmg" --acl public-read
          aws s3 cp "lantern-installer-exe/${INSTALLER_NAME}.exe" "s3://${BUCKET}/latest/${INSTALLER_NAME}.exe" --acl public-read
          aws s3 cp "lantern-installer-apk/${INSTALLER_NAME}.apk" "s3://${BUCKET}/latest/${INSTALLER_NAME}.apk" --acl public-read
          aws s3 cp "lantern-installer-deb/${INSTALLER_NAME}.deb" "s3://${BUCKET}/latest/${INSTALLER_NAME}.deb" --acl public-read || true
          aws s3 cp "lantern-installer-rpm/${INSTALLER_NAME}.rpm" "s3://${BUCKET}/latest/${INSTALLER_NAME}.rpm" --acl public-read || true
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: "Lantern ${{ env.BUILD_TYPE }} ${{ github.ref_name }}"
          prerelease: true
          generate_release_notes: false
          files: |
            lantern-installer-dmg/${{ env.INSTALLER_NAME }}.dmg
            lantern-installer-exe/${{ env.INSTALLER_NAME }}.exe
            lantern-installer-apk/${{ env.INSTALLER_NAME }}.apk
            lantern-installer-deb/${{ env.INSTALLER_NAME }}.deb
            lantern-installer-rpm/${{ env.INSTALLER_NAME }}.rpm
        env:
          GITHUB_TOKEN: ${{ secrets.CI_PRIVATE_REPOS_GH_TOKEN }}

      - name: Install Python dependencies
        run: python3 -m pip install -r scripts/requirements.txt

      - name: Notify Slack
        uses: slackapi/slack-github-action@v2.0.0
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: webhook-trigger
          payload: |
            {
              "text": "Lantern ${{ env.BUILD_TYPE }} ${{ github.ref_name }} released!*\n*Downloads:*\n• <https://lantern-vpn.s3.amazonaws.com/releases/${{ env.INSTALLER_NAME }}.dmg|macOS>\n• <https://lantern-vpn.s3.amazonaws.com/releases/${{ env.INSTALLER_NAME }}.exe|Windows>\n• <https://lantern-vpn.s3.amazonaws.com/releases/${{ env.INSTALLER_NAME }}.apk|Android>\n• <https://lantern-vpn.s3.amazonaws.com/releases/${{ env.INSTALLER_NAME }}.deb|Linux (.deb)>\n• <https://lantern-vpn.s3.amazonaws.com/releases/${{ env.INSTALLER_NAME }}.rpm|Linux (.rpm)>"
            }
        env:
          INSTALLER_NAME: ${{ needs.set-release-metadata.outputs.installer_name }}
