name: Build and Release All Platforms

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  set-release-metadata:
    runs-on: ubuntu-latest
    outputs:
      build_type: ${{ steps.meta.outputs.build_type }}
      version: ${{ steps.meta.outputs.version }}
      installer_name: ${{ steps.meta.outputs.installer_name }}
    steps:
      - id: meta
        run: |
          tag=${GITHUB_REF#refs/tags/}
          base_version=$(echo "$tag" | sed -E 's/^v([0-9]+\.[0-9]+\.[0-9]+).*$/\1/')
          echo "version=$base_version" >> $GITHUB_OUTPUT

          if [[ "$tag" == *"-beta" ]]; then
            echo "build_type=beta" >> $GITHUB_OUTPUT
          elif [[ "$tag" == *"-internal" ]]; then
            echo "build_type=internal" >> $GITHUB_OUTPUT
          else
            echo "build_type=production" >> $GITHUB_OUTPUT
          fi

          if [[ "$tag" == *"-beta" || "$tag" == *"-internal" ]]; then
            echo "installer_name=lantern-installer-${tag##*-}" >> $GITHUB_OUTPUT
          else
            echo "installer_name=lantern-installer" >> $GITHUB_OUTPUT
          fi

  build-macos:
    needs: set-release-metadata
    uses: ./.github/workflows/build-macos.yml
    secrets: inherit
    with:
      version: ${{ needs.set-release-metadata.outputs.version }}
      build_type: ${{ needs.set-release-metadata.outputs.build_type }}
      installer_name: ${{ needs.set-release-metadata.outputs.installer_name }}

  build-windows:
    needs: set-release-metadata
    uses: ./.github/workflows/build-windows.yml
    secrets: inherit
    with:
      version: ${{ needs.set-release-metadata.outputs.version }}
      build_type: ${{ needs.set-release-metadata.outputs.build_type }}
      installer_name: ${{ needs.set-release-metadata.outputs.installer_name }}

  build-linux:
    needs: set-release-metadata
    uses: ./.github/workflows/build-linux.yml
    secrets: inherit
    with:
      version: ${{ needs.set-release-metadata.outputs.version }}
      build_type: ${{ needs.set-release-metadata.outputs.build_type }}
      installer_name: ${{ needs.set-release-metadata.outputs.installer_name }}

  build-android:
    needs: set-release-metadata
    uses: ./.github/workflows/build-android.yml
    secrets: inherit
    with:
      version: ${{ needs.set-release-metadata.outputs.version }}
      build_type: ${{ needs.set-release-metadata.outputs.build_type }}
      installer_name: ${{ needs.set-release-metadata.outputs.installer_name }}

  release:
    needs:
      [
        build-macos,
        build-linux,
        build-windows,
        build-android,
        set-release-metadata,
      ]
    runs-on: ubuntu-latest
    env:
      BUILD_TYPE: ${{ needs.set-release-metadata.outputs.build_type }}
      INSTALLER_NAME: ${{ needs.set-release-metadata.outputs.installer_name }}
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: "Lantern ${{ env.BUILD_TYPE }} ${{ github.ref_name }}"
          generate_release_notes: true
          files: |
            lantern-installer-dmg/${{ env.INSTALLER_NAME }}.dmg
            lantern-installer-exe/${{ env.INSTALLER_NAME }}.exe
            lantern-installer-apk/${{ env.INSTALLER_NAME }}.apk
            lantern-installer-deb/${{ env.INSTALLER_NAME }}.deb
            lantern-installer-rpm/${{ env.INSTALLER_NAME }}.rpm
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Notify Slack
        uses: slackapi/slack-github-action@v2.0.0
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_URL }}
          webhook-type: webhook-trigger
          payload: |
            {
              "text": "Lantern ${{ env.BUILD_TYPE }} ${{ needs.set-release-metadata.outputs.version }} released on GitHub: https://github.com/${{ github.repository }}/releases/tag/${{ github.ref_name }}"
            }
